Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%


flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/helpers/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/school/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

fix: use atomic transaction for unlinking oauth account
  src/graphql/types/Mutation/unlinkOAuthAccount.ts
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: integration

fix: fixed failing setuptests
  scripts/setup/setup.ts
Due: none

Oauth: Implement linkOAuthAccount Mutation Resolver
  src/graphql/types/Mutation/linkOAuthAccount.ts
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
Due: integration

implement coderabbit suggestion
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
Due: none

test(Venue): add unit tests for createdAt field resolver
  src/graphql/types/Venue/createdAt.ts
  test/graphql/types/Venue/createdAt.test.ts
Due: integration

docs: add auto-docs for Venue createdAt resolver
  docs/docs/auto-docs/graphql/types/Venue/createdAt/functions/resolveCreatedAt.md
Due: none

address cr suggestion
  test/graphql/types/Venue/createdAt.test.ts
  test/graphql/types/documentNodes.ts
Due: none

fix failig shrad
  test/graphql/types/Venue/createdAt.test.ts
Due: none

improve coverage
  test/graphql/types/Venue/createdAt.test.ts
Due: none

test: add coverage for unlinkOAuthAccount error branches
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
Due: none

implemented coderabbit suggestion
  src/graphql/types/Mutation/linkOAuthAccount.ts
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
Due: integration

test: add ghost cursor test for Tag assignees resolver
  test/graphql/types/Tag/assignees.test.ts
  test/graphql/types/documentNodes.ts
Due: none

test: fix auth header case and relax error assertion in Tag assignees
  test/graphql/types/Tag/assignees.test.ts
Due: none

added authentication check on userTags
  src/graphql/types/Query/TagsAssignedToUser.ts
  test/graphql/types/Query/TagsAssignedToUser.test.ts
  test/graphql/types/documentNodes.ts
Due: integration

improved cleanup logic
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
Due: none

added code rabbit suggestions
  test/graphql/types/Query/TagsAssignedToUser.test.ts
  test/graphql/types/documentNodes.ts
Due: none

Added test case for email mismatch
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
Due: none

fixing failing test
  test/graphql/types/Query/TagsAssignedToUser.test.ts
  test/graphql/types/documentNodes.ts
Due: none

reject requests when email is undefined
  src/graphql/types/Mutation/linkOAuthAccount.ts
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
Due: integration

refactor: use paginated event discovery to reduce memory pressure and update tests
  src/workers/eventGeneration/jobDiscovery.ts
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: unit

added onConflictDoNothing
  src/graphql/types/Mutation/linkOAuthAccount.ts
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
Due: integration

improved logic and testing
  src/graphql/types/Query/TagsAssignedToUser.ts
  src/graphql/types/Tag/creator.ts
  test/graphql/types/Query/TagsAssignedToUser.test.ts
  test/graphql/types/documentNodes.ts
Due: integration

improved logic and testing
  src/graphql/types/Query/TagsAssignedToUser.ts
  src/graphql/types/Tag/creator.ts
  test/graphql/types/Query/TagsAssignedToUser.test.ts
Due: integration

wrap tests in try/finally
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
Due: none

Added additional tests suggested by coderabbit and updated docs
  docs/docs/auto-docs/workers/eventGeneration/jobDiscovery/functions/createDefaultJobDiscoveryConfig.md
  src/workers/eventGeneration/jobDiscovery.ts
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: unit

ci: add merge conflict detector workflow
  .github/workflows/merge-conflict-detector.yml
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

fix: normalize OAuth provider to lowercase in unlink mutation
  src/graphql/types/Mutation/unlinkOAuthAccount.ts
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
Due: integration

refactor: use shared document node for unlinkOAuthAccount test
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: none

test: #5131 improve coverage for emailVerificationRateLimit.ts
  src/utilities/emailVerificationRateLimit.ts
  test/utilities/emailVerificationRateLimit.test.ts
Due: unit

docs: generate documentation for new rate limit helper
  docs/docs/auto-docs/utilities/emailVerificationRateLimit/functions/resetLastCleanupAtForTests.md
Due: none

Oauth: Implement linkOAuthAccount Mutation Resolver (#5139)
  src/graphql/types/Mutation/linkOAuthAccount.ts
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
Due: integration

fix(sample-data): make loader standalone by bootstrapping required entities
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
Due: none

fix: update comment numbering in unlinkOAuthAccount mutation
  src/graphql/types/Mutation/unlinkOAuthAccount.ts
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
Due: integration

fix: make sample data loader fully standalone and deterministic
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
Due: none

test: add vi.restoreAllMocks() to unlinkOAuthAccount tests for better isolation
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
Due: none

test(Venue): add unit tests for createdAt field resolver (#5140)
  docs/docs/auto-docs/graphql/types/Venue/createdAt/functions/resolveCreatedAt.md
  src/graphql/types/Venue/createdAt.ts
  test/graphql/types/Venue/createdAt.test.ts
  test/graphql/types/documentNodes.ts
Due: integration

Clarified mock cleanup 1770305446
  .coderabbit.yaml
Due: none
