Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

test: improve structure and assertions in event query tests
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: none

remove duplicate comment
  test/graphql/types/Query/eventsByVolunteer.test.ts
Due: none

fix(graphql): improve error message handling and validation detection
  src/routes/graphql.ts
  test/routes/graphql.test.ts
Due: unit

fix(security): cap offset at 10,000 to prevent DoS in event queries
  src/graphql/types/Query/eventsByCreator.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventsByCreator.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
Due: integration

test: achieve 100% coverage for FundCampaignPledge/creator
  test/graphql/types/FundCampaignPledge/creator.test.ts
Due: none

edge test cases for commentVotes
  test/drizzle/tables/commentVotes.test.ts
Due: none

refactor(test): switch to integration test for eventsByCreator missing user
  src/graphql/types/Query/eventsByCreator.ts
  test/graphql/types/Query/eventsByCreator.test.ts
Due: integration

coderabbit review fix
  test/drizzle/tables/commentVotes.test.ts
Due: none

fix: resolve event query issues and improve test coverage
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/functions/filterInviteOnlyEvents.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/functions/getEventsByIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/functions/getUnifiedEventsInDateRange.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/interfaces/FilterInviteOnlyEventsInput.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/interfaces/GetUnifiedEventsInput.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/type-aliases/EventWithAttachments.md
  src/graphql/types/Query/eventQueries/unifiedEventQueries.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventQueries/standaloneEventQueries.test.ts
  test/graphql/utils/mapRecurringInstanceToEvent.test.ts
Due: integration

fix: resolve event query limits, ordering, and test coverage
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/eventQueries/standaloneEventQueries.test.ts
  test/graphql/types/Query/eventsByCreator.test.ts
  test/graphql/utils/mapRecurringInstanceToEvent.test.ts
Due: integration

test: add edge case coverage for mapRecurringInstanceToEvent
  test/graphql/utils/mapRecurringInstanceToEvent.test.ts
Due: none

fix: Optimize eventsByAdmin and eventsByAttendee queries
  docs/docs/auto-schema/operations/queries/events-by-admin.mdx
  schema.graphql
  src/graphql/types/Query/eventsByAdmin.ts
  src/graphql/types/Query/eventsByAttendee.ts
Due: integration

test: add tests for advertisements table (100% coverage)
  test/unit/drizzle/tables/advertisements.test.ts
Due: none

Add back CMD for non-compose deployment support
  docker/api.Containerfile
Due: none

fix: harden event tests and pagination defaults
  src/graphql/types/Query/eventsByAttendee.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: integration

fix: applied coderabbit suggestions
  test/drizzle/tables/chatMessageReadReceipts.test.ts
Due: none

fix(graphql): improve error message extraction and validation handling
  src/routes/graphql.ts
  test/routes/graphqlErrorValidation.test.ts
Due: unit

fix: fixed Minor inconsistency in test UUIDs
  test/drizzle/tables/chatMessageReadReceipts.test.ts
Due: none

fix: address CodeRabbit review suggestions
  test/unit/drizzle/tables/advertisements.test.ts
Due: none

fix: enhance validation and test coverage for event queries
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
Due: integration

test(drizzle): add totalCount min(1) validation test
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: none

fix(graphql): refactor error message handling and improve error formatting
  src/routes/graphql.ts
  test/routes/graphqlErrorValidation.integration.test.ts
  test/routes/graphqlErrorValidation.test.ts
Due: unit

test(drizzle): strengthen relations and constraint assertions
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: none

autogenerated docs
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
Due: none

fix: optimize event queries and improve test coverage
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: integration

test(drizzle): strengthen schema constraint assertions
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: none

fix: enhance event query validation and fallback logic
  docs/docs/auto-schema/operations/queries/events-by-volunteer.mdx
  schema.graphql
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
Due: integration

fix(graphql): improve error message masking and update error handling tests
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  src/routes/graphql.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/deletePostVote.test.ts
  test/graphql/types/Mutation/updateChat.test.ts
  test/graphql/types/Query/event.test.ts
  test/routes/graphqlErrorValidation.integration.test.ts
  test/routes/graphqlErrorValidation.test.ts
Due: unit

fix: optimize event queries and align schema defaults with resolver behavior
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
Due: integration

fix: optimize event queries and improve test reliability
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
Due: integration

fix: refine event query logic and improve test reliability
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
Due: integration

fix: refine event query logic and improve test reliability
  src/graphql/types/Query/eventsByVolunteer.ts
Due: integration

feat(perf): add performance tracking to GraphQL mutations
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createUser.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/updateOrganization.ts
  src/graphql/utils/withMutationMetrics.ts
  test/graphql/utils/withMutationMetrics.test.ts
Due: integration

test: add comprehensive tests for actionItemExceptions table
  docs/docs/auto-docs/drizzle/tables/actionItemExceptions/variables/actionItemExceptionsTable.md
  docs/docs/auto-docs/drizzle/tables/actionItemExceptions/variables/actionItemExceptionsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/actionItemExceptions/variables/actionItemExceptionsTableRelations.md
  src/drizzle/tables/actionItemExceptions.ts
  test/unit/drizzle/tables/actionItemExceptions.test.ts
Due: integration

test(perf): add mutation-specific metrics integration tests
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
Due: none

docs: update auto-generated documentation
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/graphql/utils/withMutationMetrics/functions/executeMutation.md
  docs/docs/auto-docs/graphql/utils/withMutationMetrics/interfaces/MutationContext.md
Due: none

fix: address code review suggestions
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createUser.ts
  src/graphql/types/Mutation/updateOrganization.ts
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
Due: integration

fix(types): add type guard for avatarName in mutation resolvers
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createUser.ts
  src/graphql/types/Mutation/updateOrganization.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: integration

update test to inc coverage
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: integration

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/helpers/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/school/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
