Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, install

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%

# Show "Coverage by Flag" (unit, integration, install) in PR comments
comment:
  layout: "diff, flags, files"

# Remap absolute paths from CI workspace (GitHub Actions runner) to repo-relative
# paths so coverage reports (e.g. bashcov, vitest) match source paths in the repo.
fixes:
  - "/home/runner/work/talawa-api/talawa-api/::"

flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
  install:
    carryforward: false
    paths:
      - scripts/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

fixes: cleaning up org too now
  test/graphql/types/Mutation/ReadNotification.test.ts
Due: none

fixes: fixes to coderabbit cleanup issues
  test/graphql/types/Mutation/ReadNotification.test.ts
Due: none

Updated docs with new devcontainer fix
  docs/docs/docs/developer-resources/testing/testing-validation.md
  docs/docs/docs/getting-started/_operation.md.txt
  docs/docs/docs/getting-started/operation.md
Due: none

fixes: fixes to coderabbit cleanup issues
  src/graphql/types/Mutation/acceptMembershipRequest.ts
  src/graphql/types/Mutation/blockUser.ts
  src/graphql/types/Mutation/createFund.ts
  src/graphql/types/Mutation/createFundCampaign.ts
  src/graphql/types/Mutation/createFundCampaignPledge.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/joinPublicOrganization.ts
  src/graphql/types/Mutation/rejectMembershipRequest.ts
  src/graphql/types/Mutation/sendMembershipRequest.ts
  test/graphql/types/Mutation/ReadNotification.test.ts
Due: integration

fix: remove throw from notification event bus catch blocks to prevent unhandled rejections
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/variables/notificationEventBus.md
  src/graphql/types/Notification/EventBus/eventBus.ts
Due: integration

fix: changing masked email to normal one
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/variables/notificationEventBus.md
  src/graphql/types/Notification/EventBus/eventBus.ts
Due: integration

fix: switching to real timers in createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
Due: none

drizzle migration
  drizzle_migrations/20260306173647_hesitant_agent_brand.sql
  drizzle_migrations/meta/20260306173647_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

type error
  src/graphql/inputs/MutationCreateEventInput.ts
Due: integration

validation fixed
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/services/eventGeneration/eventGeneration.ts
  src/services/eventGeneration/windowManager.ts
  src/utilities/recurringEvent/calculation.ts
  src/workers/eventCleanupWorker.ts
Due: unit, integration

.
  docs/docs/auto-schema/types/inputs/mutation-create-event-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-event-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-single-recurring-event-instance-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-this-and-following-events-input.mdx
  docs/docs/auto-schema/types/objects/event.mdx
Due: none

fix:test cases
  test/unit/drizzle/tables/events.test.ts
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: none

fix: shard 3, 12
  src/graphql/types/Query/eventsByCreator.ts
  test/graphql/types/gql.tada.d.ts
  test/services/eventInstanceGeneration/windowManager.test.ts
Due: integration

typecheck fixed
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
  test/services/eventInstanceGeneration/windowManager.test.ts
Due: none

Expand EventAttendee updatedAt resolver tests
  test/graphql/types/EventAttendee/updatedAt.test.ts
Due: none

update single
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
Due: none

updateThis & occurrence test
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  src/services/eventGeneration/occurrenceCalculator.ts
  test/graphql/types/Mutation/updateThisAndFollowingEvents.test.ts
  test/services/eventInstanceGeneration/occurrenceCalculator.test.ts
Due: unit, integration

.
  test/graphql/inputs/MutationCreateEventInput.test.ts
  test/services/eventInstanceGeneration/eventGeneration.test.ts
Due: none

.
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/getNextOccurrenceDate.md
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/shouldGenerateInstanceAtDate.md
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/validateRecurrenceRule.md
Due: none

attendee, volunteer, deletethis
  src/graphql/types/Mutation/deleteThisAndFollowingEvents.ts
  test/graphql/types/Mutation/deleteThisAndFollowingEvents.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: integration

event, updateSingle
  test/graphql/types/Event/Event.test.ts
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
Due: none

more code coverage
  test/graphql/inputs/MutationUpdateEventInput.test.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/services/eventInstanceGeneration/instanceResolver.test.ts
  test/unit/drizzle/tables/events.test.ts
  test/unit/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
  test/workers/eventCleanupWorker.test.ts
Due: none

update, unified
  test/graphql/inputs/MutationUpdateSingleRecurringEventInstanceInput.test.ts
  test/unit/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
Due: none

.
  src/graphql/types/Query/eventQueries/unifiedEventQueries.ts
Due: integration

.
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/functions/filterInviteOnlyEvents.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/functions/getEventsByIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/functions/getUnifiedEventsInDateRange.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/interfaces/FilterInviteOnlyEventsInput.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/interfaces/GetUnifiedEventsInput.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/type-aliases/EventWithAttachments.md
Due: none

Fixes: readNotification.test fix (#5299)
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/variables/notificationEventBus.md
  src/graphql/types/Mutation/acceptMembershipRequest.ts
  src/graphql/types/Mutation/blockUser.ts
  src/graphql/types/Mutation/createFund.ts
  src/graphql/types/Mutation/createFundCampaign.ts
  src/graphql/types/Mutation/createFundCampaignPledge.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/joinPublicOrganization.ts
  src/graphql/types/Mutation/rejectMembershipRequest.ts
  src/graphql/types/Mutation/sendMembershipRequest.ts
  src/graphql/types/Notification/EventBus/eventBus.ts
  test/graphql/types/Mutation/ReadNotification.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
  test/graphql/types/Notification/EventBus/eventBus.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

.
  test/workers/eventCleanupWorker.test.ts
Due: none

coderabbit suggestion
  docs/docs/auto-docs/graphql/inputs/MutationUpdateSingleRecurringEventInstanceInput/variables/MutationUpdateSingleRecurringEventInstanceInput.md
  drizzle_migrations/20260306173647_hesitant_agent_brand.sql
  src/graphql/inputs/MutationUpdateSingleRecurringEventInstanceInput.ts
  test/graphql/inputs/MutationUpdateEventInput.test.ts
  test/graphql/inputs/MutationUpdateSingleRecurringEventInstanceInput.test.ts
  test/graphql/types/EventVolunteerMembership/event.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/deleteThisAndFollowingEvents.test.ts
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
  test/graphql/types/Mutation/updateThisAndFollowingEvents.test.ts
  test/graphql/types/Organization/events.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/services/eventInstanceGeneration/eventGeneration.test.ts
  test/services/eventInstanceGeneration/instanceResolver.test.ts
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: integration

fix:tests
  test/graphql/types/Mutation/ReadNotification.test.ts
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
  test/services/eventInstanceGeneration/instanceResolver.test.ts
Due: none

removed test cases
  test/graphql/types/Query/eventsByAttendee.test.ts
Due: none

fix: map invalid_credentials error code to HTTP 401
  src/utilities/errors/errorCodes.ts
  test/utilities/errors/errorCodes.test.ts
Due: unit

coderabbit suggestions
  src/graphql/types/Mutation/updateSingleRecurringEventInstance.ts
  src/graphql/types/Query/eventQueries/standaloneEventQueries.ts
  src/services/eventGeneration/instanceResolver.ts
  src/services/eventGeneration/windowManager.ts
  src/workers/eventCleanupWorker.ts
  test/graphql/types/Event/Event.test.ts
  test/graphql/types/Mutation/deleteThisAndFollowingEvents.test.ts
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
  test/graphql/types/Mutation/updateThisAndFollowingEvents.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
Due: unit, integration

.
  docs/docs/auto-docs/graphql/types/Query/eventQueries/standaloneEventQueries/functions/getStandaloneEventsByIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/standaloneEventQueries/functions/getStandaloneEventsInDateRange.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/standaloneEventQueries/interfaces/GetStandaloneEventsInput.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionKey.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createTemplateLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveMultipleInstances.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/validateResolvedInstance.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/cleanupOldGeneratedInstances.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/extendGenerationWindow.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/getCleanupStats.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/initializeGenerationWindow.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/validateWindowConfig.md
Due: none

.
  test/services/eventInstanceGeneration/instanceResolver.test.ts
Due: none

Add INVALID_CREDENTIALS to ErrorCode enum and replace literal strings
  src/graphql/types/Query/signIn.ts
  src/services/auth/authService.ts
  src/utilities/TalawaGraphQLError.ts
  src/utilities/errors/errorCodes.ts
Due: unit, integration
