Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%


flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/helpers/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/school/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

fix format n fix type error
  src/drizzle/tables/agendaItems.ts
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/AgendaItem/AgendaItem.ts
  src/graphql/types/AgendaItem/agendaCategory.ts
  src/graphql/types/AgendaItem/createdAt.ts
  src/graphql/types/AgendaItem/creator.ts
  src/graphql/types/AgendaItem/event.ts
  src/graphql/types/AgendaItem/folder.ts
  src/graphql/types/AgendaItem/index.ts
  src/graphql/types/AgendaItem/updatedAt.ts
  src/graphql/types/AgendaItem/updater.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/AgendaItem/createdAt.test.ts
  test/graphql/types/AgendaItem/creator.test.ts
  test/graphql/types/AgendaItem/event.test.ts
  test/graphql/types/AgendaItem/folder.test.ts
  test/graphql/types/AgendaItem/updatedAt.test.ts
  test/graphql/types/AgendaItem/updater.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Query/agendaCategoriesByEventId.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: integration

add test
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/AgendaItem/createdAt.test.ts
  test/graphql/types/AgendaItem/creator.test.ts
  test/graphql/types/AgendaItem/event.test.ts
  test/graphql/types/AgendaItem/folder.test.ts
  test/graphql/types/AgendaItem/updatedAt.test.ts
  test/graphql/types/AgendaItem/updater.test.ts
Due: none

fix format
  src/graphql/types/AgendaItem/index.ts
Due: integration

gen gql schema doc n update agenda item type
  docs/docs/auto-schema/types/objects/agenda-item-attachment.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/types/AgendaItem/index.ts
Due: integration

add agenda url and attachement type
  schema.graphql
  src/graphql/types/AgendaItem/attachment.ts
  src/graphql/types/AgendaItem/url.ts
  src/graphql/types/AgendaItemAttachemnt/AgendaItemAttachment.ts
  src/graphql/types/AgendaItemAttachemnt/index.ts
  src/graphql/types/AgendaItemUrl/AgendaItemUrl.ts
  src/graphql/types/AgendaItemUrl/index.ts
  src/graphql/types/index.ts
Due: integration

revert unnecessary file
  .devcontainer/devcontainer.json
  src/createServer.ts
Due: unit

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaItem/AgendaItem/variables/AgendaItem.md
  docs/docs/auto-docs/graphql/types/AgendaItem/agendaCategory/functions/resolveCategory.md
  docs/docs/auto-docs/graphql/types/AgendaItem/createdAt/functions/resolveCreatedAt.md
  docs/docs/auto-docs/graphql/types/AgendaItem/creator/functions/resolveCreator.md
  docs/docs/auto-docs/graphql/types/AgendaItem/event/functions/resolveEvent.md
  docs/docs/auto-docs/graphql/types/AgendaItem/folder/functions/resolveFolder.md
  docs/docs/auto-docs/graphql/types/AgendaItem/updatedAt/functions/resolveUpdatedAt.md
  docs/docs/auto-docs/graphql/types/AgendaItem/updater/functions/resolveUpdater.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
Due: none

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
Due: none

gen gql schema docs
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

fix format
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: none

fix generate doc failing test
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
Due: none

update docs
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
Due: none

update docNodes.ts
  test/graphql/types/documentNodes.ts
Due: none

remove unncessary query input file
  schema.graphql
  src/graphql/inputs/QueryAgendaItemInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Query/index.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

gen docs
  docs/docs/auto-docs/graphql/types/AgendaItem/url/functions/resolveUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachemnt/AgendaItemAttachment/type-aliases/AgendaItemAttachment.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachemnt/AgendaItemAttachment/variables/AgendaItemAttachment.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/type-aliases/AgendaItemUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/variables/AgendaItemUrl.md
Due: none

update docs
  docs/docs/auto-docs/graphql/inputs/QueryAgendaItemInput/variables/QueryAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/QueryAgendaItemInput/variables/queryAgendaItemInputSchema.md
Due: none

update agenda item input and logic to update urls
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-item-input.mdx
  docs/docs/auto-schema/types/inputs/update-agenda-item-url-input.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/inputs/MutationUpdateAgendaItemInput.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

delete unnecessary query and fix type error
  src/graphql/types/Query/agendaItem.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/Query/agendaItem.test.ts
Due: integration

update test file
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: none

address CR suggestion
  src/graphql/types/AgendaItem/attachment.ts
  src/graphql/types/AgendaItemUrl/AgendaItemUrl.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: integration

address CR suggetions
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: none

fix failing test
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
Due: none

address CR suggestions
  src/graphql/types/AgendaItem/event.ts
  src/graphql/types/AgendaItem/folder.ts
  src/graphql/types/AgendaItem/updatedAt.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/event.test.ts
Due: integration

address CR suggestions
  src/graphql/types/AgendaItem/AgendaItem.ts
  src/graphql/types/AgendaItem/event.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
Due: integration

fix failing test
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: none

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInputSchema.md
Due: none

address CR suggestion
  test/graphql/types/AgendaItem/createdAt.test.ts
Due: none

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInput.md
  docs/docs/auto-docs/graphql/types/AgendaItem/attachment/functions/resolveAttachments.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachement/AgendaItemAttachment/type-aliases/AgendaItemAttachment.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachement/AgendaItemAttachment/variables/AgendaItemAttachment.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachemnt/AgendaItemAttachment/type-aliases/AgendaItemAttachment.md
Due: none

gen gql-schema docs
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

address CR suggestions
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/inputs/MutationUpdateAgendaItemInput.ts
  src/graphql/types/AgendaItem/agendaCategory.ts
  src/graphql/types/AgendaItem/attachment.ts
  src/graphql/types/AgendaItem/createdAt.ts
  src/graphql/types/AgendaItem/event.ts
  src/graphql/types/AgendaItem/url.ts
  src/graphql/types/AgendaItemAttachement/AgendaItemAttachment.ts
  src/graphql/types/AgendaItemAttachement/index.ts
  src/graphql/types/AgendaItemUrl/AgendaItemUrl.ts
  src/graphql/types/index.ts
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/AgendaItem/createdAt.test.ts
  test/graphql/types/AgendaItem/event.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: integration

resolve conflict
  drizzle_migrations/20260120121512_late_agent_zero.sql
  drizzle_migrations/meta/20260120121512_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

fix failing test n address CR suggestions
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
Due: none

address CR suggestions
  docs/docs/auto-schema/types/objects/agenda-item-url.mdx
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/AgendaItem/AgendaItem.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/attachment.test.ts
  test/graphql/types/AgendaItem/folder.test.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

fix failing test
  src/graphql/types/AgendaItem/folder.ts
  src/graphql/types/AgendaItem/updatedAt.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
Due: integration

address CR suggestions
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
Due: none

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
Due: none
