Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, install

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%

# Show "Coverage by Flag" (unit, integration, install) in PR comments
comment:
  layout: "diff, flags, files"

# Remap absolute paths from CI workspace (GitHub Actions runner) to repo-relative
# paths so coverage reports (e.g. bashcov, vitest) match source paths in the repo.
fixes:
  - "/home/runner/work/talawa-api/talawa-api/::"

flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
  install:
    carryforward: false
    paths:
      - scripts/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

more coverage
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateThisAndFollowingEvents.test.ts
  test/unit/drizzle/tables/events.test.ts
  test/unit/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
Due: none

.
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

coderabbit suggestions
  src/graphql/types/Query/eventQueries/standaloneEventQueries.ts
  test/graphql/types/Mutation/deleteThisAndFollowingEvents.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
Due: integration

docs deployment fixed
  .github/workflows/pull-request.yml
Due: none

postVotes Enum Fix without Docs
  .devcontainer/default/devcontainer.json
  drizzle_migrations/20260314184248_nappy_triton.sql
  drizzle_migrations/meta/20260314184248_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/enums/postVoteType.ts
  src/drizzle/schema.ts
  src/drizzle/tables/postVotes.ts
  src/graphql/enums/PostVoteType.ts
  src/graphql/types/Post/hasUserVoted.ts
  src/graphql/types/Query/hasUserVoted.ts
  test/drizzle/tables/postVotes.test.ts
Due: integration

code quality fix
  test/drizzle/tables/postVotes.test.ts
Due: none

code rabbit comments done
  test/drizzle/tables/postVotes.test.ts
Due: none

revert code rabbit error handling
  test/drizzle/tables/postVotes.test.ts
Due: none

add Updated docs
  docs/docs/auto-docs/drizzle/enums/postVoteType/variables/postVoteTypeValues.md
  docs/docs/auto-docs/drizzle/enums/postVoteType/variables/postVoteTypeZodEnum.md
  docs/docs/auto-docs/drizzle/tables/postVotes/variables/postVoteTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/postVotes/variables/postVotesTable.md
  docs/docs/auto-docs/graphql/inputs/MutationCreatePostVoteInput/variables/MutationCreatePostVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreatePostVoteInput/variables/mutationCreatePostVoteInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdatePostVoteInput/variables/MutationUpdatePostVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdatePostVoteInput/variables/mutationUpdatePostVoteInputSchema.md
Due: none

track all
  test/drizzle/tables/postVotes.test.ts
Due: none

code rabbit reviews
  test/drizzle/tables/postVotes.test.ts
Due: none

test file changes applied
  test/drizzle/tables/postVotes.test.ts
Due: none

conflict fix
  drizzle_migrations/20260314184248_nappy_triton.sql
  drizzle_migrations/meta/20260314184248_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

fix(events): support all-day events using startDate/endDate
  src/drizzle/tables/events.ts
  src/graphql/types/Mutation/createEvent.ts
Due: integration

fix(events): restore schema exports and support all-day events
  src/drizzle/tables/events.ts
Due: integration

fix(events): remove explicit any and apply biome formatting
  src/drizzle/tables/events.ts
  src/graphql/types/Mutation/createEvent.ts
Due: integration

docs: generated docs using pnpm command
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_LOCATION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTable.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableRelations.md
  src/drizzle/tables/events.ts
  src/graphql/types/Mutation/createEvent.ts
Due: integration

fix(events): set startAt and endAt to null for all-day events
  src/graphql/types/Mutation/createEvent.ts
Due: integration

fix(docs): update line numbers for event variable definitions
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_LOCATION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableRelations.md
Due: none

fix(events): add support for all-day events by ensuring startAt and endAt are null
  src/drizzle/tables/events.ts
Due: integration

fix(docs): update line numbers for event variable definitions in documentation
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_LOCATION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableRelations.md
Due: none

feat: implement allDay consistency validation via postgreSQL constraint error
  src/drizzle/tables/events.ts
  src/graphql/inputs/MutationCreateEventInput.ts
  src/graphql/inputs/MutationUpdateEventInput.ts
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  src/utilities/recurringEvent/formatting.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/utilities/recurringEventHelpers.test.ts
Due: unit, integration

fix: resolve lint errors in createEvent mutation
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableRelations.md
  docs/docs/auto-docs/utilities/recurringEvent/formatting/functions/buildRRuleString.md
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
Due: integration

docs: update line number reference
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
Due: none

feat: introduce event consistency validation and refactor event schemas
  docs/docs/auto-docs/drizzle/tables/events/functions/validateEventConsistency.md
  docs/docs/auto-docs/drizzle/tables/events/variables/baseEventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateEventInput/variables/MutationCreateEventInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateEventInput/variables/mutationCreateEventInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateEventInput.schema/variables/mutationUpdateEventInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateEventInput/variables/MutationUpdateEventInput.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/utilities/recurringEvent/formatting/functions/buildRRuleString.md
  src/drizzle/tables/events.ts
  src/graphql/inputs/MutationCreateEventInput.ts
  src/graphql/inputs/MutationUpdateEventInput.schema.ts
  src/graphql/inputs/MutationUpdateEventInput.ts
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  src/utilities/recurringEvent/formatting.ts
  test/graphql/inputs/MutationUpdateEventInput.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/unit/drizzle/tables/events.test.ts
Due: unit, integration

docs: convert schema definition reference to a hyperlink
  docs/docs/auto-docs/graphql/inputs/MutationUpdateEventInput.schema/variables/mutationUpdateEventInputSchema.md
Due: none

test: adjust createEvent tests to allow all-day events
  test/graphql/types/Mutation/ReadNotification.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

fix: format check pending for some files
  test/graphql/types/Mutation/ReadNotification.test.ts
Due: none

refactor: standardize event date and time validation message
  src/drizzle/tables/events.ts
  src/graphql/inputs/MutationCreateAdvertisementInput.ts
  src/graphql/inputs/MutationCreateFundCampaignInput.ts
  src/graphql/inputs/MutationUpdateAdvertisementInput.ts
  src/graphql/inputs/MutationUpdateEventInput.schema.ts
  src/graphql/inputs/MutationUpdateFundCampaignInput.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  test/graphql/inputs/MutationUpdateEventInput.test.ts
  test/graphql/inputs/MutationUpdateFundCampaignInput.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
  test/graphql/types/documentNodes.ts
Due: integration

fix: biome fix pending solved
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  test/graphql/inputs/MutationUpdateEventInput.test.ts
Due: integration

feat: add support for all-day events in createEvent mutation
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/documentNodes.ts
Due: none

fix: enhance end time validation messages to include start time details
  src/drizzle/tables/events.ts
  src/graphql/inputs/MutationCreateAdvertisementInput.ts
  src/graphql/inputs/MutationCreateFundCampaignInput.ts
  src/graphql/inputs/MutationUpdateAdvertisementInput.ts
  src/graphql/inputs/MutationUpdateFundCampaignInput.ts
Due: integration

fix: update documentation links for MutationUpdateAdvertisementInput and MutationUpdateFundCampaignInput
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAdvertisementInput/variables/MutationUpdateAdvertisementInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateFundCampaignInput/variables/MutationUpdateFundCampaignInput.md
Due: none

feat: enhance event time and date validation error messages
  src/graphql/inputs/MutationUpdateEventInput.schema.ts
  test/graphql/inputs/MutationUpdateEventInput.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: integration

sample_data
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/recurrence_rules.json
  scripts/dbManagement/sample_data/recurring_event_templates.json
  src/graphql/types/Organization/events.ts
Due: integration

.
  scripts/dbManagement/helpers.ts
Due: none

coderabbit suggestions
  scripts/dbManagement/helpers.ts
Due: none
