Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, install

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%

# Show "Coverage by Flag" (unit, integration, install) in PR comments
comment:
  layout: "diff, flags, files"

# Remap absolute paths from CI workspace (GitHub Actions runner) to repo-relative
# paths so coverage reports (e.g. bashcov, vitest) match source paths in the repo.
fixes:
  - "/home/runner/work/talawa-api/talawa-api/::"

flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
  install:
    carryforward: false
    paths:
      - scripts/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

Fix: Use correct API_FRONTEND_URL property and regenerate schema docs
  docs/docs/auto-schema/operations/mutations/admin-create-on-spot-attendee.mdx
  docs/docs/auto-schema/types/inputs/mutation-sign-up-input.mdx
  docs/docs/auto-schema/types/objects/authentication-payload.mdx
  src/graphql/types/Mutation/adminCreateOnSpotAttendee.ts
  src/graphql/types/Mutation/signUp.ts
Due: integration

increase test cases
  src/graphql/types/Mutation/adminCreateOnSpotAttendee.ts
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: integration

fix: coderabbit feedback
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

fixed: all the checks problems
  docs/docs/auto-schema/operations/mutations/admin-create-on-spot-attendee.mdx
  docs/docs/auto-schema/types/objects/authentication-payload.mdx
  docs/docs/auto-schema/types/objects/user.mdx
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

worked on coderabbit finding
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

fix: added missign tests and formated code
  src/graphql/types/Mutation/adminCreateOnSpotAttendee.ts
  src/graphql/types/Mutation/signUp.ts
  src/utilities/emailTemplates.ts
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
  test/graphql/types/documentNodes.ts
Due: unit, integration

auto-docs updated
  schema.graphql
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: none

fix: added tests and solve the minor bug addressed by coderabbit
  docs/docs/auto-docs/graphql/types/Mutation/adminCreateOnSpotAttendee/variables/mutationAdminCreateOnSpotAttendeeArgumentsSchema.md
  docs/docs/auto-schema/types/scalars/upload.mdx
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

fix: the coderabbit problems
  src/graphql/types/Mutation/adminCreateOnSpotAttendee.ts
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: integration

addressed issue of workflow failures
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

added auto-docs and and type error
  docs/docs/auto-docs/utilities/emailTemplates/functions/getOnSpotAttendeeWelcomeEmailHtml.md
  docs/docs/auto-docs/utilities/emailTemplates/functions/getOnSpotAttendeeWelcomeEmailText.md
  docs/docs/auto-docs/utilities/emailTemplates/interfaces/OnSpotAttendeeWelcomeContext.md
  schema.graphql
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

updated auto docs
  docs/docs/auto-schema/types/scalars/upload.mdx
Due: none

added final missing test lines
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

updated auto docs
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/MutationSignUpInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/mutationSignUpInputSchema.md
  docs/docs/auto-schema/operations/mutations/admin-create-on-spot-attendee.mdx
  docs/docs/auto-schema/types/inputs/mutation-sign-up-input.mdx
  docs/docs/auto-schema/types/scalars/upload.mdx
Due: none

test(setup): add cachingSetup unit coverage (#5295)
  scripts/setup/services/cachingSetup.ts
  scripts/setup/services/sharedSetup.ts
  test/unit/setup/services/cachingSetup.test.ts
Due: none

fix(setup): simplify cachingSetup error path
  scripts/setup/services/cachingSetup.ts
  test/unit/setup/services/cachingSetup.test.ts
Due: none

Update scripts/setup/services/sharedSetup.ts
  scripts/setup/services/sharedSetup.ts
Due: none

added password updater limit
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/checkPasswordChangeRateLimit.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/resetLastCleanupAtForTests.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/resetPasswordChangeRateLimit.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/variables/PASSWORD_CHANGE_RATE_LIMITS.md
  src/graphql/types/Mutation/updateUserPassword.ts
  src/utilities/passwordChangeRateLimit.ts
  test/graphql/types/Mutation/updateUserPassword.test.ts
  test/utilities/passwordChangeRateLimit.test.ts
Due: unit, integration

added password updater limit
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/checkPasswordChangeRateLimit.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/resetLastCleanupAtForTests.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/resetPasswordChangeRateLimit.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/type-aliases/RateLimitCache.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/variables/PASSWORD_CHANGE_RATE_LIMITS.md
  src/graphql/types/Mutation/updateUserPassword.ts
  src/utilities/passwordChangeRateLimit.ts
  test/graphql/types/Mutation/updateUserPassword.test.ts
  test/utilities/passwordChangeRateLimit.test.ts
Due: unit, integration

cr fixes
  docs/docs/auto-docs/createServer/functions/assertSecretsPresent.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/checkPasswordChangeRateLimit.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/interfaces/PasswordChangeRateLimitConfig.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/type-aliases/RateLimitCache.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/type-aliases/RateLimitLogger.md
  src/envConfigSchema.ts
  src/graphql/context.ts
  src/graphql/types/Mutation/updateUserPassword.ts
  src/utilities/passwordChangeRateLimit.ts
  test/graphql/types/Mutation/updateUserPassword.test.ts
  test/utilities/passwordChangeRateLimit.test.ts
Due: unit, integration

cr fixes
  src/utilities/passwordChangeRateLimit.ts
Due: unit

cr fixes
  test/utilities/passwordChangeRateLimit.test.ts
Due: none

Oauth: Remove Oauth account linking from Oauth singin
  src/graphql/types/Mutation/signInWithOAuth.ts
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: integration

updated DB cleanup
  src/graphql/types/Mutation/signInWithOAuth.ts
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: integration

implemented coderabbit suggestions
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: none

added password updater rate limiting (#5327)
  docs/docs/auto-docs/createServer/functions/assertSecretsPresent.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/checkPasswordChangeRateLimit.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/interfaces/PasswordChangeRateLimitConfig.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/type-aliases/RateLimitCache.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/type-aliases/RateLimitLogger.md
  src/envConfigSchema.ts
  src/graphql/context.ts
  src/graphql/types/Mutation/updateUserPassword.ts
  src/utilities/passwordChangeRateLimit.ts
  test/graphql/types/Mutation/updateUserPassword.test.ts
  test/utilities/passwordChangeRateLimit.test.ts
Due: unit, integration

Oauth: Remove Oauth account linking from SignInWithOAuth (#5334)
  src/graphql/types/Mutation/signInWithOAuth.ts
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: integration

feat: Update family tables and add input schema for family creation (#5320)
  docs/docs/auto-docs/drizzle/tables/families/variables/familiesTable.md
  docs/docs/auto-docs/drizzle/tables/families/variables/familiesTableRelations.md
  docs/docs/auto-docs/drizzle/tables/familyMemberships/variables/familyMembershipsTable.md
  docs/docs/auto-docs/drizzle/tables/familyMemberships/variables/familyMembershipsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/familyMemberships/variables/familyMembershipsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/organizations/variables/organizationsTable.md
  docs/docs/auto-docs/drizzle/tables/organizations/variables/organizationsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/organizations/variables/organizationsTableRelations.md
  docs/docs/auto-docs/graphql/enums/FamilyMembershipRole/variables/FamilyMembershipRole.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateFamilyInput/variables/MutationCreateFamilyInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateFamilyInput/variables/mutationCreateFamilyInputSchema.md
  docs/docs/auto-schema/types/enums/family-membership-role.mdx
  docs/docs/auto-schema/types/inputs/family-member-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-create-family-input.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  drizzle_migrations/20260322124859_lumpy_phil_sheldon.sql
  drizzle_migrations/meta/20260322124859_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/tables/families.ts
  src/drizzle/tables/familyMemberships.ts
  src/drizzle/tables/organizations.ts
  src/graphql/enums/FamilyMembershipRole.ts
  src/graphql/enums/index.ts
  src/graphql/inputs/MutationCreateFamilyInput.ts
  src/graphql/inputs/index.ts
  test/drizzle/tables/familyMemberships.test.ts
  test/drizzle/tables/organization.test.ts
  test/graphql/types/gql.tada.d.ts
  test/unit/drizzle/tables/families.test.ts
Due: integration

Upgraded docusaurus to v3.10
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

Ignore skipped tests due to dependabot - 1775692098
  .github/workflows/pull-request.yml
  schema.graphql
Due: none

Removed unused docusaurus package
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

Updated docs 1775693410
  docs/docs/auto-schema/operations/mutations/sign-in-with-oauth.mdx
  docs/package.json
Due: none

Fixed timing
  test/graphql/types/Query/eventsByVolunteer.test.ts
Due: none

Fixed company names to be random
  test/drizzle/tables/comments.test.ts
Due: none
