Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

address cr suggestions
  docs/docs/auto-docs/routes/auth/validators/type-aliases/RefreshBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignInBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignUpBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/refreshBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signInBody.md
  src/routes/auth/validators.ts
  test/graphql/types/Mutation/updateAdvertisement.test.ts
Due: unit

adress cr suggestion
  test/routes/auth/validators.test.ts
Due: none

address trivial cr suggestions
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/MutationSignUpInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/mutationSignUpInputSchema.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/RefreshBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignInBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignUpBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/refreshBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signInBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signUpBody.md
  docs/docs/auto-docs/routes/validation/zodReply/functions/zReplyParsed.md
  src/graphql/inputs/MutationSignUpInput.ts
  src/routes/auth/validators.ts
  src/routes/validation/zodReply.ts
  test/routes/auth/validators.test.ts
Due: unit, integration

address cr suggestions
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/MutationSignUpInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/mutationSignUpInputSchema.md
  test/routes/auth/validators.test.ts
Due: none

resolve conflicts and address cr suggestions
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/MutationSignUpInput.md
  test/routes/auth/validators.test.ts
Due: none

generate-docs
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/MutationSignUpInput.md
Due: none

fix shrad 3
  docs/docs/auto-docs/routes/auth/validators/type-aliases/RefreshBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignInBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignUpBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/NAME_MAX_LENGTH.md
  docs/docs/auto-docs/routes/auth/validators/variables/PASSWORD_MAX_LENGTH.md
  docs/docs/auto-docs/routes/auth/validators/variables/PASSWORD_MIN_LENGTH.md
  docs/docs/auto-docs/routes/auth/validators/variables/refreshBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signInBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signUpBody.md
  docs/docs/auto-docs/utilities/auth/constants/variables/NAME_MAX_LENGTH.md
  docs/docs/auto-docs/utilities/auth/constants/variables/PASSWORD_MAX_LENGTH.md
  docs/docs/auto-docs/utilities/auth/constants/variables/PASSWORD_MIN_LENGTH.md
  src/graphql/inputs/MutationSignUpInput.ts
  src/routes/auth/validators.ts
  src/utilities/auth/constants.ts
  test/graphql/types/Mutation/updateVenue.test.ts
Due: unit, integration

fix coderabbit comments and add doc
  docs/docs/auto-docs/drizzle/enums/imageMimeType/variables/imageMimeTypeEnum.md
  docs/docs/auto-docs/drizzle/enums/imageMimeType/variables/imageMimeTypes.md
  docs/docs/auto-docs/drizzle/enums/venueAttachmentMimeType/variables/venueAttachmentMimeTypeEnum.md
  docs/docs/auto-docs/drizzle/enums/venueAttachmentMimeType/variables/venueAttachmentMimeTypeZodEnum.md
  docs/docs/auto-docs/drizzle/enums/videoMimeType/variables/videoMimeTypeEnum.md
  docs/docs/auto-docs/drizzle/enums/videoMimeType/variables/videoMimeTypes.md
  docs/docs/auto-docs/drizzle/tables/venueAttachments/variables/venueAttachmentMimeTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/venueAttachments/variables/venueAttachmentsTable.md
  docs/docs/auto-docs/drizzle/tables/venueAttachments/variables/venueAttachmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/venueAttachments/variables/venueAttachmentsTableRelations.md
  docs/docs/auto-docs/graphql/types/VenueAttachment/VenueAttachment/variables/VenueAttachment.md
  src/drizzle/enums/venueAttachmentMimeType.ts
  src/drizzle/enums/videoMimeType.ts
  src/drizzle/tables/venueAttachments.ts
  test/drizzle/tables/venueAttachments.test.ts
Due: integration

new comment resolve
  test/drizzle/tables/venueAttachments.test.ts
Due: none

add missing doc
  docs/docs/auto-docs/drizzle/enums/commentVoteType/variables/commentVoteTypeValues.md
  docs/docs/auto-docs/drizzle/enums/commentVoteType/variables/commentVoteTypeZodEnum.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVoteTypePgEnum.md
Due: none

more docs
  docs/docs/auto-docs/drizzle/enums/commentVoteType/variables/commentVoteTypeEnum.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTable.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateCommentVoteInput/variables/MutationCreateCommentVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateCommentVoteInput/variables/mutationCreateCommentVoteInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommentVoteInput/variables/MutationUpdateCommentVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommentVoteInput/variables/mutationUpdateCommentVoteInputSchema.md
Due: none

add docs
  docs/docs/auto-docs/drizzle/enums/postVoteType/variables/postVoteTypeEnum.md
  docs/docs/auto-docs/drizzle/enums/postVoteType/variables/postVoteTypeValues.md
  docs/docs/auto-docs/drizzle/enums/postVoteType/variables/postVoteTypeZodEnum.md
  docs/docs/auto-docs/drizzle/tables/postVotes/variables/postVoteTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/postVotes/variables/postVotesTable.md
  docs/docs/auto-docs/graphql/inputs/MutationCreatePostVoteInput/variables/MutationCreatePostVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreatePostVoteInput/variables/mutationCreatePostVoteInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdatePostVoteInput/variables/MutationUpdatePostVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdatePostVoteInput/variables/mutationUpdatePostVoteInputSchema.md
Due: none

Feat: Upgrade recaptcha from v2 to v3 (#5187)
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/validateRecaptchaIfRequired.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/verifyRecaptchaToken.md
  scripts/setup/setup.ts
  src/envConfigSchema.ts
  src/graphql/context.ts
  src/graphql/types/Mutation/signUp.ts
  src/graphql/types/Query/signIn.ts
  src/utilities/recaptchaUtils.ts
  test/graphql/types/Mutation/signUp.test.ts
  test/graphql/types/Query/signIn.test.ts
  test/utilities/recaptchaUtils.test.ts
Due: unit, integration

Implement Docker Rootless Devcontainer Support (#4747)
  .devcontainer/rootless/devcontainer.json
  .devcontainer/rootless/post-create.sh
  CONTRIBUTING.md
  docker/compose.rootless.devcontainer.yaml
  docs/docs/docs/getting-started/installation.md
  envFiles/.env.rootless.devcontainer
Due: none

fix: use fixed UTC timestamps and faker.string.ulid() for emails
  test/graphql/types/Query/event.test.ts
Due: none

perf: optimize sendBulkEmails with concurrent batching
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  docs/docs/auto-docs/services/email/providers/SESProvider/classes/SESProvider.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  src/services/email/providers/SESProvider.ts
  src/services/email/providers/SMTPProvider.ts
Due: unit

refactor: enforce strict IEmailProvider contract and remove defensive null filtering
  docs/docs/auto-docs/services/email/providers/SESProvider/classes/SESProvider.md
  docs/docs/auto-docs/services/email/providers/SESProvider/interfaces/SESProviderConfig.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  src/services/email/providers/SESProvider.ts
  src/services/email/providers/SMTPProvider.ts
Due: unit

fix: use future dates and create helper function for duplicated code
  test/graphql/types/Query/event.test.ts
Due: none

fix: explicit error destructuring for rootLogger in SESProvider
  docs/docs/auto-docs/services/email/providers/SESProvider/classes/SESProvider.md
  src/services/email/providers/SESProvider.ts
Due: unit

feat: implement naturalLanguageCode resolver with authentication checks and add tests
  src/graphql/types/User/naturalLanguageCode.ts
  test/graphql/types/User/naturalLanguageCode.test.ts
  test/graphql/types/documentNodes.ts
Due: integration

feat: add API documentation for resolveNaturalLanguageCode function
  docs/docs/auto-docs/graphql/types/User/naturalLanguageCode/functions/resolveNaturalLanguageCode.md
Due: none

feat: enhance resolveNaturalLanguageCode function with detailed documentation and authentication checks
  docs/docs/auto-docs/graphql/types/User/naturalLanguageCode/functions/resolveNaturalLanguageCode.md
  src/graphql/types/User/naturalLanguageCode.ts
  test/graphql/types/User/naturalLanguageCode.test.ts
  test/graphql/types/documentNodes.ts
Due: integration

chore: revert bad auto-generated doc types to fix CI mismatch
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
Due: none

test: update SMTPProvider rate limit test to support concurrent batching
  test/services/email/SMTPProvider.test.ts
Due: none

fixing the talawa-shard
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  test/services/email/SMTPProvider.test.ts
Due: none

test: add comprehensive unit tests for mobilePhoneNumber resolver
  src/graphql/types/User/mobilePhoneNumber.ts
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: integration

test: fix mobilePhoneNumber tests and update docs
  docs/docs/auto-docs/graphql/types/User/mobilePhoneNumber/functions/mobilePhoneNumberResolver.md
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

test: fix formatting and type errors in mobilePhoneNumber resolver tests
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

test: fix linting issues in mobilePhoneNumber resolver tests
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

fix: resolve all CodeRabbit comments and type errors in mobilePhoneNumber tests
  test/graphql/types/User/mobilePhoneNumber.test.ts
  test/graphql/types/documentNodes.ts
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

test: add comprehensive unit tests for mobilePhoneNumber resolver
  test/graphql/types/User/mobilePhoneNumber.test.ts
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

fix: resolve failing test expectation for non-existent user
  test/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

test: achieve 100% patch coverage with schema registration test
  test/graphql/types/User/mobilePhoneNumber.test.ts
  test/unit/graphql/types/User/mobilePhoneNumber.registration.test.ts
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

style: fix formatting issues in mobilePhoneNumber test
  test/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

fix: un-nest tests and fix type errors in mobilePhoneNumber.test.ts
  test/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

fix: resolve formatting issues in mobilePhoneNumber.test.ts
  test/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

fix: remove invalid test case for empty mobilePhoneNumber
  test/graphql/types/User/mobilePhoneNumber.test.ts
Due: none

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/helpers/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/school/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
