Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%


flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/helpers/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/school/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

test: add unit tests for getKeyPathsWithNonUndefinedValues and fix null handling
  src/utilities/getKeyPathsWithNonUndefinedValues.ts
  test/utilities/getKeyPathsWithNonUndefinedValues.test.ts
Due: unit

docs-changed
  docs/docs/auto-docs/config/observability/variables/observabilityConfig.md
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/initTracing.md
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/shutdownTracing.md
  docs/docs/auto-docs/observability/tracing/bootstrap/variables/fastifyOtelInstrumentation.md
  src/config/observability.ts
  src/observability/tracing/bootstrap.ts
Due: unit

feat(test): add coverage for event creator authorization and recurring event instances
  test/graphql/types/Query/getEventVolunteerGroups.test.ts
Due: none

docs(test): add note on cascading deletion of recurring event resources
  test/graphql/types/Query/getEventVolunteerGroups.test.ts
Due: none

test: clear existing rate limit buckets before tests to ensure clean state
  test/routes/graphqlErrorValidation.integration.test.ts
Due: none

fix: testing errors fixed
  test/unit/setup/gracefulCleanup.test.ts
Due: none

fixed setup script
  scripts/setup/setup.ts
  src/observability/tracing.smoke.test.ts
Due: unit

fixed setup script
  test/scripts/setup/setup.test.ts
Due: none

fix(validation): add repository, disk, network, and prerequisite checks
  scripts/install/common/validation.sh
Due: none

test: add tests for getKeyPathsWithNonUndefinedValues (#5122)
  docs/docs/auto-docs/utilities/getKeyPathsWithNonUndefinedValues/functions/getKeyPathsWithNonUndefinedValues.md
  docs/docs/auto-docs/utilities/getKeyPathsWithNonUndefinedValues/type-aliases/Paths.md
  src/utilities/getKeyPathsWithNonUndefinedValues.ts
  test/utilities/getKeyPathsWithNonUndefinedValues.test.ts
Due: unit

feat(tests): enhance chatMessages table tests with message ID tracking and cleanup
  test/drizzle/tables/chatMessages.test.ts
Due: none

docs: add error handling validation section with commands for checking and auto-fixing violations
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

Fix fnm version detection in devcontainer post-create script
  .devcontainer/post-create.sh
Due: none

Update validation.sh
  scripts/install/common/validation.sh
Due: none

feat(tests): track created chat and user IDs in chatMessages table tests
  test/drizzle/tables/chatMessages.test.ts
Due: none

test: add coverage for repository, disk, network, and prerequisites validation
  scripts/install/common/validation.test.sh
Due: none

test: fix repository-root assumptions in validation tests
  scripts/install/common/validation.test.sh
Due: none

docs: clarify soft-fail behavior in internet connectivity check
  scripts/install/common/validation.sh
Due: none

feat: add rate limiting to requestPasswordReset mutation (#5121)
  src/graphql/types/Mutation/requestPasswordReset.ts
  src/utilities/passwordResetRateLimit.ts
  test/graphql/types/Mutation/requestPasswordReset.test.ts
  test/utilities/passwordResetRateLimit.test.ts
Due: unit, integration

Update validation.test.sh
  scripts/install/common/validation.test.sh
Due: none

fix: address CodeRabbit feedback and regenerate docs
  docs/docs/auto-docs/utilities/passwordResetRateLimit/functions/checkPasswordResetRateLimit.md
  docs/docs/auto-docs/utilities/passwordResetRateLimit/functions/resetLastCleanupAtForTests.md
  docs/docs/auto-docs/utilities/passwordResetRateLimit/functions/resetPasswordResetRateLimit.md
  docs/docs/auto-docs/utilities/passwordResetRateLimit/variables/PASSWORD_RESET_RATE_LIMITS.md
  src/graphql/types/Mutation/requestPasswordReset.ts
  src/utilities/passwordResetRateLimit.ts
  test/utilities/passwordResetRateLimit.test.ts
Due: unit, integration

chore: regenerate gql.tada cache with Query_eventVenuesWithAttachments
  test/graphql/types/gql.tada-cache.d.ts
Due: none

Oauth: Register OAuth Providers in Application (#5114)
  docs/docs/auto-docs/fastifyPlugins/oauthProviderRegistry/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/functions/extractZodMessage.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/auth/oauth/providerFactory/functions/buildOAuthProviderRegistry.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  src/fastifyPlugins/index.ts
  src/fastifyPlugins/oauthProviderRegistry.ts
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/auth/oauth/providerFactory.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/fastifyPlugins/oauthProviderRegistry.test.ts
  test/routes/graphql.oauthContext.integration.test.ts
  test/routes/graphql.test.ts
  test/utilities/auth/oauth/providerFactory.test.ts
Due: unit, integration

Add comprehensive tests for chatMessages table schema and operations (#5116)
  src/drizzle/tables/chatMessages.ts
  test/drizzle/tables/chatMessages.test.ts
Due: integration

test(Event/venues.ts): achieve 100% code coverage (#2983). (#4919)
  test/graphql/types/Event/venues.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: none

fix: resolve biome formatting issues
  src/graphql/types/Mutation/requestPasswordReset.ts
  test/utilities/passwordResetRateLimit.test.ts
Due: integration

Oauth: Implement signInWithOAuth Mutation Resolver
  src/graphql/types/Mutation/signInWithOAuth.ts
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: integration

fix: reset rate limit state between tests for isolation-
  test/graphql/types/Mutation/requestPasswordReset.test.ts
  test/utilities/passwordResetRateLimit.test.ts
Due: none

improved role logic
  src/graphql/types/Mutation/signInWithOAuth.ts
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: integration

Included mock cleanup requirements 1770186730
  .coderabbit.yaml
Due: none

implemented coderabbit suggestion
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: none

improved cleanup logic
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: none

Strengthen lastUsedAt assertion
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: none
