Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

fix: use UTCMonth
  test/graphql/types/Query/event.test.ts
Due: none

fix: address coderabbit suggestions
  test/graphql/types/Query/event.test.ts
Due: none

fix(tests): delete by user id in updateVenue unauthenticated test (#5205)
  test/graphql/types/Mutation/updateVenue.test.ts
Due: none

test(drizzle): improve cleanup and add cascade delete coverage
  test/drizzle/tables/membershipRequests.test.ts
Due: none

fixing small issues
  docs/docs/auto-docs/services/email/providers/SESProvider/classes/SESProvider.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  src/services/email/providers/SESProvider.ts
  src/services/email/providers/SMTPProvider.ts
  test/services/email/SMTPProvider.test.ts
Due: unit

fixing
  src/services/email/providers/SESProvider.ts
  src/services/email/providers/SMTPProvider.ts
Due: unit

fixing docs
  docs/docs/auto-docs/services/email/providers/SESProvider/classes/SESProvider.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
Due: none

style(drizzle): added spacing
  test/drizzle/tables/membershipRequests.test.ts
Due: none

test: remove redundant signIn in updateVenue auth test
  test/graphql/types/Mutation/updateVenue.test.ts
Due: none

address CR suggestion
  test/graphql/types/Mutation/updateVenue.test.ts
Due: none

Implement OAuth Account Query Resolvers
  src/graphql/types/User/oauthAccounts.ts
  test/graphql/types/User/oauthAccounts.test.ts
Due: integration

implemented coderabbit suggestion
  src/graphql/types/User/oauthAccounts.ts
  test/graphql/types/User/oauthAccounts.test.ts
Due: integration

increased test coverage
  test/graphql/types/User/oauthAccounts.test.ts
Due: none

coderabbit fixes
  test/drizzle/tables/commentVotes.test.ts
Due: none

resolve coderabbit latest comments
  test/drizzle/tables/commentVotes.test.ts
Due: none

add usertable in afterall and aftereach
  test/drizzle/tables/commentVotes.test.ts
Due: none

feat: streamline devcontainer setup by adding default configuration and enhancing documentation for rootless mode
  .devcontainer/default/devcontainer.json
  .devcontainer/default/post-create.sh
  .github/workflows/pull-request.yml
  CONTRIBUTING.md
  docs/docs/docs/developer-resources/testing/troubleshooting.md
  docs/docs/docs/getting-started/installation.md
Due: none

fix: update post-create.sh permissions to ensure executable access
  .devcontainer/default/post-create.sh
Due: none

fix: update troubleshooting guide link for Docker Rootless mode in installation documentation
  docs/docs/docs/getting-started/installation.md
Due: none

fix: satisfy validate:error-handling checks for SES and workers
  src/services/email/providers/SESProvider.ts
  src/workers/backgroundWorkerService.ts
Due: unit

fix: address SES/worker error handling and env/docs lint follow-ups
  docs/docs/auto-docs/services/email/providers/SESProvider/classes/SESProvider.md
  docs/docs/auto-docs/services/email/providers/SESProvider/interfaces/SESProviderConfig.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/startBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.rootless.devcontainer
  src/services/email/providers/SESProvider.ts
  src/workers/backgroundWorkerService.ts
  test/services/email/SESProvider.test.ts
  test/services/email/SMTPProvider.test.ts
Due: unit

test: Remove redundant signIn in updateVenue auth test (#5208)
  test/graphql/types/Mutation/updateVenue.test.ts
Due: none

OAuth: Implement OAuth Account Query Resolvers (#5209)
  src/graphql/types/User/oauthAccounts.ts
  test/graphql/types/User/oauthAccounts.test.ts
Due: integration

test(drizzle): add coverage for membershipRequests table (#5179)
  test/drizzle/tables/membershipRequests.test.ts
Due: none

Fix DB level enum issue #4868 for comment_votes.type is not enforced at DB level (#4893)
  docs/docs/auto-docs/drizzle/enums/commentVoteType/variables/commentVoteTypeValues.md
  docs/docs/auto-docs/drizzle/enums/commentVoteType/variables/commentVoteTypeZodEnum.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVoteTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTable.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateCommentVoteInput/variables/MutationCreateCommentVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateCommentVoteInput/variables/mutationCreateCommentVoteInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommentVoteInput/variables/MutationUpdateCommentVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommentVoteInput/variables/mutationUpdateCommentVoteInputSchema.md
  drizzle_migrations/20260124182858_little_celestials.sql
  drizzle_migrations/meta/20260124182858_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/enums/commentVoteType.ts
  src/drizzle/schema.ts
  src/drizzle/tables/commentVotes.ts
  src/graphql/enums/CommentVoteType.ts
  src/graphql/types/Comment/hasUserVoted.ts
Due: integration

feat : optimize sendBulkEmails with concurrent batching (#5197)
  docs/docs/auto-docs/services/email/providers/SESProvider/classes/SESProvider.md
  docs/docs/auto-docs/services/email/providers/SESProvider/interfaces/SESProviderConfig.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  src/services/email/providers/SESProvider.ts
  src/services/email/providers/SMTPProvider.ts
  test/services/email/SESProvider.test.ts
  test/services/email/SMTPProvider.test.ts
Due: unit

feat: streamline devcontainer setup by adding default configuration and enhancing documentation for rootless mode (#5210)
  .devcontainer/default/devcontainer.json
  .devcontainer/default/post-create.sh
  .github/workflows/pull-request.yml
  CONTRIBUTING.md
  docs/docs/docs/developer-resources/testing/troubleshooting.md
  docs/docs/docs/getting-started/installation.md
Due: none

fix(ci): API_ env naming, revert NODE_ENV in .env.ci, generate API_JWT_SECRET in workflow
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  envFiles/.env.ci
  envFiles/.env.devcontainer
  src/services/auth/tokens.ts
  test/services/auth/tokens.test.ts
  vitest.unit.config.ts
Due: unit

fix NODE_ENV
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: none

docker: add rootless production compose + docs + CI check
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  docker/compose.rootless.production.yaml
  docs/docs/docs/getting-started/configuration.md
  docs/docs/docs/getting-started/installation.md
  docs/docs/docs/getting-started/operation.md
  envFiles/.env.rootless.production
  test/graphql/types/gql.tada-cache.d.ts
Due: none

ci: validate rootless prod env
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  envFiles/.env.rootless.production
Due: none

refactor: jq mocking differentials
  scripts/install/linux/install-linux.sh
  scripts/install/linux/install-linux.test.sh
Due: none

fix: fixed failed test
  test/graphql/types/Query/event.test.ts
Due: none

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/helpers/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/school/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
