Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%

flags:
  unit:
    paths:
      - test/unit/
      - test/utilities/
      - test/services/
      - test/routes/
      - test/observability/
      - test/workers/
      - test/config/
      - test/fastifyPlugins/
      - test/plugin/
      - src/utilities/
      - src/services/
      - src/routes/
      - src/observability/
      - src/workers/
      - src/config/
      - src/fastifyPlugins/
      - src/plugin/
      - src/plugins/
  integration:
    paths:
      - test/drizzle/
      - test/graphql/
      - test/install/
      - src/drizzle/
      - src/graphql/
      - src/install/

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 80%
        threshold: 1%

test: added tests for src/drizzle/tables/posts.ts for 100% coverage
  test/drizzle/tables/posts.test.ts
Due: integration

Update test/drizzle/tables/posts.test.ts
  test/drizzle/tables/posts.test.ts
Due: integration

fix: fixed typecheck errors
  test/drizzle/tables/posts.test.ts
Due: integration

fix(test): include root test files in unit config
  vitest.unit.config.ts
Due: none

fix: fixed tests to follow new UUID format
  test/drizzle/tables/agendaItemUrl.test.ts
  test/drizzle/tables/chatMessageReadReceipts.test.ts
Due: integration

refactor(test): improve multipart payload helper
  test/helpers.ts
Due: none

fix(test): use valid secrets in correlationId test
  test/createServer.correlationId.test.ts
Due: none

style: fix formatting and regenerate docs
  test/createServer.correlationId.test.ts
Due: none

fix(docs): correct schema definition for agendaItemUrlTableInsertSchema
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
Due: none

fix(graphql): standardize error handling and HTTP status codes for GraphQL responses
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  src/fastifyPlugins/errorHandler.ts
  src/routes/graphql.ts
  test/graphql/types/Query/agendaItem.test.ts
  test/graphql/types/Query/allUsers.test.ts
  test/graphql/types/Query/venue.test.ts
  test/routes/graphql.test.ts
Due: unit, integration

fix(test): include src co-located tests
  vitest.unit.config.ts
Due: none

replaced invalid uuid with valid uuid
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  scripts/dbManagement/sample_data/action_categories.json
  scripts/dbManagement/sample_data/action_items.json
  scripts/dbManagement/sample_data/comment_votes.json
  scripts/dbManagement/sample_data/comments.json
  scripts/dbManagement/sample_data/events.json
  scripts/dbManagement/sample_data/membership_requests.json
  scripts/dbManagement/sample_data/organization_memberships.json
  scripts/dbManagement/sample_data/post_attachments.json
  scripts/dbManagement/sample_data/post_votes.json
  scripts/dbManagement/sample_data/posts.json
  scripts/dbManagement/sample_data/users.json
Due: none

fix failing tests due to invalid UUID
  test/drizzle/tables/agendaItemUrl.test.ts
Due: integration

test: added tests for src/drizzle/tables/posts.ts for 100% coverage
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  test/drizzle/tables/posts.test.ts
Due: integration

fix: changed tests in agendaItemUrl.test.ts to use new format of UUID
  test/drizzle/tables/agendaItemUrl.test.ts
Due: integration

docs: regenerate auto-docs to fix CI
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
Due: none

feat(install): add centralized logging library
  scripts/install/common/logging.sh
Due: none

Fix: Invalid UUID in sample data blocking E2E tests (#4842)
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  scripts/dbManagement/sample_data/action_categories.json
  scripts/dbManagement/sample_data/action_items.json
  scripts/dbManagement/sample_data/comment_votes.json
  scripts/dbManagement/sample_data/comments.json
  scripts/dbManagement/sample_data/events.json
  scripts/dbManagement/sample_data/membership_requests.json
  scripts/dbManagement/sample_data/organization_memberships.json
  scripts/dbManagement/sample_data/post_attachments.json
  scripts/dbManagement/sample_data/post_votes.json
  scripts/dbManagement/sample_data/posts.json
  scripts/dbManagement/sample_data/users.json
  test/drizzle/tables/agendaItemUrl.test.ts
Due: integration

fix(install): export LOG_FILE and make debug safe under set -e
  scripts/install/common/logging.sh
Due: none

style: regenerate autodocs after merge
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
Due: none

fix(test): fix timestamp comparison flake in familyMemberships.test.ts
  test/drizzle/tables/familyMemberships.test.ts
Due: integration

Install2Fix: add centralized logging library for install scripts (#4845)
  scripts/install/common/logging.sh
Due: none

fix(test): eliminate clock drift in createdAt range query test
  test/drizzle/tables/familyMemberships.test.ts
Due: integration

style: fix biome formatting issues in familyMemberships test
  test/drizzle/tables/familyMemberships.test.ts
Due: integration

fix(test): remove flaky timestamp bounds check from insert test
  test/drizzle/tables/familyMemberships.test.ts
Due: integration

fix(test): remove cross-clock timestamp check and unused variable in update test
  test/drizzle/tables/familyMemberships.test.ts
Due: integration

Implement split test execution for accurate Codecov flags (#4830)
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  codecov.yml
  docker/compose.testing.yaml
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  scripts/run-shard.js
  src/createServer.ts
  src/drizzle/tables/agendaItemUrls.ts
  test/createServer.correlationId.test.ts
  test/routes/graphql.integration.test.ts
  test/routes/rest/serverTiming.test.ts
  test/server.ts
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: unit, integration

test: add 100% coverage tests for familyMemberships table (#4828)
  test/drizzle/tables/familyMemberships.test.ts
Due: integration

Added test coverage for src/drizzle/tables/tags.ts (#4827)
  test/drizzle/tables/tags.test.ts
Due: integration

format fix
  test/drizzle/tables/postVotes.test.ts
Due: integration

edge test case for postVotes.ts
  test/drizzle/tables/postVotes.test.ts
Due: integration
