Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Refactor: Update createUser avatar init and timing, refine updateOrganization tests
  src/graphql/types/Mutation/createUser.ts
  test/graphql/types/Mutation/updateOrganization.test.ts
Due: integration

Refactor: Use explicit conditional check for metrics timing in createEvent
  src/graphql/types/Mutation/createEvent.ts
Due: integration

Refactor: Fix metrics timing and enhance test assertions
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/updateOrganization.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.test.ts
Due: integration

Fix: Use resolver-level error in createUser metrics test
  test/graphql/types/Mutation/createUser.metrics.test.ts
Due: none

Perf: Remove unused scalar columns from deleteOrganization query
  src/graphql/types/Mutation/deleteOrganization.ts
Due: integration

fix: migration cleanup, TypeScript errors, and test improvements
  drizzle_migrations/20260122030428_fix_unique_index.sql
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/updateOrganization.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.test.ts
Due: integration

fix: remove non-null assertions to satisfy biome linter
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/updateOrganization.ts
Due: integration

fix: use created_at instead of MIN(id) for UUID in migration
  drizzle_migrations/20260122030428_fix_unique_index.sql
Due: none

refactor: optimize Organization avatar check and fix createUser test assertion
  src/graphql/types/Mutation/createOrganization.ts
  test/graphql/types/Mutation/createUser.test.ts
Due: integration

fix: lint error in createOrganization and improve test stability for metrics and deleteOrganization
  src/graphql/types/Mutation/createOrganization.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.test.ts
Due: integration

fix: deterministic cleanup in unique index migration
  drizzle_migrations/20260122030428_fix_unique_index.sql
Due: none

refactor(mutations): improve createEvent tests and org deletion error handling
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/updateOrganization.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/deleteOrganization.test.ts
Due: integration

style: fix code formatting
  src/graphql/types/Mutation/updateOrganization.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: integration

fix(tests): correct assertion in deleteOrganization test
  test/graphql/types/Mutation/deleteOrganization.test.ts
Due: none

test: add 100% coverage tests for recurrenceRules.ts (#4759)
  src/drizzle/tables/recurrenceRules.ts
  test/unit/drizzle/tables/recurrenceRules.test.ts
Due: integration

Fix #4678 (Test Drizzle: src/drizzle/tables/blockedUsers.ts) (#4854)
  test/drizzle/tables/blockedUser.test.ts
Due: none

refactor(mutations): improve logging and test reliability
  src/graphql/types/Mutation/deleteOrganization.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/deleteOrganization.test.ts
Due: integration

style: fix code formatting
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

test(objects): remove redundant validation test for short name
  test/graphql/types/gql.tada-cache.d.ts
  test/routes/objects.test.ts
Due: none

test: improve funds table coverage by adding foreign key and default value tests
  test/drizzle/tables/funds.test.ts
Due: none

test: add createOrganization error tests and fix metrics flakiness
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
Due: none

fix(graphql): improve error handling and HTTP status code mapping
  src/routes/graphql.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/routes/graphql.integration.test.ts
  test/routes/graphql.test.ts
Due: unit

test: refine createOrganization setup and assertions, stabilize createUser metrics tests
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
Due: none

refactor(graphql): extract upVoters complexity calculation to separate function (#4852)
  docs/docs/auto-docs/graphql/types/Post/upVoters/functions/upVotersComplexity.md
  src/graphql/types/Post/upVoters.ts
  test/graphql/types/Post/upVoters.test.ts
Due: integration

test: refine eventVolunteers unique index assertion
  test/unit/drizzle/tables/eventVolunteers.test.ts
Due: none

added tests for relations in venueAttachmentsTable
  test/drizzle/tables/venueAttachments.test.ts
Due: none

test: use valid UUID in events negative tests Replace uuid with valid UUID to target intended validation rules.
  test/unit/drizzle/tables/events.test.ts
Due: none

fix(graphql): improve error handling and HTTP status code mapping
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  src/routes/graphql.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/routes/graphql.test.ts
  test/routes/objects.test.ts
Due: unit

extracted relation config
  test/drizzle/tables/venueAttachments.test.ts
Due: none

changed importOriginal in drizzle-orm mock
  test/drizzle/tables/venueAttachments.test.ts
Due: none

test: refine metrics tests stability and add missing coverage
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
  test/graphql/utils/withMutationMetrics.test.ts
Due: none

test: cleanup comments and finalize metrics test stability
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
Due: none

test: enhance metrics stability and helper logic
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
Due: none

test: robust snapshot logic and auth helper fix
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
Due: none

fix(graphql): normalize error messages and improve error formatting
  src/routes/graphql.ts
  test/routes/graphql.test.ts
Due: unit

test: add unit tests for events table coverage (#4853)
  drizzle_migrations/20260121160356_ambiguous_pyro.sql
  drizzle_migrations/meta/20260121160356_snapshot.json
  drizzle_migrations/meta/_journal.json
  test/drizzle/tables/funds.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/drizzle/tables/events.test.ts
Due: none

auto-start development server in talawa-api container
  compose.yaml
  docker/api.Containerfile
  docker/compose.devcontainer.yaml
  docs/docs/docs/getting-started/operation.md
Due: none

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/helpers/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/school/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
