Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, install

refactor(test): cleanup agendaFolder tests and fix gql types
  test/graphql/types/Query/agendaFolder.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: none

fix(db): enforce partial unique constraints for event volunteers and memberships
  docs/docs/auto-docs/drizzle/tables/eventVolunteerMemberships/variables/eventVolunteerMembershipsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteerMemberships/variables/eventVolunteerMembershipsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteers/variables/eventVolunteersTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteers/variables/eventVolunteersTableRelations.md
  drizzle_migrations/20260217173823_daily_lady_vermin.sql
  drizzle_migrations/20260217193339_quick_white_queen.sql
  drizzle_migrations/meta/20260217173823_snapshot.json
  drizzle_migrations/meta/20260217193339_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/tables/eventVolunteerMemberships.ts
  src/drizzle/tables/eventVolunteers.ts
  src/graphql/types/Mutation/createEventVolunteer.ts
  test/graphql/types/Mutation/createEventVolunteer.test.ts
  test/unit/drizzle/tables/eventVolunteers.test.ts
Due: integration

refactor(test): cleanup agendaFolder tests and fix gql types
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: none

Removed Redirect url from OAuth setup
  docs/docs/auto-docs/config/oauth/functions/getProviderConfig.md
  docs/docs/auto-docs/createServer/functions/assertSecretsPresent.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/GoogleOAuthProvider/classes/GoogleOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/GitHubEmail.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/GitHubUser.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthConfig.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  scripts/setup/setup.ts
  src/config/oauth.ts
  src/envConfigSchema.ts
  src/utilities/auth/oauth/providers/GitHubOAuthProvider.ts
  src/utilities/auth/oauth/providers/GoogleOAuthProvider.ts
  src/utilities/auth/oauth/types.ts
  test/config/oauth.test.ts
  test/routes/graphql.oauthContext.integration.test.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/GitHubOAuthProvider.test.ts
  test/utilities/auth/oauth/GoogleOAuthProvider.test.ts
  test/utilities/auth/oauth/providerFactory.test.ts
Due: unit

test(agendaFolder): add best-effort teardown and missing event cleanup
  test/graphql/types/Query/agendaFolder.test.ts
Due: none

test(agendaFolder): relax invalid-id error assertion and use toBeNull
  test/graphql/types/Query/agendaFolder.test.ts
Due: none

test: resolve error-handling violation in createEventVolunteer test
  src/graphql/types/Mutation/createEventVolunteer.ts
  test/graphql/types/Mutation/createEventVolunteer.test.ts
Due: integration

test(agendaFolder): harden cleanup auth check and broaden ID error assertions
  test/graphql/types/Query/agendaFolder.test.ts
Due: none

perf(test): cache admin sign-in tokens in event.test.ts
  test/graphql/types/Query/event.test.ts
Due: none

fix: revert token caching and add proper cleanup
  test/graphql/types/Query/event.test.ts
Due: none

fix: address CodeRabbit comments and CI errors
  test/graphql/types/Query/event.test.ts
Due: none

Add installation script tests and plugins table unit tests
  .github/workflows/pull-request.yml
  .gitignore
  CONTRIBUTING.md
  docs/docs/docs/developer-resources/testing/testing-validation.md
  lefthook.yaml
  package.json
  scripts/install/common/README.md
  test/install_scripts/.ruby-version
  test/install_scripts/.simplecov
  test/install_scripts/Gemfile
  test/install_scripts/Gemfile.lock
  test/install_scripts/README.md
  test/install_scripts/check-no-leaks.sh
  test/install_scripts/check-traps.sh
  test/install_scripts/common/docker-detection.test.sh
  test/install_scripts/common/error-handling.test.sh
  test/install_scripts/common/logging.test.sh
  test/install_scripts/common/os-detection.test.sh
  test/install_scripts/common/package-manager.test.sh
  test/install_scripts/common/validation.test.sh
  test/install_scripts/linux/install-linux.test.sh
  test/install_scripts/macos/install-macos.test.sh
  test/install_scripts/run-all.sh
  test/unit/plugins.table.test.ts
  vitest.unit.config.ts
Due: install

test changes
  test/drizzle/tables/commentVotes.test.ts
Due: none

fix: address CodeRabbit comments and fix type errors
  test/graphql/types/Query/event.test.ts
Due: none

minor improvement in test quality
  docs/docs/auto-docs/utilities/auth/oauth/providers/GoogleOAuthProvider/classes/GoogleOAuthProvider.md
  src/utilities/auth/oauth/providers/GoogleOAuthProvider.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/GitHubOAuthProvider.test.ts
  test/utilities/auth/oauth/GoogleOAuthProvider.test.ts
Due: unit

fix: code quality ci
  test/graphql/types/Query/event.test.ts
Due: none

test: add integration tests for agendaFolder query (#5257)
  test/graphql/types/Query/agendaFolder.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: none

removed optional chaining from redirect url
  src/utilities/auth/oauth/providers/GoogleOAuthProvider.ts
Due: unit

removed optional chaining of redirect url from base provider
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
Due: unit

fix: code ci and CodeCove
  test/graphql/types/Query/event.test.ts
Due: none

Add installation script tests and plugins table unit tests (#5267)
  .github/workflows/pull-request.yml
  .gitignore
  CONTRIBUTING.md
  docs/docs/docs/developer-resources/testing/testing-validation.md
  lefthook.yaml
  package.json
  scripts/install/common/README.md
  test/install_scripts/.ruby-version
  test/install_scripts/.simplecov
  test/install_scripts/Gemfile
  test/install_scripts/Gemfile.lock
  test/install_scripts/README.md
  test/install_scripts/check-no-leaks.sh
  test/install_scripts/check-traps.sh
  test/install_scripts/common/docker-detection.test.sh
  test/install_scripts/common/error-handling.test.sh
  test/install_scripts/common/logging.test.sh
  test/install_scripts/common/os-detection.test.sh
  test/install_scripts/common/package-manager.test.sh
  test/install_scripts/common/validation.test.sh
  test/install_scripts/linux/install-linux.test.sh
  test/install_scripts/macos/install-macos.test.sh
  test/install_scripts/run-all.sh
  test/unit/plugins.table.test.ts
  vitest.unit.config.ts
Due: install

feat: implement organization cache warming on startup (#5255)
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/caching/warming/functions/warmOrganizations.md
  scripts/setup/setup.ts
  src/envConfigSchema.ts
  src/index.ts
  src/services/caching/warming.ts
  test/unit/services/caching/warming.test.ts
Due: unit

Using partial unique index for ensuring idempotent writes under concurrency (#5259)
  docs/docs/auto-docs/drizzle/tables/eventVolunteerMemberships/variables/eventVolunteerMembershipsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteerMemberships/variables/eventVolunteerMembershipsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteers/variables/eventVolunteersTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteers/variables/eventVolunteersTableRelations.md
  drizzle_migrations/20260217173823_daily_lady_vermin.sql
  drizzle_migrations/20260217193339_quick_white_queen.sql
  drizzle_migrations/meta/20260217173823_snapshot.json
  drizzle_migrations/meta/20260217193339_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/tables/eventVolunteerMemberships.ts
  src/drizzle/tables/eventVolunteers.ts
  src/graphql/types/Mutation/createEventVolunteer.ts
  test/graphql/types/Mutation/createEventVolunteer.test.ts
  test/unit/drizzle/tables/eventVolunteers.test.ts
Due: integration

test: add test coverage for event query invalid arguments (#5188)
  test/graphql/types/Query/event.test.ts
Due: none

updated interface to remove optional chaining in redirect url
  docs/docs/auto-docs/utilities/auth/oauth/interfaces/IOAuthProvider/interfaces/IOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  src/utilities/auth/oauth/interfaces/IOAuthProvider.ts
Due: unit

Revert "fix: rootless production Docker healthcheck and Compose version (#5250)"
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  docker/compose.rootless.production.yaml
  docs/docs/auto-docs/createServer/classes/StartupConfigError.md
  docs/docs/auto-docs/createServer/functions/assertSecretsPresent.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/docs/getting-started/configuration.md
  docs/docs/docs/getting-started/installation.md
  docs/docs/docs/getting-started/operation.md
  envFiles/.env.rootless.production
  scripts/docker/resolve-docker-host.sh
  src/createServer.ts
  test/unit/createServer.assertSecretsPresent.test.ts
Due: unit

Complete Test Drizzle: src/drizzle/tables/commentVotes.ts (#4867)
  test/drizzle/tables/commentVotes.test.ts
Due: none

Allow caddy to start before testing 1771450282
  .github/workflows/pull-request.yml
Due: none

OAuth: Removed Redirect url from OAuth setup (#5268)
  docs/docs/auto-docs/config/oauth/functions/getProviderConfig.md
  docs/docs/auto-docs/createServer/functions/assertSecretsPresent.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/utilities/auth/oauth/interfaces/IOAuthProvider/interfaces/IOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/GoogleOAuthProvider/classes/GoogleOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/GitHubEmail.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/GitHubUser.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthConfig.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  scripts/setup/setup.ts
  src/config/oauth.ts
  src/envConfigSchema.ts
  src/utilities/auth/oauth/interfaces/IOAuthProvider.ts
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  src/utilities/auth/oauth/providers/GitHubOAuthProvider.ts
  src/utilities/auth/oauth/providers/GoogleOAuthProvider.ts
  src/utilities/auth/oauth/types.ts
  test/config/oauth.test.ts
  test/routes/graphql.oauthContext.integration.test.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/GitHubOAuthProvider.test.ts
  test/utilities/auth/oauth/GoogleOAuthProvider.test.ts
  test/utilities/auth/oauth/providerFactory.test.ts
Due: unit

Allow caddy to start before testing 1771450746
  docs/docs/auto-docs/createServer/functions/assertSecretsPresent.md
Due: none

Allow caddy to start before testing 1771450978
  .github/workflows/pull-request.yml
Due: none

Allow caddy to start before testing 1771451634
  .github/workflows/pull-request.yml
Due: none

Allow caddy to start before testing 1771452012
  .github/workflows/pull-request.yml
Due: none

Allow caddy to start before testing 1771450282 (#5270)
  .github/workflows/pull-request.yml
Due: none

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
  install: any of: scripts/install/
