Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Address reviewer technical concerns
  docker/api.Containerfile
Due: none

resolve conflict
  drizzle_migrations/20260122074450_living_edwin_jarvis.sql
  drizzle_migrations/meta/20260122074450_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

address CR suggestions
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/AgendaItem/attachment.test.ts
  test/graphql/types/AgendaItem/updatedAt.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: integration

Automatically start development server in talawa-api container on launch #4829 (#4843)
  compose.yaml
  docker/api.Containerfile
  docker/compose.devcontainer.yaml
  docs/docs/docs/getting-started/operation.md
Due: none

fix format
  src/graphql/types/Mutation/createAgendaItem.ts
  test/graphql/types/AgendaItem/attachment.test.ts
  test/graphql/types/AgendaItem/updatedAt.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: integration

test: add comprehensive tests for eventVolunteers table (100% coverage) (#4856)
  test/unit/drizzle/tables/eventVolunteers.test.ts
Due: none

added tests for src/drizzle/tables/posts.ts for 100% coverage
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  test/drizzle/tables/agendaItemUrl.test.ts
  test/drizzle/tables/posts.test.ts
Due: none

address CR suggestions
  src/graphql/types/Mutation/createAgendaItem.ts
Due: integration

fix: generated auto-docs
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
Due: none

address CR suggestions
  src/graphql/types/Mutation/createAgendaItem.ts
  test/graphql/types/AgendaItem/attachment.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: integration

test: improve metrics test coverage and fix snapshot lookups
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
Due: none

test: rename duplicate test name in createOrganization metrics test
  drizzle_migrations/20260122030428_fix_unique_index.sql
  drizzle_migrations/meta/_journal.json
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
Due: none

test: created tests for chatMessageReadReceipts.ts with 100% code coverage
  test/drizzle/tables/chatMessageReadReceipts.test.ts
Due: none

fix: make initializeGenerationWindow resilient to missing unique constraint
  src/services/eventGeneration/windowManager.ts
Due: unit

chore: mark vitest configs and codecov as sensitive
  .github/workflows/pull-request.yml
Due: none

docs: update windowManager documentation after refactoring
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/cleanupOldGeneratedInstances.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/extendGenerationWindow.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/getCleanupStats.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/initializeGenerationWindow.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/validateWindowConfig.md
  src/services/eventGeneration/windowManager.ts
Due: unit

address CR suggestions
  src/graphql/types/AgendaItem/agendaCategory.ts
  src/graphql/types/AgendaItem/folder.ts
  src/graphql/types/AgendaItem/updatedAt.ts
  src/graphql/types/AgendaItem/url.ts
Due: integration

test(windowManager): add test for catch-block fallback path when insert throws
  test/services/eventInstanceGeneration/windowManager.test.ts
Due: none

fix: add migration for event_generation_windows unique constraint
  drizzle_migrations/20260122101757_fix_egw_unique_constraint.sql
  drizzle_migrations/meta/20260122101757_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

fixed import path of drizzle-orm
  test/drizzle/tables/venueAttachments.test.ts
Due: none

address CR suggestions
  src/graphql/types/AgendaItem/creator.ts
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/AgendaItem/updatedAt.test.ts
  test/graphql/types/AgendaItem/url.test.ts
Due: integration

fix: add migration for event_generation_windows unique constraint
  drizzle_migrations/20260122103127_fix_egw_unique_constraint.sql
  drizzle_migrations/meta/20260122103127_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

fix failing tests
  test/graphql/types/AgendaItem/creator.test.ts
  test/graphql/types/AgendaItem/folder.test.ts
Due: none

address CR suggestions
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/AgendaItem/creator.test.ts
  test/graphql/types/AgendaItem/folder.test.ts
Due: none

address CR suggestions
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/AgendaItem/folder.test.ts
Due: none

test(drizzle): add unit tests for recurringEventInstances table
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: none

Adding Explicit Flags to codecov.yml (#4850)
  .github/workflows/pull-request.yml
  codecov.yml
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: none

chore(test): apply biome formatting for recurringEventInstances tests
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: none

test(drizzle): strengthen invalid payload test for sequenceNumber constraint
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: none

refactor: move MinIO uploads outside DB transaction
  src/graphql/types/Mutation/createEvent.ts
Due: integration

feat(install): add error handling and idempotency utilities for install scripts
  scripts/install/common/error-handling.sh
  scripts/install/common/error-handling.test.sh
Due: none

fix format
  src/graphql/types/Mutation/createEvent.ts
Due: integration

fix(install): improve error handling and signal trapping robustness
  scripts/install/common/error-handling.sh
  scripts/install/common/error-handling.test.sh
Due: none

fix(scripts): improve error handling tests with output verification
  scripts/install/common/error-handling.sh
  scripts/install/common/error-handling.test.sh
Due: none

handle MinIO upload failures and clean up attachments
  src/graphql/types/Mutation/createEvent.ts
Due: integration

clearing attachments on upload failure n address CR suggestion
  src/graphql/types/Mutation/createEvent.ts
Due: integration

gen docs
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
Due: none

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/helpers/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/school/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
