Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%


flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/helpers/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/school/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

refactor(validators): remove examples and add missing coverage
  docs/docs/auto-docs/graphql/validators/core/type-aliases/Pagination.md
  docs/docs/auto-docs/graphql/validators/core/variables/coerceDate.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventId.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/id.md
  docs/docs/auto-docs/graphql/validators/core/variables/isoDateTimeString.md
  docs/docs/auto-docs/graphql/validators/core/variables/orgId.md
  docs/docs/auto-docs/graphql/validators/core/variables/organizationIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/pagination.md
  docs/docs/auto-docs/graphql/validators/core/variables/postId.md
  docs/docs/auto-docs/graphql/validators/core/variables/postIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/postSort.md
  docs/docs/auto-docs/graphql/validators/core/variables/sortOrder.md
  docs/docs/auto-docs/graphql/validators/core/variables/userId.md
  docs/docs/auto-docs/graphql/validators/core/variables/userIdArg.md
  src/graphql/validators/core.ts
  test/graphql/validators/core.test.ts
  test/routes/validation/zodReply.test.ts
Due: integration

refactor: integrated atomic writes and error recovery (#4920)
  scripts/setup/setup.ts
  test/scripts/setup/setup.test.ts
  test/unit/setup/gracefulCleanup.test.ts
Due: none

Fixed incorrect '.github' repo reference 1770400233
  .github/workflows/pull-request-target.yml
Due: none

Updated code to have userTags (#5132)
  docs/docs/auto-schema/operations/queries/user-tags.mdx
  docs/docs/auto-schema/types/objects/tag.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  schema.graphql
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/tag_assignments.json
  scripts/dbManagement/sample_data/tag_folders.json
  scripts/dbManagement/sample_data/tags.json
  scripts/dbManagement/sample_data/users.json
  src/graphql/types/Query/TagsAssignedToUser.ts
  src/graphql/types/Query/index.ts
  src/graphql/types/Tag/creator.ts
  test/graphql/types/Query/TagsAssignedToUser.test.ts
  test/graphql/types/Tag/creator.test.ts
  test/graphql/types/documentNodes.ts
Due: integration

test(db): harden ensureBootstrapData tests for sharded CI isolation
  scripts/dbManagement/__tests__/ensureBootstrapData.test.ts
Due: none

test: #5131 improve coverage for emailVerificationRateLimit.ts (#5143)
  docs/docs/auto-docs/utilities/emailVerificationRateLimit/functions/resetEmailVerificationRateLimit.md
  docs/docs/auto-docs/utilities/emailVerificationRateLimit/functions/resetLastCleanupAtForTests.md
  src/utilities/emailVerificationRateLimit.ts
  test/utilities/emailVerificationRateLimit.test.ts
Due: unit

Perf/5105 batched job discovery v2 (#5149)
  docs/docs/auto-docs/workers/eventGeneration/jobDiscovery/functions/createDefaultJobDiscoveryConfig.md
  src/workers/eventGeneration/jobDiscovery.ts
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: unit

test(db): harden ensureBootstrapData tests for env validation and CI sharding
  scripts/dbManagement/__tests__/ensureBootstrapData.test.ts
Due: none

Fixed incorrect '.github' repo reference 1770400233 (#5151)
  .github/workflows/pull-request-target.yml
Due: none

test(db): move bootstrap tests into vitest discovery path
  test/scripts/dbManagement/ensureBootstrapData.test.ts
Due: none

test(db): fix helper mock paths and ensure vitest discovery
  test/scripts/dbManagement/ensureBootstrapData.test.ts
Due: none

test(db): strengthen bootstrap update assertions and mock chain
  test/dbManagement/ensureBootstrapData.test.ts
Due: none

test: add url trim test and fix error type assertions
  test/graphql/validators/core.test.ts
  test/graphql/validators/helpers.test.ts
Due: none

test: enhance pagination tests and improve helpers test clarity
  docs/docs/auto-schema/operations/queries/user-tags.mdx
  schema.graphql
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/validators/core.test.ts
  test/graphql/validators/helpers.test.ts
Due: none

fix: restore userTags non-null array type for backward compatibility
  docs/docs/auto-schema/operations/queries/user-tags.mdx
  schema.graphql
  src/graphql/types/Query/TagsAssignedToUser.ts
  test/graphql/types/Query/TagsAssignedToUser.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

fix advertisementAttachments enum db level issue
  drizzle_migrations/20260207064739_deep_mesmero.sql
  drizzle_migrations/meta/20260207064739_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/enums/advertisementAttachmentMimeType.ts
  src/drizzle/enums/imageMimeType.ts
  src/drizzle/enums/videoMimeType.ts
  src/drizzle/schema.ts
  src/drizzle/tables/advertisementAttachments.ts
  src/graphql/types/Mutation/createAdvertisement.ts
  test/drizzle/enums/advertisementAttachmentMimeType.test.ts
  test/drizzle/tables/advertisementAttachments.test.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

code rabbit commit resolved and add docs
  docs/docs/auto-docs/drizzle/enums/advertisementAttachmentMimeType/variables/advertisementAttachmentMimeTypeEnum.md
  docs/docs/auto-docs/drizzle/enums/advertisementAttachmentMimeType/variables/advertisementAttachmentMimeTypeZodEnum.md
  docs/docs/auto-docs/drizzle/enums/imageMimeType/variables/imageMimeTypeEnum.md
  docs/docs/auto-docs/drizzle/enums/imageMimeType/variables/imageMimeTypes.md
  docs/docs/auto-docs/drizzle/enums/videoMimeType/variables/videoMimeTypeEnum.md
  docs/docs/auto-docs/drizzle/enums/videoMimeType/variables/videoMimeTypes.md
  docs/docs/auto-docs/drizzle/tables/advertisementAttachments/variables/advertisementAttachmentMimeTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/advertisementAttachments/variables/advertisementAttachmentsTable.md
  docs/docs/auto-docs/drizzle/tables/advertisementAttachments/variables/advertisementAttachmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/advertisementAttachments/variables/advertisementAttachmentsTableRelations.md
  docs/docs/auto-docs/graphql/types/AdvertisementAttachment/AdvertisementAttachment/variables/AdvertisementAttachment.md
  src/drizzle/enums/advertisementAttachmentMimeType.ts
  src/drizzle/tables/advertisementAttachments.ts
Due: integration

test(logoURL): add unit tests for Community.logoURL field resolver
  test/graphql/types/Community/logoURL.test.ts
Due: none

test(logoURL): enhance URL construction tests for various scenarios
  test/graphql/types/Community/logoURL.test.ts
Due: none

test(logoURL): refine URL construction test to verify encoding of unsafe characters
  test/graphql/types/Community/logoURL.test.ts
Due: none

Fixed UTC testing 1770469669
  .coderabbit.yaml
  .coderabbit/ast-grep-rules/no-local-timezone-in-tests.yml
Due: none

Fixed UTC testing 1770469859
  .github/workflows/pull-request.yml
Due: none

test(logoURL): add unit tests for Community.logoURL field resolver (#5156)
  test/graphql/types/Community/logoURL.test.ts
Due: none

Achieve 100% test coverage for occurrenceCalculator with comprehensive edge case testing and infinite loop fix
  test/services/eventInstanceGeneration/occurrenceCalculator.test.ts
Due: none

fix according to suggestion
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/calculateInstanceOccurrences.md
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/getNextOccurrenceDate.md
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/shouldGenerateInstanceAtDate.md
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/validateRecurrenceRule.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/CalculatedOccurrence.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/RecurrenceContext.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/ResolveInstanceInput.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/ServiceDependencies.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/WindowManagerConfig.md
  docs/docs/auto-docs/services/eventGeneration/types/type-aliases/EventTemplateWithAttachments.md
  src/services/eventGeneration/occurrenceCalculator.ts
  src/services/eventGeneration/types.ts
  test/services/eventInstanceGeneration/occurrenceCalculator.test.ts
Due: unit

Fix yearly recurrence infinite loop
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/getNextOccurrenceDate.md
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/shouldGenerateInstanceAtDate.md
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/validateRecurrenceRule.md
  src/services/eventGeneration/occurrenceCalculator.ts
  test/services/eventInstanceGeneration/occurrenceCalculator.test.ts
Due: unit

Fixed UTC test checks 1770471734
  .coderabbit.yaml
Due: none

Fixed UTC test checks 1770472039
  .coderabbit/ast-grep-rules/no-local-timezone-in-tests.yml
Due: none

feat: add shared Zod validators (#5150)
  docs/docs/auto-docs/graphql/validators/core/type-aliases/Pagination.md
  docs/docs/auto-docs/graphql/validators/core/variables/coerceDate.md
  docs/docs/auto-docs/graphql/validators/core/variables/email.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventId.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/id.md
  docs/docs/auto-docs/graphql/validators/core/variables/isoDateString.md
  docs/docs/auto-docs/graphql/validators/core/variables/isoDateTimeString.md
  docs/docs/auto-docs/graphql/validators/core/variables/nonEmptyString.md
  docs/docs/auto-docs/graphql/validators/core/variables/orgId.md
  docs/docs/auto-docs/graphql/validators/core/variables/organizationIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/pagination.md
  docs/docs/auto-docs/graphql/validators/core/variables/postId.md
  docs/docs/auto-docs/graphql/validators/core/variables/postIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/postSort.md
  docs/docs/auto-docs/graphql/validators/core/variables/sortOrder.md
  docs/docs/auto-docs/graphql/validators/core/variables/trimmedString.md
  docs/docs/auto-docs/graphql/validators/core/variables/ulid.md
  docs/docs/auto-docs/graphql/validators/core/variables/url.md
  docs/docs/auto-docs/graphql/validators/core/variables/userId.md
  docs/docs/auto-docs/graphql/validators/core/variables/userIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/uuid.md
  docs/docs/auto-docs/graphql/validators/helpers/functions/zParseOrThrow.md
  docs/docs/auto-docs/routes/validation/zodReply/functions/zReplyParsed.md
  docs/docs/auto-schema/operations/queries/user-tags.mdx
  schema.graphql
  src/graphql/types/Query/TagsAssignedToUser.ts
  src/graphql/validators/core.ts
  src/graphql/validators/helpers.ts
  src/routes/validation/zodReply.ts
  test/graphql/types/Query/TagsAssignedToUser.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
  test/graphql/validators/core.test.ts
  test/graphql/validators/helpers.test.ts
  test/routes/validation/zodReply.test.ts
Due: unit, integration

Add comprehensive test for occurrence calculator file #5095 (#5136)
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/calculateInstanceOccurrences.md
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/getNextOccurrenceDate.md
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/shouldGenerateInstanceAtDate.md
  docs/docs/auto-docs/services/eventGeneration/occurrenceCalculator/functions/validateRecurrenceRule.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/CalculatedOccurrence.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/RecurrenceContext.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/ResolveInstanceInput.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/ServiceDependencies.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/WindowManagerConfig.md
  docs/docs/auto-docs/services/eventGeneration/types/type-aliases/EventTemplateWithAttachments.md
  src/services/eventGeneration/occurrenceCalculator.ts
  src/services/eventGeneration/types.ts
  test/services/eventInstanceGeneration/occurrenceCalculator.test.ts
Due: unit

Fixed UTC test checks 1770474363
  .coderabbit/ast-grep-rules/no-local-timezone-in-tests.yml
Due: none

test(updateSingleRecurringEventInstance): enhance test setup and add admin token retrieval
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
Due: none

Fixed UTC testing 1770469669 (#5162)
  .coderabbit.yaml
  .coderabbit/ast-grep-rules/no-local-timezone-in-tests.yml
  .github/workflows/pull-request.yml
Due: none

feat: migrate Upload scalar to FileMetadataInput for 5 mutations
  src/graphql/inputs/MutationCreateAdvertisementInput.ts
  src/graphql/inputs/MutationCreateOrganizationInput.ts
  src/graphql/inputs/MutationCreateVenueInput.ts
  src/graphql/inputs/MutationUpdateCommunityInput.ts
  src/graphql/inputs/MutationUpdateVenueInput.ts
  src/graphql/types/Mutation/createAdvertisement.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createVenue.ts
  src/graphql/types/Mutation/updateCommunity.ts
  src/graphql/types/Mutation/updateVenue.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createVenue.test.ts
  test/graphql/types/Mutation/updateCommunity.test.ts
  test/graphql/types/Mutation/updateVenue.test.ts
Due: integration

refactor: address CodeRabbit review comments
  test/graphql/types/User/natalSex.test.ts
Due: none
