Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%


flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/helpers/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/school/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

test: add ignore comment for redis mock type assertion
  test/routes/rateLimit.test.ts
Due: none

test: fix redis pipeline mock to return chainable methods
  test/routes/rateLimit.test.ts
Due: none

fix(rateLimit): set infinite remaining requests for open tier
  src/fastifyPlugins/rateLimit.ts
  test/routes/rateLimit.test.ts
Due: unit

test: add route and method scoping verification to rate limit tests
  test/routes/rateLimit.test.ts
Due: none

test(rateLimit): add identity scoping and header verification tests
  test/routes/rateLimit.test.ts
Due: none

fix: address 2 actionable CodeRabbit comments (observability tests, validator tests)
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/validators.test.ts
Due: none

fix: address 2 CodeRabbit comments (remove dup test, enhance validation tests)
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/validators.test.ts
Due: none

fix(devcontainer): ensure setup is non-interactive
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

fix: explicit runServices list for reliable startup
  .devcontainer/devcontainer.json
Due: none

feat(perf): add performance tracking to GraphQL query resolvers
  docs/docs/auto-docs/graphql/utils/withQueryMetrics/functions/withQueryMetrics.md
  docs/docs/auto-docs/graphql/utils/withQueryMetrics/interfaces/WithQueryMetricsOptions.md
  src/graphql/types/Query/event.ts
  src/graphql/types/Query/organization.ts
  src/graphql/types/Query/organizations.ts
  src/graphql/types/Query/user.ts
  src/graphql/utils/withQueryMetrics.ts
  test/graphql/types/Query/event.metrics.test.ts
  test/graphql/types/Query/organization.metrics.test.ts
  test/graphql/types/Query/organizations.metrics.test.ts
  test/graphql/types/Query/user.metrics.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/utils/withQueryMetrics.test.ts
Due: integration

fix(test): resolve unhandled promise rejections in metrics tests
  test/graphql/types/Query/event.metrics.test.ts
  test/graphql/types/Query/organizations.metrics.test.ts
  test/graphql/types/Query/user.metrics.test.ts
  test/graphql/utils/withQueryMetrics.test.ts
Due: none

refactor(metrics): add executeWithMetrics inline utility and simplify interface
  docs/docs/auto-docs/graphql/types/Query/organizations/functions/resolveOrganizations.md
  docs/docs/auto-docs/graphql/utils/withQueryMetrics/functions/executeWithMetrics.md
  docs/docs/auto-docs/graphql/utils/withQueryMetrics/functions/withQueryMetrics.md
  docs/docs/auto-docs/graphql/utils/withQueryMetrics/interfaces/WithQueryMetricsOptions.md
  src/graphql/types/Query/event.ts
  src/graphql/types/Query/organizations.ts
  src/graphql/utils/withQueryMetrics.ts
  test/graphql/types/Query/event.metrics.test.ts
Due: integration

test(event): add tests for 100% patch coverage on authorization paths
  test/graphql/types/Query/event.metrics.test.ts
Due: none

test(event): add invite-only generated event test for full coverage
  test/graphql/types/Query/event.metrics.test.ts
Due: none

fix(metrics): validate operationName unconditionally in executeWithMetrics
  src/graphql/utils/withQueryMetrics.ts
  test/graphql/utils/withQueryMetrics.test.ts
Due: integration

fix: address PR reviews (robustness, signals)
  scripts/install/common/logging.sh
  scripts/install/common/test_progress_indicators.sh
Due: none

fix: resolve CodeRabbit review issues and fix biome config
  biome.jsonc
  scripts/install/common/logging.sh
  scripts/install/common/test_progress_indicators.sh
Due: none

tests for pr 3 dataloder
  test/utilities/dataloaders/dataloader.metrics.test.ts
Due: none

test(metrics): standardize ID generation and add regular user admin test
  test/graphql/types/Query/organization.metrics.test.ts
  test/graphql/types/Query/organizations.metrics.test.ts
  test/graphql/types/Query/user.metrics.test.ts
Due: none

fix(metrics-tests): revert to uuidv7 for UUID validation compatibility
  test/graphql/types/Query/organization.metrics.test.ts
  test/graphql/types/Query/organizations.metrics.test.ts
  test/graphql/types/Query/user.metrics.test.ts
Due: none

refactor(metrics-tests): convert to integration tests using mercuriusClient
  test/graphql/types/Query/organization.metrics.test.ts
  test/graphql/types/Query/organizations.metrics.test.ts
  test/graphql/types/Query/user.metrics.test.ts
Due: none

refactor(queries): standardize user.ts to use executeWithMetrics
  src/graphql/types/Query/user.ts
  test/graphql/types/Query/event.metrics.test.ts
Due: integration

fix(user): organize imports to pass biome format check
  src/graphql/types/Query/user.ts
Due: integration

refactor(withQueryMetrics): move validation to wrapper creation time
  src/graphql/utils/withQueryMetrics.ts
Due: integration

test(withQueryMetrics): update tests for creation-time validation
  test/graphql/utils/withQueryMetrics.test.ts
Due: none

test(organization.metrics): add afterEach cleanup hook for robustness
  MAINTAINER_RESPONSE.md
  test/graphql/types/Query/organization.metrics.test.ts
Due: none

refactor(metrics-tests): convert to unit tests with actual perf assertions
  test/graphql/types/Query/organization.metrics.test.ts
  test/graphql/types/Query/user.metrics.test.ts
Due: none

fix(metrics-tests): use UUID format for IDs instead of ULID
  test/graphql/types/Query/organization.metrics.test.ts
  test/graphql/types/Query/user.metrics.test.ts
Due: none

refactor(organization): use executeWithMetrics helper for consistency
  src/graphql/types/Query/organization.ts
Due: integration

Refine GraphQL error handling logic, update Zod imports, and enhance error test assertions
  src/routes/graphql.ts
  src/utilities/errors/errorTransformer.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Mutation/updateChat.test.ts
  test/routes/graphqlErrorValidation.integration.test.ts
  test/routes/graphqlErrorValidation.test.ts
Due: unit

Fix coverage split between unit and integration
  test/graphql/types/gql.tada-cache.d.ts
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: none

test(createEvent): fix notification mocking and improve coverage to 100% (#4851)
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/inputs/MutationCreateEventInputAttachments.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: integration

fix: added cr suggestions
  scripts/setup/setup.ts
Due: none

Add tests for communities table (#4917)
  test/drizzle/tables/communities.test.ts
Due: none

fix: Address CodeRabbit review comments (robustness, signals, CI config)
  biome.jsonc
  biome_plugins/require_escapeHTML.grit
  scripts/install/common/logging.sh
  scripts/install/common/test_progress_indicators.sh
Due: none

fix: CodeRabbit - remove duplicate configuration comments
  biome.jsonc
Due: none

Temp: comment out createChat member test
  test/graphql/types/Mutation/createChat.test.ts
Due: none

Temp: add createChat coverage probe
  src/graphql/types/Mutation/createChat.ts
Due: integration

Temp: amplify createChat coverage probe
  src/graphql/types/Mutation/createChat.ts
Due: integration

Revert "Temp: comment out createChat member test"
  test/graphql/types/Mutation/createChat.test.ts
Due: none
