Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%


flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/helpers/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/school/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

added suggested code
  test/graphql/types/Query/TagsAssignedToUser.test.ts
Due: none

added suggested code
  src/graphql/types/Tag/creator.ts
  test/graphql/types/Query/TagsAssignedToUser.test.ts
  test/graphql/types/Tag/creator.test.ts
Due: integration

feat(db): make sample data loader self-bootstrapping and deterministic
  scripts/dbManagement/__tests__/ensureBootstrapData.test.ts
  scripts/dbManagement/helpers.ts
Due: none

Addressed the feedback
  scripts/dbManagement/__tests__/ensureBootstrapData.test.ts
Due: none

added better code test practices
  test/graphql/types/Query/TagsAssignedToUser.test.ts
Due: none

test(db): add isolated tests for standalone sample data bootstrap
  scripts/dbManagement/__tests__/ensureBootstrapData.test.ts
Due: none

Enhance performance monitoring documentation
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

Replace local exporter endpoints with placeholders
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

test(db): fix envConfig isolation in bootstrap tests
  scripts/dbManagement/__tests__/ensureBootstrapData.test.ts
Due: none

Update performance monitoring documentation
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

deps
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  pnpm-lock.yaml
Due: none

docs: add JSDoc for ensureBootstrapData bootstrap helper
  scripts/dbManagement/helpers.ts
Due: none

Clarified mock cleanup 1770305446 (#5146)
  .coderabbit.yaml
Due: none

PR2: Add CI/CD validation and linting enforcement for unified error handling (#4969)
  .github/workflows/pull-request.yml
  docs/docs/docs/developer-resources/testing/testing-validation.md
  lefthook.yaml
  package.json
  scripts/validate_error_handling.ts
  test/unit/validate_error_handling.test.ts
Due: none

feat: implement unlinkOAuthAccount mutation (#5138)
  src/graphql/types/Mutation/unlinkOAuthAccount.ts
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: integration

Feat/observability extension (#5135)
  docs/docs/auto-docs/config/observability/variables/observabilityConfig.md
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/initTracing.md
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/shutdownTracing.md
  docs/docs/auto-docs/observability/tracing/bootstrap/variables/fastifyOtelInstrumentation.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  package.json
  pnpm-lock.yaml
  scripts/setup/setup.ts
  src/config/observability.ts
  src/observability/tracing.smoke.test.ts
  src/observability/tracing/bootstrap.ts
  test/scripts/setup/setup.test.ts
Due: unit

updated code
  test/graphql/types/Query/TagsAssignedToUser.test.ts
Due: none

docs: add missing @returns tags to JSDoc
  src/utilities/emailVerificationRateLimit.ts
Due: unit

added suggested code
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  test/graphql/types/Query/TagsAssignedToUser.test.ts
Due: none

added suggested code
  scripts/dbManagement/addSampleData.ts
Due: none

docs: regenerate documentation for emailVerificationRateLimit
  docs/docs/auto-docs/utilities/emailVerificationRateLimit/functions/resetEmailVerificationRateLimit.md
  docs/docs/auto-docs/utilities/emailVerificationRateLimit/functions/resetLastCleanupAtForTests.md
Due: none

add: suggestions
  test/helpers/mailpitHelpers.ts
Due: none

apply suggestions
  test/helpers/mailpitHelpers.ts
Due: none

Update mailpitHelpers.ts
  test/helpers/mailpitHelpers.ts
Due: none

fix: updated cr suggestions
  scripts/setup/setup.ts
  test/unit/setup/gracefulCleanup.test.ts
Due: none

suggestions
  src/services/email/EmailProviderFactory.ts
  src/services/email/providers/SMTPProvider.ts
  test/services/email/SMTPProvider.test.ts
Due: unit

refactor: use paginated event discovery to reduce memory pressure and update tests
  src/workers/eventGeneration/jobDiscovery.ts
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: unit

Added additional tests suggested by coderabbit and updated docs
  docs/docs/auto-docs/workers/eventGeneration/jobDiscovery/functions/createDefaultJobDiscoveryConfig.md
  src/workers/eventGeneration/jobDiscovery.ts
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: unit

fix
  src/envConfigSchema.ts
  test/helpers/mailpitHelpers.ts
  test/services/email/SMTPProvider.test.ts
Due: unit

more fix
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/email/EmailProviderFactory/variables/EmailProviderFactory.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/interfaces/SMTPProviderConfig.md
  test/helpers/mailpitHelpers.ts
Due: none

fix multi-batch pagination mocks and timer flakiness
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: none

address CodeRabbit review feedback
  src/workers/eventGeneration/jobDiscovery.ts
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: unit

feat: add shared Zod validators Reusable validators for IDs, dates, pagination with GraphQL/REST helpers. 89 tests included.
  docs/docs/auto-docs/graphql/validators/core/type-aliases/Pagination.md
  docs/docs/auto-docs/graphql/validators/core/variables/coerceDate.md
  docs/docs/auto-docs/graphql/validators/core/variables/createPostInput.md
  docs/docs/auto-docs/graphql/validators/core/variables/email.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventId.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventRangeInput.md
  docs/docs/auto-docs/graphql/validators/core/variables/id.md
  docs/docs/auto-docs/graphql/validators/core/variables/isoDateString.md
  docs/docs/auto-docs/graphql/validators/core/variables/isoDateTimeString.md
  docs/docs/auto-docs/graphql/validators/core/variables/nonEmptyString.md
  docs/docs/auto-docs/graphql/validators/core/variables/orgId.md
  docs/docs/auto-docs/graphql/validators/core/variables/organizationIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/pagination.md
  docs/docs/auto-docs/graphql/validators/core/variables/postId.md
  docs/docs/auto-docs/graphql/validators/core/variables/postIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/postSort.md
  docs/docs/auto-docs/graphql/validators/core/variables/sortOrder.md
  docs/docs/auto-docs/graphql/validators/core/variables/trimmedString.md
  docs/docs/auto-docs/graphql/validators/core/variables/ulid.md
  docs/docs/auto-docs/graphql/validators/core/variables/url.md
  docs/docs/auto-docs/graphql/validators/core/variables/userId.md
  docs/docs/auto-docs/graphql/validators/core/variables/userIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/uuid.md
  docs/docs/auto-docs/graphql/validators/helpers/functions/zParseOrThrow.md
  docs/docs/auto-docs/routes/validation/zodReply/functions/zReplyParsed.md
  src/graphql/validators/core.ts
  src/graphql/validators/helpers.ts
  src/routes/validation/zodReply.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/validators/core.test.ts
  test/graphql/validators/helpers.test.ts
  test/routes/validation/zodReply.test.ts
Due: unit, integration

test(job-discovery): assert per-batch inArray filters for recurrence rules
  docs/docs/auto-docs/workers/eventGeneration/jobDiscovery/functions/createDefaultJobDiscoveryConfig.md
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: none

integrated refactor suggestions
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: none

fix: enforce semantic ISO date validation and correct zReplyParsed return
  docs/docs/auto-docs/graphql/validators/core/type-aliases/Pagination.md
  docs/docs/auto-docs/graphql/validators/core/variables/coerceDate.md
  docs/docs/auto-docs/graphql/validators/core/variables/createPostInput.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventId.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventRangeInput.md
  docs/docs/auto-docs/graphql/validators/core/variables/id.md
  docs/docs/auto-docs/graphql/validators/core/variables/isoDateString.md
  docs/docs/auto-docs/graphql/validators/core/variables/isoDateTimeString.md
  docs/docs/auto-docs/graphql/validators/core/variables/orgId.md
  docs/docs/auto-docs/graphql/validators/core/variables/organizationIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/pagination.md
  docs/docs/auto-docs/graphql/validators/core/variables/postId.md
  docs/docs/auto-docs/graphql/validators/core/variables/postIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/postSort.md
  docs/docs/auto-docs/graphql/validators/core/variables/sortOrder.md
  docs/docs/auto-docs/graphql/validators/core/variables/userId.md
  docs/docs/auto-docs/graphql/validators/core/variables/userIdArg.md
  src/graphql/validators/core.ts
  src/routes/validation/zodReply.ts
  test/graphql/validators/core.test.ts
  test/routes/validation/zodReply.test.ts
Due: unit, integration

fix: improve validator trimming, error messages, and test coverage
  docs/docs/auto-docs/graphql/validators/core/type-aliases/Pagination.md
  docs/docs/auto-docs/graphql/validators/core/variables/coerceDate.md
  docs/docs/auto-docs/graphql/validators/core/variables/createPostInput.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventId.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventRangeInput.md
  docs/docs/auto-docs/graphql/validators/core/variables/id.md
  docs/docs/auto-docs/graphql/validators/core/variables/isoDateString.md
  docs/docs/auto-docs/graphql/validators/core/variables/isoDateTimeString.md
  docs/docs/auto-docs/graphql/validators/core/variables/orgId.md
  docs/docs/auto-docs/graphql/validators/core/variables/organizationIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/pagination.md
  docs/docs/auto-docs/graphql/validators/core/variables/postId.md
  docs/docs/auto-docs/graphql/validators/core/variables/postIdArg.md
  docs/docs/auto-docs/graphql/validators/core/variables/postSort.md
  docs/docs/auto-docs/graphql/validators/core/variables/sortOrder.md
  docs/docs/auto-docs/graphql/validators/core/variables/userId.md
  docs/docs/auto-docs/graphql/validators/core/variables/userIdArg.md
  src/graphql/validators/core.ts
  test/graphql/validators/core.test.ts
  test/routes/validation/zodReply.test.ts
Due: integration

fix: refine validation schemas and enhance tests
  docs/docs/auto-docs/graphql/validators/core/variables/createPostInput.md
  docs/docs/auto-docs/graphql/validators/core/variables/eventRangeInput.md
  src/graphql/validators/core.ts
  test/graphql/validators/core.test.ts
  test/routes/validation/zodReply.test.ts
Due: integration
