Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, install

addressed issue of workflow failures
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

fix: the coderabbit problems
  src/graphql/types/Mutation/adminCreateOnSpotAttendee.ts
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: integration

feat: migrate user profiles and events to MinIO FileMetadataInput
  schema.graphql
  src/graphql/inputs/MutationCreateEventInput.ts
  src/graphql/inputs/MutationUpdateCurrentUserInput.ts
  src/graphql/inputs/MutationUpdateUserInput.ts
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateUser.ts
Due: integration

feat(graphql): migrate user profiles and events attachments to MinIO FileMetadataInput
  schema.graphql
  src/graphql/inputs/MutationCreateEventInput.ts
  src/graphql/inputs/MutationUpdateCurrentUserInput.ts
  src/graphql/inputs/MutationUpdateUserInput.ts
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateUser.ts
Due: integration

docs: regenerate autodocs with exact CI environment settings
  docs/docs/auto-docs/graphql/inputs/MutationCreateEventInput/variables/MutationCreateEventInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateEventInput/variables/mutationCreateEventInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCurrentUserInput/variables/MutationUpdateCurrentUserInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCurrentUserInput/variables/mutationUpdateCurrentUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserInput/variables/MutationUpdateUserInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserInput/variables/mutationUpdateUserInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
Due: none

fix(createEvent): map attachment names accurately to DB
  docs/docs/auto-schema/types/inputs/file-metadata-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-create-event-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-current-user-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-user-input.mdx
  docs/docs/auto-schema/types/scalars/upload.mdx
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: integration

style: fix biome formatting in updateUser.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: none

feat: add declarative auth and validation via Pothos plugin
  package.json
  pnpm-lock.yaml
  src/graphql/builder.ts
  src/graphql/types/Mutation/createUser.ts
  src/graphql/types/Query/user.ts
  src/graphql/types/User/emailAddress.ts
  src/utilities/validation.ts
  test/utilities/validation.test.ts
Due: unit, integration

fix: CI
  src/graphql/builder.ts
  src/graphql/types/Mutation/createUser.ts
  src/graphql/types/Query/user.ts
  src/graphql/types/User/emailAddress.ts
  src/utilities/validation.ts
  test/utilities/validation.test.ts
Due: unit, integration

chore: upgrade nodemailer to v7.0.11 and add integration tests
  package.json
  pnpm-lock.yaml
  test/services/email/SMTPProvider.integration.test.ts
Due: none

Added safety gaurds under failure
  test/services/email/SMTPProvider.integration.test.ts
Due: none

Replaced early returns with ctx.skip() to correctly mark skipped tests in Vitest
  test/services/email/SMTPProvider.integration.test.ts
Due: none

Restored container ID
  .github/workflows/pull-request.yml
Due: none

restore missing id: api-container
  .github/workflows/pull-request.yml
Due: none

Restored container ID 1771764637
  .github/workflows/pull-request.yml
Due: none

Restored container ID 1771766134
  docs/docs/docs/developer-resources/testing/testing-validation.md
  docs/docs/docs/getting-started/operation.md
Due: none

fix(devcontainer): remove github-cli feature causing CI build failure
  .devcontainer/default/devcontainer.json
Due: none

refactor: refine user avatar tests and enhance event attachment handling
  src/drizzle/tables/eventAttachments.ts
  src/graphql/types/Mutation/createEvent.ts
  test/drizzle/tables/eventAttachments.test.ts
  test/graphql/inputs/MutationCreateEventInputAttachments.test.ts
  test/graphql/types/EventAttendee/event.test.ts
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/documentNodes.ts
Due: integration

fix: remove biome-ignore comments and fix unsafe casting in tests
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
Due: none

refactor: address PR review feedback for type-safe error handling and deterministic tests
  src/drizzle/tables/eventAttachments.ts
  src/graphql/types/Mutation/createEvent.ts
  test/drizzle/tables/eventAttachments.test.ts
  test/graphql/types/EventAttendee/event.test.ts
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/documentNodes.ts
Due: integration

docs: regenerate GraphQL documentation
  docs/docs/auto-docs/drizzle/tables/eventAttachments/variables/eventAttachmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventAttachments/variables/eventAttachmentsTableRelations.md
  docs/docs/auto-docs/graphql/types/EventAttachment/EventAttachment/variables/EventAttachment.md
Due: none

test: align event and user tests with FileMetadataInput and minio statObject approach
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: none

feat: rerun
  .gitignore
Due: none

fix(ci): provide API_JWT_SECRET to test container and serverTiming tests
  docker/compose.testing.yaml
  test/routes/rest/serverTiming.test.ts
Due: none

feat(logging): conditionally enable pino-pretty based on environment variables
  src/utilities/logging/logger.ts
Due: unit

docs: added auto docs
  docs/docs/auto-docs/utilities/logging/logger/functions/withFields.md
  docs/docs/auto-docs/utilities/logging/logger/variables/loggerOptions.md
  docs/docs/auto-docs/utilities/logging/logger/variables/rootLogger.md
Due: none

chore(test): fix typescript definitions and biome formatting in minio statObject mocks
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: none

chore: revert out-of-scope files and add missing drizzle migration
  .devcontainer/default/devcontainer.json
  .github/workflows/pull-request.yml
  docs/docs/docs/developer-resources/testing/testing-validation.md
  docs/docs/docs/getting-started/operation.md
  drizzle_migrations/20260223175617_nostalgic_giant_girl.sql
  drizzle_migrations/meta/20260223175617_snapshot.json
  drizzle_migrations/meta/_journal.json
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/Query/getVolunteerMembership.test.ts
  test/services/email/SMTPProvider.integration.test.ts
Due: none

chore: align statObject error handling to canonical PR pattern and restore deleted test coverage
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateUser.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
Due: integration

chore: remove explicit any cast in createEvent tests
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

fix: correct FileMetadataInput test values - use valid SHA-256 hashes and enum-compatible mimeTypes
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: none

fix: use GraphQL enum keys (IMAGE_PNG, IMAGE_JPEG, VIDEO_MP4) instead of MIME strings in test inputs
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: none

fix: resolve remaining test failures across shards 1, 5, and 12
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: none

chore: add explicit DB migration step to CI test workflow
  .github/workflows/pull-request.yml
Due: none

test: enhance logger configuration tests for pino-pretty, transport disabling, and custom log levels.
  test/utilities/logger.coverage.test.ts
Due: none

adress coderabbit suggestions
  envFiles/.env.devcontainer
  envFiles/.env.production
  scripts/setup/setup.ts
Due: none

self-authored messages from unread count
  src/graphql/types/Mutation/createChatMessage.ts
  test/graphql/types/Chat/Chat.test.ts
Due: integration

adress cr suggestions
  envFiles/.env.devcontainer
  envFiles/.env.production
  scripts/setup/setup.ts
Due: none

adress minor cr sugggestions
  envFiles/.env.devcontainer
  envFiles/.env.production
Due: none

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
  install: any of: scripts/install/
