Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

test: add cleanup to delete created users in natalSex tests
  test/graphql/types/User/natalSex.test.ts
Due: none

test: add coverage for self-access to natalSex by regular user
  test/graphql/types/User/natalSex.test.ts
Due: none

Add tests for User natalSex field resolver
  test/graphql/types/User/natalSex.test.ts
  test/graphql/types/documentNodes.ts
Due: none

style: fix biome formatting in resolver files
  src/graphql/types/Mutation/createAdvertisement.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createVenue.ts
  src/graphql/types/Mutation/updateCommunity.ts
  src/graphql/types/Mutation/updateVenue.ts
Due: integration

fix: add proper error handling to empty catch blocks
  src/graphql/types/Mutation/updateCommunity.ts
  test/graphql/types/Mutation/createVenue.test.ts
  test/graphql/types/Mutation/updateVenue.test.ts
Due: integration

feat(auth): add password (argon2id) and JWT (jose) services for REST auth (PR 2a)
  docs/docs/auto-docs/services/auth/password/functions/hashPassword.md
  docs/docs/auto-docs/services/auth/password/functions/verifyPassword.md
  docs/docs/auto-docs/services/auth/tokens/functions/signAccessToken.md
  docs/docs/auto-docs/services/auth/tokens/functions/signRefreshToken.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/AccessClaims.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/RefreshClaims.md
  package.json
  pnpm-lock.yaml
  src/services/auth/index.ts
  src/services/auth/password.ts
  src/services/auth/tokens.ts
  test/services/auth/password.test.ts
  test/services/auth/tokens.test.ts
Due: unit

docs: regenerate documentation for modified input types
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/MutationCreateAdvertisementInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/MutationCreateOrganizationInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/MutationCreateVenueInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/MutationUpdateCommunityInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/mutationUpdateCommunityInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/MutationUpdateVenueInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
Due: none

feat: update mutation to support updation of item notes
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-schema/operations/queries/user-tags.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-item-input.mdx
  schema.graphql
  src/graphql/inputs/MutationUpdateAgendaItemInput.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

adress cr suggestions
  docs/docs/auto-docs/services/auth/tokens/functions/signAccessToken.md
  docs/docs/auto-docs/services/auth/tokens/functions/signRefreshToken.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/AccessClaims.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/RefreshClaims.md
  knip.json
  package.json
  scripts/setup/setup.ts
  src/services/auth/password.ts
  src/services/auth/tokens.ts
  test/services/auth/password.test.ts
  test/services/auth/tokens.test.ts
Due: unit

docs: regenerate documentation using WSL for Linux compatibility
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/MutationCreateAdvertisementInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/MutationCreateOrganizationInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/MutationCreateVenueInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/MutationUpdateCommunityInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/mutationUpdateCommunityInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/MutationUpdateVenueInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
Due: none

fix failing checks
  package.json
Due: none

address cr suggestions
  docs/docs/auto-docs/services/auth/password/functions/hashPassword.md
  docs/docs/auto-docs/services/auth/password/functions/verifyPassword.md
  docs/docs/auto-docs/services/auth/tokens/functions/signAccessToken.md
  docs/docs/auto-docs/services/auth/tokens/functions/signRefreshToken.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/AccessClaims.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/RefreshClaims.md
  scripts/setup/setup.ts
  src/services/auth/password.ts
  src/services/auth/tokens.ts
  test/services/auth/tokens.test.ts
Due: unit

fix format
  .devcontainer/devcontainer.json
  src/createServer.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: unit

docs: regenerate autodocs with exact CI environment settings (LF)
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/MutationCreateAdvertisementInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/MutationCreateOrganizationInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/MutationCreateVenueInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/MutationUpdateCommunityInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/mutationUpdateCommunityInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/MutationUpdateVenueInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
Due: none

adress cr suggestions
  docs/docs/auto-docs/services/auth/tokens/functions/signAccessToken.md
  docs/docs/auto-docs/services/auth/tokens/functions/signRefreshToken.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/AccessClaims.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/RefreshClaims.md
  package.json
  src/services/auth/tokens.ts
  test/services/auth/tokens.test.ts
  vitest.unit.config.ts
Due: unit

fix failing test
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  test/graphql/types/gql.tada.d.ts
Due: none

docs: regenerate specific documentation files for CI compatibility
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/MutationCreateAdvertisementInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/MutationCreateOrganizationInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/MutationCreateVenueInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/MutationUpdateCommunityInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/mutationUpdateCommunityInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/MutationUpdateVenueInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
Due: none

revert unrelated files
  .devcontainer/devcontainer.json
  src/createServer.ts
Due: unit

update schema.gql
  schema.graphql
Due: none

gen docs
  docs/docs/auto-schema/operations/queries/user-tags.mdx
Due: none

docs: regenerate autodocs with verified LF line endings and post-processing
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/MutationCreateAdvertisementInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/MutationCreateOrganizationInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/MutationCreateVenueInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/MutationUpdateCommunityInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/mutationUpdateCommunityInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/MutationUpdateVenueInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
Due: none

address cr suggestions
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  src/services/auth/tokens.ts
  test/services/auth/tokens.test.ts
Due: unit

adress cr suggestion
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  src/services/auth/tokens.ts
Due: unit

adress trivial suggestion
  docs/docs/auto-docs/services/auth/tokens/type-aliases/AccessClaims.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/RefreshClaims.md
  src/services/auth/tokens.ts
  test/services/auth/tokens.test.ts
Due: unit

fix: comprehensive FileMetadataInput migration fixes
  src/graphql/inputs/MutationCreateAdvertisementInput.ts
  src/graphql/inputs/MutationCreateVenueInput.ts
  src/graphql/inputs/MutationUpdateVenueInput.ts
  src/graphql/types/Mutation/createAdvertisement.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createVenue.ts
  src/graphql/types/Mutation/updateCommunity.ts
  src/graphql/types/Mutation/updateVenue.ts
  test/graphql/inputs/MutationCreateAdvertisementInputAttachments.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createVenue.test.ts
  test/graphql/types/Mutation/updateCommunity.test.ts
  test/graphql/types/Mutation/updateVenue.test.ts
Due: integration

style: fix Biome formatting (tabs instead of spaces)
  src/graphql/types/Mutation/createAdvertisement.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createVenue.ts
  src/graphql/types/Mutation/updateCommunity.ts
  src/graphql/types/Mutation/updateVenue.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createVenue.test.ts
  test/graphql/types/Mutation/updateCommunity.test.ts
  test/graphql/types/Mutation/updateVenue.test.ts
Due: integration

test(updateSingleRecurringEventInstance): enhance test setup and add admin token retrieval (#5163)
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
Due: none

address cr suggestions
  test/services/auth/tokens.test.ts
  vitest.unit.config.ts
Due: none

feat(auth): persist, revoke, validate refresh tokens via refreshStore (SHA256)
  docs/docs/auto-docs/services/auth/refreshStore/functions/isRefreshTokenValid.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/persistRefreshToken.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/revokeRefreshToken.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/sha256.md
  docs/docs/auto-docs/services/auth/refreshStore/interfaces/PersistRefreshTokenParams.md
  src/services/auth/refreshStore.ts
  test/services/auth/refreshStore.test.ts
Due: unit

test: remove shared auth token and fetch auth per test
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: none

adress cr suggestions
  docs/docs/auto-docs/services/auth/refreshStore/functions/isRefreshTokenValid.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/persistRefreshToken.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/revokeRefreshToken.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/sha256.md
  docs/docs/auto-docs/services/auth/refreshStore/interfaces/PersistRefreshTokenParams.md
  src/services/auth/refreshStore.ts
  test/services/auth/refreshStore.test.ts
Due: unit

fix format
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: none

address CR suggestions
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: none

adress cr suggestion
  docs/docs/auto-docs/services/auth/password/functions/hashPassword.md
  docs/docs/auto-docs/services/auth/password/functions/verifyPassword.md
  src/services/auth/password.ts
Due: unit

Added new CR cleanup rules 1770510866
  .coderabbit.yaml
  .coderabbit/ast-grep-rules/test-cleanup.yml
Due: none

feat: Update gql mutation to support updating agenda item notes. (#5167)
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInputSchema.md
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-item-input.mdx
  schema.graphql
  src/graphql/inputs/MutationUpdateAgendaItemInput.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

adress cr suggestions
  docs/docs/auto-docs/services/auth/refreshStore/functions/isRefreshTokenValid.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/persistRefreshToken.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/revokeRefreshToken.md
  src/services/auth/refreshStore.ts
  test/services/auth/refreshStore.test.ts
Due: unit

Added new CR cleanup rules 1770511246
  .coderabbit/ast-grep-rules/test-cleanup.yml
Due: none

adress cr suggestions
  test/services/auth/refreshStore.test.ts
Due: none

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/helpers/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/school/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
