Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

address all the cr suggestions
  docs/docs/docs/getting-started/operation.md
  scripts/dbManagement/generateRecurringInstances.cjs
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/recurrenceCommon.cjs
  scripts/dbManagement/recurrenceCommon.cjs.d.ts
  scripts/dbManagement/recurrenceCommon.ts
  scripts/dbManagement/sample_data/SAMPLE_DATA.md
  scripts/dbManagement/syncLatestInstanceDates.cjs
  test/graphql/types/Query/Events.test.ts
  test/scripts/dbManagement/helpers.test.ts
  test/unit/dbManagement/generateRecurringInstances.test.ts
  vitest.config.ts
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: none

address cr suggestions
  scripts/install/common/logging.sh
  scripts/install/common/logging.test.sh
Due: none

fix mock isolation
  docker/api.Containerfile
  scripts/dbManagement/syncLatestInstanceDates.cjs
Due: none

feat(install): logging spinner, timer, and timing summary (#4964)
  scripts/install/common/logging.sh
  scripts/install/common/logging.test.sh
Due: none

fix failing tests
  vitest.unit.config.ts
Due: none

style: fix linting formatting via biome
  package.json
  pnpm-lock.yaml
  src/drizzle/tables/tagAssignments.ts
  src/graphql/types/Tag/assignees.ts
  test/drizzle/tables/tagAssignments.test.ts
Due: integration

fix test shrad 6
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: none

test: resolve all coderabbit reviews (constraints, cleanup, and coverage)
  test/drizzle/tables/tagAssignments.test.ts
Due: none

fix: resolve import error and add cascade options
  src/drizzle/tables/tagAssignments.ts
Due: integration

fix: enforce uuid validation in zod schema
  src/drizzle/tables/tagAssignments.ts
  test/drizzle/tables/tagAssignments.test.ts
Due: integration

fix: add missing test coverage and cleanup schema
  src/drizzle/tables/tagAssignments.ts
  test/drizzle/tables/tagAssignments.test.ts
Due: integration

feat(sample-data): add recurring event template sample data (PR2)
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/recurring_event_templates.json
  test/scripts/dbManagement/addSampleData.test.ts
  test/scripts/dbManagement/helpers.test.ts
Due: none

test(notificationTemplates): add comprehensive tests for table schema, relations, and database operations
  test/drizzle/tables/NotificationTemplate.test.ts
Due: none

fix: cr suggestions added
  scripts/setup/setup.ts
Due: none

address coderabbit suggestion
  scripts/dbManagement/helpers.ts
  test/scripts/dbManagement/helpers.test.ts
Due: none

test(notificationTemplates): enhance table schema validation and relationships tests
  test/drizzle/tables/NotificationTemplate.test.ts
Due: none

fix cr suggestion
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/recurring_event_templates.json
  test/scripts/dbManagement/helpers.test.ts
Due: none

test(drizzle): add comments table tests for full coverage
  test/drizzle/tables/comments.test.ts
Due: none

fix: implmented code rabbit suggestion
  test/drizzle/tables/actionItemCategories.test.ts
Due: none

style: remove temporary comments
  src/drizzle/tables/tagAssignments.ts
Due: integration

fix: improve test coverage and remove fix comments
  test/drizzle/tables/tagAssignments.test.ts
Due: none

fix: types checks and Some Bugs
  src/createServer.ts
  src/graphql/types/EventAttendee/event.ts
  test/graphql/types/EventAttendee/event.test.ts
Due: unit, integration

fix:format fixes
  src/createServer.ts
  test/graphql/types/EventAttendee/event.test.ts
Due: unit

fix: import and timing assertion
  test/graphql/types/EventAttendee/event.test.ts
Due: none

feat: add CI/CD validation for unified error handling
  .github/workflows/pull-request.yml
  lefthook.yaml
  package.json
  scripts/validate_error_handling.ts
  test/unit/validate_error_handling.test.ts
Due: none

Test: Add comprehensive tests for NotificationTemplate.ts to achieve 100% code coverage (#4965)
  test/drizzle/tables/NotificationTemplate.test.ts
Due: none

feat: enhance error handling validation and add CLI entry point
  scripts/validate_error_handling.ts
  test/unit/validate_error_handling.test.ts
Due: none

fixed improper catch handling
  scripts/validate_error_handling.ts
Due: none

refactor(tests): clean up imports and improve mock implementations in setup tests
  test/installation_scripts/setup/administratorEmail.test.ts
  test/installation_scripts/setup/cloudbeaverSetup.test.ts
  test/installation_scripts/setup/envSetup.test.ts
  test/installation_scripts/setup/error-handling.test.ts
  test/installation_scripts/setup/minioSetup.test.ts
  test/installation_scripts/setup/postgresSetup.test.ts
  test/installation_scripts/setup/setup.test.ts
  test/installation_scripts/setup/updateEnvVariable.test.ts
Due: none

test(drizzle): add comments table tests for full coverage (#4967)
  test/drizzle/tables/comments.test.ts
Due: none

test: added tests for src/drizzle/tables/actionItemCategories.ts (#4955)
  test/drizzle/tables/actionItemCategories.test.ts
Due: none

feat(tests): enhance installation scripts tests with environment variable handling and error logging
  .github/workflows/pull-request.yml
  scripts/dbManagement/helpers.ts
  test/installation_scripts/setup/administratorEmail.test.ts
  test/installation_scripts/setup/cloudbeaverSetup.test.ts
  test/installation_scripts/setup/minioSetup.test.ts
  test/installation_scripts/setup/postgresSetup.test.ts
  test/installation_scripts/setup/updateEnvVariable.test.ts
Due: none

Revert "Revert "fix(devcontainer): ensure setup is non-interactive (#4928)" (…"
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

Revert "Revert "fix(devcontainer): ensure setup is non-interactive (#4928)" (…" (#4970)
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

feat: improve error handling and validation in ErrorHandlingValidator
  scripts/validate_error_handling.ts
  test/unit/validate_error_handling.test.ts
Due: none

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/helpers/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/school/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
