Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, install

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%
      install:
        target: 95%
        threshold: 1%
        flags:
          - install

# Fix paths from bashcov cobertura output (GitHub Actions workspace)
fixes:
  - "/home/runner/work/talawa-api/talawa-api/::"


flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
  install:
    carryforward: false
    paths:
      - scripts/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

test(user): add integration tests for User.maritalStatus field
  docs/docs/auto-docs/graphql/types/User/maritalStatus/functions/maritalStatusResolver.md
  src/graphql/types/User/maritalStatus.ts
  test/graphql/types/User/maritalStatus.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: integration

fix(setup): avoid silent env overwrite; add envFileManager tests
  scripts/setup/envFileManager.ts
  test/unit/setup/envFileManager.test.ts
Due: none

fix(setup): prevent empty template from wiping .env; rename test
  scripts/setup/envFileManager.ts
  test/unit/setup/envFileManager.test.ts
Due: none

feat: Add mutation to support password updates from profile. (#5223)
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserPasswordInput/variables/MutationUpdateUserPasswordInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserPasswordInput/variables/mutationUpdateUserPasswordInputSchema.md
  docs/docs/auto-schema/operations/mutations/update-user-password.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-user-password-input.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/inputs/MutationUpdateUserPasswordInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/updateUserPassword.ts
  test/graphql/inputs/MutationUpdateUserPasswordInput.test.ts
  test/graphql/types/Mutation/updateUserPassword.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

test(setup): increase AtomicEnvWriter error-path coverage
  test/unit/setup/AtomicEnvWriter.test.ts
Due: none

fix: remove ANSI color codes from test files (#4946)
  tests/install/common/os-detection.test.sh
  tests/install/common/package-manager.test.sh
  tests/install/common/validation.test.sh
  tests/install/macos/install-macos.test.sh
Due: none

fix: wrap restoreBackup in try/catch and add missing envFileManager tests
  scripts/setup/envFileManager.ts
  test/unit/setup/AtomicEnvWriter.test.ts
  test/unit/setup/envFileManager.test.ts
Due: none

chore: update docs
  scripts/setup/AtomicEnvWriter.ts
Due: none

chore: update comments
  scripts/setup/AtomicEnvWriter.ts
Due: none

fix code quality
  .github/workflows/pull-request.yml
Due: none

fixes(user): fixes suggested by coderabbitai applied to maritalStatus.test.ts
  test/graphql/types/User/maritalStatus.test.ts
Due: none

fix coderabbitai suggestions
  .github/workflows/pull-request.yml
Due: none

fix ci
  .github/workflows/pull-request.yml
Due: none

added dynamic version extraction to rootless devcontainer setup
  .devcontainer/rootless/post-create.sh
  .github/workflows/pull-request.yml
  docker/api.Containerfile
Due: none

change pull-request.yml
  .github/workflows/pull-request.yml
Due: none

fixes(user): fixes suggested by coderabbitai applied to maritalStatus.test.ts
  docs/docs/auto-docs/graphql/types/User/maritalStatus/functions/maritalStatusResolver.md
  src/graphql/types/User/maritalStatus.ts
  test/graphql/types/User/maritalStatus.test.ts
  tsconfig.json
Due: integration

fixes: removed tsconfig file by mistake
  tsconfig.json
Due: none

fixes: back to old code I wrote, this includes unit-tests, we dont need them
  test/graphql/types/User/maritalStatus.test.ts
Due: none

refactor(setup): centralize env file management via envFileManager (#5224)
  scripts/setup/AtomicEnvWriter.ts
  scripts/setup/envFileManager.ts
  scripts/setup/setup.ts
  scripts/setup/updateEnvVariable.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/setup/AtomicEnvWriter.test.ts
  test/unit/setup/envFileManager.test.ts
  test/unit/setup/updateEnvVariableWrapper.test.ts
Due: none

feat(routes): add zReplyParsed validation helper and auth validators (#5147)
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/MutationSignUpInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/mutationSignUpInputSchema.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/RefreshBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignInBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignUpBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/refreshBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signInBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signUpBody.md
  docs/docs/auto-docs/routes/validation/zodReply/functions/zReplyParsed.md
  docs/docs/auto-docs/utilities/auth/constants/variables/NAME_MAX_LENGTH.md
  docs/docs/auto-docs/utilities/auth/constants/variables/PASSWORD_MAX_LENGTH.md
  docs/docs/auto-docs/utilities/auth/constants/variables/PASSWORD_MIN_LENGTH.md
  src/graphql/inputs/MutationSignUpInput.ts
  src/routes/README.md
  src/routes/auth/validators.ts
  src/routes/validation/zodReply.ts
  src/utilities/auth/constants.ts
  test/graphql/types/Mutation/updateAdvertisement.test.ts
  test/routes/auth/validators.test.ts
  test/routes/validation/zodReply.test.ts
Due: unit, integration

fix format
  src/graphql/types/Mutation/adminUpdateUserPassword.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

feat: add mutation to support password update
  schema.graphql
  src/graphql/inputs/MutationAdminUpdateUserPasswordInput.ts
  src/graphql/inputs/MutationUpdateUserInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/adminUpdateUserPassword.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/updateUser.ts
Due: integration

address CR suggestions
  test/graphql/types/Mutation/adminUpdateUserPassword.test.ts
Due: none

address CR suggestions
  schema.graphql
  src/graphql/types/Mutation/adminUpdateUserPassword.ts
Due: integration

add error handling
  test/graphql/types/Mutation/adminUpdateUserPassword.test.ts
Due: none

fix failing test
  test/graphql/types/Mutation/adminUpdateUserPassword.test.ts
Due: none

test: add tests
  src/graphql/types/Mutation/adminUpdateUserPassword.ts
  test/graphql/inputs/MutationAdminUpdateUserPasswordInput.test.ts
  test/graphql/types/Mutation/adminUpdateUserPassword.test.ts
  test/graphql/types/documentNodes.ts
Due: integration

gen docs and fix test
  docs/docs/auto-docs/graphql/inputs/MutationAdminUpdateUserPasswordInput/variables/MutationAdminUpdateUserPasswordInput.md
  docs/docs/auto-docs/graphql/inputs/MutationAdminUpdateUserPasswordInput/variables/mutationAdminUpdateUserPasswordInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserInput/variables/MutationUpdateUserInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserInput/variables/mutationUpdateUserInputSchema.md
  docs/docs/auto-schema/operations/mutations/admin-update-user-password.mdx
  docs/docs/auto-schema/types/inputs/mutation-admin-update-user-password-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-user-input.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  test/graphql/types/Mutation/updateUser.test.ts
Due: none

test: add test to inc coverage
  test/graphql/types/Mutation/adminUpdateUserPassword.test.ts
Due: none

fix tests and enable admins to update another admin’s password
  src/graphql/types/Mutation/adminUpdateUserPassword.ts
  test/graphql/types/Mutation/adminUpdateUserPassword.test.ts
Due: integration

address CR suggstions
  test/graphql/types/Mutation/adminUpdateUserPassword.test.ts
Due: none

add cleanup
  test/graphql/types/Mutation/updateUser.test.ts
Due: none

feat: add rate limiting to updateUserPassword mutation (#5226)
  schema.graphql
  src/graphql/types/Mutation/updateUserPassword.ts
  src/utilities/passwordChangeRateLimit.ts
  test/graphql/types/Mutation/updateUserPassword.test.ts
  test/utilities/passwordChangeRateLimit.test.ts
Due: unit, integration

feat: add rate limiting to updateUserPassword mutation (#5226)
  src/graphql/types/Mutation/updateUserPassword.ts
  src/utilities/passwordChangeRateLimit.ts
  test/utilities/passwordChangeRateLimit.test.ts
Due: unit, integration

feat: add rate limiting to updateUserPassword mutation (#5226)
  src/graphql/types/Mutation/updateUserPassword.ts
Due: integration
