Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%


flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/helpers/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/school/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

- Add empty array guard in standaloneEventQueries- Update eventsByAttendee limit schema for consistency- Improve eventsByVolunteer test reliability- Add test coverage and documentation changes
  src/graphql/types/Query/eventQueries/standaloneEventQueries.ts
  src/graphql/types/Query/eventsByAttendee.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/unit/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
Due: integration

fix(install): add argument validation to run_idempotent function
  scripts/install/common/error-handling.sh
  scripts/install/common/error-handling.test.sh
Due: none

test: use deterministic instance selection in eventsByAttendee
  test/graphql/types/Query/eventsByAttendee.test.ts
Due: none

fix(scripts): validate empty key in run_idempotent and improve Windows test robustness
  scripts/install/common/error-handling.sh
  scripts/install/common/error-handling.test.sh
Due: none

fix(test): correct windowManager idempotent behavior test mock setup
  test/services/eventInstanceGeneration/windowManager.test.ts
Due: none

style(test): improve variable declaration consistency in shell tests
  scripts/install/common/error-handling.test.sh
Due: none

fix: add missing agenda folder/category creation from upstream merge
  src/graphql/types/Mutation/createEvent.ts
Due: integration

test: remove color codes from test output for better CI readability
  scripts/install/common/error-handling.test.sh
Due: none

fix: remove orphan drizzle migration and fix formatting
  drizzle_migrations/20260122074450_living_edwin_jarvis.sql
  drizzle_migrations/meta/20260122074450_snapshot.json
  src/graphql/types/Mutation/createEvent.ts
  test/services/eventInstanceGeneration/windowManager.test.ts
Due: integration

fix: address code review feedback
  drizzle_migrations/20260122103127_fix_egw_unique_constraint.sql
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
Due: integration

address CR suggestions
  src/graphql/types/Mutation/createEvent.ts
Due: integration

docs: update auto-generated documentation for createEvent mutation
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
Due: none

fix: revert unique constraint migration to standard DROP/ADD strategy to resolve CI error
  drizzle_migrations/20260122103127_fix_egw_unique_constraint.sql
  drizzle_migrations/20260122172258_shiny_living_mummy.sql
  drizzle_migrations/meta/20260122172258_snapshot.json
  drizzle_migrations/meta/_journal.json
  test/graphql/types/gql.tada-cache.d.ts
Due: none

add test to test minio upload
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

fix: address code review feedback and improve coverage
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
Due: integration

address CR suggestion
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

edge test cases for commentVotes
  test/drizzle/tables/commentVotes.test.ts
Due: none

fix: update createEvent test assertions and fix flaky metrics tests
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
Due: none

address CR suggestion n fix test
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

fix: resolve createEvent upload promise bug and refine tests
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
Due: integration

refactor: improve error handling for upload failures and refine metrics test robustness
  docs/docs/auto-docs/utilities/TalawaGraphQLError/classes/TalawaGraphQLError.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/TalawaGraphQLErrorExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/TalawaGraphQLFormattedError.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/UploadFailedExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/variables/defaultTalawaGraphQLErrorMessages.md
  src/graphql/types/Mutation/createEvent.ts
  src/utilities/TalawaGraphQLError.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
Due: unit, integration

fix(tests): simplify createEvent upload failure test
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

test(createEvent): add null payload assertion for upload failure test
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

fix(test): use toBeFalsy() for null payload assertion
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

add test to inc coverage
  test/graphql/types/Mutation/createEvent.test.ts
Due: none

fix minio upload logic n update test to inc coverage
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: integration

added tests for src/drizzle/tables/posts.ts for 100% coverage (#4846)
  test/drizzle/tables/agendaItemUrl.test.ts
  test/drizzle/tables/posts.test.ts
Due: none

fix: flaky metrics tests and optimize createUser avatar upload logic
  src/graphql/types/Mutation/createUser.ts
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
Due: integration

fix: robust metrics snapshot assertions in test files
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
Due: none

Added test coverage for src/drizzle/tables/venueAttachments.ts (#4855)
  test/drizzle/tables/venueAttachments.test.ts
Due: none

fix: correct snapshot slicing logic for prepended snapshots in createUser test
  test/graphql/types/Mutation/createUser.metrics.test.ts
Due: none

fix: flaky metrics tests, optimize mutations, and improve test coverage
  drizzle_migrations/20260122103127_fix_egw_unique_constraint.sql
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createUser.ts
  test/services/eventInstanceGeneration/windowManager.test.ts
Due: integration

fix: improve type safety and test determinism in event queries
  src/graphql/types/Query/eventsByAttendee.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: integration

test: add coverage for FundCampaignPledge creator field (#3035)
  docs/docs/auto-docs/graphql/types/FundCampaignPledge/creator/functions/resolveCreator.md
  src/graphql/types/FundCampaignPledge/creator.ts
  test/graphql/types/FundCampaignPledge/creator.test.ts
Due: integration
