Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, install

feat: add rate limiting to updateUserPassword mutation (#5226)
  src/utilities/passwordChangeRateLimit.ts
Due: unit

feat: add cache invalidation to mutation resolvers
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  docs/docs/auto-docs/services/caching/invalidation/functions/invalidateEntity.md
  docs/docs/auto-docs/services/caching/invalidation/functions/invalidateEntityLists.md
  docs/docs/auto-docs/services/metrics/metricsCacheProxy/functions/metricsCacheProxy.md
  docs/docs/auto-schema/operations/mutations/update-user-password.mdx
  schema.graphql
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/deletePost.ts
  src/graphql/types/Mutation/deleteStandaloneEvent.ts
  src/graphql/types/Mutation/deleteUser.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateOrganization.ts
  src/graphql/types/Mutation/updatePost.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateUser.ts
  src/services/caching/invalidation.ts
  src/services/metrics/metricsCacheProxy.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: unit, integration

test: add cache mock to updateOrganization unit test context
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
Due: none

fix: make cache invalidation best-effort in mutation resolvers
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/deletePost.ts
  src/graphql/types/Mutation/deleteStandaloneEvent.ts
  src/graphql/types/Mutation/deleteUser.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateOrganization.ts
  src/graphql/types/Mutation/updatePost.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateUser.ts
Due: integration

refactor: use Promise.allSettled for concurrent cache invalidation
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/deletePost.ts
  src/graphql/types/Mutation/deleteStandaloneEvent.ts
  src/graphql/types/Mutation/deleteUser.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateOrganization.ts
  src/graphql/types/Mutation/updatePost.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateUser.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
Due: integration

fix: improve cache invalidation reliability and logging
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/deletePost.ts
  src/graphql/types/Mutation/deleteStandaloneEvent.ts
  src/graphql/types/Mutation/deleteUser.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateOrganization.ts
  src/graphql/types/Mutation/updatePost.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateUser.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
Due: integration

fix: standardize cache invalidation logging + harden metrics cache proxy
  docs/docs/auto-docs/services/metrics/metricsCacheProxy/functions/metricsCacheProxy.md
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/deletePost.ts
  src/graphql/types/Mutation/deleteStandaloneEvent.ts
  src/graphql/types/Mutation/deleteUser.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateOrganization.ts
  src/graphql/types/Mutation/updatePost.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateUser.ts
  src/services/metrics/metricsCacheProxy.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: unit, integration

refactor: standardize cache invalidation and improve tests
  docs/docs/auto-docs/graphql/utils/runBestEffortInvalidation/functions/runBestEffortInvalidation.md
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/deletePost.ts
  src/graphql/types/Mutation/updateOrganization.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/utils/runBestEffortInvalidation.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: integration

test: improve clearByPattern assertions and update JSDoc
  docs/docs/auto-docs/services/caching/invalidation/functions/invalidateEntity.md
  docs/docs/auto-docs/services/caching/invalidation/functions/invalidateEntityLists.md
  src/services/caching/invalidation.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: unit

refactor(cache): use runBestEffortInvalidation
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  docs/docs/auto-docs/graphql/utils/runBestEffortInvalidation/functions/runBestEffortInvalidation.md
  src/graphql/types/Mutation/deleteUser.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updatePost.ts
  src/graphql/types/Mutation/updateUser.ts
  src/graphql/utils/runBestEffortInvalidation.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
Due: integration

refactor(cache): migrate mutations + graceful clearByPattern
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/routes/graphql/functions/extractZodMessage.md
  docs/docs/auto-docs/routes/graphql/functions/getPublicErrorMessage.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/services/metrics/metricsCacheProxy/functions/metricsCacheProxy.md
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/deleteStandaloneEvent.ts
  src/routes/graphql.ts
  src/services/metrics/metricsCacheProxy.ts
  test/graphql/utils/runBestEffortInvalidation.test.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: unit, integration

fix(graphql): guard request.log.* in auth catch blocks
  docs/docs/auto-docs/routes/graphql/functions/extractZodMessage.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  src/routes/graphql.ts
Due: unit

address CR suggetions
  src/graphql/types/Mutation/adminUpdateUserPassword.ts
  test/graphql/types/Mutation/adminUpdateUserPassword.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: integration

gen docs
  docs/docs/auto-schema/operations/mutations/admin-update-user-password.mdx
Due: none

feat: add rate limiting to updateUserPassword mutation (#5226)
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/checkPasswordChangeRateLimit.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/consumePasswordChangeRateLimit.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/resetLastCleanupAtForTests.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/functions/resetPasswordChangeRateLimit.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/variables/CLEANUP_INTERVAL_MS.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/variables/MAX_REQUESTS_PER_WINDOW.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/variables/PASSWORD_CHANGE_RATE_LIMITS.md
  docs/docs/auto-docs/utilities/passwordChangeRateLimit/variables/RATE_LIMIT_WINDOW_MS.md
  docs/docs/auto-schema/operations/mutations/update-user-password.mdx
Due: none

gen docs
  schema.graphql
Due: none

Fixed invalid avatarName
  scripts/dbManagement/sample_data/users.json
Due: none

feat: add rate limiting to updateUserPassword mutation (#5226)
  test/graphql/types/Mutation/updateUserPassword.test.ts
Due: none

Fixed invalid avatarName (#5235)
  scripts/dbManagement/sample_data/users.json
Due: none

feat: Adds a mutation to support updating a user’s password by an admin. (#5230)
  docs/docs/auto-docs/graphql/inputs/MutationAdminUpdateUserPasswordInput/variables/MutationAdminUpdateUserPasswordInput.md
  docs/docs/auto-docs/graphql/inputs/MutationAdminUpdateUserPasswordInput/variables/mutationAdminUpdateUserPasswordInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserInput/variables/MutationUpdateUserInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserInput/variables/mutationUpdateUserInputSchema.md
  docs/docs/auto-schema/operations/mutations/admin-update-user-password.mdx
  docs/docs/auto-schema/types/inputs/mutation-admin-update-user-password-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-user-input.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/inputs/MutationAdminUpdateUserPasswordInput.ts
  src/graphql/inputs/MutationUpdateUserInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/adminUpdateUserPassword.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/updateUser.ts
  test/graphql/inputs/MutationAdminUpdateUserPasswordInput.test.ts
  test/graphql/types/Mutation/adminUpdateUserPassword.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

feat(rest): add Fastify auth plugin and requireAuth for protected REST routes (#5204)
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  compose.yaml
  docs/docs/auto-docs/fastifyPlugins/auth/interfaces/CurrentUser.md
  docs/docs/auto-docs/fastifyPlugins/auth/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/rateLimit/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  envFiles/.env.ci
  envFiles/.env.devcontainer
  src/fastifyPlugins/auth.ts
  src/fastifyPlugins/index.ts
  src/fastifyPlugins/rateLimit.ts
  test/fastifyPlugins/auth.test.ts
Due: unit

docker: add rootless production compose + docs + CI check (#5214)
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  docker/compose.rootless.production.yaml
  docs/docs/auto-docs/createServer/classes/StartupConfigError.md
  docs/docs/auto-docs/createServer/functions/assertSecretsPresent.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/docs/getting-started/configuration.md
  docs/docs/docs/getting-started/installation.md
  docs/docs/docs/getting-started/operation.md
  envFiles/.env.rootless.production
  scripts/docker/resolve-docker-host.sh
  src/createServer.ts
  test/unit/createServer.assertSecretsPresent.test.ts
Due: unit

test: add unit tests for User.isEmailAddressVerified resolver (#5083)
  docs/docs/auto-docs/graphql/types/User/isEmailAddressVerified/functions/isEmailAddressVerifiedResolver.md
  src/graphql/types/User/isEmailAddressVerified.ts
  test/graphql/types/User/isEmailAddressVerified.test.ts
Due: integration

feat(routes): add REST auth endpoints (signup, signin, refresh, logout)
  docs/docs/auto-docs/routes/auth/variables/default.md
  docs/docs/auto-docs/routes/variables/routes.md
  src/routes/auth.ts
  src/routes/index.ts
  test/unit/routes/auth/auth.routes.test.ts
Due: unit

adress all suggestions and failing test
  docs/docs/auto-docs/routes/auth/variables/default.md
  src/routes/auth.ts
  test/unit/routes/auth/auth.routes.test.ts
Due: unit

adress cr suggestions and rate limiting
  src/routes/auth.ts
  test/helpers/FakeRedisZ.ts
  test/unit/routes/auth/auth.routes.test.ts
Due: unit

adress all suggestions
  docker/apiHealthcheck.js
  docs/docs/auto-docs/routes/auth/variables/default.md
  src/routes/auth.ts
  test/unit/routes/auth/auth.routes.test.ts
Due: unit

test: improve code coverage for graphql.ts and createOrganization.metric.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/routes/graphql.test.ts
Due: none

adress cr suggestions and rate limiting suggestions
  src/routes/auth.ts
  test/unit/routes/auth/auth.routes.test.ts
Due: unit

refactor: simplify logger cascades, use shared types, harden cache invalidation and tests
  docs/docs/auto-docs/routes/graphql/functions/extractZodMessage.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/services/metrics/metricsCacheProxy/functions/metricsCacheProxy.md
  src/routes/graphql.ts
  src/services/metrics/metricsCacheProxy.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
  test/graphql/utils/runBestEffortInvalidation.test.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: unit

adress cr suggestions and fix failing codeql test
  docker/apiHealthcheck.js
  src/routes/auth.ts
  test/unit/routes/auth/auth.routes.test.ts
Due: unit

add a comment for rate-limiting
  src/routes/auth.ts
Due: unit

refactor: use if-guard for debug logging instead of optional call syntax
  docs/docs/auto-docs/routes/graphql/functions/extractZodMessage.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  src/routes/graphql.ts
  test/routes/graphql.test.ts
Due: unit

adress cr suggestions
  src/routes/auth.ts
  test/unit/routes/auth/auth.routes.test.ts
Due: unit

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
  install: any of: scripts/install/
