Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, install

fix: use ESM dynamic import for zod and update to v4 issue format
  test/routes/graphql.test.ts
Due: none

refactor: modularize setup script by extracting service-specific configurations into dedicated files.
  scripts/setup/services/administratorSetup.ts
  scripts/setup/services/apiSetup.ts
  scripts/setup/services/caddySetup.ts
  scripts/setup/services/ciSetup.ts
  scripts/setup/services/cloudbeaverSetup.ts
  scripts/setup/services/minioSetup.ts
  scripts/setup/services/postgresSetup.ts
  scripts/setup/setup.ts
Due: none

refactor: modularize environment setup script by extracting service-specific logic into dedicated files
  scripts/setup/setup.ts
Due: none

test: added tests for homePhoneNumber
  test/graphql/types/User/homePhoneNumber.test.ts
Due: none

refactor: Modularize setup script by extracting shared utilities and service-specific logic into dedicated modules.
  scripts/setup/services/administratorSetup.ts
  scripts/setup/services/apiSetup.ts
  scripts/setup/services/caddySetup.ts
  scripts/setup/services/ciSetup.ts
  scripts/setup/services/cloudbeaverSetup.ts
  scripts/setup/services/minioSetup.ts
  scripts/setup/services/postgresSetup.ts
  scripts/setup/services/sharedSetup.ts
  scripts/setup/setup.ts
Due: none

refactor: minor quality improvements
  test/graphql/types/User/homePhoneNumber.test.ts
  test/graphql/types/documentNodes.ts
Due: none

fix: removed empty catch block
  test/graphql/types/User/homePhoneNumber.test.ts
Due: none

ci: formatting changes
  test/graphql/types/User/homePhoneNumber.test.ts
Due: none

ci: format issues
  test/graphql/types/User/homePhoneNumber.test.ts
Due: none

fix: added test to improve coverage
  test/graphql/types/User/homePhoneNumber.test.ts
Due: none

fix: acheived 100% coverage
  test/graphql/types/User/homePhoneNumber.test.ts
Due: none

fix(createEventVolunteer): add transactional locking and ensure idempotent writes under concurrency
  src/graphql/types/Mutation/createEventVolunteer.ts
  test/graphql/types/Mutation/createEventVolunteer.test.ts
Due: integration

refactor: modularize setup script by extracting service-specific logic and updating imports.
  scripts/setup/emailSetup.ts
  scripts/setup/setup.ts
Due: none

fix coderabbitai suggestions
  .github/workflows/pull-request.yml
Due: none

Added test : Integration: THIS_INSTANCE_ONLY reuses existing instance… (#5215)
  test/graphql/types/Mutation/createEventVolunteer.test.ts
Due: none

Removed duplicate logic in linux installation script (#4973)
  scripts/install/linux/install-linux.sh
  scripts/install/linux/install-linux.test.sh
Due: install

fix: remove ANSI color codes from test files (#4946)
  tests/install/common/os-detection.test.sh
  tests/install/common/package-manager.test.sh
  tests/install/common/validation.test.sh
  tests/install/macos/install-macos.test.sh
Due: none

test: add comprehensive tests for commentVotes table including schema validation and database operations (#5218)
  test/drizzle/tables/commentVotes.test.ts
Due: none

feat: Add mutation to support password updates from profile. (#5223)
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserPasswordInput/variables/MutationUpdateUserPasswordInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserPasswordInput/variables/mutationUpdateUserPasswordInputSchema.md
  docs/docs/auto-schema/operations/mutations/update-user-password.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-user-password-input.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/inputs/MutationUpdateUserPasswordInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/updateUserPassword.ts
  test/graphql/inputs/MutationUpdateUserPasswordInput.test.ts
  test/graphql/types/Mutation/updateUserPassword.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

feat: add comprehensive testing regime for installation scripts (#4972)
  .github/workflows/pull-request.yml
  .gitignore
  CONTRIBUTING.md
  codecov.yml
  docs/docs/docs/developer-resources/testing/testing-validation.md
  lefthook.yaml
  package.json
  scripts/install/common/README.md
  scripts/install/common/os-detection.sh
  scripts/install/common/validation.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
  src/graphql/types/Mutation/deleteComment.ts
  test/graphql/types/Mutation/deleteComment.test.ts
  test/graphql/types/Mutation/updateAdvertisement.test.ts
  test/graphql/types/Query/Events.test.ts
  tests/install/.ruby-version
  tests/install/.simplecov
  tests/install/Gemfile
  tests/install/Gemfile.lock
  tests/install/README.md
  tests/install/check-no-leaks.sh
  tests/install/check-traps.sh
  tests/install/common/docker-detection.test.sh
  tests/install/common/error-handling.test.sh
  tests/install/common/logging.test.sh
  tests/install/common/os-detection.test.sh
  tests/install/common/package-manager.test.sh
  tests/install/common/validation.test.sh
  tests/install/linux/install-linux.test.sh
  tests/install/macos/install-macos.test.sh
  tests/install/run-all.sh
Due: integration, install

test(updateVenue): add centralized cleanup and fix resource leaks (#5217)
  test/graphql/types/Mutation/updateVenue.test.ts
Due: none

test: Add unit tests for User.state resolver (#5189)
  docs/docs/auto-docs/graphql/types/User/state/functions/UserStateResolver.md
  src/graphql/types/User/state.ts
  test/graphql/types/User/state.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: integration

refactor: modularize setup scripts by decomposing monolithic setup.ts into service-specific components.
  scripts/setup/emailSetup.ts
Due: none

Update _journal.json
  drizzle_migrations/meta/_journal.json
Due: none

fix-sensitive-files
  .github/workflows/config/sensitive-files.txt
  .github/workflows/pull-request.yml
Due: none

fix
  .github/workflows/pull-request.yml
Due: none

changes suggested by coderabbit adressed
  src/graphql/types/Mutation/createEventVolunteer.ts
  test/graphql/types/Mutation/createEventVolunteer.test.ts
Due: integration

Revert "docker: add rootless production compose + docs + CI check (#5214)"
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  docker/compose.rootless.production.yaml
  docs/docs/auto-docs/createServer/classes/StartupConfigError.md
  docs/docs/auto-docs/createServer/functions/assertSecretsPresent.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/docs/getting-started/configuration.md
  docs/docs/docs/getting-started/installation.md
  docs/docs/docs/getting-started/operation.md
  envFiles/.env.rootless.production
  scripts/docker/resolve-docker-host.sh
  src/createServer.ts
  test/unit/createServer.assertSecretsPresent.test.ts
Due: unit

Revert "docker: add rootless production compose + docs + CI check (#5214)" (#5242)
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  docker/compose.rootless.production.yaml
  docs/docs/auto-docs/createServer/classes/StartupConfigError.md
  docs/docs/auto-docs/createServer/functions/assertSecretsPresent.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/docs/getting-started/configuration.md
  docs/docs/docs/getting-started/installation.md
  docs/docs/docs/getting-started/operation.md
  envFiles/.env.rootless.production
  scripts/docker/resolve-docker-host.sh
  src/createServer.ts
  test/unit/createServer.assertSecretsPresent.test.ts
Due: unit

test: add unit tests for User.isEmailAddressVerified resolver (#5083) (#5229)
  docs/docs/auto-docs/graphql/types/User/isEmailAddressVerified/functions/isEmailAddressVerifiedResolver.md
  src/graphql/types/User/isEmailAddressVerified.ts
  test/graphql/types/User/isEmailAddressVerified.test.ts
Due: integration

align sensitive file check with talawa-admin
  .github/workflows/config/sensitive-files.txt
  .github/workflows/pull-request.yml
Due: none

remove sensitive check from Pre-Test-Checks-Pass
  .github/workflows/pull-request.yml
Due: none

API - Python: Add configurable sensitive files detection script (#5241)
  .github/workflows/config/sensitive-files.txt
  .github/workflows/pull-request.yml
Due: none

Update sensitive-files.txt to include additional patterns
  .github/workflows/config/sensitive-files.txt
Due: none

test: add unit tests for User.employmentStatus resolver (#5081)
  docs/docs/auto-docs/graphql/types/User/employmentStatus/functions/employmentStatusResolver.md
  src/graphql/types/User/employmentStatus.ts
  test/graphql/types/User/employmentStatus.test.ts
Due: integration

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
  install: any of: scripts/install/
