Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, install

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 1%
      install:
        target: 95%
        threshold: 1%
        flags:
          - install

# Fix paths from bashcov cobertura output (GitHub Actions workspace)
fixes:
  - "/home/runner/work/talawa-api/talawa-api/::"


flags:
  unit:
    carryforward: false
    paths:
      - src/config/
      - src/fastifyPlugins/
      - src/observability/
      - src/plugin/
      - src/plugins/
      - src/routes/
      - src/services/
      - src/setup/
      - src/types/
      - src/utilities/
      - src/workers/
      - src/*.ts
  integration:
    carryforward: false
    paths:
      - src/drizzle/
      - src/graphql/
      - src/install/
  install:
    carryforward: false
    paths:
      - scripts/install/
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
        name_prefix: project-
      - type: patch
        target: 80%
        threshold: 1%
        name_prefix: patch-

fix: address coderabbit suggestion
  test/graphql/types/Query/event.test.ts
Due: none

fix failing shrads
  .github/workflows/pull-request.yml
  envFiles/.env.devcontainer
Due: none

fix(env): valid rootless admin email
  envFiles/.env.rootless.production
Due: none

fix install script tests
  scripts/install/common/validation.sh
  tests/install/common/validation.test.sh
Due: install

fix Test 108
  tests/install/common/validation.test.sh
Due: none

test: enhance commentVotes tests by adding vote ID tracking and refining query conditions
  test/drizzle/tables/commentVotes.test.ts
Due: none

update comment votes test
  test/drizzle/tables/commentVotes.test.ts
Due: none

test(commentVotes): track vote IDs in resource cleanup for test isolation
  test/drizzle/tables/commentVotes.test.ts
Due: none

code rabbit comments resolved
  test/drizzle/tables/commentVotes.test.ts
Due: none

automated corepack installation with updated pnpm version
  .devcontainer/default/post-create.sh
  .devcontainer/rootless/post-create.sh
  .github/workflows/pull-request.yml
  docker/api.Containerfile
  package.json
Due: none

make sure flag is added
  tests/install/.simplecov
Due: none

created separate file for validation checks and changes in pull-request yml
  .devcontainer/default/post-create.sh
  .devcontainer/rootless/post-create.sh
  .devcontainer/validate-setup.sh
  .github/workflows/pull-request.yml
Due: none

correct paths of validate-setup in post-create files
  .devcontainer/default/post-create.sh
  .devcontainer/rootless/post-create.sh
Due: none

test: add comprehensive integration tests for createEventVolunteer
  test/graphql/types/Mutation/createEventVolunteer.test.ts
Due: none

replaced Date.now() with fixed UTC timestamps
  test/graphql/types/Mutation/createEventVolunteer.test.ts
Due: none

test: add unit tests for User isEmailAddressVerified resolver (#5083)
  src/graphql/types/User/isEmailAddressVerified.ts
  test/graphql/types/User/isEmailAddressVerified.test.ts
Due: integration

test: add unit tests for User isEmailAddressVerified resolver
  src/graphql/types/User/isEmailAddressVerified.ts
  test/graphql/types/User/isEmailAddressVerified.test.ts
Due: integration

fix: address coderabbit suggestions
  test/graphql/types/Query/event.test.ts
Due: none

implemented dynamic versioning and retry logic in devcontainer validation
  .devcontainer/default/post-create.sh
  .devcontainer/rootless/post-create.sh
  .devcontainer/validate-setup.sh
  .github/workflows/pull-request.yml
Due: none

fixed pnpm installation condition
  .devcontainer/validate-setup.sh
Due: none

test: Add unit tests for User.state resolver (#5189)
  docs/docs/auto-docs/graphql/types/User/state/functions/UserStateResolver.md
  src/graphql/types/User/state.ts
  test/graphql/types/User/state.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: integration

test: add comprehensive tests for commentVotes table including schema validation and database operations (#5218)
  test/drizzle/tables/commentVotes.test.ts
Due: none

feat: add comprehensive testing regime for installation scripts (#4972)
  .github/workflows/pull-request.yml
  .gitignore
  CONTRIBUTING.md
  codecov.yml
  docs/docs/docs/developer-resources/testing/testing-validation.md
  lefthook.yaml
  package.json
  scripts/install/common/README.md
  scripts/install/common/os-detection.sh
  scripts/install/common/validation.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
  src/graphql/types/Mutation/deleteComment.ts
  test/graphql/types/Mutation/deleteComment.test.ts
  test/graphql/types/Mutation/updateAdvertisement.test.ts
  test/graphql/types/Query/Events.test.ts
  tests/install/.ruby-version
  tests/install/.simplecov
  tests/install/Gemfile
  tests/install/Gemfile.lock
  tests/install/README.md
  tests/install/check-no-leaks.sh
  tests/install/check-traps.sh
  tests/install/common/docker-detection.test.sh
  tests/install/common/error-handling.test.sh
  tests/install/common/logging.test.sh
  tests/install/common/os-detection.test.sh
  tests/install/common/package-manager.test.sh
  tests/install/common/validation.test.sh
  tests/install/linux/install-linux.test.sh
  tests/install/macos/install-macos.test.sh
  tests/install/run-all.sh
Due: integration, install

Added test : Integration: THIS_INSTANCE_ONLY reuses existing instance… (#5215)
  test/graphql/types/Mutation/createEventVolunteer.test.ts
Due: none

feat: add check to ensure old and new passwords are not the same
  src/graphql/types/Mutation/updateUserPassword.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

docs: gen docs
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserPasswordInput/variables/MutationUpdateUserPasswordInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateUserPasswordInput/variables/mutationUpdateUserPasswordInputSchema.md
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  docs/docs/auto-schema/operations/mutations/update-user-password.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-user-password-input.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

feat: add mutation to support password updates from profile
  schema.graphql
  src/graphql/inputs/MutationUpdateUserPasswordInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/updateUserPassword.ts
  test/graphql/types/gql.tada.d.ts
Due: integration

address CR suggestion
  src/graphql/inputs/MutationUpdateUserPasswordInput.ts
  src/graphql/types/Mutation/updateUserPassword.ts
Due: integration

update schema.gql
  schema.graphql
Due: none

test: add unit and integration tests
  test/graphql/inputs/MutationUpdateUserPasswordInput.test.ts
  test/graphql/types/Mutation/updateUserPassword.test.ts
  test/graphql/types/documentNodes.ts
Due: none

docs: gen docs
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
Due: none

add proper error handling
  test/graphql/types/Mutation/updateUserPassword.test.ts
Due: none

fix(setup): tighten envFileManager no-op writes and env_test default
  scripts/setup/envFileManager.ts
  scripts/setup/setup.ts
  scripts/setup/updateEnvVariable.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/setup/envFileManager.test.ts
  test/unit/setup/updateEnvVariableWrapper.test.ts
Due: none

add dummy api auth jwt secret
  envFiles/.env.ci
Due: none

fix(setup): use canonical env backup/temp defaults to satisfy knip
  scripts/setup/envFileManager.ts
Due: none

remove auth service hash import and revert .env.ci
  envFiles/.env.ci
  src/graphql/types/Mutation/updateUserPassword.ts
  test/graphql/types/Mutation/updateUserPassword.test.ts
Due: integration

address CR suggestion
  src/graphql/types/Mutation/updateUserPassword.ts
  test/graphql/types/Mutation/updateUserPassword.test.ts
Due: integration

refactor(setup): reuse errToError from AtomicEnvWriter
  scripts/setup/AtomicEnvWriter.ts
  scripts/setup/envFileManager.ts
  test/unit/setup/envFileManager.test.ts
Due: none
