Repository PalisadoesFoundation/talawa-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, install

test(getVolunteerMembership): add comprehensive integration tests for 100% coverage
  test/graphql/types/Query/getVolunteerMembership.test.ts
Due: none

test: enhance coverage for getRecurringEvents query with additional scenarios
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: none

fix: robust package-manager
  scripts/install/common/package-manager.sh
Due: install

test: address review feedback and improve test hygiene
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: none

test: improve coverage for getRecurringEvents by adding cleanup functions and refining test scenarios as per the review
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: none

fix TS2769 in ordering tests
  test/graphql/types/Query/getVolunteerMembership.test.ts
Due: none

fix afterEach mock reset strategy
  test/graphql/types/Query/getVolunteerMembership.test.ts
Due: none

test: remove redundant assertions and cleanup functions in getRecurringEvents tests
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: none

address final CodeRabbit review comments
  test/graphql/types/Query/getVolunteerMembership.test.ts
Due: none

test: refine cleanup logic and improve error assertions in getRecurringEvents tests
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: none

use UTC date methods to prevent CI drift
  test/helpers/recurringEventTestHelpers.ts
Due: none

add read-only fixture comment to beforeAll
  test/graphql/types/Query/getVolunteerMembership.test.ts
Due: none

upgraded nodemailer from 1.13.4 to 1.13.5
  package.json
  pnpm-lock.yaml
Due: none

remove unrelated files
  src/graphql/types/Query/Notification.ts
  test/graphql/types/Query/Notification.test.ts
Due: integration

Enable request_changes_workflow in coderabbit config
  .coderabbit.yaml
Due: none

postVotes Enum Fix without Docs
  drizzle_migrations/20260220175948_wet_alex_power.sql
  drizzle_migrations/meta/20260220175948_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/enums/postVoteType.ts
  src/drizzle/schema.ts
  src/drizzle/tables/postVotes.ts
  src/graphql/enums/PostVoteType.ts
  src/graphql/types/Post/hasUserVoted.ts
  src/graphql/types/Query/hasUserVoted.ts
  test/drizzle/tables/postVotes.test.ts
Due: integration

add Updated docs
  docs/docs/auto-docs/drizzle/enums/postVoteType/variables/postVoteTypeValues.md
  docs/docs/auto-docs/drizzle/enums/postVoteType/variables/postVoteTypeZodEnum.md
  docs/docs/auto-docs/drizzle/tables/postVotes/variables/postVoteTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/postVotes/variables/postVotesTable.md
  docs/docs/auto-docs/graphql/inputs/MutationCreatePostVoteInput/variables/MutationCreatePostVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreatePostVoteInput/variables/mutationCreatePostVoteInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdatePostVoteInput/variables/MutationUpdatePostVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdatePostVoteInput/variables/mutationUpdatePostVoteInputSchema.md
Due: none

code rabbit reviews
  test/drizzle/tables/postVotes.test.ts
Due: none

test: improve code coverage for Notification query
  test/graphql/types/Query/Notification.test.ts
Due: none

test: improve code coverage for Notification query (#5253)
  src/graphql/types/Query/Notification.ts
  test/graphql/types/Query/Notification.test.ts
Due: integration

test: improve test structure and handle code quality issues
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: none

test: log cleanup failures in getRecurringEvents tests
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: none

test: enhance cleanup logic in getRecurringEvents tests by removing redundant mutation and adding comprehensive deletion of related entities
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: none

fix(#5248): exclude self-authored messages from unread count
  src/graphql/types/Mutation/createChatMessage.ts
  test/graphql/types/Chat/Chat.test.ts
Due: integration

feat: Add caching setup to allow configuration of cache warming.
  scripts/setup/services/cachingSetup.ts
  scripts/setup/services/sharedSetup.ts
Due: none

style: reorder cachingSetup imports/exports and apply consistent formatting across setup service files.
  scripts/setup/services/cachingSetup.ts
  scripts/setup/services/sharedSetup.ts
  scripts/setup/setup.ts
Due: none

refactor: Update logger configuration and pino import, improve nodemailer fallback, and add related tests for email error handling and module fallbacks.
  src/services/email/providers/SMTPProvider.ts
  src/utilities/logging/logger.ts
  test/services/email/SMTPProvider.test.ts
  test/unit/services/email/SMTPProvider.fallback.test.ts
  test/utilities/logger.coverage.test.ts
Due: unit

refactor: define AppLogger type directly in logger.ts and export loggerOptions.
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  docs/docs/auto-docs/utilities/logging/logger/functions/withFields.md
  docs/docs/auto-docs/utilities/logging/logger/type-aliases/AppLogger.md
  docs/docs/auto-docs/utilities/logging/logger/variables/loggerOptions.md
  docs/docs/auto-docs/utilities/logging/logger/variables/rootLogger.md
  src/utilities/logging/logger.ts
Due: unit

fix: coderabbit feedback
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

feat: added email support for on spot attendee
  src/graphql/inputs/MutationSignUpInput.ts
  src/graphql/types/Mutation/signUp.ts
  src/utilities/emailTemplates.ts
  test/graphql/types/Mutation/signUpOnSpotAttendee.test.ts
Due: unit, integration

added auto-docs and and type error
  docs/docs/auto-docs/utilities/emailTemplates/functions/getOnSpotAttendeeWelcomeEmailHtml.md
  docs/docs/auto-docs/utilities/emailTemplates/functions/getOnSpotAttendeeWelcomeEmailText.md
  docs/docs/auto-docs/utilities/emailTemplates/interfaces/OnSpotAttendeeWelcomeContext.md
  schema.graphql
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

fix: worked on code coverage
  schema.graphql
  src/graphql/inputs/MutationSignUpInput.ts
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
  test/graphql/types/gql.tada.d.ts
  test/utilities/emailTemplates.test.ts
Due: integration

auto-docs updated
  schema.graphql
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: none

feat(test): enhance adminCreateOnSpotAttendee tests with cleanup logic and user tracking
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
  test/graphql/types/documentNodes.ts
Due: none

fixed: code rabbit recommendation
  src/graphql/inputs/MutationSignUpInput.ts
  src/graphql/types/Mutation/adminCreateOnSpotAttendee.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/signUp.ts
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
  test/graphql/types/Mutation/signUpOnSpotAttendee.test.ts
Due: integration

fix: added missign tests and formated code
  src/graphql/types/Mutation/adminCreateOnSpotAttendee.ts
  src/graphql/types/Mutation/signUp.ts
  src/utilities/emailTemplates.ts
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
  test/graphql/types/documentNodes.ts
Due: unit, integration

fixed: all the required changes in test file
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
  test/graphql/types/documentNodes.ts
Due: none

fixed: all the checks problems
  docs/docs/auto-schema/operations/mutations/admin-create-on-spot-attendee.mdx
  docs/docs/auto-schema/types/objects/authentication-payload.mdx
  docs/docs/auto-schema/types/objects/user.mdx
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
Due: none

Fix: Use correct API_FRONTEND_URL property and regenerate schema docs
  docs/docs/auto-schema/operations/mutations/admin-create-on-spot-attendee.mdx
  docs/docs/auto-schema/types/inputs/mutation-sign-up-input.mdx
  docs/docs/auto-schema/types/objects/authentication-payload.mdx
  src/graphql/types/Mutation/adminCreateOnSpotAttendee.ts
  src/graphql/types/Mutation/signUp.ts
Due: integration

Path conditions:
  unit: any of: src/config/, src/fastifyPlugins/, src/observability/, src/plugin/, src/plugins/, src/routes/, src/services/, src/setup/, src/types/, src/utilities/, src/workers/, src/*.ts
  integration: any of: src/drizzle/, src/graphql/, src/install/
  install: any of: scripts/install/
