Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, 12_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  7.6_validate_error_handling: any of: src/**/*.{ts,js}
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  11.2_check_code_coverage_disable: any of: **/*.{ts,tsx}
  11.3_check_ts_ignore: any of: **/*.{ts,tsx}
  11.4_check_sanitization_disable: any of: **/*.ts
  11.5_check_itskip: any of: test/**/*.{test,spec}.{ts,tsx}
  12_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

test: improve coverage for deleteChat mutation
  src/graphql/types/Mutation/deleteChat.ts
  test/_helpers/deleteChatResolver.ts
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

test: improve deleteChat tests; remove unused fetch; make vm filename portable; add arg description; fix indentation
  src/graphql/types/Mutation/deleteChat.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

test: improve deleteChat tests; remove unused fetch; make vm filename portable; add arg description
  src/graphql/types/Mutation/deleteChat.ts
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

test: improve deleteChat tests; remove dead helper; make vm filename portable; add arg description; fix indentation
  test/_helpers/deleteChatResolver.ts
Due: 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable

fix(test): resolve noExplicitAny lint errors in deleteChat tests
  src/graphql/mutations/__tests__/deleteChat.test.ts
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

test: improve deleteChat coverage to 100% and fix CI references
  src/graphql/types/Mutation/deleteChat.ts
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

refactor(test): consolidate deleteChat test files
  src/graphql/mutations/__tests__/deleteChat.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

test(deleteChat): assert membership creation success
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test(deleteChat): add no-avatar deletion test case
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

refactor(test): rewrite deleteChat.test.ts as integration test
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

style(test): add explicit null check for memberToken
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix(createChat): initialize avatar variables to null to fix uninitialized usage
  src/graphql/types/Mutation/createChat.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

style(test): use explicit catch blocks
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: add authorized org-admin delete chat test
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

docs: update auto-generated docs for deleteChat
  docs/docs/auto-docs/graphql/types/Mutation/deleteChat/functions/deleteChatResolver.md
Due: none

refactor(createChat): remove non-null assertion by guarding avatarName
  src/graphql/types/Mutation/createChat.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

fix: make organization names unique in getRecurringEvents tests to prevent duplicate key constraint violations
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test(createChat): add system admin authorization test
  src/graphql/types/Mutation/createChat.ts
  test/graphql/types/Mutation/createChat.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

chore(scripts): add error handling validation npm scripts
  package.json
Due: none

chore: upgrade @faker-js/faker to version 10.1.0 and fix email generation in tests
  package.json
  pnpm-lock.yaml
  test/graphql/types/Mutation/updateCurrentUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

Fix sample post attachments sharing causing MinIO deletion issues
  scripts/dbManagement/sample_data/post_attachments.json
Due: none

removed 55 attachments
  scripts/dbManagement/sample_data/post_attachments.json
Due: none

Fix: Sample post attachments sharing causing MinIO deletion issues (#4216)
  scripts/dbManagement/sample_data/post_attachments.json
Due: none

chore: upgrade @faker-js/faker to version 10.1.0 and fix email generation in tests (#4217)
  package.json
  pnpm-lock.yaml
  test/graphql/types/Mutation/updateCurrentUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: Add comprehensive tests for drizzleClient plugin
  test/fastifyPlugins/drizzleClient.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: Add tests for migration error handling in drizzleClient
  test/fastifyPlugins/drizzleClient.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: Add comprehensive tests for updateActionItem mutation (#3837)
  src/fastifyPlugins/drizzleClient.ts
  src/graphql/types/Mutation/updateActionItem.ts
  test/graphql/types/Mutation/updateActionItem.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

refactor: Extract helper function to reduce test setup duplication
  test/graphql/types/Mutation/updateActionItem.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: Format drizzleClient test file to pass CI checks
  test/fastifyPlugins/drizzleClient.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

refactor: Remove redundant vi.clearAllMocks() calls in drizzleClient tests
  test/fastifyPlugins/drizzleClient.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: Add comprehensive tests for updateActionItem mutation (#3837) (#4218)
  src/fastifyPlugins/drizzleClient.ts
  src/graphql/types/Mutation/updateActionItem.ts
  test/fastifyPlugins/drizzleClient.test.ts
  test/graphql/types/Mutation/updateActionItem.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

conflicts resolved
  pnpm-lock.yaml
Due: none

feat: add one-click installation scripts for Linux, macOS, and Windows
  .gitattributes
  docs/docs/docs/getting-started/installation.md
  scripts/install/install.ps1
  scripts/install/install.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
  src/install/index.ts
  src/install/types.ts
  src/install/utils/logger.ts
  src/install/utils/osDetection.ts
  src/install/utils/packageCheck.ts
  test/install/index.test.ts
  test/install/logger.test.ts
  test/install/osDetection.test.ts
  test/install/packageCheck.test.ts
  typedoc.json
  vitest.install.config.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

chore: apply CodeRabbitAI optional enhancements
  .gitattributes
  test/install/packageCheck.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: Add comprehensive tests for deletePostVote mutation (#3835)
  src/graphql/types/Mutation/deletePostVote.ts
  test/graphql/types/Mutation/deletePostVote.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fix: simplify pnpm version handling in PowerShell script
  scripts/install/install.ps1
Due: none

fix: correct authorization query in deletePostVote mutation
  src/graphql/types/Mutation/deletePostVote.ts
  test/graphql/types/Mutation/deletePostVote.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fix: added comprehensive tests
  test/graphql/types/FundCampaignPledge/updater.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

docs: fix outdated comment in deletePostVote test
  test/graphql/types/Mutation/deletePostVote.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip
