Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

exclude CodeQL js/missing-rate-limiting false positive for preHandler rate-limited routes
  .github/codeql/codeql-config.yml
Due: none

fixes: tsconfig file is back to its original version, and fixed somethings recommended by coderabbit
  docs/docs/auto-docs/drizzle/enums/userMaritalStatus/variables/userMaritalStatusEnum.md
  docs/docs/auto-docs/graphql/enums/UserMaritalStatus/variables/UserMaritalStatus.md
  docs/docs/auto-docs/graphql/types/User/maritalStatus/functions/maritalStatusResolver.md
  docs/docs/auto-schema/types/enums/user-marital-status.mdx
  schema.graphql
  src/drizzle/enums/userMaritalStatus.ts
  test/drizzle/tables/users.test.ts
  test/graphql/types/User/maritalStatus.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
  tsconfig.json
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fixes: fixed coderabbit issues
  test/graphql/types/User/maritalStatus.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: added tests for src/graphql/types/User/birthDate.ts
  test/graphql/types/User/birthDate.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add unit tests for User.creator resolver (#5078)
  docs/docs/auto-docs/graphql/types/User/creator/functions/creatorResolver.md
  src/graphql/types/User/creator.ts
  test/graphql/types/User/creator.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: remove extra blank line in creator.test.ts for biome format
  test/graphql/types/User/creator.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: added tests for src/graphql/types/User/birthDate.ts and added required query
  test/graphql/types/User/birthDate.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: added tests for src/graphql/types/User/birthDate.ts and added required query
  test/graphql/types/User/birthDate.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address CodeRabbit review comments for creator resolver tests
  test/graphql/types/User/creator.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add unit tests for User.employmentStatus resolver (#5081) (#5245)
  docs/docs/auto-docs/graphql/types/User/employmentStatus/functions/employmentStatusResolver.md
  src/graphql/types/User/employmentStatus.ts
  test/graphql/types/User/employmentStatus.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: added tests for src/graphql/types/User/birthDate.ts (#5247)
  test/graphql/types/User/birthDate.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(routes): add REST auth endpoints (signup, signin, refresh, logout) (#5236)
  .github/codeql/codeql-config.yml
  docs/docs/auto-docs/routes/auth/variables/default.md
  docs/docs/auto-docs/routes/variables/routes.md
  src/routes/auth.ts
  src/routes/index.ts
  test/helpers/FakeRedisZ.ts
  test/unit/routes/auth/auth.routes.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add unit tests for User.creator resolver (#5078) (#5246)
  docs/docs/auto-docs/graphql/types/User/creator/functions/creatorResolver.md
  src/graphql/types/User/creator.ts
  test/graphql/types/User/creator.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Introduce comprehensive unit tests for setup scripts and enhance prompt retry logic and error handling.
  scripts/setup/SetupError.ts
  scripts/setup/emailSetup.ts
  scripts/setup/envFileManager.ts
  scripts/setup/services/apiSetup.ts
  scripts/setup/services/minioSetup.ts
  scripts/setup/services/postgresSetup.ts
  scripts/setup/services/sharedSetup.ts
  scripts/setup/setup.ts
  scripts/setup/validators.ts
  src/services/email/providers/SMTPProvider.ts
  src/utilities/logging/logger.ts
  test/unit/setup-administratorSetup.test.ts
  test/unit/setup-apiSetupRetry.test.ts
  test/unit/setup-caddySetup.test.ts
  test/unit/setup-ciSetup.test.ts
  test/unit/setup-cloudbeaverSetup.test.ts
  test/unit/setup-minioSetup.test.ts
  test/unit/setup-postgresSetup.test.ts
  test/unit/setup-sharedSetup.test.ts
  vitest.config.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: Modularize setup script into service-specific components, enhance input validation, and resolve module interop issues.
  docs/docs/auto-docs/utilities/logging/logger/functions/withFields.md
  docs/docs/auto-docs/utilities/logging/logger/type-aliases/AppLogger.md
  docs/docs/auto-docs/utilities/logging/logger/variables/loggerOptions.md
  docs/docs/auto-docs/utilities/logging/logger/variables/rootLogger.md
  scripts/setup/SetupError.ts
  scripts/setup/services/apiSetup.ts
  scripts/setup/setup.ts
  src/services/email/providers/SMTPProvider.ts
  src/utilities/logging/logger.ts
  test/unit/setup-administratorSetup.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Update test/unit/setup-cloudbeaverSetup.test.ts
  test/unit/setup-cloudbeaverSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Update test/unit/setup-minioSetup.test.ts
  test/unit/setup-minioSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: modularize setup script services and enhance password prompt retry logic with exit sentinel.
  scripts/setup/services/apiSetup.ts
  scripts/setup/setup.ts
  test/unit/setup-administratorSetup.test.ts
  test/unit/setup-apiSetupRetry.test.ts
  test/unit/setup-minioSetup.test.ts
  test/unit/setup-sharedSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: adjust console mock implementations in setup tests and add a pull request description.
  test/unit/setup-apiSetupRetry.test.ts
  test/unit/setup-minioSetup.test.ts
  test/unit/setup-sharedSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(graphql): add deprecationReason to signIn/signUp, introspection test, REST admin-auth helper
  docs/docs/auto-schema/operations/mutations/sign-up.mdx
  docs/docs/auto-schema/operations/queries/sign-in.mdx
  package.json
  schema.graphql
  src/graphql/types/Mutation/signUp.ts
  src/graphql/types/Query/signIn.ts
  test/graphql/types/adminAuthRest.helper.integration.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/signInSignUpDeprecation.introspection.test.ts
  test/helpers/adminAuthRest.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

adress cr suggestion and failing shrad 10
  test/graphql/types/signInSignUpDeprecation.introspection.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

adress cr suggestion
  package.json
  test/graphql/types/adminAuthRest.helper.integration.test.ts
  test/graphql/types/signInSignUpDeprecation.introspection.test.ts
  test/helpers/adminAuthRest.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixes: Redundant test parameters in it.each
  test/graphql/types/User/maritalStatus.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(rootless): increase healthcheck tolerance and pin compose version
  .github/workflows/pull-request.yml
  docker/compose.rootless.production.yaml
Due: none

fix(ci): use shell function for compose invocation
  .github/workflows/pull-request.yml
Due: none

test: add unit tests for User.addressLine2 resolver (#5075)
  src/graphql/types/User/addressLine2.ts
  test/graphql/types/User/addressLine2.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: regenerate docs for addressLine2 resolver export
  docs/docs/auto-docs/graphql/types/User/addressLine2/functions/addressLine2Resolver.md
Due: none

fix(ci): add missing API_AUTH_JWT_SECRET for rootless production
  .github/workflows/pull-request.yml
  envFiles/.env.rootless.production
  test/graphql/types/gql.tada-cache.d.ts
Due: 10_check_disable_statements

fix: address CodeRabbit review for addressLine2 resolver tests
  src/graphql/types/User/addressLine2.ts
  test/graphql/types/User/addressLine2.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: added unauthorized_action test
  test/graphql/types/User/homePhoneNumber.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add JSDoc param and returns tags to addressLine2Resolver
  src/graphql/types/User/addressLine2.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: address CodeRabbit review - add JSDoc tags, fix mock shapes, add undefined test
  test/graphql/types/User/addressLine2.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: regenerate docs after JSDoc update
  docs/docs/auto-docs/graphql/types/User/addressLine2/functions/addressLine2Resolver.md
Due: none

adress cr suggestions
  package.json
  test/graphql/types/adminAuthRest.helper.integration.test.ts
  test/graphql/types/signInSignUpDeprecation.introspection.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
