Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10.1_check_biome_disable:
  run: source .venv/bin/activate && python3 .github/workflows/scripts/biome_disable_check.py --files {staged_files}

10.2_check_code_coverage_disable:
  run: source .venv/bin/activate && python3 .github/workflows/scripts/code_coverage_disable_check.py --files {staged_files}

10.3_check_ts_ignore:
  run: source .venv/bin/activate && python3 .github/workflows/scripts/detect_ts_ignore.py --files {staged_files}

10.4_check_sanitization_disable:
  run: source .venv/bin/activate && python3 .github/workflows/scripts/check_sanitization_disable.py --files {staged_files}

10.5_check_itskip:
  run: source .venv/bin/activate && python3 .github/workflows/scripts/itskip_disable_check.py --files {staged_files}

10.6_check_python_docstrings:
  run: source .venv/bin/activate && python3 .github/workflows/scripts/check_docstrings.py --directories .github

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix: reduce all timing thresholds in performanceTracker tests
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

test: add coverage for deleteFundCampaignPledge
  test/graphql/types/Mutation/deleteFundCampaignPledge.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

test: drop unexpected delete failure test due to swallowed DB errors
  test/graphql/types/Mutation/deleteFundCampaignPledge.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

test: add success and error cases for deleteFundCampaignPledge
  test/graphql/types/Mutation/deleteFundCampaignPledge.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

test: restore unexpected delete failure coverage for deleteFundCampaignPledge
  test/graphql/types/Mutation/deleteFundCampaignPledge.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

test: ensure unique organization names to avoid CI collisions
  test/graphql/types/Mutation/deleteFundCampaignPledge.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

Test for Post comment count (#4176)
  test/graphql/types/Post/commentsCount.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

test: add coverage for deleteFundCampaignPledge (#4149)
  test/graphql/types/Mutation/deleteFundCampaignPledge.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

introduced centralised GHA (#4173)
  .github/workflows/pull-request.yml
  lefthook.yaml
  package.json
Due: none

fix(test): relax timing assertions in performanceTracker.test.ts to prevent flake (#4183)
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

Revert "fix(test): relax timing assertions in performanceTracker.test.ts to p…"
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

Revert "fix(test): relax timing assertions in performanceTracker.test.ts to p…" (#4186)
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

add input validation to normalizeRecurrenceRule
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/applyRecurrenceOverrides.md
  src/utilities/recurringEvent/calculation.ts
  test/utilities/recurringEventHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

refactor: split recurringEventHelpers into focused modules (PR1) (#4182)
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/applyRecurrenceOverrides.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/calculateCompletionDateFromCount.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/calculateInstancesPerMonth.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/estimateInstanceCount.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/normalizeRecurrenceRule.md
  docs/docs/auto-docs/utilities/recurringEvent/formatting/functions/buildRRuleString.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/getEventType.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/isCountBasedEvent.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/isEndDateBasedEvent.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/isNeverEndingEvent.md
  docs/docs/auto-docs/utilities/recurringEvent/validation/functions/validateRecurrenceInput.md
  docs/docs/auto-docs/utilities/recurringEvent/validation/functions/validateRecurrenceRule.md
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  src/services/eventGeneration/eventGeneration.ts
  src/utilities/recurringEvent/calculation.ts
  src/utilities/recurringEvent/formatting.ts
  src/utilities/recurringEvent/index.ts
  src/utilities/recurringEvent/types.ts
  src/utilities/recurringEvent/validation.ts
  src/utilities/recurringEventHelpers.ts
  src/workers/eventGeneration/jobDiscovery.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/utilities/metrics/performanceTracker.test.ts
  test/utilities/recurringEventHelpers.test.ts
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

improvised test-cases
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

add python3-venv package guidance to error messages and installation
  docs/docs/docs/getting-started/installation.md
  lefthook.yaml
Due: none

improvised test-cases
  test/routes/graphql.integration.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

test: Added tests for Mutation/updateFund.ts (#4178)
  src/graphql/types/Mutation/updateFund.ts
  test/graphql/types/Mutation/updateFund.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

improvised test-cases
  test/routes/graphql.integration.test.ts
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

centralised-workflows
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/stale.yml
Due: none

centralised-workflows
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
Due: none

centralised-workflows
  .github/workflows/pull-request.yml
Due: none

fix(deps): upgrade type-provider-typebox to v6 and typebox to v1
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/config/emailConfig.ts
  src/envConfigSchema.ts
  src/fastifyPlugins/drizzleClient.ts
  src/routes/objects.ts
  src/utilities/graphqLimits.ts
  src/utilities/passwordResetTokenUtils.ts
  test/drizzle.config.ts
  test/envConfigSchema.ts
  test/utilities/passwordResetTokenUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fixed reCaptcha
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/MutationSignUpInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/mutationSignUpInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QuerySignInInput/variables/QuerySignInInput.md
  docs/docs/auto-docs/graphql/inputs/QuerySignInInput/variables/querySignInInputSchema.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/validateRecaptchaIfRequired.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/verifyRecaptchaToken.md
  docs/docs/auto-schema/types/inputs/mutation-sign-up-input.mdx
  docs/docs/auto-schema/types/inputs/query-sign-in-input.mdx
  schema.graphql
  scripts/setup/setup.ts
  src/envConfigSchema.ts
  src/graphql/context.ts
  src/graphql/inputs/MutationSignUpInput.ts
  src/graphql/inputs/QuerySignInInput.ts
  src/graphql/types/Mutation/signUp.ts
  src/graphql/types/Query/signIn.ts
  src/utilities/recaptchaUtils.ts
  test/utilities/recaptchaUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

implemented coderabbit suggestions
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/validateRecaptchaIfRequired.md
  scripts/setup/setup.ts
  src/utilities/recaptchaUtils.ts
  test/graphql/types/Mutation/signUp.test.ts
  test/graphql/types/Query/signIn.test.ts
  test/utilities/recaptchaUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

added missing docs
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
Due: none

fixed failing tests
  src/utilities/recaptchaUtils.ts
  test/graphql/types/Mutation/signUp.test.ts
  test/graphql/types/Query/signIn.test.ts
  test/utilities/recaptchaUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

added config docs
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/docs/getting-started/configuration.md
Due: none

implemented coderabbit suggestion
  docs/docs/docs/getting-started/configuration.md
  schema.graphql
  src/graphql/inputs/MutationSignUpInput.ts
  src/graphql/inputs/QuerySignInInput.ts
  test/graphql/types/Mutation/signUp.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fixed tests
  docs/docs/auto-schema/types/inputs/mutation-sign-up-input.mdx
  docs/docs/auto-schema/types/inputs/query-sign-in-input.mdx
  test/graphql/types/Mutation/signUp.test.ts
  test/graphql/types/Query/signIn.test.ts
Due: 9_check_mock_isolation, 10.1_check_biome_disable, 10.2_check_code_coverage_disable, 10.3_check_ts_ignore, 10.4_check_sanitization_disable, 10.5_check_itskip

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10.1_check_biome_disable: any of: **/*.{ts,tsx}
  10.2_check_code_coverage_disable: any of: **/*.{ts,tsx}
  10.3_check_ts_ignore: any of: **/*.{ts,tsx}
  10.4_check_sanitization_disable: any of: **/*.ts
  10.5_check_itskip: any of: test/**/*.{test,spec}.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
