Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix docs related failing test
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
Due: none

Make metrics tests deterministic and document budgets.
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/fastifyPlugins/performance.ts
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
  test/helpers.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix failing test
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/functions/resolveItems.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
Due: none

test: add unit tests for agendaFolders table #4676
  test/unit/drizzle/tables/agendaFolders.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix eventsByCreator test pollution
  test/graphql/types/Query/eventsByCreator.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Revert "Add back CMD for non-compose deployment support (#4871)"
  docker/api.Containerfile
Due: none

add an update mutation for the sequence and item fields in the agenda folder type
  docs/docs/auto-schema/operations/mutations/update-agenda-item-sequence.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-item-sequence-input.mdx
  docs/docs/auto-schema/types/objects/agenda-folder.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  docs/docs/auto-schema/types/objects/page-info.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/inputs/MutationUpdateAgendaItemSequenceInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/AgendaFolder/index.ts
  src/graphql/types/AgendaFolder/items.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/updateAgendaItemSequence.ts
  test/graphql/inputs/MutationUpdateAgendaItemSequenceInput.test.ts
  test/graphql/types/AgendaFolder/items.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Revert "Add back CMD for non-compose deployment support (#4871)" (#4887)
  docker/api.Containerfile
Due: none

Revert "Automatically start development server in talawa-api container on lau…"
  compose.yaml
  docker/api.Containerfile
  docker/compose.devcontainer.yaml
  docs/docs/docs/getting-started/operation.md
Due: none

Revert "Automatically start development server in talawa-api container on lau…" (#4888)
  compose.yaml
  docker/api.Containerfile
  docker/compose.devcontainer.yaml
  docs/docs/docs/getting-started/operation.md
Due: none

fix format
  src/graphql/inputs/MutationUpdateAgendaItemSequenceInput.ts
  src/graphql/types/AgendaFolder/items.ts
  src/graphql/types/Mutation/updateAgendaItemSequence.ts
  test/graphql/inputs/MutationUpdateAgendaItemSequenceInput.test.ts
  test/graphql/types/AgendaFolder/items.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/functions/resolveItems.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
Due: none

test: add comprehensive tests for chatMemberships table #4679 (#4883)
  test/unit/drizzle/tables/chatMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): add full coverage for eventVolunteerGroups table (#4885)
  test/unit/drizzle/tables/eventVolunteerGroups.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add comprehensive test for eventVolunteerGroupExceptions table #4690 (#4884)
  docs/docs/auto-docs/drizzle/tables/eventVolunteerGroupExceptions/variables/eventVolunteerGroupExceptionsTable.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteerGroupExceptions/variables/eventVolunteerGroupExceptionsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteerGroupExceptions/variables/eventVolunteerGroupExceptionsTableRelations.md
  src/drizzle/tables/eventVolunteerGroupExceptions.ts
  test/drizzle/tables/eventVolunteerGroupExceptions.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

eventAttachment test cases
  test/drizzle/tables/eventAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: optimize tests
  docs/docs/auto-docs/drizzle/tables/recurringEventInstances/type-aliases/BatchCreateRecurringEventInstancesInput.md
  docs/docs/auto-docs/drizzle/tables/recurringEventInstances/type-aliases/CreateRecurringEventInstanceInput.md
  docs/docs/auto-docs/drizzle/tables/recurringEventInstances/type-aliases/ResolvedRecurringEventInstance.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstanceByBaseId.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstanceById.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesInDateRange.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/interfaces/GetRecurringEventInstancesInput.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/standaloneEventQueries/functions/getStandaloneEventsByIds.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionKey.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createTemplateLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveInstanceWithInheritance.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveMultipleInstances.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/validateResolvedInstance.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/CalculatedOccurrence.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/GenerateInstancesInput.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/GetGeneratedInstancesInput.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/OccurrenceCalculationConfig.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/RecurrenceContext.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/ResolveInstanceInput.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/ServiceDependencies.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/WindowManagerConfig.md
  src/drizzle/tables/recurringEventInstances.ts
  src/graphql/types/Event/Event.ts
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/graphql/types/Query/eventQueries/standaloneEventQueries.ts
  src/graphql/types/Query/eventsByAdmin.ts
  src/graphql/utils/mapRecurringInstanceToEvent.ts
  src/services/eventGeneration/instanceResolver.ts
  src/services/eventGeneration/types.ts
  test/graphql/types/Organization/events.test.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/utils/mapRecurringInstanceToEvent.test.ts
  test/services/eventInstanceGeneration/instanceResolver.test.ts
  test/unit/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

coderabbit comments resolve
  test/drizzle/tables/eventAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: added cr suggestions
  scripts/setup/SetupError.ts
Due: 10_check_disable_statements

fix: revert test to match develop branch schema
  test/unit/drizzle/tables/agendaFolders.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Remove template seeding and sanitize upload errors.
  test/graphql/types/Mutation/createOrganization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add multi-template fallback coverage for eventsByVolunteer
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionKey.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createTemplateLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveInstanceWithInheritance.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveMultipleInstances.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/validateResolvedInstance.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/RecurrenceContext.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/ResolveInstanceInput.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/ServiceDependencies.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/WindowManagerConfig.md
  docs/docs/auto-docs/services/eventGeneration/types/type-aliases/EventTemplateWithAttachments.md
  docs/docs/auto-schema/operations/queries/events-by-attendee.mdx
  docs/docs/auto-schema/operations/queries/get-recurring-events.mdx
  schema.graphql
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/getRecurringEvents.ts
  src/services/eventGeneration/instanceResolver.ts
  src/services/eventGeneration/types.ts
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
  test/graphql/types/Organization/events.test.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/Query/getEventInvitesByUserId.test.ts
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

last coderabbit comment resolved
  test/drizzle/tables/eventAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add test for update mutation
  test/graphql/types/Mutation/updateAgendaItemSequence.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Remove notification template migration artifacts.
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/fastifyPlugins/seedInitialData/variables/default.md
  drizzle_migrations/20260123223316_happy_iron_lad.sql
  drizzle_migrations/meta/_journal.json
  src/envConfigSchema.ts
  src/fastifyPlugins/seedInitialData.ts
  src/graphql/types/Mutation/createOrganization.ts
  test/drizzle/migrations/notificationTemplates.dedup.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/createUser.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(db): enforce comment_votes.type with postgres enum
  drizzle_migrations/20260124182858_little_celestials.sql
  drizzle_migrations/meta/20260124182858_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/schema.ts
  src/drizzle/tables/commentVotes.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR suggestions
  src/graphql/types/AgendaFolder/items.ts
  test/graphql/inputs/MutationUpdateAgendaItemSequenceInput.test.ts
  test/graphql/types/AgendaFolder/items.test.ts
  test/graphql/types/Mutation/updateAgendaItemSequence.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix format
  test/graphql/types/AgendaFolder/items.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

coderabbit suggestion
  src/drizzle/enums/commentVoteType.ts
  src/drizzle/schema.ts
  src/drizzle/tables/commentVotes.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR suggestions
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
  src/graphql/types/AgendaFolder/items.ts
  test/graphql/types/AgendaFolder/items.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

coderabbit issue resolve
  src/drizzle/enums/commentVoteType.ts
  src/graphql/enums/CommentVoteType.ts
  src/graphql/types/Comment/hasUserVoted.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen doc
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
Due: none

address CR suggestions
  test/graphql/types/AgendaFolder/items.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(install): add error handling and idempotency utilities for install scripts (#4863)
  scripts/install/common/error-handling.sh
  scripts/install/common/error-handling.test.sh
Due: none

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
