Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

refactor(plugin): standardize lifecycle logs to structured object format
  docs/docs/auto-docs/plugin/manager/lifecycle/classes/PluginLifecycle.md
  src/plugin/manager/lifecycle.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add coverage for missing lines in backgroundWorkerService
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(plugin): extract warnAboutTablePrefixing helper to reduce duplication
  docs/docs/auto-docs/plugin/utils/functions/clearPluginModuleCache.md
  docs/docs/auto-docs/plugin/utils/functions/createPluginTables.md
  docs/docs/auto-docs/plugin/utils/functions/dropPluginTables.md
  docs/docs/auto-docs/plugin/utils/functions/generateCreateIndexSQL.md
  docs/docs/auto-docs/plugin/utils/functions/generateCreateTableSQL.md
  docs/docs/auto-docs/plugin/utils/functions/removePluginDirectory.md
  src/plugin/utils.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Add edge test case which test invalid data
  test/drizzle/tables/organizationMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: improve test isolation to fix failing tests
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(deleteChatMembership): add comprehensive test coverage
  src/graphql/types/Mutation/deleteChatMembership.ts
  test/graphql/types/Mutation/deleteChatMembership.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add proper test isolation with reset function
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/resetBackgroundWorkerServiceForTesting.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/workers/backgroundWorkerService.ts
  test/fastifyPlugins/performance.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add warning log and re-throw errors in stopBackgroundWorkers
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/resetBackgroundWorkerServiceForTesting.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/workers/backgroundWorkerService.ts
  test/utilities/metrics/performanceTracker.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Fixes : changes suggested by code rabbit adressed
  test/graphql/types/Event/agendaFolders.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: update error message expectation to match specific task error
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: improve type safety and clarify warning messages
  src/workers/backgroundWorkerService.ts
  test/plugin/perfPlugin.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add org membership for actor to exercise deeper authorization branch
  test/graphql/types/Mutation/deleteChatMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(plugin): use structured logging in clearPluginModuleCache
  src/plugin/utils.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve test isolation and update test assertions
  test/plugin/perfPlugin.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

ci: fetch base branch from upstream repository for fork PRs
  .github/workflows/pull-request.yml
Due: none

refactor(plugin): standardize logging and use vi.waitFor in tests
  docs/docs/auto-docs/plugin/manager/lifecycle/classes/PluginLifecycle.md
  src/plugin/manager/lifecycle.ts
  test/plugin/manager/core.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add coverage for 13 missing lines in backgroundWorkerService
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(plugin): standardize lifecycle logs and tighten test assertions
  docs/docs/auto-docs/plugin/manager/lifecycle/classes/PluginLifecycle.md
  src/plugin/manager/lifecycle.ts
  test/plugin/manager/core.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add coverage for missing line in performance.ts
  test/fastifyPlugins/performance.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed conflicts
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
Due: none

refactor(plugin): align rootLogger.error to Pino two-argument pattern
  docs/docs/auto-docs/plugin/utils/functions/clearPluginModuleCache.md
  docs/docs/auto-docs/plugin/utils/functions/createPluginTables.md
  docs/docs/auto-docs/plugin/utils/functions/debounce.md
  docs/docs/auto-docs/plugin/utils/functions/deepClone.md
  docs/docs/auto-docs/plugin/utils/functions/directoryExists.md
  docs/docs/auto-docs/plugin/utils/functions/dropPluginTables.md
  docs/docs/auto-docs/plugin/utils/functions/ensureDirectory.md
  docs/docs/auto-docs/plugin/utils/functions/filterActiveExtensions.md
  docs/docs/auto-docs/plugin/utils/functions/generateCreateIndexSQL.md
  docs/docs/auto-docs/plugin/utils/functions/generateCreateTableSQL.md
  docs/docs/auto-docs/plugin/utils/functions/removePluginDirectory.md
  docs/docs/auto-docs/plugin/utils/functions/sortExtensionPoints.md
  src/plugin/utils.ts
  test/plugin/utils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Test/2995 src/graphql/types/event/agenda folders.ts (#4728)
  test/graphql/types/Event/agendaFolders.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: enhance version validation error handling and improve pnpm install logic
  scripts/install/common/validation.sh
  scripts/install/macos/install-macos.sh
Due: none

fix: add validation functions and test suite for version string handling
  scripts/install/common/README.md
  scripts/install/common/validation.test.sh
Due: none

Oauth: Implement OAuth Configuration Management (#4731)
  docs/docs/auto-docs/config/oauth/functions/getProviderConfig.md
  docs/docs/auto-docs/config/oauth/functions/loadOAuthConfig.md
  docs/docs/auto-docs/config/oauth/interfaces/OAuthProvidersConfig.md
  docs/docs/auto-docs/config/oauth/type-aliases/ProviderKey.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  docs/docs/docs/getting-started/configuration.md
  scripts/setup/setup.ts
  src/config/oauth.ts
  src/envConfigSchema.ts
  test/config/oauth.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: update validation tests and enhance retry command logic
  scripts/install/common/README.md
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

fix: update README and validation tests for parse_package_json function
  scripts/install/common/README.md
  scripts/install/common/validation.test.sh
Due: none

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: none

feat: implement email verification for user registration (Issue #4356)
  drizzle_migrations/20260114012055_swift_maginty.sql
  drizzle_migrations/meta/20260114012055_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/schema.ts
  src/drizzle/tables/emailVerificationTokens.ts
  src/envConfigSchema.ts
  src/graphql/context.ts
  src/graphql/inputs/MutationVerifyEmailInput.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/sendVerificationEmail.ts
  src/graphql/types/Mutation/verifyEmail.ts
  src/graphql/types/SendEmailVerificationPayload.ts
  src/graphql/types/VerifyEmailPayload.ts
  src/utilities/emailTemplates.ts
  src/utilities/emailVerificationTokenUtils.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(signUp): trigger verification email after user registration
  src/graphql/types/Mutation/signUp.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: add rate limiting, tests, and data migration
  drizzle_migrations/20260114012055_data_migration.sql
  src/graphql/types/Mutation/sendVerificationEmail.ts
  src/utilities/emailVerificationRateLimit.ts
  test/utilities/emailVerificationRateLimit.test.ts
  test/utilities/emailVerificationTokenUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve variable declaration in parse_package_json tests to avoid masking return values
  scripts/install/common/validation.test.sh
Due: none

fix: enhance error handling for Node.js installation in macOS script
  scripts/install/macos/install-macos.sh
Due: none

fix : biome comments in test-validation.md
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

fix: requested changes
  CONTRIBUTING.md
  docs/docs/docs/developer-resources/getting-started/contributing.md
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

fix: resolve discrepancy between script guidelines and package.json
  docs/docs/docs/developer-resources/getting-started/contributing.md
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none
