Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

test(drizzle): lint-fix coverage for membershipRequests
  test/drizzle/tables/membershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): strengthen enum and relations coverage for membershipRequests
  test/drizzle/tables/membershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): align membershipRequests tests with runtime Drizzle behavior
  test/drizzle/tables/membershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: optimize eventsByCreator and improve schema types for issue
  schema.graphql
  src/graphql/types/Event/Event.ts
  src/graphql/types/Query/eventsByCreator.ts
  test/graphql/types/Query/eventsByCreator.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: enhance createChat tests with avatar handling and coverage
  test/graphql/types/Mutation/createChat.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: sync schema with implementation and update generated types
  docs/docs/auto-schema/types/objects/event.mdx
  schema.graphql
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: 10_check_disable_statements

add edge test case for organization
  test/drizzle/tables/organization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  test/drizzle/tables/organization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: Add metrics input schemas and database helpers (PR 6a)
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/type-aliases/MetricsFilterInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/ComplexityRangeInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/MetricsFilterInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/complexityRangeSchema.md
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/metricsFilterInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/type-aliases/MetricsInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/variables/MetricsInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/variables/metricsInputSchema.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/calculateMean.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/calculateMedian.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/calculatePercentile.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/getTimeWindows.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/normalizeTimeRange.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/interfaces/TimeWindow.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/interfaces/TimeWindowOptions.md
  docs/docs/auto-schema/types/inputs/complexity-range-input.mdx
  docs/docs/auto-schema/types/inputs/metrics-filter-input.mdx
  docs/docs/auto-schema/types/inputs/metrics-input.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/graphql/inputs/MetricsFilterInput.ts
  src/graphql/inputs/MetricsInput.ts
  src/graphql/inputs/index.ts
  src/utilities/metrics/dbHelpers.ts
  test/graphql/inputs/MetricsFilterInput.test.ts
  test/graphql/inputs/MetricsInput.test.ts
  test/graphql/types/gql.tada.d.ts
  test/utilities/metrics/dbHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add default values to boolean input fields to fix type errors
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/calculatePercentile.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/getTimeWindows.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/normalizeTimeRange.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/interfaces/TimeWindow.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/interfaces/TimeWindowOptions.md
  docs/docs/auto-schema/types/inputs/metrics-filter-input.mdx
  docs/docs/auto-schema/types/inputs/metrics-input.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/inputs/MetricsFilterInput.ts
  src/graphql/inputs/MetricsInput.ts
  test/graphql/inputs/MetricsInput.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add default values to boolean fields and trim validation to operationType
  docs/docs/auto-docs/graphql/inputs/MetricsInput/type-aliases/MetricsInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/variables/MetricsInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/variables/metricsInputSchema.md
  src/graphql/inputs/MetricsInput.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add trim() to operationNames array validation in MetricsFilterInput
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/type-aliases/MetricsFilterInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/MetricsFilterInput.md
  src/graphql/inputs/MetricsFilterInput.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(eventsByCreator): add validation and pagination tests
  src/graphql/types/Query/eventsByCreator.ts
  test/graphql/types/Query/eventsByCreator.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add comprehensive tests for venueBookings table to achieve 100% coverage
  test/drizzle/tables/venueBookings.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix type and remove unused imports
  test/drizzle/tables/venueBookings.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

linting issue resolved
  test/drizzle/tables/venueBookings.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: Enhance createChat test assertions for avatar upload
  test/graphql/types/Mutation/createChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): avoid private internals in membershipRequests tests
  test/drizzle/tables/membershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Format check_docstrings.py with Black
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

Fix docstring violations count to show total violations instead of files
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

Refactor: Simplify multipart request setup in createChat tests
  .github/workflows/scripts/check_docstrings.py
  test/graphql/types/Mutation/createChat.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/helpers.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings

feat: Add Drizzle table definitions for chats, venues, and organization memberships, a new GraphQL input, and extensive API tests.
  src/drizzle/tables/chatMessages.ts
  src/drizzle/tables/chats.ts
  src/drizzle/tables/organizationMemberships.ts
  src/drizzle/tables/venues.ts
  src/graphql/inputs/QueryFundInput.ts
  src/graphql/types/Mutation/createChatMessage.ts
  test/drizzle/tables/venues.test.ts
  test/graphql/types/ActionItem/actionItemCategory.test.ts
  test/graphql/types/ActionItem/creator.test.ts
  test/graphql/types/ActionItem/updater.test.ts
  test/graphql/types/Advertisement/organization.test.ts
  test/graphql/types/Event/organization.test.ts
  test/graphql/types/Mutation/createFundCampaign.test.ts
  test/graphql/types/Mutation/createVenue.test.ts
  test/graphql/types/Mutation/deleteActionItem.test.ts
  test/graphql/types/Mutation/deleteChatMessage.test.ts
  test/graphql/types/Mutation/updateComment.test.ts
  test/graphql/types/Query/allUsers.test.ts
  test/graphql/types/Query/fund.test.ts
  test/graphql/types/Query/getEventAttendeesByEventId.test.ts
  test/graphql/types/Query/signIn.test.ts
  test/graphql/types/Subscription/chatMessageCreate.test.ts
  test/graphql/types/User/organizationsWhereMember.test.ts
  test/graphql/types/Venue/organization.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

role downgrade test
  test/graphql/types/Mutation/updateOrganizationMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: update schema types from ZodUUID to ZodString for input validation
  docs/docs/auto-docs/drizzle/tables/chatMessages/variables/chatMessagesTable.md
  docs/docs/auto-docs/drizzle/tables/chatMessages/variables/chatMessagesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/chatMessages/variables/chatMessagesTableRelations.md
  docs/docs/auto-docs/drizzle/tables/chats/variables/chatsTable.md
  docs/docs/auto-docs/drizzle/tables/chats/variables/chatsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/chats/variables/chatsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/organizationMemberships/variables/organizationMembershipsTable.md
  docs/docs/auto-docs/drizzle/tables/organizationMemberships/variables/organizationMembershipsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/organizationMemberships/variables/organizationMembershipsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/venues/variables/VENUE_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/venues/variables/VENUE_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTable.md
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatInput/variables/mutationCreateChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationMembershipInput/variables/mutationCreateOrganizationMembershipInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteChatInput/variables/mutationDeleteChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteChatMessageInput/variables/mutationDeleteChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteOrganizationMembershipInput/variables/mutationDeleteOrganizationMembershipInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteVenueInput/variables/mutationDeleteVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationJoinPublicOrganizationInput/variables/joinPublicOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateChatInput/variables/mutationUpdateChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateChatMessageInput/variables/mutationUpdateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateOrganizationMembershipInput/variables/mutationUpdateOrganizationMembershipInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryChatInput/variables/queryChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryChatMessageInput/variables/queryChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryFundInput/variables/QueryFundInput.md
  docs/docs/auto-docs/graphql/inputs/QueryFundInput/variables/queryFundInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryVenueInput/variables/queryVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/SubscriptionChatMessageCreateInput/variables/subscriptionChatMessageCreateInputSchema.md
Due: none

style(workflows): simplify string formatting in docstring checker
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

fix(fundCampaignPledges): update validation schemas and fix test cases
  .github/workflows/scripts/check_docstrings.py
  docs/docs/auto-docs/drizzle/tables/fundCampaignPledges/variables/fundCampaignPledgesTable.md
  docs/docs/auto-docs/drizzle/tables/fundCampaignPledges/variables/fundCampaignPledgesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/fundCampaignPledges/variables/fundCampaignPledgesTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateFundCampaignPledgeInput/variables/mutationCreateFundCampaignPledgeInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteFundCampaignPledgeInput/variables/mutationDeleteFundCampaignPledgeInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateFundCampaignPledgeInput/variables/mutationUpdateFundCampaignPledgeInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryFundCampaignPledgeInput/variables/queryFundCampaignPledgeInputSchema.md
  src/drizzle/tables/fundCampaignPledges.ts
  test/graphql/types/Query/fund.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

style: fix indentation in test file and reorder imports
  src/drizzle/tables/fundCampaignPledges.ts
  test/graphql/types/Query/fund.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

coderabbit changes done
  test/drizzle/tables/organization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: replace insecure curl-to-shell with temporary file download Issue: #4267
  scripts/install/linux/install-linux.sh
Due: none

style: format check_docstrings.py with black
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

format check with ruff
  .github/workflows/scripts/check_docstrings.py
  test/graphql/types/Mutation/updateOrganizationMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings

test(drizzle): add unit tests for plugins table schema
  test/unit_tests/plugins.table.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add auto_yes for non-interactive systems
  scripts/install/linux/install-linux.sh
Due: none

format check_docstrings.py with black
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

Added test file for src/drizzle/tables/funds.ts
  test/drizzle/tables/funds.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added documention for auto_yes in installation.md as suggested by code-rabbit
  docs/docs/docs/getting-started/installation.md
  scripts/install/linux/install-linux.sh
Due: none

test(drizzle): add full schema coverage for plugins table
  test/unit_tests/plugins.table.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): use hasDefault for stable default assertions
  test/unit_tests/plugins.table.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
