Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

test: add comprehensive tests for actionItemExceptions table (#4873)
  docs/docs/auto-docs/drizzle/tables/actionItemExceptions/variables/actionItemExceptionsTable.md
  docs/docs/auto-docs/drizzle/tables/actionItemExceptions/variables/actionItemExceptionsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/actionItemExceptions/variables/actionItemExceptionsTableRelations.md
  src/drizzle/tables/actionItemExceptions.ts
  test/unit/drizzle/tables/actionItemExceptions.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: correct snapshot slicing logic in metrics tests
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createVenueBooking.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: improve type safety, test logic, and transaction handling
  docs/docs/auto-docs/drizzle/tables/NotificationTemplate/variables/notificationTemplatesTable.md
  docs/docs/auto-docs/drizzle/tables/NotificationTemplate/variables/notificationTemplatesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/NotificationTemplate/variables/notificationTemplatesTableRelations.md
  docs/docs/auto-docs/fastifyPlugins/seedInitialData/variables/default.md
  drizzle_migrations/20260123223316_happy_iron_lad.sql
  drizzle_migrations/meta/20260123223316_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/tables/NotificationTemplate.ts
  src/fastifyPlugins/seedInitialData.ts
  src/graphql/types/Mutation/createEvent.ts
  test/fastifyPlugins/seedInitialData.test.ts
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/createUser.test.ts
  test/graphql/types/Mutation/updateOrganization.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: correct test expectations and slice logic
  test/fastifyPlugins/seedInitialData.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: improve logging, notification timing, and test reliability
  docs/docs/auto-docs/fastifyPlugins/seedInitialData/variables/default.md
  src/fastifyPlugins/seedInitialData.ts
  src/graphql/types/Mutation/createEvent.ts
  test/fastifyPlugins/seedInitialData.test.ts
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateOrganization.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: scope changes to mutation performance tracking PR
  docs/docs/auto-docs/fastifyPlugins/seedInitialData/variables/default.md
  src/fastifyPlugins/seedInitialData.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  test/fastifyPlugins/seedInitialData.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
  test/graphql/utils/withMutationMetrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: correct snapshot slicing logic in updateOrganization metrics test
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Improve code coverage to 100% for mutation performance tracking
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/fastifyPlugins/seedInitialData/variables/default.md
  src/envConfigSchema.ts
  src/fastifyPlugins/seedInitialData.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  test/fastifyPlugins/seedInitialData.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/deleteOrganization.test.ts
  test/graphql/types/Mutation/updateOrganization.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Add tests to improve patch coverage for mutation files
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/createUser.test.ts
  test/graphql/types/Mutation/deleteOrganization.test.ts
  test/graphql/types/Mutation/updateOrganization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fix test for avatar set to null in createOrganization
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add tests to achieve 100% patch coverage for mutation files
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/createUser.test.ts
  test/graphql/types/Mutation/updateOrganization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fix createEvent test TypeScript error
  test/graphql/types/Mutation/createEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve event query issues, pagination, and test coverage
  docs/docs/auto-schema/operations/queries/events-by-admin.mdx
  docs/docs/auto-schema/operations/queries/events-by-attendee.mdx
  schema.graphql
  src/graphql/types/Event/Event.ts
  src/graphql/types/Query/eventsByAdmin.ts
  src/graphql/types/Query/eventsByAttendee.ts
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
  test/graphql/types/Mutation/sendVerificationEmail.test.ts
  test/graphql/types/Mutation/signInWithOAuth.test.ts
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
  test/graphql/types/Mutation/updateChat.test.ts
  test/graphql/types/Mutation/updateCommunity.test.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
  test/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByCreator.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add eventsByCreator pagination defaults and refactor unified query tests
  test/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Remove duplicated limit assertions
  test/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: prevent silent async test pass
  test/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): align membershipRequests tests with runtime Drizzle behavior
  test/drizzle/tables/membershipRequests.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): align membershipRequests according to coderabbit
  test/drizzle/tables/membershipRequests.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

format fix
  src/drizzle/schema.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

pnpm doc generate done
  src/drizzle/tables/commentVotes.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

changes in enum of commentVotes.ts
  src/drizzle/tables/commentVotes.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(db): enforce comment_votes.type with postgres enum
  drizzle_migrations/20260123174338_solid_mindworm.sql
  drizzle_migrations/meta/20260123174338_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/schema.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

coderabbit suggestion done
  src/drizzle/tables/commentVotes.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(db): enforce comment_votes.type with postgres enum
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVoteTypeEnum.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTable.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateCommentVoteInput/variables/MutationCreateCommentVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateCommentVoteInput/variables/mutationCreateCommentVoteInputSchema.md
  drizzle_migrations/20260124063429_chemical_spyke.sql
  drizzle_migrations/meta/20260124063429_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/schema.ts
  src/drizzle/tables/commentVotes.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: added setuperror class
  scripts/setup/SetupError.ts
Due: 10_check_disable_statements

Add comprehensive tests for fundCampaigns table
  test/drizzle/tables/fundCampaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: updated structure
  scripts/setup/AtomicEnvWriter.ts
  scripts/setup/SetupError.ts
  test/unit/setup/AtomicEnvWriter.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: enhance event queries and refine tests
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstanceByBaseId.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseIds.md
  src/graphql/types/Query/eventQueries/index.ts
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/getRecurringEvents.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

migration fix
  drizzle_migrations/20260124074751_workable_menace.sql
  drizzle_migrations/meta/20260124074751_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

Add comprehensive tests for fundCampaigns table (#4882)
  test/drizzle/tables/fundCampaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix verifyEmail isolation and recurring event assertions
  src/graphql/types/Query/eventQueries/index.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/functions/resolveItems.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
  docs/docs/auto-schema/operations/mutations/update-agenda-item-sequence.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-item-sequence-input.mdx
  docs/docs/auto-schema/types/objects/agenda-folder.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  docs/docs/auto-schema/types/objects/page-info.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

add an update mutation for the sequence and item fields in the agenda folder type
  schema.graphql
  src/graphql/inputs/MutationUpdateAgendaItemSequenceInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/AgendaFolder/index.ts
  src/graphql/types/AgendaFolder/items.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/updateAgendaItemSequence.ts
  test/graphql/inputs/MutationUpdateAgendaItemSequenceInput.test.ts
  test/graphql/types/AgendaFolder/items.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: enhance recurring event tests & optimization
  test/graphql/types/Mutation/verifyEmail.test.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

generate docs
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/functions/resolveItems.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
Due: none

Improve code coverage for eventVolunteerGroupExceptions table
  src/drizzle/tables/eventVolunteerGroupExceptions.ts
  test/drizzle/tables/eventVolunteerGroupExceptions.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
