Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

test: add comprehensive tests for chatMemberships table #4679
  test/unit/drizzle/tables/chatMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: improve relations test assertions based on CodeRabbit review
  test/unit/drizzle/tables/chatMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: address CodeRabbit review - add FK column and UUID validation assertions
  test/unit/drizzle/tables/chatMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

generate auto-docs
  docs/docs/auto-docs/drizzle/tables/eventVolunteerGroupExceptions/variables/eventVolunteerGroupExceptionsTable.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteerGroupExceptions/variables/eventVolunteerGroupExceptionsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteerGroupExceptions/variables/eventVolunteerGroupExceptionsTableRelations.md
Due: none

generate docs
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
Due: none

fix according to coderabbitai suggestion
  test/drizzle/tables/eventVolunteerGroupExceptions.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Harden notification template seeding and metrics tests
  docs/docs/auto-docs/drizzle/tables/NotificationTemplate/variables/notificationTemplatesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/NotificationTemplate/variables/notificationTemplatesTableRelations.md
  drizzle_migrations/20260123223316_happy_iron_lad.sql
  src/drizzle/tables/NotificationTemplate.ts
  test/fastifyPlugins/seedInitialData.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/createUser.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Fix migration index creation in transaction
  drizzle_migrations/20260123223316_happy_iron_lad.sql
Due: none

Fix metrics polling and harden createEvent tests
  drizzle_migrations/20260123223316_happy_iron_lad.sql
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/createUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Avoid concurrent index in transactional migration
  drizzle_migrations/20260123223316_happy_iron_lad.sql
Due: none

Stabilize metrics polling and migration dedup tests.
  test/drizzle/migrations/notificationTemplates.dedup.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/createUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add comprehensive tests for eventVolunteers table (100% coverage) (#4856)
  test/unit/drizzle/tables/eventVolunteers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(graphql): extract upVoters complexity calculation to separate function (#4852)
  docs/docs/auto-docs/graphql/types/Post/upVoters/functions/upVotersComplexity.md
  src/graphql/types/Post/upVoters.ts
  test/graphql/types/Post/upVoters.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix #4705 (Test Drizzle: src/drizzle/tables/postVotes.ts) (#4838)
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Automatically start development server in talawa-api container on launch #4829 (#4843)
  compose.yaml
  docker/api.Containerfile
  docker/compose.devcontainer.yaml
  docs/docs/docs/getting-started/operation.md
Due: none

chore(test): apply biome formatting for recurringEventInstances tests
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fix #4678 (Test Drizzle: src/drizzle/tables/blockedUsers.ts) (#4854)
  test/drizzle/tables/blockedUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add unit tests for events table coverage (#4853)
  drizzle_migrations/20260121160356_ambiguous_pyro.sql
  drizzle_migrations/meta/20260121160356_snapshot.json
  drizzle_migrations/meta/_journal.json
  test/drizzle/tables/funds.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/drizzle/tables/events.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): strengthen invalid payload test for sequenceNumber constraint
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: add OAuth GraphQL schema types and mutations (#4836)
  docs/docs/auto-docs/graphql/enums/OAuthProvider/variables/OAuthProvider.md
  docs/docs/auto-docs/graphql/inputs/MutationOAuthLoginInput/variables/MutationOAuthLoginInput.md
  docs/docs/auto-docs/graphql/types/OAuthAccountInfo/OAuthAccountInfo/type-aliases/OAuthAccountInfo.md
  docs/docs/auto-docs/graphql/types/OAuthAccountInfo/OAuthAccountInfo/variables/OAuthAccountInfo.md
  docs/docs/auto-schema/operations/mutations/link-oauth-account.mdx
  docs/docs/auto-schema/operations/mutations/sign-in-with-oauth.mdx
  docs/docs/auto-schema/operations/mutations/unlink-oauth-account.mdx
  docs/docs/auto-schema/types/enums/oauth-provider.mdx
  docs/docs/auto-schema/types/inputs/oauth-login-input.mdx
  docs/docs/auto-schema/types/objects/authentication-payload.mdx
  docs/docs/auto-schema/types/objects/oauth-account-info.mdx
  docs/docs/auto-schema/types/objects/user.mdx
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  docs/docs/docs/getting-started/environment-variables.md
  schema.graphql
  src/graphql/enums/OAuthProvider.ts
  src/graphql/enums/index.ts
  src/graphql/inputs/MutationOAuthLoginInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/linkOAuthAccount.ts
  src/graphql/types/Mutation/signInWithOAuth.ts
  src/graphql/types/Mutation/unlinkOAuthAccount.ts
  src/graphql/types/OAuthAccountInfo/OAuthAccountInfo.ts
  src/graphql/types/OAuthAccountInfo/index.ts
  src/graphql/types/User/index.ts
  src/graphql/types/User/oauthAccounts.ts
  src/graphql/types/index.ts
  test/drizzle/tables/funds.test.ts
  test/drizzle/tables/venueBookings.test.ts
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
  test/graphql/types/Mutation/signInWithOAuth.test.ts
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
  test/graphql/types/User/oauthAccounts.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Fixes #4704 (Test Drizzle: src/drizzle/tables/postAttachments.ts) (#4834)
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add 100% coverage tests for recurrenceRules.ts (#4759)
  src/drizzle/tables/recurrenceRules.ts
  test/unit/drizzle/tables/recurrenceRules.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Adding Explicit Flags to codecov.yml (#4850)
  .github/workflows/pull-request.yml
  codecov.yml
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: none

test(drizzle): add totalCount min(1) validation test
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): strengthen relations and constraint assertions
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): align eventVolunteerGroups tests with FK and column conventions
  test/unit/drizzle/tables/eventVolunteerGroups.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): fully validate eventVolunteerGroups schema, relations, and indexes
  test/unit/drizzle/tables/eventVolunteerGroups.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): strengthen schema constraint assertions
  test/unit/drizzle/tables/recurringEventInstances.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added tests for src/drizzle/tables/posts.ts for 100% coverage (#4846)
  test/drizzle/tables/agendaItemUrl.test.ts
  test/drizzle/tables/posts.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Added test coverage for src/drizzle/tables/venueAttachments.ts (#4855)
  test/drizzle/tables/venueAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): add full coverage for eventVolunteerGroups table
  test/unit/drizzle/tables/eventVolunteerGroups.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): make Zod schema assertion Zod v4 compatible
  test/unit/drizzle/tables/eventVolunteerGroups.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): verify onDelete behavior for all foreign keys
  test/unit/drizzle/tables/eventVolunteerGroups.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Harden migration checks and stabilize metrics tests.
  drizzle_migrations/20260123223316_happy_iron_lad.sql
  test/drizzle/migrations/notificationTemplates.dedup.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Harden dedup test count handling.
  test/drizzle/migrations/notificationTemplates.dedup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Harden migration pre-check test assertion.
  test/drizzle/migrations/notificationTemplates.dedup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Align pre-check error assertions.
  test/drizzle/migrations/notificationTemplates.dedup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: improve recurring event queries and cleanup tests
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstanceByBaseId.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstanceById.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesInDateRange.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/interfaces/GetRecurringEventInstancesInput.md
  docs/docs/auto-schema/operations/queries/events-by-creator.mdx
  docs/docs/auto-schema/operations/queries/get-recurring-events.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  schema.graphql
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/graphql/types/Query/eventsByCreator.ts
  src/graphql/types/Query/getRecurringEvents.ts
  test/graphql/types/Mutation/signInWithOAuth.test.ts
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
  test/graphql/types/Mutation/updateChat.test.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix docs related failing test
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemSequenceInput/variables/MutationUpdateAgendaItemSequenceInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
Due: none

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
