Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

Refactor Zod error parsing to helper, document error priority, and refine GraphQL error validation tests
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  src/routes/graphql.ts
  test/routes/graphqlErrorValidation.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: restore previous signal traps in with_spinner to avoid clobbering
  scripts/install/common/logging.sh
Due: none

test(Event/venues.ts): achieve 100% code coverage (#2983).
  test/graphql/types/Event/venues.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Test event generation windows (#4897)
  test/drizzle/tables/eventGenerationWindows.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: integrated atomic writes and error recovery
  scripts/setup/setup.ts
Due: 10_check_disable_statements

feat(recurring-events): add pagination and cancellation filtering to getRecurringEvents
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseId.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/interfaces/GetRecurringEventInstancesByBaseIdOptions.md
  src/graphql/types/Event/Event.ts
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  test/fixtures/recurringEventFixtures.ts
  test/graphql/types/Query/getRecurringEvents.test.ts
  test/graphql/types/documentNodes.ts
  test/helpers/recurringEventTestHelpers.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(graphql): add pagination and cancellation filter to getRecurringEvents
  test/graphql/types/Query/getRecurringEvents.test.ts
  test/helpers/recurringEventTestHelpers.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: format GraphQL type definitions and query conditions
  src/graphql/types/Event/Event.ts
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(recurring-events): add pagination and cancellation support
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: improve validation and authorization tests for getRecurringEvents
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(graphql): add offset validation and pagination parameters
  src/graphql/types/Query/getRecurringEvents.ts
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: remove out-of-scope files from mutation performance tracking PR
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/drizzle/tables/NotificationTemplate/variables/notificationTemplatesTable.md
  docs/docs/auto-docs/drizzle/tables/NotificationTemplate/variables/notificationTemplatesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/NotificationTemplate/variables/notificationTemplatesTableRelations.md
  docs/docs/auto-docs/drizzle/tables/actionItemExceptions/variables/actionItemExceptionsTable.md
  docs/docs/auto-docs/drizzle/tables/actionItemExceptions/variables/actionItemExceptionsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/actionItemExceptions/variables/actionItemExceptionsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteerGroupExceptions/variables/eventVolunteerGroupExceptionsTable.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteerGroupExceptions/variables/eventVolunteerGroupExceptionsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventVolunteerGroupExceptions/variables/eventVolunteerGroupExceptionsTableRelations.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/tables/NotificationTemplate.ts
  src/drizzle/tables/actionItemExceptions.ts
  src/drizzle/tables/eventVolunteerGroupExceptions.ts
  src/envConfigSchema.ts
  src/fastifyPlugins/performance.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/index.ts
  test/drizzle/tables/eventVolunteerGroupExceptions.test.ts
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateAgendaItemSequence.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
  test/graphql/types/Query/organizationUsers.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
  test/helpers.ts
  test/unit/drizzle/tables/actionItemExceptions.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor(tests): consolidate recurring event test data and remove duplicate function
  schema.graphql
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/helpers/recurringEventTestHelpers.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: remove unused updateAgendaItemSequence mutation file
  src/graphql/types/Mutation/updateAgendaItemSequence.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: add isCancelled field to Event type documentation
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseId.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/interfaces/GetRecurringEventInstancesByBaseIdOptions.md
  docs/docs/auto-schema/types/objects/event.mdx
Due: none

refactor: replace hardcoded offset limit with constant
  src/graphql/types/Query/getRecurringEvents.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: revert out-of-scope auto-generated files (docs, schema.graphql)
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  docs/docs/docs/getting-started/operation.md
Due: none

chore: revert schema.graphql to base state (remove agenda items changes)
  schema.graphql
Due: none

fix
  src/graphql/types/Query/getRecurringEvents.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: improve getRecurringEvents authentication and authorization tests
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: Enhance getRecurringEvents query with pagination, filtering, and tests (#4918)
  docs/docs/auto-schema/types/objects/event.mdx
  schema.graphql
  src/graphql/types/Event/Event.ts
  test/fixtures/recurringEventFixtures.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/getRecurringEvents.test.ts
  test/graphql/types/documentNodes.ts
  test/helpers/recurringEventTestHelpers.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: fixed linting
  README.md
  test/drizzle/tables/EmailNotification.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: made required changes
  test/drizzle/tables/NotificationAudience.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: added test for email notification (#4905)
  README.md
  test/drizzle/tables/EmailNotification.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: changed
  test/drizzle/tables/NotificationAudience.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix :test
  test/graphql/types/gql.tada.d.ts
Due: 10_check_disable_statements

test: added test for NotificationAudience (#4914)
  test/drizzle/tables/NotificationAudience.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(graphql): refine error code handling and expand HTTP status mapping
  src/routes/graphql.ts
  test/routes/graphqlErrorValidation.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

created test file for eventAttendees
  test/drizzle/tables/eventAttendees.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed test in eventAttachments and added test in eventAttendees
  test/drizzle/tables/eventAttachments.test.ts
  test/drizzle/tables/eventAttendees.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added test for both eventId and recurringEventInstanceId set
  test/drizzle/tables/eventAttendees.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

restored eventAttachments.test.ts file
  test/drizzle/tables/eventAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add tests for communities table
  test/drizzle/tables/communities.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Created test file for src/drizzle/tables/eventAttendees.ts (#4898)
  test/drizzle/tables/eventAttendees.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix Event venues tests - add org membership setup
  test/graphql/types/Event/venues.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: improve Event venues test assertions and use shared document nodes (#2983)
  test/graphql/types/Event/venues.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: split setup.ts into service-specific modules
  scripts/setup/emailSetup.ts
  scripts/setup/services/administratorSetup.ts
  scripts/setup/services/apiSetup.ts
  scripts/setup/services/caddySetup.ts
  scripts/setup/services/ciSetup.ts
  scripts/setup/services/cloudbeaverSetup.ts
  scripts/setup/services/minioSetup.ts
  scripts/setup/services/postgresSetup.ts
  scripts/setup/setup.ts
  scripts/setup/types.ts
  scripts/setup/validators.ts
Due: 10_check_disable_statements
