Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

test(Mutation/deleteVenueBooking): achieve 100% code coverage #3833 (#4230)
  test/graphql/types/Mutation/deleteVenueBooking.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: none

Enhanced WSL Detection with Multiple Fallback Methods (#4313)
  scripts/install/install.sh
Due: none

fix: enhance error messages and troubleshooting guidance in install script (#4314)
  scripts/install/linux/install-linux.sh
Due: none

fix:added idempotency in apt-get update and pnpm installation as well… (#4311)
  scripts/install/linux/install-linux.sh
Due: none

revert: Remove out-of-scope changes from pull-request.yml workflow
  .github/workflows/pull-request.yml
  drizzle_migrations/20260109000300_adorable_hitman.sql
  drizzle_migrations/meta/20260109000300_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
Due: none

docs: Regenerate GraphQL schema documentation
  docs/docs/auto-schema/operations/mutations/delete-chat.mdx
Due: none

fix: Update performance plugin to wrap clients and fix GraphQL schema docs
  schema.graphql
  src/fastifyPlugins/performance.ts
  src/graphql/inputs/MutationDeleteChatInput.ts
  src/graphql/types/Mutation/deleteChat.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Add cacheProxy and drizzleProxy with tests for performance tracking
  src/utilities/metrics/cacheProxy.ts
  src/utilities/metrics/drizzleProxy.ts
  test/fastifyPlugins/performance.test.ts
  test/utilities/metrics/cacheProxy.test.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: Regenerate auto-docs and GraphQL schema documentation
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/utilities/metrics/cacheProxy/functions/wrapCacheWithMetrics.md
  docs/docs/auto-docs/utilities/metrics/drizzleProxy/functions/wrapDrizzleWithMetrics.md
  docs/docs/auto-schema/operations/mutations/delete-chat.mdx
  docs/docs/auto-schema/types/inputs/mutation-delete-chat-input.mdx
Due: none

refactor: improve performance tracking with Proxy-based wrappers and 100% test coverage
  run-all-shards.sh
  src/envConfigSchema.ts
  src/fastifyPlugins/performance.ts
  src/utilities/metrics/cacheProxy.ts
  test/fastifyPlugins/performance.test.ts
  test/routes/rest/serverTiming.test.ts
  test/utilities/metrics/cacheProxy.test.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: regenerate auto-docs after performance tracking improvements
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/utilities/metrics/cacheProxy/functions/wrapCacheWithMetrics.md
Due: none

fix: improve test coverage and fix test failures
  src/utilities/metrics/drizzleProxy.ts
  test/fastifyPlugins/performance.test.ts
  test/utilities/metrics/cacheProxy.test.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve test failures in performance plugin tests
  src/fastifyPlugins/performance.ts
  test/fastifyPlugins/performance.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve object type checking in drizzleProxy and document test mock limitations
  src/utilities/metrics/drizzleProxy.ts
  test/utilities/metrics/cacheProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve drizzleProxy object detection and fix performance test hooks
  src/utilities/metrics/drizzleProxy.ts
  test/fastifyPlugins/performance.test.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: performance tracking improvements and code quality fixes
  run-all-shards.sh
  src/envConfigSchema.ts
  src/fastifyPlugins/performance.ts
  src/utilities/metrics/cacheProxy.ts
  src/utilities/metrics/drizzleProxy.ts
  src/utilities/metrics/performanceTracker.ts
  test/fastifyPlugins/performance.test.ts
  test/utilities/metrics/cacheProxy.test.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: remove biome-ignore and regenerate documentation
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/createPerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTrackerOptions.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/PerfSnapshot.md
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: correct TypeScript types for builder chaining test
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

InstallFix (Linux) - Define Magic Paths as Constants at Script Top #4274 (#4295)
  scripts/install/linux/install-linux.sh
Due: none

refactor: improve performance metrics implementation and tests
  run-all-shards.sh
  scripts/run-shard.js
  src/fastifyPlugins/performance.ts
  src/utilities/metrics/drizzleProxy.ts
  test/utilities/metrics/cacheProxy.test.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve linting errors from CI
  src/fastifyPlugins/performance.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add required table arguments to insert/update/delete builder tests
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: use proper table type for insert/update/delete builder tests
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: regenerate TypeDoc documentation after performance plugin changes
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
Due: none

fix: final improvements for performance metrics implementation
  run-all-shards.sh
  src/fastifyPlugins/performance.ts
  test/fastifyPlugins/performance.test.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add coverage for missing lines in drizzleProxy and performance plugin
  test/fastifyPlugins/performance.test.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: improve run-all-shards.sh robustness and fix test coverage
  run-all-shards.sh
  scripts/run-shard.js
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix builder.then() test to explicitly call .then() through Proxy
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address all code review suggestions for robustness and test quality
  run-all-shards.sh
  scripts/run-shard.js
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: preserve Proxy through builder method chaining
  src/utilities/metrics/drizzleProxy.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: address all CodeRabbit suggestions for robustness and test quality
  run-all-shards.sh
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: improve builder chaining Proxy preservation and grep condition
  run-all-shards.sh
  src/utilities/metrics/drizzleProxy.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: use async promises in builder chaining tests to ensure .then() is called
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: integrate performance tracking with GraphQL context
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  src/routes/graphql.ts
  src/utilities/metrics/drizzleProxy.ts
  test/graphql/types/Mutation/updateChat.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/routes/graphql.test.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: implement zero-overhead path and fix context client consistency
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  src/routes/graphql.ts
  src/utilities/metrics/drizzleProxy.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve test failures and improve code quality
  src/routes/graphql.ts
  src/utilities/metrics/drizzleProxy.ts
  test/graphql/types/Mutation/sendEventInvitations.test.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add comprehensive tests for sendMembershipRequest mutation
  test/graphql/types/Mutation/sendMembershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: correct promise tracking in wrapBuilderMethod
  src/utilities/metrics/drizzleProxy.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: correctly time base promise before attaching callbacks
  src/utilities/metrics/drizzleProxy.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors
