Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableRelations.md
Due: none

fix failing tests
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments and add test to inc coverage
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-item-input.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/AgendaItem/createdAt.ts
  src/graphql/types/AgendaItem/updatedAt.ts
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix format
  src/drizzle/tables/agendaItems.ts
  src/graphql/types/AgendaItem/folder.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix failing test
  test/graphql/types/Query/agendaCategoriesByEventId.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_NOTES_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/graphql/types/AgendaItem/folder/functions/resolveFolder.md
  test/graphql/types/AgendaItem/folder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add test to inc coverage
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-item-input.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/AgendaItem/AgendaItem.ts
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix failing test n address CR suggestions
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test
  test/graphql/types/AgendaItem/folder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

update test to inc coverage
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add test to inc coverage
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  src/drizzle/tables/agendaItems.ts
  src/graphql/types/AgendaItem/AgendaItem.ts
  src/graphql/types/AgendaItem/folder.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  test/graphql/types/AgendaItem/folder.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR suggestions
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/AgendaItem/url.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-item-input.mdx
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  src/graphql/types/AgendaItem/creator.ts
  test/graphql/types/AgendaItem/creator.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR suggestions
  src/graphql/types/Mutation/createAgendaItem.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/creator.test.ts
  test/graphql/types/AgendaItem/htmlEscaping.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix format
  test/graphql/types/AgendaItem/agendaCategory.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  test/graphql/types/Mutation/createEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/AgendaItem/url.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR suggestions
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/event.test.ts
  test/graphql/types/AgendaItem/folder.test.ts
  test/graphql/types/AgendaItem/url.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  test/graphql/types/AgendaItem/creator.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  src/graphql/types/AgendaItem/creator.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

resolve conflict
  drizzle_migrations/20260115233050_third_leopardon.sql
  drizzle_migrations/meta/20260115233050_snapshot.json
Due: none

gen migrations and resolve conflict
  drizzle_migrations/20260117235524_outstanding_wildside.sql
  drizzle_migrations/meta/20260117235524_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

address CR suggestions
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  test/graphql/types/Mutation/createEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): strengthen enum and relations coverage for membershipRequests
  test/drizzle/tables/membershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): add coverage for membershipRequests table (#4700)
  test/drizzle/tables/membershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): lint-fix coverage for membershipRequests
  test/drizzle/tables/membershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
