Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

fix: optimize eventsByAttendee pagination and improve test assertions
  src/graphql/types/Query/eventsByAttendee.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor(drizzle): update venue bookings table schemas and docs
  docs/docs/auto-docs/drizzle/tables/venueBookings/variables/venueBookingsTable.md
  docs/docs/auto-docs/drizzle/tables/venueBookings/variables/venueBookingsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/venueBookings/variables/venueBookingsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueBookingInput/variables/mutationCreateVenueBookingInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteVenueBookingInput/variables/mutationDeleteVenueBookingInputSchema.md
Due: none

fix(events): filter cancelled instances and improve query tests
  src/graphql/types/Query/eventsByAttendee.ts
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByCreator.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs(events-by-attendee): update JSDoc and add edge case unit tests
  src/graphql/types/Query/eventsByAttendee.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

update to relationName
  src/drizzle/tables/users.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Added test coverage for src/drizzle/tables/tags.ts
  test/drizzle/tables/tags.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Changes suggested by code rabbit are resolved
  test/drizzle/tables/tags.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(eventsByAttendee): exclude cancelled instances and verify deduplication
  src/graphql/types/Query/eventsByAttendee.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(eventsByAttendee): add test for direct registration of cancelled instances
  test/graphql/types/Query/eventsByAttendee.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(eventsByAttendee): improve assertions for recurrence and standalone properties
  test/graphql/types/Query/eventsByAttendee.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: Fix Codecov flags config and CI upload
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  codecov.yml
Due: none

chore: Add project status check to codecov flag management
  codecov.yml
Due: none

chore: Expand Codecov flag paths
  codecov.yml
Due: none

chore: Fix codecov path duplication and add missing test paths
  codecov.yml
Due: none

chore: Implement split test execution for accurate Codecov flags
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  scripts/run-shard.js
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: none

fix: Add name_prefix to codecov flags and fix PR workflow coverage logic
  .github/workflows/pull-request.yml
  codecov.yml
Due: none

fix: Explicitly configure globalSetup in unit and integration vitest configs
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: none

fix: Simplify codecov.yml by removing redundant flags
  codecov.yml
Due: none

fix: Correct CP command in CI, filter args in run-shard, and cleanup config comments
  .github/workflows/push.yml
  scripts/run-shard.js
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: none

test: add unit tests for eventVolunteerExceptions table schema
  test/unit/drizzle/tables/eventVolunteerExceptions.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: extract setups to beforeEach in eventVolunteerExceptions tests
  test/unit/drizzle/tables/eventVolunteerExceptions.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(graphql): simplify zod schema validation and update docs
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/complexityRangeSchema.md
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/metricsFilterInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/type-aliases/MetricsInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/variables/MetricsInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/variables/metricsInputSchema.md
  src/graphql/inputs/MetricsInput.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: Resolve Biome lint errors in test configs and scripts
  scripts/run-shard.js
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: none

Upgrade CodeQL action versions to v4
  .github/workflows/codeql-codescan.yml
Due: none

edge test case for poststtachments
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix formatting
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

coderabbit changes done
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Set timeout for Run-Tests job to 10 minutes
  .github/workflows/pull-request.yml
Due: none

docs: update performance monitoring documentation with sample outputs (#4755)
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

test(drizzle): add unit tests for plugins table schema (#4822)
  test/unit_tests/plugins.table.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add unit tests for eventVolunteerExceptions table schema (#4831)
  test/unit/drizzle/tables/eventVolunteerExceptions.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Test: Added Comprehensive test for src/graphql/types/Mutation/updateOrganizationMembership (#4809)
  test/graphql/types/Mutation/updateOrganizationMembership.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Feat: Add the Agenda Item Url table for the Agenda feature. (#4820)
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableRelations.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableRelations.md
  docs/docs/auto-schema/types/objects/agenda-item-url.mdx
  drizzle_migrations/20260118085346_handy_morgan_stark.sql
  drizzle_migrations/20260118100706_brown_songbird.sql
  drizzle_migrations/20260118110846_shallow_stephen_strange.sql
  drizzle_migrations/meta/20260118085346_snapshot.json
  drizzle_migrations/meta/20260118100706_snapshot.json
  drizzle_migrations/meta/20260118110846_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/schema.ts
  src/drizzle/tables/agendaItemUrls.ts
  src/drizzle/tables/agendaItems.ts
  test/drizzle/tables/agendaItemUrl.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Added tests for drizzle/tables/users.ts (#4826)
  src/drizzle/tables/users.ts
  test/drizzle/tables/users.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add 100% coverage tests for recurrenceRules.ts
  test/unit/drizzle/tables/recurrenceRules.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
