Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

added test cases
  test/createServer.correlationId.test.ts
  test/fastifyPlugins/errorHandler.test.ts
Due: 9_check_mock_isolation

feat: add TSDoc validation script tests, improve TSDoc brace escaping, and clarify recurring event instance limit documentation.
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/interfaces/GetRecurringEventInstancesInput.md
  knip.json
  scripts/check_tsdoc.ts
  scripts/fix_tsdoc.ts
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  test/scripts/check_tsdoc.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix(error-handling): sanitize error extensions and improve error response consistency
  src/fastifyPlugins/errorHandler.ts
  src/graphql/types/ActionItemCategory/ActionItemCategory.ts
  src/routes/graphql.ts
  src/utilities/TalawaGraphQLError.ts
  src/utilities/errors/TalawaRestError.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Mutation/createPost.test.ts
  test/graphql/types/Query/getPledgesByCampaignID.test.ts
  test/plugin/pluginWebhooks.test.ts
  test/utilities/errors/TalawaRestError.test.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test(mutation/createCommentVote): achieve 100% code coverage #3872
  docs/docs/auto-schema/types/objects/tag.mdx
  schema.graphql
  test/graphql/types/Mutation/createCommentVote.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation

feat: improve TSDoc parsing and fixing scripts, add tests for TSDoc scripts
  docs/docs/auto-docs/graphql/types/AgendaFolder/updatedAt/functions/resolveUpdatedAt.md
  docs/docs/auto-docs/graphql/types/FundCampaign/updatedAt/functions/updatedAtResolver.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstanceById.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesInDateRange.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/interfaces/GetRecurringEventInstancesInput.md
  scripts/check_tsdoc.ts
  scripts/fix_tsdoc.ts
  src/graphql/types/AgendaFolder/updatedAt.ts
  src/graphql/types/FundCampaign/updatedAt.ts
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  test/scripts/check_tsdoc.test.ts
  test/scripts/fix_tsdoc.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test: add comprehensive tests for AgendaFolder.updatedAt field (#4150)
  docs/docs/auto-docs/graphql/types/AgendaFolder/updatedAt/functions/resolveUpdatedAt.md
  src/graphql/types/AgendaFolder/updatedAt.ts
  test/graphql/types/AgendaFolder/updatedAt.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

feat: Allow administrators to delete other users' comment votes by ac… (#4138)
  src/graphql/types/Mutation/deleteCommentVote.ts
  test/graphql/types/Mutation/deleteCommentVote.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

Test/update fund campaign rebased (#4144)
  src/graphql/types/Mutation/updateFundCampaign.ts
  test/graphql/types/Mutation/updateFundCampaign.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

feat: add Amount Raised field to Fund Campaign (#4147)
  docs/docs/auto-docs/drizzle/tables/fundCampaigns/variables/fundCampaignsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/fundCampaigns/variables/fundCampaignsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateFundCampaignInput/variables/mutationCreateFundCampaignInputSchema.md
  docs/docs/auto-docs/graphql/types/FundCampaign/FundCampaign/variables/FundCampaign.md
  docs/docs/auto-docs/graphql/types/FundCampaign/creator/functions/creatorResolver.md
  docs/docs/auto-docs/graphql/types/FundCampaign/fund/functions/fundCampaignFundResolver.md
  docs/docs/auto-docs/graphql/types/FundCampaign/pledgedAmount/functions/resolvePledgedAmount.md
  docs/docs/auto-docs/graphql/types/FundCampaign/updatedAt/functions/updatedAtResolver.md
  docs/docs/auto-docs/graphql/types/FundCampaign/updater/functions/updaterResolver.md
  docs/docs/auto-schema/types/objects/fund-campaign.mdx
  drizzle_migrations/20251228090115_faulty_lizard.sql
  drizzle_migrations/meta/20251228090115_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/tables/fundCampaigns.ts
  src/graphql/types/FundCampaign/FundCampaign.ts
  src/graphql/types/Mutation/createFundCampaignPledge.ts
  src/graphql/types/Mutation/deleteFundCampaignPledge.ts
  src/graphql/types/Mutation/updateFundCampaignPledge.ts
  test/graphql/types/FundCampaign/amountRaised.test.ts
  test/graphql/types/FundCampaign/createdAt.test.ts
  test/graphql/types/FundCampaign/creator.test.ts
  test/graphql/types/FundCampaign/pledgedAmount.test.ts
  test/graphql/types/FundCampaign/updatedAt.test.ts
  test/graphql/types/FundCampaign/updater.test.ts
  test/graphql/types/Mutation/createFundCampaignPledge.test.ts
  test/graphql/types/Mutation/updateFundCampaignPledge.test.ts
  test/graphql/types/Query/chatMessage.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix(error-handling): make correlationId optional in error response payload
  src/utilities/errors/TalawaRestError.ts
  test/utilities/errors/TalawaRestError.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test: add 100% coverage for Tag/organization.ts resolver (#4137)
  src/graphql/types/Tag/organization.ts
  test/graphql/types/Tag/organization.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix: update Node.js to v22.21.1 LTS and improve documentation #4116 (#4148)
  .github/workflows/pull-request.yml
  .nvmrc
  docker/api.Containerfile
  docs/docs/docs/getting-started/installation.md
  package.json
Due: none

test: 100% coverage for updateComment mutation (#4145)
  test/graphql/types/Mutation/updateComment.test.ts
Due: 9_check_mock_isolation

Add .nvmrc to .gitignore
  .gitignore
Due: none

fix: correct brace escaping in documentation and code examples, and update TSDoc script to ignore code fences.
  docs/docs/auto-docs/fastifyPlugins/drizzleClient/variables/drizzleClient.md
  docs/docs/auto-docs/fastifyPlugins/minioClient/variables/minioClient.md
  docs/docs/auto-docs/routes/variables/routes.md
  scripts/fix_tsdoc.ts
  src/fastifyPlugins/drizzleClient.ts
  src/fastifyPlugins/minioClient.ts
  src/routes/index.ts
  test/scripts/fix_tsdoc.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

feat: add performance metrics foundation with Server-Timing headers
  src/fastifyPlugins/index.ts
  src/fastifyPlugins/performance.ts
  src/utilities/metrics/performanceTracker.ts
  test/routes/rest/serverTiming.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix typescript error and add auto generated docs
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/createPerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/OpStats.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/PerfSnapshot.md
  test/routes/rest/serverTiming.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation

refactor: improve TypeScript type safety for performance metric
  src/fastifyPlugins/performance.ts
  test/routes/rest/serverTiming.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

perf: optimize array trimming with single splice operation
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  src/fastifyPlugins/performance.ts
Due: check_gql_tada, fix_code_quality, check_type_errors

configure serverTiming tests to use test database hosts for CI
  test/routes/rest/serverTiming.test.ts
Due: 9_check_mock_isolation

fix: remove redundant assertion in serverTiming test
  test/routes/rest/serverTiming.test.ts
Due: 9_check_mock_isolation

fix: reduce timing assertion threshold for CI compatibility
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation

test: added tests for increase code coverage to 100%
  test/graphql/types/Mutation/createFund.test.ts
Due: 9_check_mock_isolation

fix(test): rename and fix misleading invalid vote type test
  test/graphql/types/Mutation/createCommentVote.test.ts
Due: 9_check_mock_isolation

feat: implement dataloaders for user, organization, event, and action items with tests and documentation
  docs/docs/auto-docs/fastifyPlugins/drizzleClient/type-aliases/DrizzleClient.md
  docs/docs/auto-docs/fastifyPlugins/drizzleClient/variables/drizzleClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/functions/createDataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/type-aliases/Dataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  package.json
  pnpm-lock.yaml
  src/fastifyPlugins/drizzleClient.ts
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/index.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/routes/graphql.test.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test: Add caching tests for dataloaders and update `inArray` type assertions.
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

chore: Remove debug complexity console log and its corresponding test.
  src/routes/graphql.ts
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix: add missing message properties for TypeScript compliance
  test/graphql/types/Mutation/blockUser.test.ts
Due: 9_check_mock_isolation

test: add invalid UUID format validation tests
  test/graphql/types/Mutation/blockUser.test.ts
Due: 9_check_mock_isolation

chore(test): fix Biome formatting for expect(...some(...)) in blockUser tests
  test/graphql/types/Mutation/blockUser.test.ts
Due: 9_check_mock_isolation

fix: add UUID validation to blockUser mutation arguments
  src/graphql/types/Mutation/blockUser.ts
Due: check_gql_tada, fix_code_quality, check_type_errors

fix: revert sensitive file changes and remove invalid UUID tests
  biome
  intro.md
  solved.md
  src/graphql/types/Mutation/blockUser.ts
  talawa-api@1.0.0
  test/graphql/types/Mutation/blockUser.test.ts
  workflow.md
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test: add test file for deleteAgendaFolder.ts
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
Due: 9_check_mock_isolation

Feat: Implement DataLoader Infrastructure for N+1 Query Prevention (#4164)
  docs/docs/auto-docs/fastifyPlugins/drizzleClient/type-aliases/DrizzleClient.md
  docs/docs/auto-docs/fastifyPlugins/drizzleClient/variables/drizzleClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/functions/createDataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/type-aliases/Dataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  package.json
  pnpm-lock.yaml
  src/fastifyPlugins/drizzleClient.ts
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/index.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/routes/graphql.test.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test: added tests for increase code coverage to 100% (#4163)
  test/graphql/types/Mutation/createFund.test.ts
Due: 9_check_mock_isolation

Test: Improve code coverage for updateCurrentUser.ts mutation (#4097)
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  src/graphql/types/Mutation/updateCurrentUser.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
