Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

gen docs
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

revert .github\workflows\scripts\check_docstrings.py
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

address CR suggestions
  drizzle_migrations/20260118110846_shallow_stephen_strange.sql
  drizzle_migrations/meta/20260118110846_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableRelations.md
Due: none

address CR suggestions
  src/drizzle/tables/agendaItemUrls.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: update venue schema documentation files
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
Due: none

refactor: update schema types from ZodUUID to ZodString for input validation
  docs/docs/auto-docs/drizzle/tables/chatMessages/variables/chatMessagesTable.md
  docs/docs/auto-docs/drizzle/tables/chatMessages/variables/chatMessagesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/chatMessages/variables/chatMessagesTableRelations.md
  docs/docs/auto-docs/drizzle/tables/chats/variables/chatsTable.md
  docs/docs/auto-docs/drizzle/tables/chats/variables/chatsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/chats/variables/chatsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/organizationMemberships/variables/organizationMembershipsTable.md
  docs/docs/auto-docs/drizzle/tables/organizationMemberships/variables/organizationMembershipsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/organizationMemberships/variables/organizationMembershipsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/venues/variables/VENUE_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/venues/variables/VENUE_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTable.md
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatInput/variables/mutationCreateChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationMembershipInput/variables/mutationCreateOrganizationMembershipInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteChatInput/variables/mutationDeleteChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteChatMessageInput/variables/mutationDeleteChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteOrganizationMembershipInput/variables/mutationDeleteOrganizationMembershipInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteVenueInput/variables/mutationDeleteVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationJoinPublicOrganizationInput/variables/joinPublicOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateChatInput/variables/mutationUpdateChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateChatMessageInput/variables/mutationUpdateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateOrganizationMembershipInput/variables/mutationUpdateOrganizationMembershipInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryChatInput/variables/queryChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryChatMessageInput/variables/queryChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryFundInput/variables/QueryFundInput.md
  docs/docs/auto-docs/graphql/inputs/QueryFundInput/variables/queryFundInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryVenueInput/variables/queryVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/SubscriptionChatMessageCreateInput/variables/subscriptionChatMessageCreateInputSchema.md
Due: none

fix(fundCampaignPledges): update validation schemas and fix test cases
  .github/workflows/scripts/check_docstrings.py
  docs/docs/auto-docs/drizzle/tables/fundCampaignPledges/variables/fundCampaignPledgesTable.md
  docs/docs/auto-docs/drizzle/tables/fundCampaignPledges/variables/fundCampaignPledgesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/fundCampaignPledges/variables/fundCampaignPledgesTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateFundCampaignPledgeInput/variables/mutationCreateFundCampaignPledgeInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteFundCampaignPledgeInput/variables/mutationDeleteFundCampaignPledgeInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateFundCampaignPledgeInput/variables/mutationUpdateFundCampaignPledgeInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryFundCampaignPledgeInput/variables/queryFundCampaignPledgeInputSchema.md
  src/drizzle/tables/fundCampaignPledges.ts
  test/graphql/types/Query/fund.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

style: fix indentation in test file and reorder imports
  src/drizzle/tables/fundCampaignPledges.ts
  test/graphql/types/Query/fund.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor(validation): update error messages and schema validations
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
  src/drizzle/tables/venues.ts
  src/graphql/types/User/orgsWhereUserIsBlocked.ts
  test/graphql/inputs/MutationCreateAdvertisementInputAttachments.test.ts
  test/graphql/types/Mutation/createChat.test.ts
  test/graphql/types/Mutation/registerForEvent.test.ts
  test/graphql/types/Mutation/unregisterForEventByUser.test.ts
  test/graphql/types/Mutation/updateEventVolunteer.test.ts
  test/graphql/types/Query/Events.test.ts
  test/graphql/types/Query/fund.test.ts
  test/graphql/types/Query/getEventInvitesByUserId.test.ts
  test/graphql/types/Query/getEventVolunteerGroups.test.ts
  test/graphql/types/Query/getVolunteerMembership.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Add Drizzle table definitions for chats, venues, and organization memberships, a new GraphQL input, and extensive API tests.
  src/drizzle/tables/chatMessages.ts
  src/drizzle/tables/chats.ts
  src/drizzle/tables/organizationMemberships.ts
  src/drizzle/tables/venues.ts
  src/graphql/inputs/QueryFundInput.ts
  src/graphql/types/Mutation/createChatMessage.ts
  test/drizzle/tables/venues.test.ts
  test/graphql/types/ActionItem/actionItemCategory.test.ts
  test/graphql/types/ActionItem/creator.test.ts
  test/graphql/types/ActionItem/updater.test.ts
  test/graphql/types/Advertisement/organization.test.ts
  test/graphql/types/Event/organization.test.ts
  test/graphql/types/Mutation/createFundCampaign.test.ts
  test/graphql/types/Mutation/createVenue.test.ts
  test/graphql/types/Mutation/deleteActionItem.test.ts
  test/graphql/types/Mutation/deleteChatMessage.test.ts
  test/graphql/types/Mutation/updateComment.test.ts
  test/graphql/types/Query/allUsers.test.ts
  test/graphql/types/Query/fund.test.ts
  test/graphql/types/Query/getEventAttendeesByEventId.test.ts
  test/graphql/types/Query/signIn.test.ts
  test/graphql/types/Subscription/chatMessageCreate.test.ts
  test/graphql/types/User/organizationsWhereMember.test.ts
  test/graphql/types/Venue/organization.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(fundCampaignPledges): add validation tests and update schema for note and IDs
  docs/docs/auto-docs/drizzle/tables/fundCampaignPledges/variables/NOTE_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/fundCampaignPledges/variables/fundCampaignPledgesTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteFundCampaignPledgeInput/variables/mutationDeleteFundCampaignPledgeInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateFundCampaignPledgeInput/variables/mutationUpdateFundCampaignPledgeInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryFundCampaignPledgeInput/variables/queryFundCampaignPledgeInputSchema.md
  src/drizzle/tables/fundCampaignPledges.ts
  test/drizzle/tables/fundCampaignPledges.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: update docstring formatting and improve pledge test data consistency
  .github/workflows/scripts/check_docstrings.py
  test/drizzle/tables/fundCampaignPledges.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings

test(drizzle): validate index intent without relying on internals
  test/unit_tests/plugins.table.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add test and fix failing test
  .github/workflows/scripts/check_docstrings.py
  test/drizzle/tables/agendaItemUrl.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings

fix format
  test/drizzle/tables/agendaItemUrl.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  test/drizzle/tables/agendaItemUrl.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Added tests for drizzle/tables/users.ts
  test/drizzle/tables/users.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

format the file
  test/drizzle/tables/users.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(ci): simplify docstring error output formatting
  .github/workflows/scripts/check_docstrings.py
  test/drizzle/tables/fundCampaignPledges.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings

docs: update performance monitoring documentation with sample outputs
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

fix: address all maintainer review comments on PR #4755
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

fix(api): resolve event query issues and refactor tests
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstanceById.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseId.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesInDateRange.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/interfaces/GetRecurringEventInstancesInput.md
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/graphql/types/Query/eventsByAdmin.ts
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/eventsByCreator.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  src/graphql/types/Query/organizationUsers.ts
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/Query/organizationUsers.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: remove redundant default value assertions from tests
  test/graphql/inputs/MetricsFilterInput.test.ts
  test/graphql/inputs/MetricsInput.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fixed: Index tests don't assert actual index definitions
  test/drizzle/tables/users.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Added docstring
  test/drizzle/tables/users.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add comprehensive tests for venueBookings table #4715 (#4815)
  .github/workflows/scripts/check_docstrings.py
  test/drizzle/tables/venueBookings.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings

refactor(drizzle): improve funds table schema and validation
  docs/docs/auto-docs/drizzle/tables/funds/variables/fundsTable.md
  docs/docs/auto-docs/drizzle/tables/funds/variables/fundsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/funds/variables/fundsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateFundInput/variables/mutationCreateFundInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteFundInput/variables/mutationDeleteFundInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateFundInput/variables/mutationUpdateFundInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryFundInput/variables/QueryFundInput.md
  docs/docs/auto-docs/graphql/inputs/QueryFundInput/variables/queryFundInputSchema.md
  src/drizzle/tables/funds.ts
  src/graphql/inputs/QueryFundInput.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: address CodeRabbit feedback for integration tests and default path
  test/graphql/inputs/MetricsFilterInput.test.ts
  test/graphql/inputs/MetricsInput.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: remove placeholder @see issue references from test JSDoc
  test/graphql/inputs/MetricsFilterInput.test.ts
  test/graphql/inputs/MetricsInput.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

formatting
  test/drizzle/tables/users.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(venueBookings): add uuid validation to insert schema
  src/drizzle/tables/venueBookings.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: consolidate duplicate calculatePercentile functions
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/calculatePercentile.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/runMetricsAggregationWorker.md
  src/workers/metrics/metricsAggregationWorker.ts
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: pre-validate arrays before sorting in calculateMedian/Percentile
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/calculatePercentile.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/getTimeWindows.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/normalizeTimeRange.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/interfaces/TimeWindow.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/interfaces/TimeWindowOptions.md
  src/utilities/metrics/dbHelpers.ts
  test/utilities/metrics/dbHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

correction
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

fix(api): filter cancelled events at DB level, update default limits, and improve test coverage
  src/graphql/types/Query/eventsByAdmin.ts
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/eventsByCreator.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/organizationUsers.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Add metrics input schemas and database helpers (PR 6a) (#4818)
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/type-aliases/MetricsFilterInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/ComplexityRangeInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/MetricsFilterInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/complexityRangeSchema.md
  docs/docs/auto-docs/graphql/inputs/MetricsFilterInput/variables/metricsFilterInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/type-aliases/MetricsInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/variables/MetricsInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/variables/metricsInputSchema.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/calculateMean.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/calculateMedian.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/calculatePercentile.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/getTimeWindows.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/normalizeTimeRange.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/interfaces/TimeWindow.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/interfaces/TimeWindowOptions.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/calculatePercentile.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/runMetricsAggregationWorker.md
  docs/docs/auto-schema/types/inputs/complexity-range-input.mdx
  docs/docs/auto-schema/types/inputs/metrics-filter-input.mdx
  docs/docs/auto-schema/types/inputs/metrics-input.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/inputs/MetricsFilterInput.ts
  src/graphql/inputs/MetricsInput.ts
  src/graphql/inputs/index.ts
  src/utilities/metrics/dbHelpers.ts
  src/workers/metrics/metricsAggregationWorker.ts
  test/graphql/inputs/MetricsFilterInput.test.ts
  test/graphql/inputs/MetricsInput.test.ts
  test/graphql/types/gql.tada.d.ts
  test/utilities/metrics/dbHelpers.test.ts
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors
