Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

test: add tests for User.workPhoneNumber resolver
  docs/docs/auto-docs/graphql/types/User/workPhoneNumber/functions/workPhoneNumberResolver.md
  src/graphql/types/User/workPhoneNumber.ts
  test/graphql/types/User/workPhoneNumber.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor(test): update workPhoneNumber tests to integration style
  test/graphql/types/User/workPhoneNumber.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix venue enum enforced issue
  drizzle_migrations/20260209161414_keen_nextwave.sql
  drizzle_migrations/meta/20260209161414_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/enums/imageMimeType.ts
  src/drizzle/enums/venueAttachmentMimeType.ts
  src/drizzle/enums/videoMimeType.ts
  src/drizzle/schema.ts
  src/drizzle/tables/venueAttachments.ts
  test/drizzle/enums/venueAttachmentMimeType.test.ts
  test/drizzle/tables/venueAttachments.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: refactor workPhoneNumber tests and enhance error handling
  test/graphql/types/User/workPhoneNumber.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: use canonical toThrow instead of toThrowError in workPhoneNumber tests
  test/graphql/types/User/workPhoneNumber.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fix silent cleanup skip when admin sign-in fails in workPhoneNumber.test.ts
  test/graphql/types/User/workPhoneNumber.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Updated CR config for mock isolation tests: 1770649414 (#5184)
  .coderabbit.yaml
  .coderabbit/ast-grep-rules/no-direct-mock-assignment.yml
Due: none

test: add tests for User.workPhoneNumber resolver (#5185)
  docs/docs/auto-docs/graphql/types/User/workPhoneNumber/functions/workPhoneNumberResolver.md
  src/graphql/types/User/workPhoneNumber.ts
  test/graphql/types/User/workPhoneNumber.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: positional arguement passing and hardcoded values
  scripts/install/linux/install-linux.sh
  scripts/install/linux/install-linux.test.sh
Due: none

fix: removed dead skip_prereqs and updated arguement parser
  scripts/install/linux/install-linux.sh
  scripts/install/linux/install-linux.test.sh
Due: none

fix: correct biome formatting for indentation consistency
  test/graphql/types/Mutation/updateVenue.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add test coverage for event query invalid arguments
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: added tests for src/graphql/types/Tag/folder.ts (#5175)
  test/graphql/types/Tag/folder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

upgrade recaptcha to V3
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/validateRecaptchaIfRequired.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/verifyRecaptchaToken.md
  scripts/setup/setup.ts
  src/envConfigSchema.ts
  src/graphql/context.ts
  src/graphql/types/Mutation/signUp.ts
  src/graphql/types/Query/signIn.ts
  src/utilities/recaptchaUtils.ts
  test/utilities/recaptchaUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: code improvements
  scripts/install/linux/install-linux.sh
  scripts/install/linux/install-linux.test.sh
Due: none

improved error messages
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/validateRecaptchaIfRequired.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/verifyRecaptchaToken.md
  src/utilities/recaptchaUtils.ts
  test/utilities/recaptchaUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: move test case to its own suite
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: Add unit tests for User.state resolver
  docs/docs/auto-docs/graphql/types/User/state/functions/UserStateResolver.md
  src/graphql/types/User/state.ts
  test/graphql/types/User/state.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: docker installer flow
  scripts/install/linux/install-linux.test.sh
Due: none

docs: Add TSDoc to UserStateResolver and regenerate docs
  docs/docs/auto-docs/graphql/types/User/state/functions/UserStateResolver.md
  src/graphql/types/User/state.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add cleanups suggested by coderabbit
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(User): improve state resolver error handling and test coverage
  src/graphql/types/User/state.ts
  test/graphql/types/User/state.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(drizzle): add requested coverage for membershipRequests table
  test/drizzle/tables/membershipRequests.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add missing cleanups to all event tests
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix User state resolver tests - Add to clear mocks between tests - Remove redundant database failure test case - Ensure clean test state for UserStateResolver
  test/graphql/types/User/state.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): resolve flaky MinIO tests in updateVenue.test.ts (#5180)
  test/graphql/types/Mutation/updateVenue.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address CodeRabbit review suggestions
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(tests): use static strings in UserStateResolver tests to avoid escaping mismatches
  test/graphql/types/User/state.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed failing test
  test/graphql/types/Mutation/signUp.test.ts
  test/graphql/types/Query/signIn.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

reject if score or action is undefined
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/validateRecaptchaIfRequired.md
  src/utilities/recaptchaUtils.ts
  test/utilities/recaptchaUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(tests): deflake signUp.test.ts email assertion
  test/graphql/types/Mutation/signUp.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(tests): deflake signUp.test.ts email assertion (#5191)
  test/graphql/types/Mutation/signUp.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(routes): add zReplyParsed validation helper and auth validators
  docs/docs/auto-docs/routes/auth/validators/type-aliases/RefreshBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignInBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignUpBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/refreshBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signInBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signUpBody.md
  docs/docs/auto-docs/routes/validation/zodReply/functions/zReplyParsed.md
  src/routes/README.md
  src/routes/auth/validators.ts
  src/routes/validation/zodReply.ts
  test/routes/auth/validators.test.ts
  test/routes/validation/zodReply.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix autodocs and address cr suggestions
  docs/docs/auto-docs/routes/auth/validators/type-aliases/RefreshBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignInBody.md
  docs/docs/auto-docs/routes/auth/validators/type-aliases/SignUpBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/NAME_MAX_LENGTH.md
  docs/docs/auto-docs/routes/auth/validators/variables/PASSWORD_MAX_LENGTH.md
  docs/docs/auto-docs/routes/auth/validators/variables/PASSWORD_MIN_LENGTH.md
  docs/docs/auto-docs/routes/auth/validators/variables/refreshBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signInBody.md
  docs/docs/auto-docs/routes/auth/validators/variables/signUpBody.md
  docs/docs/auto-docs/routes/validation/zodReply/functions/zReplyParsed.md
  src/routes/README.md
  src/routes/auth/validators.ts
  src/routes/validation/zodReply.ts
  test/routes/auth/validators.test.ts
  test/routes/validation/zodReply.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address missing rejects missing password test case for signUpBody.
  test/routes/auth/validators.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address cr suggestion
  src/routes/auth/validators.ts
  test/routes/auth/validators.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

adress cr suggestions
  src/routes/auth/validators.ts
  test/routes/auth/validators.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

adress cr suggestion
  test/routes/auth/validators.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
