Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, 12_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  7.6_validate_error_handling: any of: src/**/*.{ts,js}
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  11.2_check_code_coverage_disable: any of: **/*.{ts,tsx}
  11.3_check_ts_ignore: any of: **/*.{ts,tsx}
  11.4_check_sanitization_disable: any of: **/*.ts
  11.5_check_itskip: any of: test/**/*.{test,spec}.{ts,tsx}
  12_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

fix(deleteFundCampaignPledge): fetch org membership explicitly to fix authorization
  src/graphql/types/Mutation/deleteFundCampaignPledge.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

test: add required updateChat mutation tests (#3834)
  test/graphql/types/Mutation/updateChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: centralize disable_statements_check.py script (#4222)
  .github/workflows/pull-request.yml
Due: none

Refactor(graphql): migrate user resolvers to DataLoader for batched queries (#4229)
  docs/docs/auto-docs/drizzle/tables/posts/variables/POST_BODY_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/posts/variables/POST_CAPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/posts/variables/postsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/posts/variables/postsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreatePostInput/variables/mutationCreatePostInputSchema.md
  docs/docs/auto-docs/graphql/types/ActionItem/creator/functions/resolveCreator.md
  docs/docs/auto-docs/graphql/types/ActionItem/updater/functions/resolveUpdater.md
  docs/docs/auto-docs/graphql/types/Post/Post/type-aliases/Post.md
  docs/docs/auto-docs/graphql/types/Post/creator/functions/resolveCreator.md
  docs/docs/auto-docs/graphql/types/Post/updater/functions/resolveUpdater.md
  docs/docs/auto-docs/graphql/types/Tag/updater/functions/resolveUpdater.md
  docs/docs/auto-docs/graphql/types/TagFolder/creator/functions/tagFolderCreatorResolver.md
  docs/docs/auto-docs/graphql/types/TagFolder/updater/functions/resolveUpdater.md
  src/drizzle/tables/posts.ts
  src/graphql/types/ActionItem/creator.ts
  src/graphql/types/ActionItem/updater.ts
  src/graphql/types/Post/Post.ts
  src/graphql/types/Post/creator.ts
  src/graphql/types/Post/updater.ts
  src/graphql/types/Tag/creator.ts
  src/graphql/types/Tag/updater.ts
  src/graphql/types/TagFolder/creator.ts
  src/graphql/types/TagFolder/updater.ts
  test/graphql/types/ActionItem/creator.test.ts
  test/graphql/types/ActionItem/updater.test.ts
  test/graphql/types/Post/creator.test.ts
  test/graphql/types/Post/updater.test.ts
  test/graphql/types/Tag/creator.test.ts
  test/graphql/types/Tag/updater.test.ts
  test/graphql/types/TagFolder/creator.test.ts
  test/graphql/types/TagFolder/updater.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

Refactor(graphql): migrate organization/event resolvers to DataLoader (#4231)
  docs/docs/auto-docs/graphql/types/ActionItem/organization/functions/resolveOrganization.md
  docs/docs/auto-docs/graphql/types/Event/organization/functions/resolveEventOrganization.md
  docs/docs/auto-docs/graphql/types/EventAttendee/event/functions/eventAttendeeEventResolver.md
  docs/docs/auto-docs/graphql/types/EventVolunteer/event/functions/EventVolunteerEventResolver.md
  docs/docs/auto-docs/graphql/types/Fund/organization/functions/resolveOrganization.md
  docs/docs/auto-docs/graphql/types/Tag/organization/functions/resolveOrganization.md
  docs/docs/auto-docs/graphql/types/Venue/organization/functions/resolveOrganization.md
  src/graphql/types/ActionItem/organization.ts
  src/graphql/types/Chat/organization.ts
  src/graphql/types/Event/organization.ts
  src/graphql/types/EventAttendee/event.ts
  src/graphql/types/EventVolunteer/event.ts
  src/graphql/types/Fund/organization.ts
  src/graphql/types/Post/organization.ts
  src/graphql/types/Tag/organization.ts
  src/graphql/types/TagFolder/organization.ts
  src/graphql/types/Venue/organization.ts
  test/graphql/types/ActionItem/organization.test.ts
  test/graphql/types/Chat/organization.test.ts
  test/graphql/types/Event/organization.test.ts
  test/graphql/types/EventAttendee/event.test.ts
  test/graphql/types/EventVolunteer/event.test.ts
  test/graphql/types/Fund/organization.test.ts
  test/graphql/types/Post/organization.test.ts
  test/graphql/types/Tag/organization.test.ts
  test/graphql/types/TagFolder/organization.test.ts
  test/graphql/types/Venue/organization.test.ts
  test/helpers.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

modified setup script and envs
  docs/docs/docs/developer-resources/observability/observability.md
  docs/docs/docs/getting-started/environment-variables.md
  docs/sidebars.ts
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  scripts/setup/setup.ts
Due: 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable

modified setup script and envs
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
Due: none

chore: migrate error handling validation from Biome plugin to standalone script
  .github/workflows/pull-request.yml
  biome.jsonc
  biome_plugins/enforce_error_handling.grit
  lefthook.yaml
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/resetData.ts
  scripts/setup/envFileBackup/envFileBackup.ts
  scripts/setup/setup.ts
  scripts/validate_error_handling.ts
  src/fastifyPlugins/drizzleClient.ts
  src/fastifyPlugins/errorHandler.ts
  src/routes/graphql.ts
  test/graphql/types/Mutation/deleteTagFolder.test.ts
  test/graphql/types/Mutation/plugin/deletePlugin.test.ts
  test/graphql/types/Mutation/updateTag.test.ts
  test/routes/graphqlErrorCode.test.ts
  test/validate_error_handling.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

feat: use centralized disable_statements_check.py in pre-commit hook
  .gitignore
  docs/docs/docs/getting-started/installation.md
  lefthook.yaml
Due: none

fix(deleteChatMembership): resolve TypeScript null type errors for emailAddress
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCurrentUserInput/variables/mutationUpdateCurrentUserInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  schema.graphql
  test/graphql/types/Mutation/deleteChatMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: wget fallback now triggers on curl download failure, not just when curl is missing
  lefthook.yaml
Due: none

fix: formatting issue
  test/graphql/types/FundCampaignPledge/updater.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

feat(error-handling): implement GraphQL error formatting and CI validation improvements
  .github/workflows/pull-request.yml
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/GRAPHQL_PATH.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/formatGraphQLErrors/functions/formatGraphQLErrors.md
  docs/docs/auto-docs/utilities/formatGraphQLErrors/functions/normalizeErrorCode.md
  docs/docs/auto-docs/utilities/formatGraphQLErrors/functions/sanitizeExtensions.md
  docs/docs/auto-docs/utilities/formatGraphQLErrors/interfaces/FormattedGraphQLError.md
  docs/docs/auto-docs/utilities/formatGraphQLErrors/interfaces/Logger.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/startBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  scripts/dbManagement/helpers.ts
  scripts/setup/setup.ts
  scripts/validate_error_handling.ts
  src/routes/graphql.ts
  src/utilities/formatGraphQLErrors.ts
  src/workers/backgroundWorkerService.ts
  test/graphql/types/Mutation/updateTag.test.ts
  test/utilities/formatGraphQLErrors.test.ts
  test/validate_error_handling.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fix: formatting
  test/graphql/types/FundCampaignPledge/updater.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: format
  test/graphql/types/FundCampaignPledge/updater.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

refactor(deleteChat): inline resolver and fix description
  src/graphql/types/Mutation/deleteChat.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

chore: migrate vitest v3 to v4
  package.json
  pnpm-lock.yaml
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Mutation/deleteChatMessage.test.ts
  test/plugin/manager/lifecycle.test.ts
  test/plugin/pluginWebhooks.test.ts
  test/routes/graphql.test.ts
  test/setup.ts
  test/utilities/pluginInstaller.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

style(deleteChat): fix biome formatting issue
  src/graphql/types/Mutation/deleteChat.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

test: remove obsolete unit test file for inline resolver
  test/graphql/types/Mutation/deleteChatUnit.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: address CodeRabbit suggestions
  test/graphql/types/Mutation/unassignUserTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: address CodeRabbit suggestions (#4247)
  test/graphql/types/Mutation/unassignUserTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

Added tests for src/graphql/types/FundCampaignPledge/updater.ts (#4220)
  src/graphql/types/FundCampaignPledge/updater.ts
  test/graphql/types/FundCampaignPledge/updater.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors
