Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

update the addressLine1 tests after feedback
  src/graphql/types/User/addressLine1.ts
  test/graphql/types/User/addressLine1.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

remove unnecessary comments
  test/graphql/types/User/addressLine1.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

prettier formating
  src/graphql/types/User/addressLine1.ts
  test/graphql/types/User/addressLine1.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve Prettier formatting
  src/graphql/types/User/addressLine1.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

update the returns tag
  src/graphql/types/User/addressLine1.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

add addressLine1 tests
  src/graphql/types/User/addressLine1.ts
  test/graphql/types/User/addressLine1.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

add the nullable
  src/graphql/types/User/addressLine1.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactoring
  src/graphql/types/User/addressLine1.ts
  test/graphql/types/User/addressLine1.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactoring addressLine1.ts
  src/graphql/types/User/addressLine1.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add integration tests for Query plugins.ts #5071
  test/graphql/types/Query/plugins.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: prettier indentation and camelCase variable names
  src/graphql/types/User/addressLine1.ts
  test/graphql/types/User/addressLine1.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: address CodeRabbit review feedback for plugins tests
  test/graphql/types/Query/plugins.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address maintainer review - change error code to invalid_arguments
  test/graphql/types/Query/plugins.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: revert error code to internal_server_error
  test/graphql/types/Query/plugins.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: upgrade axios to 1.13.5
  package.json
  pnpm-lock.yaml
Due: none

fix: upgrade axios to 1.13.5 (#5272)
  package.json
  pnpm-lock.yaml
Due: none

Automated corepack installation and added CI/CD checks (#5220)
  .devcontainer/default/post-create.sh
  .devcontainer/rootless/post-create.sh
  .devcontainer/validate-setup.sh
  .github/workflows/pull-request.yml
  docker/api.Containerfile
  package.json
Due: none

fix: conflicting file and code quality
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: CI
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: use safeParse pattern in plugins resolver for consistent error codes
  src/graphql/types/Query/plugins.ts
  test/graphql/types/Query/plugins.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: assert exclusions independently in multi-criteria filter test
  src/graphql/types/Query/plugins.ts
  test/graphql/types/Query/plugins.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(plugins): add updatedAt assertion and cleanup error handling
  test/graphql/types/Query/plugins.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: correct test structure and remove nested test functions
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(plugins): remove empty catch block in afterEach cleanup
  test/graphql/types/Query/plugins.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing tests
  test/helpers/adminAuthRest.ts
Due: 10_check_disable_statements

test: add integration tests for Query plugins.ts #5071 (#5271)
  test/graphql/types/Query/plugins.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing tests
  docs/docs/auto-docs/routes/graphql/functions/extractZodMessage.md
  docs/docs/auto-docs/routes/graphql/functions/getPublicErrorMessage.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  src/routes/graphql.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix shrad 6
  src/routes/graphql.ts
  test/routes/graphqlErrorValidation.integration.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

adress shrad 6
  src/graphql/types/Mutation/createOrganization.ts
  src/routes/graphql.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: CI Error
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: CI Issue and Codecov
  docker/compose.testing.yaml
  test/graphql/types/Query/event.test.ts
  test/server.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

adress failing tests
  docs/docs/auto-docs/routes/graphql/functions/extractZodMessage.md
  docs/docs/auto-docs/routes/graphql/functions/getPublicErrorMessage.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/auth/currentClient/functions/resolveCurrentClient.md
  src/routes/graphql.ts
  src/utilities/auth/currentClient.ts
  test/routes/graphqlErrorValidation.integration.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: CI Code Quality
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing tests
  .github/workflows/push.yml
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/classes/NotificationEngine.md
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/enumerations/NotificationChannelType.md
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/enumerations/NotificationTargetType.md
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/interfaces/NotificationAudience.md
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/interfaces/NotificationVariables.md
  src/fastifyPlugins/rateLimit.ts
  src/graphql/types/Notification/Notification_engine.ts
  test/helpers/adminAuthRest.ts
  test/helpers/getOrCreateAdminUserId.ts
  test/helpers/mintAccessToken.ts
  test/services/email/SESProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: REST auth docs and env checklist (PR 5)
  docs/docs/docs/getting-started/environment-variables.md
  docs/docs/docs/getting-started/rest-auth.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  envFiles/.env.rootless.devcontainer
  envFiles/.env.rootless.production
  scripts/setup/setup.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 10_check_disable_statements

Comment out GITHUB_TOKEN in pull request workflow
  .github/workflows/pull-request-target.yml
Due: none

Comment out GITHUB_TOKEN secret in workflow
  .github/workflows/pull-request-target.yml
Due: none

test(getVolunteerMembership): add integration tests for query field (#5069)
  test/graphql/types/Query/getVolunteerMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
