Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

docs: regenerate auto-docs and enhance error handling in background worker
  docs/docs/auto-docs/graphql/schemaManager/classes/GraphQLSchemaManager.md
  docs/docs/auto-docs/graphql/schemaManager/variables/schemaManager.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  lefthook.yaml
  scripts/setup/setup.ts
  scripts/validate_error_handling.ts
  src/graphql/schemaManager.ts
  src/workers/backgroundWorkerService.ts
  test/validate_error_handling.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add minor punctuation in markdown
  DOCUMENTATION.md
Due: none

test: improve coverage for deleteChat mutation (#4068)
  docs/docs/auto-docs/graphql/types/Mutation/deleteChat/variables/deleteChat.md
  src/graphql/types/Mutation/createChat.ts
  src/graphql/types/Mutation/deleteChat.ts
  src/graphql/types/Mutation/deleteFundCampaignPledge.ts
  test/graphql/types/Mutation/createChat.test.ts
  test/graphql/types/Mutation/deleteChat.test.ts
  test/graphql/types/Query/getRecurringEvents.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: achieve 100% coverage for AssignUserTag type (#3910) (#4241)
  test/graphql/types/AssignUserTag/AssignUserTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add minor punctuation in markdown (#4249)
  DOCUMENTATION.md
Due: none

docs: regenerate auto-docs and enhance error handling in schema manager
  docs/docs/auto-docs/graphql/schemaManager/classes/GraphQLSchemaManager.md
  docs/docs/auto-docs/graphql/schemaManager/variables/schemaManager.md
  scripts/setup/setup.ts
  scripts/validate_error_handling.ts
  src/graphql/schemaManager.ts
  test/envConfigSchema.ts
  test/graphql/schemaManager.test.ts
  test/graphql/types/Mutation/createPost.test.ts
  test/graphql/types/Mutation/updatePost.test.ts
  test/helpers.ts
  test/routes/objects.test.ts
  test/validate_error_handling.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

formatted test
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(caching): add withResolverCache utility for high-traffic resolvers
  docs/docs/auto-docs/graphql/utils/withResolverCache/functions/withResolverCache.md
  docs/docs/auto-docs/graphql/utils/withResolverCache/interfaces/WithResolverCacheOptions.md
  src/graphql/utils/withResolverCache.ts
  test/graphql/utils/withResolverCache.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: Add GitHub source links to auto-generated GraphQL resolver cache documentation.
  docs/docs/auto-docs/graphql/utils/withResolverCache/functions/withResolverCache.md
  docs/docs/auto-docs/graphql/utils/withResolverCache/interfaces/WithResolverCacheOptions.md
Due: none

feat(caching): add cache invalidation to high-traffic mutations
  docs/docs/auto-docs/fastifyPlugins/backgroundWorkers/variables/default.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  docs/docs/auto-docs/plugins/backgroundWorkers/variables/default.md
  docs/docs/auto-docs/services/caching/RedisCacheService/classes/RedisCacheService.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/startBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/warmCacheSafely.md
  src/fastifyPlugins/backgroundWorkers.ts
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/deletePost.ts
  src/graphql/types/Mutation/deleteStandaloneEvent.ts
  src/graphql/types/Mutation/deleteUser.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateOrganization.ts
  src/graphql/types/Mutation/updatePost.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateUser.ts
  src/plugins/backgroundWorkers.ts
  src/services/caching/RedisCacheService.ts
  src/workers/backgroundWorkerService.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add required updateChat mutation tests (#3834)
  test/graphql/types/Mutation/updateChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

env fixes
  docs/docs/docs/developer-resources/observability/observability.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  scripts/setup/setup.ts
  src/config/observability.ts
  src/observability/tracing.smoke.test.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

env fixes
  envFiles/.env.production
Due: none

env fixes
  src/config/observability.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

env fixes
  docs/docs/auto-docs/config/observability/variables/observabilityConfig.md
Due: none

Fix disable statements check script command
  .github/workflows/pull-request.yml
Due: none

feat: add 24-hour caching, remove deprecated --repo paramater from lefthook and github action
  .github/workflows/pull-request.yml
  lefthook.yaml
Due: none

feat: enhance error handling and refactor tests for improved clarity and maintainability
  docs/docs/auto-schema/operations/mutations/delete-chat.mdx
  drizzle_migrations/20260106092115_busy_orphan.sql
  drizzle_migrations/meta/20260106092115_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  scripts/validate_error_handling.ts
  test/envConfigSchema.ts
  test/graphql/schemaManager.test.ts
  test/graphql/types/Mutation/createPost.test.ts
  test/graphql/types/Mutation/updateFundCampaign.test.ts
  test/graphql/types/Mutation/updatePost.test.ts
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/helpers.ts
  test/routes/objects.test.ts
  test/scripts/setup/validators.test.ts
  test/validate_error_handling.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refractor: use POSIX-compatible shell syntax
  lefthook.yaml
Due: none

test(Mutation/deleteVenueBooking): cleanup mocks
  test/graphql/types/Mutation/deleteVenueBooking.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: use centralized disable_statements_check.py in pre-commit hook (#4246)
  .gitignore
  docs/docs/docs/getting-started/installation.md
  lefthook.yaml
Due: none

fix: simplify user checks in mutation and query fields
  src/graphql/types/Mutation/createComment.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createUser.ts
  src/graphql/types/Query/actionItemsByVolunteer.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/routes/graphql.integration.test.ts
  test/server.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: flaky server timing test and update integration test config
  test/routes/graphql.integration.test.ts
  test/routes/rest/serverTiming.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Stabilize actionItemsByVolunteer query test (shard 7) (#4279)
  src/graphql/types/Mutation/createComment.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createUser.ts
  src/graphql/types/Query/actionItemsByVolunteer.ts
  test/routes/graphql.integration.test.ts
  test/routes/rest/serverTiming.test.ts
  test/server.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: correct code and correct id assertions
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Added Type Safety with Proper Interface for Environment Variables
  scripts/setup/setup.ts
Due: 10_check_disable_statements

test/ added tests for the setup answers type safety
  scripts/setup/setup.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: add more test coverage/ fix TS7006
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
  test/install/logger.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: correct IP parsing and authentication flow for /metrics/perf endpoint
  src/fastifyPlugins/performance.ts
  test/workers/performanceAggregationWorker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: enhance performance monitoring with comprehensive troubleshooting and test coverage
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/createPerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTrackerOptions.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/OpStats.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/PerfSnapshot.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runPerfAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/startBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  docs/docs/auto-docs/workers/performanceAggregationWorker/functions/aggregatePerformanceMetrics.md
  docs/docs/auto-docs/workers/performanceAggregationWorker/interfaces/AggregatedMetrics.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/envConfigSchema.ts
  src/fastifyPlugins/performance.ts
  src/routes/graphql.ts
  src/services/caching/metricsCacheProxy.ts
  src/utilities/metrics/performanceTracker.ts
  src/utilities/metrics/withMetrics.ts
  src/workers/backgroundWorkerService.ts
  src/workers/performanceAggregationWorker.ts
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.test.ts
  test/routes/rest/serverTiming.test.ts
  test/services/caching/metricsCacheProxy.test.ts
  test/utilities/metrics/withMetrics.test.ts
  test/workers/backgroundWorkerService.test.ts
  test/workers/performanceAggregationWorker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: remove unreachable req null-check in metricsAuthPreHandler
  src/fastifyPlugins/performance.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: improve performance monitoring security and error handling
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runPerfAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/fastifyPlugins/performance.ts
  src/workers/backgroundWorkerService.ts
  src/workers/performanceAggregationWorker.ts
  test/fastifyPlugins/performance.test.ts
  test/workers/backgroundWorkerService.test.ts
  test/workers/performanceAggregationWorker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: improve patch coverage for performance monitoring
  test/fastifyPlugins/performance.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: validate IP octet ranges and ensure unsigned 32-bit conversion
  src/fastifyPlugins/performance.ts
  test/fastifyPlugins/performance.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: correct authentication error messages and test approach
  src/fastifyPlugins/performance.ts
  test/fastifyPlugins/performance.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add coverage for missing edge cases to reach 100%
  test/fastifyPlugins/performance.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
