Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

chore: restore package.json scripts
  package.json
Due: none

docs: add explanations for format, lint, and test commands and added quick reference
  docs/docs/docs/developer-resources/getting-started/contributing.md
Due: none

test: add 100% coverage for performance monitoring PR
  drizzle_migrations/20260108060210_cold_stryfe.sql
  drizzle_migrations/meta/20260108060210_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: remove trailing blank lines in performanceTracker test
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: updated autogenerated doc
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
Due: none

docs: centralize testing, linting, and formatting documentation
  docs/docs/docs/developer-resources/getting-started/contributing.md
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

docs: fix numbering in contributing guide
  docs/docs/docs/developer-resources/getting-started/contributing.md
Due: none

fix: add exit code validation and user feedback to installation script
  scripts/install/install.sh
Due: none

fix: minor improvements
  scripts/install/install.sh
Due: none

Enhanced WSL detection implemented
  scripts/install/install.sh
Due: none

fix: references to non-existent files
  scripts/install/install.sh
Due: none

fix: changed to set -euo pipefall
  scripts/install/install.sh
Due: none

fixed coverage gap
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed rebundant assertion
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(graphql): add pagination support to postsByOrganization query (#3472)
  src/graphql/types/Post/sorting.ts
  test/graphql/types/Post/sorting.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

verified role in db
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: Add performance tracker to GraphQL context and update sensitive files check
  .github/workflows/pull-request.yml
  src/graphql/context.ts
  src/routes/graphql.ts
  test/routes/graphql.test.ts
  test/setup.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: Regenerate auto-docs for GraphQL context perf integration
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
Due: none

fix:added idempotency in apt-get update and pnpm installation as well as package installation
  scripts/install/linux/install-linux.sh
Due: none

test: improved
  test/graphql/types/Mutation/updateStandaloneEventUnit.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address CodeRabbit review feedback for pagination
  src/graphql/types/Post/sorting.ts
  test/graphql/types/Post/sorting.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

coderabbit suggestions implemented
  test/graphql/types/Mutation/updateStandaloneEventUnit.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add full error structure assertions to validation tests
  test/graphql/types/Post/sorting.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

coderabbit suggestions implemented
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/updatePost.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/createOrganizationUnit.test.ts
  test/graphql/types/Mutation/updateStandaloneEventUnit.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
  test/graphql/types/Mutation/updateUserUnit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: enhance error handling and cache invalidation logging in mutations
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Mutation/updatePostUnit.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add graceful degradation for cache invalidation in updatePost and updateUser mutations
  test/graphql/types/Mutation/createOrganizationUnit.test.ts
  test/graphql/types/Mutation/updatePost.test.ts
  test/graphql/types/Mutation/updatePostUnit.test.ts
  test/graphql/types/Mutation/updateUserUnit.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: remove debug logging from authorization checks and add tests for cache invalidation in createOrganization mutation
  src/graphql/types/User/city.ts
  src/graphql/types/User/updater.ts
  src/utilities/leakyBucket.ts
  test/graphql/types/Mutation/createOrganizationUnit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add cache invalidation tests for createOrganization and updatePost mutations
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/createOrganizationUnit.test.ts
  test/graphql/types/Mutation/updatePost.test.ts
  test/graphql/types/Mutation/updateUserUnit.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Improved WSL Detection Robustness
  scripts/install/install.sh
Due: none

fix: removed unwanted code
  scripts/install/install.sh
Due: none

fix: incorrect WSLInterop grep pattern
  scripts/install/install.sh
Due: none

refactor: extracted common validation logic
  scripts/install/install.sh
Due: none

fix: corrected detection pattern
  scripts/install/install.sh
Due: none

fix: enhance error messages and troubleshooting guidance in install script
  scripts/install/linux/install-linux.sh
Due: none

feat(graphql): add pagination support to postsByOrganization query (#4299)
  src/graphql/types/Post/sorting.ts
  test/graphql/types/Post/sorting.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors
