Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, 12_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  7.6_validate_error_handling: any of: src/**/*.{ts,js}
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  11.2_check_code_coverage_disable: any of: **/*.{ts,tsx}
  11.3_check_ts_ignore: any of: **/*.{ts,tsx}
  11.4_check_sanitization_disable: any of: **/*.ts
  11.5_check_itskip: any of: test/**/*.{test,spec}.{ts,tsx}
  12_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

fix: remove variable shadowing in deletePostVote test
  test/graphql/types/Mutation/deletePostVote.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test and deprecated package resolved
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/initTracing.md
  docs/docs/auto-docs/observability/tracing/bootstrap/variables/fastifyOtelInstrumentation.md
  package.json
  pnpm-lock.yaml
  src/createServer.ts
  src/observability/tracing.smoke.test.ts
  src/observability/tracing/bootstrap.ts
  src/tracing.ts
  test/tracing.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

added proper testing
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/shutdownTracing.md
  src/index.ts
  src/observability/tracing.smoke.test.ts
  src/observability/tracing/bootstrap.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

removed unused variable
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

added proper testing
  src/observability/tracing/bootstrap.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

added proper testing
  src/observability/tracing.smoke.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

fix: enforce mutually exclusive event visibility flags
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateSingleRecurringEventInstance.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
  test/graphql/types/Mutation/updateThisAndFollowingEvents.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fix: granular errors and standardized messages per review
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateSingleRecurringEventInstance.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
  test/graphql/types/Mutation/updateThisAndFollowingEvents.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fix(test): use documentNode for deleteComment mutation
  test/graphql/types/Mutation/deleteComment.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix(test): prevent flake in deleteFundCampaignPledge by ensuring unique emails
  test/graphql/types/Mutation/deleteFundCampaignPledge.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: add comprehensive visibility conflict tests for updateStandaloneEvent
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: format and add updateChat mutation tests (#3834)
  test/graphql/types/Mutation/updateChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: achieve 100% coverage for graphqlConnection utilities
  test/utilities/defaultGraphQlConnection.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: achieve 100% coverage for deleteChat.ts
  test/graphql/types/Mutation/deleteChat.test.ts
  test/graphql/types/Mutation/deleteChatUnit.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test(Mutation/updateCommentVote): achieve 100% code coverage #3829
  test/graphql/types/Mutation/updateCommentVote.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

docs: regenerate auto-docs and update GraphQL configuration
  docs/docs/auto-docs/fastifyPlugins/drizzleClient/type-aliases/DrizzleClient.md
  docs/docs/auto-docs/fastifyPlugins/drizzleClient/variables/drizzleClient.md
  docs/docs/auto-docs/fastifyPlugins/errorHandler/variables/errorHandlerPlugin.md
  docs/docs/auto-docs/fastifyPlugins/minioClient/variables/minioClient.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/GRAPHQL_PATH.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  lefthook.yaml
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/resetData.ts
  scripts/setup/envFileBackup/envFileBackup.ts
  scripts/setup/setup.ts
  src/fastifyPlugins/drizzleClient.ts
  src/fastifyPlugins/errorHandler.ts
  src/fastifyPlugins/minioClient.ts
  src/routes/graphql.ts
  src/utilities/errors/TalawaRestError.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/envConfigSchema.ts
  test/graphql/types/Mutation/deleteTagFolder.test.ts
  test/graphql/types/Mutation/updateOrganization.test.ts
  test/graphql/types/Mutation/updatePost.test.ts
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
  test/graphql/types/Mutation/updateTag.test.ts
  test/graphql/types/Query/agendaItem.test.ts
  test/routes/graphqlErrorCode.test.ts
  test/routes/objects.test.ts
  test/routes/rest/serverTiming.test.ts
  test/server.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

chore/vitest-v4-migration
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

rename 'spy' back to 'getPluginModuleSpy' && align-mockRestore-calls
  test/plugin/manager/lifecycle.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix(tests): vitest@v4 type err
  test/graphql/types/Mutation/deleteChatMessage.test.ts
  test/plugin/manager/lifecycle.test.ts
  test/plugin/pluginWebhooks.test.ts
  test/setup.ts
  test/utilities/pluginInstaller.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix(test): types for mocks, spies, and import order
  test/graphql/types/Mutation/deleteChatMessage.test.ts
  test/plugin/manager/lifecycle.test.ts
  test/plugin/pluginWebhooks.test.ts
  test/utilities/pluginInstaller.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: prev-commit -> unwanted test file pushed
  .gitignore
Due: none

fix: graphql route - cookies errors
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

docs: regenerate EmailService auto-docs
  docs/docs/auto-docs/services/ses/EmailService/classes/EmailService.md
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

add: regen-docs
  docs/docs/auto-docs/services/ses/EmailService/classes/EmailService.md
Due: none

removed secrets from workflow
  .github/workflows/pull-request-review.yml
Due: none

feat: add edge cases for eventGenerationWindows schema validation
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

removed secrets from workflow (#4228)
  .github/workflows/pull-request-review.yml
Due: none

test(Mutation/updateCommentVote): achieve 100% code coverage #3829 (#4226)
  test/graphql/types/Mutation/updateCommentVote.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: use centralized disable_statements_check.py in GitHub ActionsAdd checkout for PalisadoesFoundation/.github repo and referencecentralized script in Check-ItSkip-Disable and python_checks jobs.
  .github/workflows/pull-request.yml
Due: none

test: Add comprehensive tests for deletePostVote mutation (#3835) (#4219)
  src/graphql/types/Mutation/deletePostVote.ts
  test/graphql/types/Mutation/deletePostVote.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fix: enforce mutually exclusive event visibility flags (#4213)
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateSingleRecurringEventInstance.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/deleteComment.test.ts
  test/graphql/types/Mutation/deleteFundCampaignPledge.test.ts
  test/graphql/types/Mutation/updateSingleRecurringEventInstance.test.ts
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
  test/graphql/types/Mutation/updateThisAndFollowingEvents.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

style: fix formatting in deleteChat.test.ts
  test/graphql/types/Mutation/deleteChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: type err's/ format
  test/fastifyPlugins/errorHandler.test.ts
  test/routes/graphql.test.ts
  test/utilities/pluginInstaller.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

refactor(graphql): use DataLoader for user lookups in creator/updater resolvers
  src/graphql/types/ActionItem/creator.ts
  src/graphql/types/ActionItem/updater.ts
  src/graphql/types/Post/creator.ts
  src/graphql/types/Post/updater.ts
  src/graphql/types/Tag/creator.ts
  src/graphql/types/Tag/updater.ts
  src/graphql/types/TagFolder/creator.ts
  src/graphql/types/TagFolder/updater.ts
  test/graphql/types/ActionItem/creator.test.ts
  test/graphql/types/ActionItem/updater.test.ts
  test/graphql/types/Post/creator.test.ts
  test/graphql/types/Post/updater.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

feat: simplify plugin installer test mocks
  test/utilities/pluginInstaller.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: typos
  docs/docs/auto-docs/services/ses/EmailService/classes/EmailService.md
  test/fastifyPlugins/errorHandler.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

refactor(graphql): migrate organization/event resolvers to DataLoader
  src/graphql/types/ActionItem/organization.ts
  src/graphql/types/Chat/organization.ts
  src/graphql/types/Event/organization.ts
  src/graphql/types/EventAttendee/event.ts
  src/graphql/types/EventVolunteer/event.ts
  src/graphql/types/Fund/organization.ts
  src/graphql/types/Post/organization.ts
  src/graphql/types/Tag/organization.ts
  src/graphql/types/TagFolder/organization.ts
  src/graphql/types/Venue/organization.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors
