Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

feat: added correlationId (#4158)
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/fastifyPlugins/errorHandler/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  docs/docs/auto-schema/types/objects/tag.mdx
  schema.graphql
  src/createServer.ts
  src/fastifyPlugins/errorHandler.ts
  src/fastifyPlugins/index.ts
  src/routes/graphql.ts
  test/createServer.correlationId.test.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createTag.test.ts
  test/graphql/types/Mutation/createTagFolder.test.ts
  test/graphql/types/Mutation/verifyEventInvitation.test.ts
  test/graphql/types/Query/agendaItem.test.ts
  test/graphql/types/Query/allUsers.test.ts
  test/graphql/types/Query/venue.test.ts
  test/routes/graphql.integration.test.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

apply description max length limit
  src/graphql/inputs/MutationUpdateAgendaItemInput.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

changed reference to main
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-target.yml
Due: none

fix format
  src/drizzle/schema.ts
  src/graphql/inputs/MutationUpdateAgendaItemInput.ts
  src/graphql/types/AgendaCategories/createdAt.ts
  src/graphql/types/AgendaCategories/creator.ts
  src/graphql/types/AgendaCategories/event.ts
  src/graphql/types/AgendaCategories/organization.ts
  src/graphql/types/AgendaCategories/updatedAt.ts
  src/graphql/types/AgendaCategories/updater.ts
  src/graphql/types/AgendaFolder/organization.ts
  src/graphql/types/AgendaItem/agendaCategory.ts
  src/graphql/types/AgendaItem/event.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Mutation/deleteAgendaCategory.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
  src/graphql/types/Mutation/updateAgendaFolderSequence.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  src/graphql/types/Mutation/updateAgendaItemSequence.ts
  src/graphql/types/Query/agendaCategoryByEvent.ts
  src/graphql/types/Query/agendaFolderByEvent.ts
  src/graphql/types/Query/agendaItemByEvent.ts
  src/graphql/types/Query/index.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

update migration n fix type error
  drizzle_migrations/20251211112617_chilly_spectrum.sql
  drizzle_migrations/20251216212639_fixed_dark_beast.sql
  drizzle_migrations/20251218163412_groovy_klaw.sql
  drizzle_migrations/20251221083348_hesitant_rafael_vega.sql
  drizzle_migrations/20251223025451_slimy_franklin_richards.sql
  drizzle_migrations/20251225090850_grey_hellfire_club.sql
  drizzle_migrations/20251225134609_slimy_trish_tilby.sql
  drizzle_migrations/20251226080502_exotic_klaw.sql
  drizzle_migrations/20251228090115_faulty_lizard.sql
  drizzle_migrations/20260101171305_magenta_inertia.sql
  drizzle_migrations/meta/20251216212639_snapshot.json
  drizzle_migrations/meta/20251218163412_snapshot.json
  drizzle_migrations/meta/20251221083348_snapshot.json
  drizzle_migrations/meta/20251223025451_snapshot.json
  drizzle_migrations/meta/20251225090850_snapshot.json
  drizzle_migrations/meta/20251225134609_snapshot.json
  drizzle_migrations/meta/20251226080502_snapshot.json
  drizzle_migrations/meta/20251228090115_snapshot.json
  drizzle_migrations/meta/20251231180603_snapshot.json
  drizzle_migrations/meta/20260101171305_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/tables/agendaFolders.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

update migration n fix type error
  src/drizzle/tables/agendaCategories.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

fix type error
  drizzle_migrations/20260101171527_cold_firebrand.sql
  drizzle_migrations/meta/20260101171527_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

fix(test): use rounding in performanceTracker.test.ts to fix flaky timing assertions
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation

fix(test): use rounding in performanceTracker.test.ts to fix flaky timing assertions (#4197)
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation

Feat: Implemented reCaptcha (#4174)
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/MutationSignUpInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/mutationSignUpInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QuerySignInInput/variables/QuerySignInInput.md
  docs/docs/auto-docs/graphql/inputs/QuerySignInInput/variables/querySignInInputSchema.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/validateRecaptchaIfRequired.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/verifyRecaptchaToken.md
  docs/docs/auto-schema/types/inputs/mutation-sign-up-input.mdx
  docs/docs/auto-schema/types/inputs/query-sign-in-input.mdx
  docs/docs/docs/getting-started/configuration.md
  schema.graphql
  scripts/setup/setup.ts
  src/envConfigSchema.ts
  src/graphql/context.ts
  src/graphql/inputs/MutationSignUpInput.ts
  src/graphql/inputs/QuerySignInInput.ts
  src/graphql/types/Mutation/signUp.ts
  src/graphql/types/Query/signIn.ts
  src/utilities/recaptchaUtils.ts
  test/graphql/types/Mutation/signUp.test.ts
  test/graphql/types/Query/signIn.test.ts
  test/utilities/recaptchaUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test: added test for createorganizationMembership.ts
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation

feat: integrate Python validation scripts into lefthook pre-commit hooks (#4175)
  docs/docs/docs/getting-started/installation.md
  lefthook.yaml
Due: none

fix: fixed labels
  .github/workflows/issue-assigned.yml
  .github/workflows/issue.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-target.yml
Due: none

Feat/gha centralisation (#4194)
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/stale.yml
Due: none

Update pull-request-review.yml
  .github/workflows/pull-request-review.yml
Due: none

test(deleteChatMembership): add comprehensive test coverage
  test/graphql/types/Mutation/deleteChatMembership.test.ts
Due: 9_check_mock_isolation

refactor: consolidate 5 disable check scripts into unified script
  .github/workflows/pull-request.yml
  .github/workflows/scripts/biome_disable_check.py
  .github/workflows/scripts/check_sanitization_disable.py
  .github/workflows/scripts/code_coverage_disable_check.py
  .github/workflows/scripts/detect_ts_ignore.py
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/itskip_disable_check.py
  lefthook.yaml
  test/scripts/check_sanitization_disable.test.py
Due: none

refactor: fix CodeRabbit issues and add test coverage
  .github/workflows/scripts/disable_statements_check.py
  test/scripts/test_disable_statements_check.py
Due: none

fix: skip Python files in checker and format test file
  .github/workflows/scripts/disable_statements_check.py
  test/scripts/test_disable_statements_check.py
Due: none

fix(updateVenue): ensure newline at end of file in updateVenue.ts
  src/graphql/types/Mutation/updateVenue.ts
  test/graphql/types/Mutation/updateVenue.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

update docs
  docs/docs/auto-docs/utilities/graphqlConnection/transforms/functions/transformGraphQLConnectionArgumentsWithWhere.md
  docs/docs/auto-docs/utilities/pluginInstaller/types/interfaces/PluginInstallationOptions.md
  docs/docs/auto-docs/utilities/pluginInstaller/types/interfaces/PluginZipStructure.md
Due: none

test: fix cursor assertions for base64url encoding in graphqlConnection tests
  test/utilities/defaultGraphQlConnection.test.ts
Due: 9_check_mock_isolation

GraphQL Context Performance Tracker Integration
  src/graphql/context.ts
  src/routes/graphql.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

improve test coverage
  test/utilities/pluginInstaller.test.ts
Due: 9_check_mock_isolation

add performance instrumentation to DataLoaders
  src/routes/graphql.ts
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/index.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  src/utilities/dataloaders/withMetrics.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

add performance tracking to cache service
  src/routes/graphql.ts
  src/services/caching/RedisCacheService.ts
  src/services/caching/index.ts
  src/services/caching/metricsCacheProxy.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

add GraphQL-specific performance logging
  src/fastifyPlugins/performance.ts
  src/routes/graphql.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

test: enhance plugin installation tests with error handling scenarios
  test/utilities/pluginInstaller.test.ts
Due: 9_check_mock_isolation

add tests for new features
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.performance.test.ts
  test/services/caching/metricsCacheProxy.test.ts
  test/utilities/dataloaders/withMetrics.test.ts
Due: 9_check_mock_isolation

test: added tests for create advertiseent
  test/graphql/types/Mutation/updateAdvertisement.test.ts
Due: 9_check_mock_isolation

refactor(test): append UUID to organization name in createTestComment function
  test/graphql/types/Comment/post.test.ts
Due: 9_check_mock_isolation

added documentation and fixed tests
  README.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/routes/graphql.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
