Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

refactor(tests): mirror source structure for setup service unit tests
  test/scripts/setup/administratorEmail.test.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/caddySetup.test.ts
  test/scripts/setup/cloudbeaverSetup.test.ts
  test/scripts/setup/minioSetup.test.ts
  test/scripts/setup/postgresSetup.test.ts
  test/unit/setup/services/administratorSetup.test.ts
  test/unit/setup/services/apiSetup.test.ts
  test/unit/setup/services/apiSetupRetry.test.ts
  test/unit/setup/services/caddySetup.test.ts
  test/unit/setup/services/ciSetup.test.ts
  test/unit/setup/services/cloudbeaverSetup.test.ts
  test/unit/setup/services/minioSetup.test.ts
  test/unit/setup/services/postgresSetup.test.ts
  test/unit/setup/services/sharedSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add missing SetupKey entries and re-export validateSecurePassword
  scripts/setup/setup.ts
Due: 10_check_disable_statements

fix(knip): remove unused validateSecurePassword export from validators.ts
  scripts/setup/setup.ts
  scripts/setup/validators.ts
Due: 10_check_disable_statements

style: remove extraneous blank line in validators.ts
  scripts/setup/validators.ts
Due: 10_check_disable_statements

fix: revert scope creep in deleteOrganization, eventsByVolunteer, and CI workflow
  .github/workflows/pull-request.yml
  test/graphql/types/Mutation/deleteOrganization.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: fix eventAttachments.test.ts afterEach cleanup order
  test/drizzle/tables/eventAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: stop deleting admin user in eventAttachments afterEach cleanup
  test/drizzle/tables/eventAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

tests: adding test for /Query/comments.ts file
  test/graphql/types/Query/comment.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: remove destructive afterEach that wipes events across shard 8
  test/drizzle/tables/eventAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: seed event_created notification template in ReadNotification tests
  test/graphql/types/Mutation/ReadNotification.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: make ReadNotification tests deterministic with direct DB inserts
  test/graphql/types/Mutation/ReadNotification.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add missing step id for container name resolution in CI
  .github/workflows/pull-request.yml
Due: none

fix: restore accidentally deleted SMTPProvider.integration.test.ts
  test/services/email/SMTPProvider.integration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fis unreadChat test cases
  test/graphql/types/Query/UnreadChat.test.ts
  test/graphql/types/Query/UnreadChats.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix code quality
  test/graphql/types/Query/UnreadChats.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

transition added successfully
  src/graphql/types/Mutation/createChatMessage.ts
  test/graphql/types/Query/UnreadChats.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix errors
  src/graphql/types/Mutation/createChatMessage.ts
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix git action flow
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test file changes applied
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

code rabbit comments done
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

code quality fix
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

revert code rabbit error handling
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

track all
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add coverage for MinIO error handling in updateCurrentUser and updateUser
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: correct user-not-found test and createAgendaFolder mock
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add error parameter to empty catch block to satisfy linter
  test/graphql/types/Mutation/createAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: fix formatting in createAgendaFolder.test.ts
  test/graphql/types/Mutation/createAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: log ignored error to satisfy validate-error-handling script
  test/graphql/types/Mutation/createAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: run biome format on createAgendaFolder.test.ts
  test/graphql/types/Mutation/createAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add race-condition transaction mock tests for coverage
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: simplify avatar update ternary to satisfy coverage
  src/graphql/types/Mutation/updateCurrentUser.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fixes: adding db afterEach cleanup hook
  test/graphql/types/Query/comment.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixes: flaky ReadNotification tests
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/variables/notificationEventBus.md
  src/graphql/types/Notification/EventBus/eventBus.ts
  test/graphql/types/Mutation/ReadNotification.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
  test/setup.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fixes: flaky ReadNotification tests async race condition and also fixes some type errors
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/variables/notificationEventBus.md
  src/graphql/types/Notification/EventBus/eventBus.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fixes: masking invitee emails before logging in
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/variables/notificationEventBus.md
  src/graphql/types/Notification/EventBus/eventBus.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: update ReadNotification tests to use synchronous EventBus
  test/graphql/types/Mutation/ReadNotification.test.ts
  test/graphql/types/Notification/EventBus/eventBus.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
