Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

gen docs
  docs/docs/auto-schema/types/objects/agenda-category.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

gen gql schema docs
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-category-input.mdx
Due: none

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
  src/graphql/inputs/MutationCreateAgendaCategoryInput.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR comments
  schema.graphql
  src/graphql/inputs/MutationUpdateAgendaCategoryInput.ts
  src/graphql/types/Mutation/deleteAgendaCategory.ts
  test/graphql/types/Mutation/deleteAgendaCategory.test.ts
  test/graphql/types/Mutation/updateAgendaCategory.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix docs related failing test
  docs/docs/auto-docs/config/emailConfig/variables/emailConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatInput/variables/mutationCreateChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateOrganizationInput/variables/mutationUpdateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
  docs/docs/auto-docs/graphql/types/Post/creator/functions/resolveCreator.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/services/metrics/metricsCacheProxy/functions/metricsCacheProxy.md
  docs/docs/auto-docs/services/ses/EmailService/classes/EmailService.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailConfig.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailJob.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailResult.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/isPerformanceTracker.md
Due: none

gen docs and update schema.gql
  schema.graphql
Due: none

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/mutationCreateAgendaCategoryInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
Due: none

address CR comments
  test/graphql/types/Mutation/createAgendaCategory.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-category-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-delete-agenda-category-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-category-input.mdx
Due: none

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/mutationCreateAgendaCategoryInputSchema.md
Due: none

fix docs related failing test
  docs/docs/auto-schema/types/objects/agenda-category.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

gen docs
  docs/docs/auto-docs/config/emailConfig/variables/emailConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/mutationCreateAgendaCategoryInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatInput/variables/mutationCreateChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateOrganizationInput/variables/mutationUpdateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
  docs/docs/auto-docs/graphql/types/Post/creator/functions/resolveCreator.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/services/metrics/metricsCacheProxy/functions/metricsCacheProxy.md
  docs/docs/auto-docs/services/ses/EmailService/classes/EmailService.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailConfig.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailJob.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailResult.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/isPerformanceTracker.md
Due: none

fix docs related failing test
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
Due: none

address CR comments
  src/graphql/types/Query/agendaCategoriesByEventId.ts
  src/graphql/types/Query/index.ts
  test/graphql/types/Mutation/deleteAgendaCategory.test.ts
  test/graphql/types/Mutation/updateAgendaCategory.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix format
  test/graphql/types/Mutation/deleteAgendaCategory.test.ts
  test/graphql/types/Mutation/updateAgendaCategory.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

implemented coderabbit suggestion
  src/utilities/auth/oauth/OAuthProviderRegistry.ts
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/OAuthProviderRegistry.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix file name
  src/graphql/types/Query/agendaCategoryByEventId.ts
  src/graphql/types/Query/index.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR comments
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-category-input.mdx
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaCategoryInput.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
  src/graphql/types/Query/agendaCategoriesByEventId.ts
  src/graphql/types/Query/index.ts
  test/graphql/inputs/MutationUpdateAgendaCategoryInput.test.ts
  test/graphql/types/Mutation/createAgendaCategory.test.ts
  test/graphql/types/Mutation/updateAgendaCategory.test.ts
  test/graphql/types/Query/agendaCategoryByEventId.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(install): enhance version validation and error handling in macOS installer
  scripts/install/macos/install-macos.sh
Due: none

fix: reorder setup prompts to prioritize API (#4392)
  scripts/setup/setup.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments
  src/graphql/types/Mutation/updateAgendaCategory.ts
  test/graphql/types/Mutation/createAgendaCategory.test.ts
  test/graphql/types/Mutation/deleteAgendaCategory.test.ts
  test/graphql/types/Mutation/updateAgendaCategory.test.ts
  test/graphql/types/Query/agendaCategoryByEventId.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(macos-install): improve Node.js LTS version detection and parsing
  scripts/install/macos/install-macos.sh
Due: none

address CR comments
  test/graphql/types/Mutation/deleteAgendaCategory.test.ts
  test/graphql/types/Query/agendaCategoriesByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(macos-install): refactor error messages using here-doc format
  scripts/install/macos/install-macos.sh
Due: none

add tables for agenda folders, items, urls and attachements
  src/drizzle/enums/agendaItemAttachmentMimeType.ts
  src/drizzle/enums/agendaItemType.ts
  src/drizzle/schema.ts
  src/drizzle/tables/agendaFolders.ts
  src/drizzle/tables/agendaItemAttachments.ts
  src/drizzle/tables/agendaItemUrls.ts
  src/drizzle/tables/agendaItems.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

implemented coderabbit suggestions
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/OAuthProviderRegistry.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(macos-install): improve pnpm version normalization and add Node.js validation notes
  scripts/install/macos/install-macos.sh
Due: none

generate migration and fix format
  drizzle_migrations/20260112162153_open_talon.sql
  drizzle_migrations/meta/20260112162153_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/enums/agendaItemAttachmentMimeType.ts
  src/drizzle/schema.ts
  src/drizzle/tables/agendaFolders.ts
  src/drizzle/tables/agendaItemAttachments.ts
  src/drizzle/tables/agendaItemUrls.ts
  src/drizzle/tables/agendaItems.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: added campaings.test.ts
  test/graphql/types/FundCampaignPledge/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: pre-validate invalid ports before URL parsing
  scripts/setup/validators.ts
Due: 10_check_disable_statements

fix: relocated test file
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: code rabbit
  test/graphql/types/Fund/campaigns.test.ts
  test/graphql/types/FundCampaignPledge/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: coderabbit ai
  compose.dev.simple.yaml
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: prevent pipefail exit during LTS version extraction
  scripts/install/macos/install-macos.sh
Due: none

chore
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: captures mutation result
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: added complexity calculation
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments
  drizzle_migrations/20260112175644_even_captain_midlands.sql
  drizzle_migrations/meta/20260112175644_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/enums/agendaItemAttachmentMimeType.ts
  src/drizzle/tables/agendaFolders.ts
  src/drizzle/tables/agendaItemAttachments.ts
  src/drizzle/tables/agendaItemUrls.ts
  src/drizzle/tables/agendaItems.ts
  src/graphql/enums/AgendaItemType.ts
  test/graphql/types/AgendaFolder/childFolders.test.ts
  test/graphql/types/AgendaFolder/createdAt.test.ts
  test/graphql/types/AgendaFolder/updatedAt.test.ts
  test/graphql/types/AgendaItem/createdAt.test.ts
  test/graphql/types/AgendaItem/creator.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
