Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

lefthook.yaml:

pre-commit:
  commands:
    1_upgrade_drizzle_metadata:
      run: |
        set -e
        pnpm run upgrade_drizzle_metadata
        git add ./drizzle_migrations
    2_generate_drizzle_migrations:
      run: |
        set -e
        pnpm run generate_drizzle_migrations
        git add ./drizzle_migrations
    3_check_drizzle_migrations:
      run: pnpm run check_drizzle_migrations
    4_generate_graphql_sdl_file:
      run: |
        set -e
        pnpm generate_graphql_sdl_file
        git add ./schema.graphql
    5_generate_gql_tada_files:
      run: |
        set -e
        pnpm generate_gql_tada
        git add ./test/graphql/types/gql.tada-cache.d.ts
    6_check_gql_tada:
      run: pnpm check_gql_tada
    7_fix_code_quality:
      run: |
        set -e
        pnpm format:fix
        git add -- {staged_files}        
        git add docs/

    7.5_check_tsdoc:
      glob: "src/**/*.ts"
      run: pnpm lint:tsdoc {staged_files}

    8_check_type_errors:
      run: pnpm typecheck

    9_check_mock_isolation:
      glob: "test/**/*.{test,spec}.{ts,tsx}"
      run: pnpm run check_mock_isolation {staged_files}

    11_generate_docs:
      run: |
        set -e
        pnpm generate-docs
        git add ./docs/docs/auto-docs/

    12_api_schema_docs:
      run: |
        set -e
        cd docs
        pnpm docusaurus graphql-to-doc
        git add docs/auto-schema

  piped: true

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    generate_graphql_sdl_file:
      run: pnpm run generate:docs
      stage_fixed: true
      skip:
        - merge
        - rebase

    check_gql_tada:
      run: pnpm run check_gql_tada
      glob: "src/**/*.ts"

    fix_code_quality:
      run: pnpm run fix_code_quality
      glob: "src/**/*.ts"
      stage_fixed: true

    check_type_errors:
      run: pnpm run check_type_errors
      glob: "src/**/*.ts"

fix(graphql): improve error code normalization and legacy code mapping
  docs/docs/auto-docs/utilities/TalawaGraphQLError/classes/TalawaGraphQLError.md
  src/routes/graphql.ts
  src/utilities/TalawaGraphQLError.ts
  test/plugin/pluginWebhooks.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

docs(errors): improve JSDoc formatting for error classes
  docs/docs/auto-docs/utilities/TalawaGraphQLError/classes/TalawaGraphQLError.md
  docs/docs/auto-docs/utilities/errors/TalawaRestError/classes/TalawaRestError.md
  src/utilities/TalawaGraphQLError.ts
  src/utilities/errors/TalawaRestError.ts
  test/plugin/pluginWebhooks.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

chore: implement unified error handling validation framework
  .github/workflows/pull-request.yml
  biome.jsonc
  biome_plugins/enforce_error_handling.grit
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/classes/NotificationEngine.md
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/enumerations/NotificationChannelType.md
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/enumerations/NotificationTargetType.md
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/interfaces/NotificationAudience.md
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/interfaces/NotificationVariables.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstanceById.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseId.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesInDateRange.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/interfaces/GetRecurringEventInstancesInput.md
  docs/docs/auto-docs/graphql/types/User/createdOrganizations/functions/resolveCreatedOrganizations.md
  docs/docs/auto-docs/utilities/errors/TalawaRestError/classes/TalawaRestError.md
  docs/docs/auto-docs/utilities/pluginInstaller/types/interfaces/PluginInstallationOptions.md
  docs/docs/auto-docs/utilities/pluginInstaller/types/interfaces/PluginZipStructure.md
  lefthook.yaml
  package.json
  scripts/validate_error_handling.ts
  src/graphql/types/Mutation/plugin/deletePlugin.ts
  src/graphql/types/Mutation/plugin/installPlugin.ts
  src/graphql/types/Mutation/plugin/updatePlugin.ts
  src/graphql/types/Mutation/uploadPluginZip.ts
  src/graphql/types/Notification/Notification_engine.ts
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/graphql/types/Query/organizationUsers.ts
  src/graphql/types/User/createdOrganizations.ts
  src/graphql/types/Venue/events.ts
  src/utilities/errors/TalawaRestError.ts
  src/utilities/pluginInstaller/installation.ts
  src/utilities/pluginInstaller/types.ts
  test/graphql/types/Mutation/plugin/deletePlugin.test.ts
  test/graphql/types/Mutation/plugin/installPlugin.test.ts
  test/graphql/types/Mutation/plugin/updatePlugin.test.ts
  test/graphql/types/Mutation/uploadPluginZip.test.ts
  test/graphql/types/Notification/notification_engine.test.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/organizationUsers.test.ts
  test/graphql/types/User/createdOrganizations.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

docs: regenerate auto-docs and update error handling validation
  biome_plugins/enforce_error_handling.grit
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/classes/NotificationEngine.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstanceById.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseId.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByIds.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesInDateRange.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/interfaces/GetRecurringEventInstancesInput.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/classes/TalawaGraphQLError.md
  docs/docs/auto-docs/utilities/errors/TalawaRestError/classes/TalawaRestError.md
  docs/docs/auto-docs/utilities/errors/errorCodes/enumerations/ErrorCode.md
  docs/docs/auto-docs/utilities/errors/errorCodes/type-aliases/StandardErrorPayload.md
  docs/docs/auto-docs/utilities/errors/errorCodes/variables/ERROR_CODE_TO_HTTP_STATUS.md
  package.json
  scripts/validate_error_handling.ts
  src/graphql/types/Notification/Notification_engine.ts
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/utilities/TalawaGraphQLError.ts
  src/utilities/errors/TalawaRestError.ts
  src/utilities/errors/errorCodes.ts
  test/graphql/types/Notification/notification_engine.test.ts
  test/graphql/types/Query/Notification.test.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Venue/events.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

chore: improve error handling and path resolution in validation and utilities
  docs/docs/auto-docs/plugin/utils/functions/clearPluginModuleCache.md
  docs/docs/auto-docs/plugin/utils/functions/dropPluginTables.md
  docs/docs/auto-docs/plugin/utils/functions/removePluginDirectory.md
  scripts/validate_error_handling.ts
  src/plugin/utils.ts
  test/plugin/utils.test.ts
  test/routes/rest/serverTiming.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

refactor: improve comment/string removal and fix module URL comparison
  scripts/validate_error_handling.ts
  test/routes/rest/serverTiming.test.ts
Due: 9_check_mock_isolation

docs: regenerate auto-docs and enhance error handling validation
  docs/docs/auto-docs/graphql/schemaManager/classes/GraphQLSchemaManager.md
  docs/docs/auto-docs/graphql/schemaManager/variables/schemaManager.md
  scripts/validate_error_handling.ts
  src/graphql/schemaManager.ts
  src/graphql/types/User/city.ts
  src/graphql/types/User/updater.ts
  src/routes/graphql.ts
  src/utilities/leakyBucket.ts
  test/graphql/types/Venue/events.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

chore: improve error handling and validation in scripts and utilities
  docs/docs/auto-docs/plugin/utils/functions/clearPluginModuleCache.md
  docs/docs/auto-docs/plugin/utils/functions/removePluginDirectory.md
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/resetData.ts
  scripts/validate_error_handling.ts
  src/plugin/utils.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

refactor: Update GraphQLSchemaManager documentation and fix schema manager paths
  docs/docs/auto-docs/graphql/schemaManager/classes/GraphQLSchemaManager.md
  docs/docs/auto-docs/graphql/schemaManager/variables/schemaManager.md
  scripts/validate_error_handling.ts
  src/graphql/schemaManager.ts
  src/graphql/types/User/city.ts
  src/graphql/types/User/updater.ts
  test/graphql/schemaManager.test.ts
  test/routes/graphql.test.ts
  test/validate_error_handling.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

refactor: consolidate error handling and remove duplicate exports
  src/routes/graphql.ts
  src/utilities/errors/errorTransformer.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Query/allUsers.test.ts
  test/routes/graphql.test.ts
  test/routes/objects.test.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

feat: enhance error handling for GraphQL requests and improve test coverage
  src/fastifyPlugins/errorHandler.ts
  src/routes/graphql.ts
  test/graphql/types/Query/allUsers.test.ts
  test/routes/graphql.integration.test.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

added test for src/graphql/types/Mutation/createOrganizationMembership.ts
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation

feat(error-handling): enhance error response structure and validation
  lefthook.yaml
  scripts/dbManagement/resetData.ts
  src/fastifyPlugins/errorHandler.ts
  src/graphql/types/Query/organizations.ts
  src/graphql/types/Venue/events.ts
  src/routes/graphql.ts
  test/graphql/schemaManager.test.ts
  test/graphql/types/Mutation/updateFundCampaign.test.ts
  test/graphql/types/Mutation/verifyEventInvitation.test.ts
  test/graphql/types/Query/fund.test.ts
  test/graphql/types/Venue/events.test.ts
  test/routes/graphql.integration.test.ts
  test/routes/graphqlErrorCode.test.ts
  test/utilities/errors/errorCodes.test.ts
  test/utilities/recaptchaUtils.test.ts
  test/validate_error_handling.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

docs(error-handling): document validation standards and improve error handling consistency
  CONTRIBUTING.md
  src/graphql/types/Query/organizations.ts
  test/graphql/types/Mutation/verifyEventInvitation.test.ts
  test/graphql/types/Query/fund.test.ts
  test/graphql/types/Query/organizations.test.ts
  test/graphql/types/Venue/events.test.ts
  test/routes/graphqlErrorCode.test.ts
  test/utilities/recaptchaUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix: update documentation links and error handling in various files
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/errors/errorCodes/enumerations/ErrorCode.md
  docs/docs/auto-docs/utilities/errors/errorCodes/type-aliases/StandardErrorPayload.md
  docs/docs/auto-docs/utilities/errors/errorCodes/variables/ERROR_CODE_TO_HTTP_STATUS.md
  scripts/dbManagement/addSampleData.ts
  scripts/validate_error_handling.ts
  src/fastifyPlugins/errorHandler.ts
  src/graphql/context.ts
  src/graphql/types/ActionItemCategory/ActionItemCategory.ts
  src/graphql/types/Mutation/plugin/installPlugin.ts
  src/graphql/types/Query/getUserPledgesByCampaignID.ts
  src/routes/graphql.ts
  src/utilities/errors/errorCodes.ts
  test/graphql/types/Mutation/plugin/installPlugin.test.ts
  test/graphql/types/Query/categoriesByIds.test.ts
  test/graphql/types/Query/getUserPledgesByCampaignID.test.ts
  test/routes/graphql.test.ts
  test/utilities/errors/errorCodes.test.ts
  test/utilities/leakyBucket.test.ts
  test/validate_error_handling.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix(core): unify error handling and graph context validation
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/types/Mutation/verifyEventInvitation/variables/VerifyEventInvitationPreview.md
  docs/docs/auto-docs/graphql/types/Mutation/verifyEventInvitation/variables/default.md
  docs/docs/auto-docs/plugin/classes/PluginManager.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/pluginDependencyInstaller/functions/installPluginDependenciesWithErrorHandling.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  scripts/dbManagement/helpers.ts
  scripts/validate_error_handling.ts
  src/graphql/context.ts
  src/graphql/types/ActionItemCategory/ActionItemCategory.ts
  src/graphql/types/Mutation/verifyEventInvitation.ts
  src/plugin/manager/core.ts
  src/routes/graphql.ts
  src/utilities/leakyBucket.ts
  src/utilities/pluginDependencyInstaller.ts
  src/workers/backgroundWorkerService.ts
  test/utilities/leakyBucket.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

feat(error-handling): enhance error logging and health check functionality
  src/plugin/manager/core.ts
  src/utilities/pluginDependencyInstaller.ts
  src/workers/backgroundWorkerService.ts
  test/scripts/dbManagement/helpers.test.ts
  test/utilities/leakyBucket.test.ts
  test/utilities/pluginInstaller.test.ts
  test/validate_error_handling.test.ts
  test/workers/backgroundWorkerService.test.ts
  vitest.config.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

docs: update function definitions and references in API documentation
  docs/docs/auto-docs/utilities/pluginDependencyInstaller/functions/installPluginDependenciesWithErrorHandling.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
Due: none

add mores test cases
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation

adding-symmetric-test-cases
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation

fixed syntax error
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation

fixed return in src
  src/graphql/types/Mutation/createOrganizationMembership.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

fix(error-handling): improve logging and error handling consistency
  biome.jsonc
  docs/docs/auto-docs/utilities/errors/errorTransformer/functions/normalizeError.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/validateRecaptchaIfRequired.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/verifyRecaptchaToken.md
  src/graphql/types/Mutation/signUp.ts
  src/graphql/types/Query/signIn.ts
  src/graphql/types/Venue/events.ts
  src/plugin/manager/core.ts
  src/routes/graphql.ts
  src/utilities/errors/errorTransformer.ts
  src/utilities/pluginInstaller/installation.ts
  src/utilities/recaptchaUtils.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Mutation/plugin/deletePlugin.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
  test/graphql/types/Query/categoriesByIds.test.ts
  test/graphql/types/Query/getPledgesByCampaignID.test.ts
  test/graphql/types/Query/venue.test.ts
  test/graphql/types/User/updater.test.ts
  test/graphql/types/Venue/events.test.ts
  test/routes/graphql.test.ts
  test/routes/objects.test.ts
  test/scripts/dbManagement/helpers.test.ts
  test/utilities/recaptchaUtils.test.ts
  test/validate_error_handling.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

undo the changes in src
  src/graphql/types/Mutation/createOrganizationMembership.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

test: added tests for updater and fixed resolver issue
  src/graphql/types/FundCampaignPledge/updater.ts
  test/graphql/types/FundCampaignPledge/updater.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

added otel config with tracing
  README-OBSERVABILITY.md
  docs/docs/auto-docs/config/observability/variables/observabilityConfig.md
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/initTracing.md
  envFiles/.env.devcontainer
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  src/config/observability.ts
  src/index.ts
  src/observability/tracing.smoke.test.ts
  src/observability/tracing/bootstrap.ts
  src/tracing.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

added otel config with tracing
  lefthook.yaml
Due: none

added otel config with tracing
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/initTracing.md
  src/observability/tracing/bootstrap.ts
  src/tracing.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

added otel config with tracing
  src/observability/tracing/bootstrap.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

fixed tests
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.integration.test.ts
  test/routes/graphql.performance.test.ts
  test/routes/rest/serverTiming.test.ts
Due: 9_check_mock_isolation

fixed errs
  test/graphql/types/gql.tada-cache.d.ts
Due: none

fixes
  test/routes/graphql.performance.test.ts
Due: 9_check_mock_isolation

added tests
  src/observability/tracing.smoke.test.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

added tests
  src/observability/tracing/bootstrap.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

feat: Add `updateCommunity` mutation test and standardize GraphQL document node indentation.
  test/graphql/types/Mutation/updateCommunity.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation

style: fixed the indentation and other formatting issues
  test/graphql/types/Mutation/updateCommunity.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation

refactor(error-handling): standardize error handling across scripts and utilities
  biome.jsonc
  docs/docs/auto-docs/fastifyPlugins/drizzleClient/type-aliases/DrizzleClient.md
  docs/docs/auto-docs/fastifyPlugins/drizzleClient/variables/drizzleClient.md
  docs/docs/auto-docs/fastifyPlugins/minioClient/variables/minioClient.md
  docs/docs/auto-docs/fastifyPlugins/pluginSystem/variables/pluginSystem.md
  docs/docs/auto-docs/fastifyPlugins/seedInitialData/variables/default.md
  scripts/check_tsdoc.ts
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/resetData.ts
  scripts/setup/envFileBackup/envFileBackup.ts
  scripts/setup/setup.ts
  scripts/validate_error_handling.ts
  src/fastifyPlugins/drizzleClient.ts
  src/fastifyPlugins/minioClient.ts
  src/fastifyPlugins/pluginSystem.ts
  src/fastifyPlugins/seedInitialData.ts
  src/graphql/types/Mutation/plugin/deletePlugin.ts
  src/graphql/types/Venue/events.ts
  src/utilities/pluginInstaller/installation.ts
  test/graphql/types/Mutation/plugin/deletePlugin.test.ts
  test/graphql/types/Mutation/updateUser.test.ts
  test/graphql/types/User/updater.test.ts
  test/graphql/types/Venue/events.test.ts
  test/plugin/manager/core.test.ts
  test/routes/objects.test.ts
  test/scripts/dbManagement/helpers.test.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/cloudbeaverSetup.test.ts
  test/scripts/setup/minioSetup.test.ts
  test/scripts/setup/postgresSetup.test.ts
  test/scripts/setup/setup.test.ts
  test/utilities/pluginInstaller.test.ts
  test/utilities/recaptchaUtils.test.ts
  test/workers/eventGeneration/postProcessor.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

Remove redundant mock restoration
  test/graphql/types/Mutation/updateCommunity.test.ts
Due: 9_check_mock_isolation

fix: using specific mock restoration instead of global.
  test/graphql/types/Mutation/updateCommunity.test.ts
Due: 9_check_mock_isolation

test: improve code coverage for `updateCommunity.ts` to 100% (#4211)
  test/graphql/types/Mutation/updateCommunity.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation
