Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

docs: regenerate documentation and schema files
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCurrentUserInput/variables/mutationUpdateCurrentUserInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/default.md
  docs/docs/auto-docs/utilities/logging/logger/functions/withFields.md
  docs/docs/auto-schema/operations/mutations/delete-chat.mdx
Due: none

refactor: address CodeRabbit feedback (magic numbers, logging, dynamic times)
  scripts/dbManagement/helpers.ts
Due: 10_check_disable_statements

add table and gql type for agenda category
  drizzle_migrations/20260110163558_minor_the_watchers.sql
  drizzle_migrations/meta/20260110163558_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/schema.ts
  src/drizzle/tables/agendaCategories.ts
  src/graphql/types/AgendaCategory/AgendaCategory.ts
  src/graphql/types/AgendaCategory/createdAt.ts
  src/graphql/types/AgendaCategory/creator.ts
  src/graphql/types/AgendaCategory/event.ts
  src/graphql/types/AgendaCategory/index.ts
  src/graphql/types/AgendaCategory/organization.ts
  src/graphql/types/AgendaCategory/updatedAt.ts
  src/graphql/types/AgendaCategory/updater.ts
  src/graphql/types/index.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: hardening seed helpers (streaming deletes, strict validation, type safety)
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

format fix
  src/drizzle/schema.ts
  src/graphql/types/AgendaCategory/updatedAt.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve race conditions in streaming and enforce strict type safety
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

address coderabbit comments and gen docs
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
  docs/docs/auto-schema/types/objects/event.mdx
  docs/docs/auto-schema/types/objects/organization.mdx
  docs/docs/auto-schema/types/objects/user.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  src/graphql/types/AgendaCategory/updatedAt.ts
  src/graphql/types/AgendaCategory/updater.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix format
  src/graphql/types/AgendaCategory/updater.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
Due: none

gen gql schema docs
  docs/docs/auto-schema/types/objects/event.mdx
  docs/docs/auto-schema/types/objects/organization.mdx
  docs/docs/auto-schema/types/objects/user.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

feat: implement SetupError class for standardized error handling
  scripts/setup/SetupError.ts
Due: 10_check_disable_statements

docs: add JSDoc and tests for SetupError class
  package.json
  pnpm-lock.yaml
  scripts/setup/SetupError.ts
  src/config/emailConfig.ts
  src/envConfigSchema.ts
  src/routes/objects.ts
  src/utilities/graphqLimits.ts
  src/utilities/passwordResetTokenUtils.ts
  test/scripts/setup/SetupError.test.ts
  vitest.config.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(install): add error handling for brew shellenv
  scripts/install/macos/install-macos.sh
Due: none

fix: consistent null handling, logging, and strict test assertions
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

add tests
  test/graphql/types/AgendaCategory/createdAt.test.ts
  test/graphql/types/AgendaCategory/creator.test.ts
  test/graphql/types/AgendaCategory/event.test.ts
  test/graphql/types/AgendaCategory/organization.test.ts
  test/graphql/types/AgendaCategory/updatedAt.test.ts
  test/graphql/types/AgendaCategory/updater.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  test/graphql/types/AgendaCategory/createdAt.test.ts
  test/graphql/types/AgendaCategory/creator.test.ts
  test/graphql/types/AgendaCategory/event.test.ts
  test/graphql/types/AgendaCategory/organization.test.ts
  test/graphql/types/AgendaCategory/updatedAt.test.ts
  test/graphql/types/AgendaCategory/updater.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: migrate typebox to @sinclair/typebox and remove unused dependency
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  test/drizzle.config.ts
  test/envConfigSchema.ts
  test/utilities/passwordResetTokenUtils.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing tests
  src/graphql/types/AgendaCategory/updatedAt.ts
  test/graphql/types/AgendaCategory/createdAt.test.ts
  test/graphql/types/AgendaCategory/creator.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix format
  test/graphql/types/AgendaCategory/createdAt.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(ci): remove biome-ignore and as any cast in SetupError.ts
  scripts/setup/SetupError.ts
Due: 10_check_disable_statements

fix: error propagation, quiet mode, and safer sql references
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

style: apply biome formatting fixes
  drizzle.config.ts
  test/drizzle.config.ts
  test/envConfigSchema.ts
  test/utilities/passwordResetTokenUtils.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: use native Error cause handling in SetupError
  scripts/setup/SetupError.ts
  test/scripts/setup/SetupError.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: fix formatting in SetupError.ts
  scripts/setup/SetupError.ts
Due: 10_check_disable_statements

address coderabbit review comments
  src/graphql/types/AgendaCategory/AgendaCategory.ts
  src/graphql/types/AgendaCategory/createdAt.ts
  src/graphql/types/AgendaCategory/creator.ts
  src/graphql/types/AgendaCategory/organization.ts
  src/graphql/types/AgendaCategory/updatedAt.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: implement safe serializeCause and strict test types
  scripts/setup/SetupError.ts
  test/scripts/setup/SetupError.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: error cause propagation, quiet logging, and schema-safe upserts
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

fix: production-grade seed hardening (streaming, error causes, schema refs)
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

fix: register event_attendees and harden seeders with strict validation
  scripts/dbManagement/addSampleData.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

feat: improve start_local_server.sh usage and security
  start_local_server.sh
Due: none

feat: add start_local_server.sh helper script
  start_local_server.sh
Due: none

address coderabbit review comments
  src/graphql/types/AgendaCategory/createdAt.ts
  src/graphql/types/AgendaCategory/creator.ts
  src/graphql/types/AgendaCategory/organization.ts
  src/graphql/types/AgendaCategory/updater.ts
  test/graphql/types/AgendaCategory/updatedAt.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: exhaustive hardening and strict validation for seeders
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

fix: exhaustive type safety, cross-platform normalization, and coverage
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

fix test files
  test/graphql/types/AgendaCategory/createdAt.test.ts
  test/graphql/types/AgendaCategory/creator.test.ts
  test/graphql/types/AgendaCategory/organization.test.ts
  test/graphql/types/AgendaCategory/updatedAt.test.ts
  test/graphql/types/AgendaCategory/updater.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: integrate performance tracker with GraphQL context
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCurrentUserInput/variables/mutationUpdateCurrentUserInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/default.md
  docs/docs/auto-docs/utilities/logging/logger/functions/withFields.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  drizzle_migrations/20260111022850_faithful_zemo.sql
  drizzle_migrations/meta/20260111022850_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/graphql/context.ts
  src/routes/graphql.ts
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: regenerate auto-docs
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCurrentUserInput/variables/mutationUpdateCurrentUserInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/default.md
  docs/docs/auto-docs/utilities/logging/logger/functions/withFields.md
Due: none
