Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

fix: added coderabbit suggestions
  test/graphql/types/Mutation/createVenue.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  src/drizzle/tables/agendaItems.ts
  src/graphql/types/AgendaItem/folder.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_NOTES_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/graphql/types/AgendaItem/folder/functions/resolveFolder.md
  test/graphql/types/AgendaItem/folder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test
  test/graphql/types/AgendaItem/folder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): strengthen enum and relations coverage for membershipRequests
  test/drizzle/tables/membershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): lint-fix coverage for membershipRequests
  test/drizzle/tables/membershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): add comprehensive test coverage for chats table
  test/drizzle/tables/chats.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): improve chats table test coverage
  drizzle_migrations/20260117104739_careless_shadowcat.sql
  drizzle_migrations/meta/20260117104739_snapshot.json
  drizzle_migrations/meta/_journal.json
  test/drizzle/tables/chats.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): add comprehensive test coverage for chats table
  drizzle_migrations/20260117104739_careless_shadowcat.sql
  drizzle_migrations/meta/20260117104739_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

fix(test): fix chats table test failures to match Drizzle ORM API
  test/drizzle/tables/chats.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: organize imports in chats.test.ts
  test/drizzle/tables/chats.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): fix insert schema tests and HTML escaping issue
  test/drizzle/tables/chats.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: implement codecov flags for unit and integration tests
  CONTRIBUTING.md
  codecov.yml
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

test(chats): remove dead code for updatedAt comparison
  test/drizzle/tables/chats.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Added test file for src/drizzle/tables/fundCampaignPledges.ts
  test/drizzle/tables/fundCampaignPledges.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: fix formatting in chats.test.ts
  test/drizzle/tables/chats.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: added codeRabbit suggestions
  test/drizzle/tables/fundCampaignPledges.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fix code format
  test/drizzle/tables/fundCampaignPledges.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: add user-event relationship queries
  schema.graphql
  src/graphql/types/Query/eventsByAdmin.ts
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/eventsByCreator.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  src/graphql/types/Query/index.ts
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByCreator.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: remove hardcoded vitest flag to enable path-based codecov flags
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: none

address CR comments
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/AgendaItem/url.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add error handling tests for >90% coverage
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByCreator.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  test/graphql/types/AgendaItem/agendaCategory.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: add missing newline in package.json scripts
  package.json
Due: none

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-item-input.mdx
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: fix code formatting and import statements
  src/drizzle/tables/communities.ts
  src/graphql/types/AgendaItem/AgendaItem.ts
  src/graphql/types/Chat/ChatMember.ts
  src/graphql/types/Chat/members.ts
  src/utilities/graphqlConnection/schemas.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

improve coverage
  docs/docs/auto-schema/operations/queries/events-by-admin.mdx
  docs/docs/auto-schema/operations/queries/events-by-attendee.mdx
  docs/docs/auto-schema/operations/queries/events-by-creator.mdx
  docs/docs/auto-schema/operations/queries/events-by-volunteer.mdx
  docs/docs/auto-schema/types/objects/event.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs(graphql): add auto-generated documentation for ChatMember types
  docs/docs/auto-docs/graphql/types/Chat/ChatMember/interfaces/ChatMemberType.md
  docs/docs/auto-docs/graphql/types/Chat/ChatMember/type-aliases/ChatMemberRole.md
Due: none

docs: restructure CONTRIBUTING and testing-validation per maintainer feedback
  CONTRIBUTING.md
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

test: Added test for src/drizzle/tables/venues.ts (#4763)
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
  src/drizzle/tables/venues.ts
  test/drizzle/tables/venues.test.ts
  test/graphql/inputs/MutationUpdateVenueInput.test.ts
  test/graphql/types/Mutation/createVenue.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors
