Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

adress cr suggestions
  test/services/auth/refreshStore.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Added new CR cleanup rules 1770513180
  .coderabbit/ast-grep-rules/test-cleanup.yml
Due: none

Add tests for User natalSex field resolver (#5154)
  test/graphql/types/User/natalSex.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Added new CR E2E vs unit test rules 1770514130
  .coderabbit.yaml
Due: none

Updated new CR cleanup rules 1770514454
  .coderabbit/ast-grep-rules/test-cleanup.yml
Due: none

Updated new CR cleanup rules 1770515488
  .coderabbit.yaml
  .coderabbit/ast-grep-rules/test-cleanup.yml
Due: none

Refactor: Standardize input validation using shared Zod validators
  docs/docs/auto-docs/graphql/inputs/CheckInCheckOutInput/variables/CheckInCheckOutInput.md
  docs/docs/auto-docs/graphql/inputs/CheckInCheckOutInput/variables/checkInCheckOutInputSchema.md
  docs/docs/auto-docs/graphql/inputs/EventVolunteerGroupWhereInput/variables/EventVolunteerGroupWhereInput.md
  docs/docs/auto-docs/graphql/inputs/EventVolunteerGroupWhereInput/variables/eventVolunteerGroupWhereInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationAcceptMembershipRequestInput/variables/MutationAcceptMembershipRequestInput.md
  docs/docs/auto-docs/graphql/inputs/MutationAcceptMembershipRequestInput/variables/acceptMembershipRequestInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCancelMembershipRequestInput/variables/MutationCancelMembershipRequestInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCancelMembershipRequestInput/variables/cancelMembershipRequestInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateActionItemCategoryInput/variables/MutationCreateActionItemCategoryInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateActionItemCategoryInput/variables/mutationCreateActionItemCategoryInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationMarkChatAsReadInput/variables/MutationMarkChatAsReadInput.md
  docs/docs/auto-docs/graphql/inputs/MutationMarkChatAsReadInput/variables/mutationMarkChatAsReadInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationSendEventInvitationsInput/type-aliases/SendEventInvitationsInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSendEventInvitationsInput/variables/RecipientInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSendEventInvitationsInput/variables/SendEventInvitationsInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSendEventInvitationsInput/variables/recipientSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationSendEventInvitationsInput/variables/sendEventInvitationsInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/MutationSignUpInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/mutationSignUpInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/MutationUpdateCommunityInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/mutationUpdateCommunityInputSchema.md
  docs/docs/auto-docs/routes/objects/variables/objects.md
  src/graphql/inputs/CheckInCheckOutInput.ts
  src/graphql/inputs/EventVolunteerGroupWhereInput.ts
  src/graphql/inputs/MutationAcceptMembershipRequestInput.ts
  src/graphql/inputs/MutationCancelMembershipRequestInput.ts
  src/graphql/inputs/MutationCreateActionItemCategoryInput.ts
  src/graphql/inputs/MutationMarkChatAsReadInput.ts
  src/graphql/inputs/MutationSendEventInvitationsInput.ts
  src/graphql/inputs/MutationSignUpInput.ts
  src/graphql/inputs/MutationUpdateCommunityInput.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/deleteUser.ts
  src/routes/objects.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Updated new CR cleanup rules 1770522155
  .coderabbit/ast-grep-rules/test-cleanup.yml
Due: none

feat(auth): Add refresh token store with SHA256 hashing (#5170)
  docs/docs/auto-docs/services/auth/refreshStore/functions/isRefreshTokenValid.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/persistRefreshToken.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/revokeRefreshToken.md
  docs/docs/auto-docs/services/auth/refreshStore/functions/sha256.md
  docs/docs/auto-docs/services/auth/refreshStore/interfaces/PersistRefreshTokenParams.md
  src/services/auth/refreshStore.ts
  test/services/auth/refreshStore.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Added new CR cleanup rules 1770510866 (#5171)
  .coderabbit.yaml
  .coderabbit/ast-grep-rules/test-cleanup.yml
Due: none

fix: standardize input validation and restore schema awareness
  docs/docs/auto-docs/graphql/inputs/EventVolunteerGroupWhereInput/variables/EventVolunteerGroupWhereInput.md
  docs/docs/auto-docs/graphql/inputs/EventVolunteerGroupWhereInput/variables/eventVolunteerGroupWhereInputSchema.md
  docs/docs/auto-docs/routes/objects/variables/objects.md
  src/graphql/inputs/EventVolunteerGroupWhereInput.ts
  src/routes/objects.ts
  test/graphql/types/Query/getEventVolunteerGroups.test.ts
  test/routes/objects.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

centralize the config file
  docs/docs/docs/getting-started/configuration.md
  docs/docs/docs/getting-started/email-configuration.md
Due: none

refactor: remove redundant Zod validation in objects route
  docs/docs/auto-docs/routes/objects/variables/objects.md
  src/routes/objects.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor(objects): use interface for params type safety
  docs/docs/auto-docs/routes/objects/variables/objects.md
  src/routes/objects.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: stabilize getEventVolunteerGroups tests
  test/graphql/types/Query/getEventVolunteerGroups.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: improve emailAddress coverage
  docs/docs/auto-docs/graphql/types/User/emailAddress/functions/emailAddressResolver.md
  src/graphql/types/User/emailAddress.ts
  test/graphql/types/User/emailAddress.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

added data for user tags
  scripts/dbManagement/sample_data/tag_assignments.json
  scripts/dbManagement/sample_data/tag_folders.json
  scripts/dbManagement/sample_data/tags.json
Due: none

removed invalid user id
  scripts/dbManagement/sample_data/tag_assignments.json
Due: none

fix: added tests for src/graphql/types/Tag/folder.ts
  test/graphql/types/Tag/folder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

updated addSample.test.ts to have tags
  test/scripts/dbManagement/addSampleData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(auth): add password (argon2id) and JWT (jose) services for REST … (#5166)
  docs/docs/auto-docs/services/auth/password/functions/hashPassword.md
  docs/docs/auto-docs/services/auth/password/functions/verifyPassword.md
  docs/docs/auto-docs/services/auth/tokens/functions/signAccessToken.md
  docs/docs/auto-docs/services/auth/tokens/functions/signRefreshToken.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/AccessClaims.md
  docs/docs/auto-docs/services/auth/tokens/type-aliases/RefreshClaims.md
  knip.json
  package.json
  pnpm-lock.yaml
  src/services/auth/index.ts
  src/services/auth/password.ts
  src/services/auth/tokens.ts
  test/services/auth/password.test.ts
  test/services/auth/tokens.test.ts
  vitest.unit.config.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

add: mailpit for default local email testing (#5100)
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  docker/compose.devcontainer.yaml
  docker/compose.testing.yaml
  docs/docs/auto-docs/config/emailConfig/variables/rawEmailEnvConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/email/EmailProviderFactory/variables/EmailProviderFactory.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/interfaces/SMTPProviderConfig.md
  docs/docs/docs/getting-started/configuration.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.ci
  envFiles/.env.devcontainer
  scripts/setup/emailSetup.ts
  scripts/setup/setup.ts
  src/envConfigSchema.ts
  src/services/email/EmailProviderFactory.ts
  src/services/email/providers/SMTPProvider.ts
  test/helpers/mailpitHelpers.ts
  test/install/emailSetup.test.ts
  test/services/email/EmailProviderFactory.test.ts
  test/services/email/SMTPProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Refactor: Standardize input validation using shared Zod validators (#5172)
  docs/docs/auto-docs/graphql/inputs/CheckInCheckOutInput/variables/CheckInCheckOutInput.md
  docs/docs/auto-docs/graphql/inputs/CheckInCheckOutInput/variables/checkInCheckOutInputSchema.md
  docs/docs/auto-docs/graphql/inputs/EventVolunteerGroupWhereInput/variables/EventVolunteerGroupWhereInput.md
  docs/docs/auto-docs/graphql/inputs/EventVolunteerGroupWhereInput/variables/eventVolunteerGroupWhereInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationAcceptMembershipRequestInput/variables/MutationAcceptMembershipRequestInput.md
  docs/docs/auto-docs/graphql/inputs/MutationAcceptMembershipRequestInput/variables/acceptMembershipRequestInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCancelMembershipRequestInput/variables/MutationCancelMembershipRequestInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCancelMembershipRequestInput/variables/cancelMembershipRequestInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateActionItemCategoryInput/variables/MutationCreateActionItemCategoryInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateActionItemCategoryInput/variables/mutationCreateActionItemCategoryInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationMarkChatAsReadInput/variables/MutationMarkChatAsReadInput.md
  docs/docs/auto-docs/graphql/inputs/MutationMarkChatAsReadInput/variables/mutationMarkChatAsReadInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationSendEventInvitationsInput/type-aliases/SendEventInvitationsInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSendEventInvitationsInput/variables/RecipientInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSendEventInvitationsInput/variables/SendEventInvitationsInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSendEventInvitationsInput/variables/recipientSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationSendEventInvitationsInput/variables/sendEventInvitationsInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/MutationSignUpInput.md
  docs/docs/auto-docs/graphql/inputs/MutationSignUpInput/variables/mutationSignUpInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/MutationUpdateCommunityInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommunityInput/variables/mutationUpdateCommunityInputSchema.md
  docs/docs/auto-docs/routes/objects/variables/objects.md
  src/graphql/inputs/CheckInCheckOutInput.ts
  src/graphql/inputs/EventVolunteerGroupWhereInput.ts
  src/graphql/inputs/MutationAcceptMembershipRequestInput.ts
  src/graphql/inputs/MutationCancelMembershipRequestInput.ts
  src/graphql/inputs/MutationCreateActionItemCategoryInput.ts
  src/graphql/inputs/MutationMarkChatAsReadInput.ts
  src/graphql/inputs/MutationSendEventInvitationsInput.ts
  src/graphql/inputs/MutationSignUpInput.ts
  src/graphql/inputs/MutationUpdateCommunityInput.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/deleteUser.ts
  src/routes/objects.ts
  test/graphql/types/Query/getEventVolunteerGroups.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
  test/routes/objects.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: improve emailAddress coverage (#5168)
  docs/docs/auto-docs/graphql/types/User/emailAddress/functions/emailAddressResolver.md
  src/graphql/types/User/emailAddress.ts
  test/graphql/types/User/emailAddress.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix postAttachments and agendaItemAttachments enum issue
  drizzle_migrations/20260208135606_fearless_luke_cage.sql
  drizzle_migrations/meta/20260208135606_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/enums/postAttachmentMimeType.ts
  src/drizzle/schema.ts
  src/drizzle/tables/agendaItemAttachments.ts
  src/drizzle/tables/postAttachments.ts
  src/graphql/inputs/FileMetadataInput.ts
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/inputs/MutationCreatePostInput.ts
  src/graphql/inputs/MutationUpdatePostInput.ts
  test/drizzle/enums/postAttachmentMimeType.test.ts
  test/drizzle/tables/postAttachments.test.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/inputs/MutationCreatePostInput.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Update attachment enums and regenerate drizzle docs
  docs/docs/auto-docs/drizzle/enums/postAttachmentMimeType/variables/postAttachmentMimeTypeEnum.md
  docs/docs/auto-docs/drizzle/enums/postAttachmentMimeType/variables/postAttachmentMimeTypeZodEnum.md
  docs/docs/auto-docs/drizzle/enums/postAttachmentMimeType/variables/postAttachmentTypes.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentMimeTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/postAttachments/variables/postAttachmentMimeTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/postAttachments/variables/postAttachmentsTable.md
  docs/docs/auto-docs/drizzle/tables/postAttachments/variables/postAttachmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/postAttachments/variables/postAttachmentsTableRelations.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachement/AgendaItemAttachment/variables/AgendaItemAttachment.md
  docs/docs/auto-docs/graphql/types/PostAttachment/PostAttachment/variables/PostAttachment.md
  src/drizzle/tables/agendaItemAttachments.ts
  src/drizzle/tables/postAttachments.ts
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

added correct tags
  scripts/dbManagement/sample_data/tag_folders.json
  scripts/dbManagement/sample_data/tags.json
Due: none

regenerate Doc
  docs/docs/auto-docs/drizzle/enums/postAttachmentMimeType/variables/postAttachmentMimeTypeZodEnum.md
  docs/docs/auto-docs/drizzle/enums/postAttachmentMimeType/variables/postAttachmentTypes.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentMimeTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/postAttachments/variables/postAttachmentMimeTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/postAttachments/variables/postAttachmentsTable.md
  docs/docs/auto-docs/drizzle/tables/postAttachments/variables/postAttachmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/postAttachments/variables/postAttachmentsTableRelations.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachement/AgendaItemAttachment/variables/AgendaItemAttachment.md
  docs/docs/auto-docs/graphql/types/PostAttachment/PostAttachment/variables/PostAttachment.md
Due: none

test(graphql): add tests for Venue.updatedAt field resolver
  docs/docs/auto-docs/graphql/types/Venue/updatedAt/functions/resolveUpdatedAt.md
  src/graphql/types/Venue/updatedAt.ts
  test/graphql/types/Venue/updatedAt.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(venue): update updatedAt resolver tests and cleanup
  docs/docs/auto-docs/graphql/types/Venue/updatedAt/functions/resolveUpdatedAt.md
  src/graphql/types/Venue/updatedAt.ts
  test/graphql/types/Venue/updatedAt.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(venue): fix user leak and strengthen updatedAt org admin assertion
  test/graphql/types/Venue/updatedAt.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(drizzle): add coverage for membershipRequests table
  test/drizzle/tables/membershipRequests.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(venue): assert membership mutation success in updatedAt tests
  test/graphql/types/Venue/updatedAt.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
