Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

fixed non-matching grep issue
  scripts/install/macos/install-macos.sh
Due: none

test: Refine error expectations and add clarifying comments for GraphQL validation and MinIO failure scenarios.
  test/graphql/types/Mutation/createOrganization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: enhance `withResolverCache` to gracefully handle cache read/write failures by falling back to the resolver and optionally logging/metric-ing errors.
  docs/docs/auto-docs/graphql/utils/withResolverCache/functions/withResolverCache.md
  docs/docs/auto-docs/graphql/utils/withResolverCache/interfaces/WithResolverCacheOptions.md
  src/graphql/utils/withResolverCache.ts
  test/graphql/utils/withResolverCache.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Track cache hits and misses within the resolver cache.
  src/graphql/utils/withResolverCache.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

revert: restore createServer.ts to original state after accidental modification
  docs/docs/auto-docs/createServer/functions/createServer.md
  src/createServer.ts
Due: 10_check_disable_statements

test: Introduce unit tests for createPost, createEvent, deleteUser, deletePost, createOrganization mutations and update existing mutation resolvers and tests.
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/deletePost.ts
  src/graphql/types/Mutation/deleteUser.ts
  src/graphql/types/Mutation/updatePost.ts
  test/graphql/types/Mutation/createEventUnit.test.ts
  test/graphql/types/Mutation/createOrganizationUnit.test.ts
  test/graphql/types/Mutation/createPostUnit.test.ts
  test/graphql/types/Mutation/deletePostUnit.test.ts
  test/graphql/types/Mutation/deleteUserUnit.test.ts
  test/graphql/types/Mutation/updatePostUnit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Added Input Argument Validation
  scripts/install/macos/install-macos.sh
Due: none

added print_usage function
  scripts/install/macos/install-macos.sh
Due: none

removed empty lines
  scripts/install/macos/install-macos.sh
Due: none

feat: Implement graceful degradation for cache invalidation errors and add tests to confirm invalidation timing after database transactions.
  src/graphql/types/Mutation/deleteStandaloneEvent.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  test/graphql/types/Mutation/createOrganizationUnit.test.ts
  test/graphql/types/Mutation/deleteOrganizationUnit.test.ts
  test/graphql/types/Mutation/deleteStandaloneEventUnit.test.ts
  test/graphql/types/Mutation/updatePostUnit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Add unit tests for cache invalidation graceful degradation and order, and enhance cache failure logging.
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/createOrganizationUnit.test.ts
  test/graphql/types/Mutation/deleteStandaloneEventUnit.test.ts
  test/graphql/types/Mutation/updateCurrentUserUnit.test.ts
  test/graphql/types/Mutation/updateStandaloneEventUnit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add case for short-circuiting cache invalidation on `invalidateEntity` failure
  test/graphql/types/Mutation/updateStandaloneEventUnit.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

InstallFix (Linux) - Define Magic Paths as Constants at Script Top #4274 - Added readonly constants for paths, timeouts, and versions. - Replaced hardcoded timeouts and fnm paths with variables.
  scripts/install/linux/install-linux.sh
Due: none

fixed typo for FNM_BIN_DIR and added comments in version requirements constants
  scripts/install/linux/install-linux.sh
Due: none

Added MAX_RETRY_ATTEMPTS in constants as per coderabbit
  scripts/install/linux/install-linux.sh
Due: none

Add markdown files to pull request workflow
  .github/workflows/pull-request.yml
Due: none

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: none

fix: added strict bash error handling in linux installation script (#4292)
  scripts/install/linux/install-linux.sh
Due: none

InstallFix (MacOS): Add Robust Error Handling with set -euo pipefail (#4293)
  scripts/install/macos/install-macos.sh
Due: none

InstallFix (MacOS) : Added Input Argument Validation (#4294)
  scripts/install/macos/install-macos.sh
Due: none

feat(caching): add withResolverCache utility for high-traffic resolvers (#4276)
  docs/docs/auto-docs/graphql/utils/withResolverCache/functions/withResolverCache.md
  docs/docs/auto-docs/graphql/utils/withResolverCache/interfaces/WithResolverCacheOptions.md
  docs/docs/auto-docs/services/caching/cacheConfig/functions/getTTL.md
  docs/docs/auto-docs/services/caching/cacheConfig/type-aliases/EntityTTL.md
  docs/docs/auto-docs/services/caching/cacheConfig/variables/defaultEntityTTL.md
  docs/docs/auto-docs/services/caching/wrappers/functions/wrapWithCache.md
  docs/docs/auto-docs/services/caching/wrappers/interfaces/CacheWrapperLogger.md
  docs/docs/auto-docs/services/caching/wrappers/interfaces/CacheWrapperMetrics.md
  docs/docs/auto-docs/services/caching/wrappers/interfaces/WrapWithCacheOptions.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/functions/createDataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/type-aliases/Dataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  src/graphql/utils/withResolverCache.ts
  src/routes/graphql.ts
  src/services/caching/cacheConfig.ts
  src/services/caching/wrappers.ts
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/index.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/graphql/types/Chat/organization.test.ts
  test/graphql/utils/withResolverCache.test.ts
  test/services/caching/wrappers.test.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: implement request-scoped performance monitoring and complexity tracking
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/createPerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/PerfSnapshot.md
  docs/docs/auto-docs/utilities/metrics/withMetrics/functions/wrapBatchWithMetrics.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/metrics/performanceTracker.ts
  src/utilities/metrics/withMetrics.ts
  test/fastifyPlugins/performance.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/routes/rest/serverTiming.test.ts
  test/server.ts
  test/utilities/metrics/performanceTracker.test.ts
  test/utilities/metrics/withMetrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

removed duplicate constant for INSTALLATION_LOG
  scripts/install/linux/install-linux.sh
Due: none

fix: resolve flaky deleteFundCampaignPledge test
  test/graphql/types/Mutation/deleteFundCampaignPledge.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve flaky deleteFundCampaignPledge test (#4296)
  test/graphql/types/Mutation/deleteFundCampaignPledge.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

changed doc location
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  docs/docs/docs/developer-resources/observability/observability.md
Due: none

changed doc location
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

changed doc location
  docs/sidebars.ts
Due: 10_check_disable_statements

test: add error checking for organization creation in updateTag test
  test/graphql/types/Mutation/updateTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Otel and observability (#4210)
  docs/docs/auto-docs/config/observability/variables/observabilityConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/initTracing.md
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/shutdownTracing.md
  docs/docs/auto-docs/observability/tracing/bootstrap/variables/fastifyOtelInstrumentation.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  package.json
  pnpm-lock.yaml
  scripts/setup/setup.ts
  src/config/observability.ts
  src/createServer.ts
  src/index.ts
  src/observability/tracing.smoke.test.ts
  src/observability/tracing/bootstrap.ts
  src/tracing.ts
  test/scripts/setup/setup.test.ts
  test/tracing.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: remove unused variables and update documentation
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

fix: remove unused variables from performanceTracker
  src/utilities/metrics/performanceTracker.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: remove PerformanceTrackerOptions interface documentation
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTrackerOptions.md
Due: none

docs: fix createPerformanceTracker documentation signature
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/createPerformanceTracker.md
Due: none

docs: remove slow field from PerfSnapshot documentation
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/PerfSnapshot.md
Due: none
