Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

added test coverage for file src/drizzle/tables/tagFolders.ts (#4953)
  test/drizzle/tables/tagFolders.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Implement Mock at Transaction Level
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

updated code to have userTags
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/tag_assignments.json
  scripts/dbManagement/sample_data/tag_folders.json
  scripts/dbManagement/sample_data/tags.json
  scripts/dbManagement/sample_data/users.json
  src/graphql/types/Query/TagsAssignedToUser.ts
  src/graphql/types/Query/index.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Fix typo in comment about soft-fail policy
  scripts/install/common/validation.sh
Due: none

test: add cleanup tests for emailVerificationRateLimit (#5131)
  src/utilities/emailVerificationRateLimit.ts
  test/utilities/emailVerificationRateLimit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

added test file
  test/graphql/types/Query/TagsAssignedToUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added userTags to schema.graphql
  schema.graphql
  test/graphql/types/Query/TagsAssignedToUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added docs
  docs/docs/auto-schema/operations/queries/user-tags.mdx
  docs/docs/auto-schema/types/objects/tag.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  test/graphql/types/Query/TagsAssignedToUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add unit tests for authorization utility
  test/graphql/types/gql.tada-cache.d.ts
  test/utilities/authorization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Included mock cleanup requirements 1770186730 (#5130)
  .coderabbit.yaml
Due: none

refactor: improve NODE_VERSION assignment in post-create.sh for better clarity test(createUser.metrics): use real timers for accurate performance tracking in avatar upload test
  .devcontainer/post-create.sh
  test/graphql/types/Mutation/createUser.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: Ensure the unauthorized-case test fails when no error is thrown
  test/utilities/authorization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

adding coderabbit suggestions
  test/graphql/types/Query/TagsAssignedToUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(auth): correct TalawaGraphQLError usage and refine tests
  src/utilities/authorization.ts
  test/utilities/authorization.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: update tag assignment tests to match error structure fix
  test/graphql/types/Mutation/assignUserTag.test.ts
  test/graphql/types/Mutation/unassignUserTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add unit tests for authorization utility (#5134)
  src/utilities/authorization.ts
  test/graphql/types/Mutation/assignUserTag.test.ts
  test/graphql/types/Mutation/unassignUserTag.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/utilities/authorization.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: added cr suggestions
  test/unit/setup/gracefulCleanup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test case fixes
  src/observability/tracing.smoke.test.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: make validation.test.sh executable
  scripts/install/common/validation.test.sh
Due: none

test: fix validate_prerequisites tests and resolve merge conflict
  scripts/install/common/validation.test.sh
Due: none

indentation fix
  scripts/install/common/validation.sh
Due: none

dependencies removed
  package.json
  pnpm-lock.yaml
  src/observability/tracing.smoke.test.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Refactor disk space validation tests for clarity
  scripts/install/common/validation.test.sh
Due: none

test(getEventVolunteerGroups): add assertions for group creation and inclusion in results
  test/graphql/types/Query/getEventVolunteerGroups.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

deps-updated
  pnpm-lock.yaml
Due: none

test: improve coverage for Tag assignees resolver using ghost cursor strategy
  test/graphql/types/Tag/assignees.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

doc-updated
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
Due: none

style: fix linter non-null assertion errors
  test/graphql/types/Tag/assignees.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

otel changes
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/initTracing.md
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/shutdownTracing.md
  docs/docs/auto-docs/observability/tracing/bootstrap/variables/fastifyOtelInstrumentation.md
  package.json
  pnpm-lock.yaml
  src/observability/tracing.smoke.test.ts
  src/observability/tracing/bootstrap.ts
  test/scripts/setup/setup.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

otel changes
  scripts/setup/setup.ts
  src/observability/tracing.smoke.test.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

minor improvements
  docs/docs/auto-docs/observability/tracing/bootstrap/functions/shutdownTracing.md
  src/observability/tracing.smoke.test.ts
  src/observability/tracing/bootstrap.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

build err resolved
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
Due: none

docs
  docs/docs/docs/getting-started/environment-variables.md
Due: none

Oauth: Implement signInWithOAuth Mutation Resolver (#5128)
  src/graphql/types/Mutation/signInWithOAuth.ts
  test/graphql/types/Mutation/signInWithOAuth.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: add rate limiting to requestPasswordReset mutation (#5121) (#5126)
  docs/docs/auto-docs/utilities/passwordResetRateLimit/functions/checkPasswordResetRateLimit.md
  docs/docs/auto-docs/utilities/passwordResetRateLimit/functions/resetLastCleanupAtForTests.md
  docs/docs/auto-docs/utilities/passwordResetRateLimit/functions/resetPasswordResetRateLimit.md
  docs/docs/auto-docs/utilities/passwordResetRateLimit/variables/PASSWORD_RESET_RATE_LIMITS.md
  src/graphql/types/Mutation/requestPasswordReset.ts
  src/utilities/passwordResetRateLimit.ts
  test/graphql/types/Mutation/requestPasswordReset.test.ts
  test/utilities/passwordResetRateLimit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(validation): add repository, disk, network, and prerequisite checks (#5124)
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

feat(test): add coverage for event creator authorization and recurring event instances (#5123)
  .devcontainer/post-create.sh
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Query/getEventVolunteerGroups.test.ts
  test/routes/graphqlErrorValidation.integration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: implement unlinkOAuthAccount mutation
  src/graphql/types/Mutation/unlinkOAuthAccount.ts
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
