Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

fix(events): enable user event dashboard access and correct Upcoming Events visibility
  src/graphql/types/Event/Event.ts
  src/graphql/types/Event/actionItems.ts
  src/graphql/types/Event/agendaFolders.ts
  src/graphql/types/Event/attendees.ts
  src/graphql/types/Event/volunteerGroups.ts
  src/graphql/types/Event/volunteers.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(events): correct notification routing to event details page
  drizzle_migrations/20260114003000_fix_event_notification_template.sql
  src/graphql/types/Notification/EventBus/eventBus.ts
  src/graphql/types/Notification/Notification_engine.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

implemented coderabbit suggestion
  docs/docs/auto-docs/config/oauth/functions/getProviderConfig.md
  src/config/oauth.ts
  test/config/oauth.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Add SMTP Provider Support using Nodemailer
  docs/docs/auto-docs/config/emailConfig/type-aliases/EmailEnvConfig.md
  docs/docs/auto-docs/config/emailConfig/variables/rawEmailEnvConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/email/EmailProviderFactory/variables/EmailProviderFactory.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/interfaces/SMTPProviderConfig.md
  docs/docs/docs/developer-resources/best-practices/email.md
  package.json
  pnpm-lock.yaml
  scripts/setup/emailSetup.ts
  src/config/emailConfig.ts
  src/envConfigSchema.ts
  src/services/email/EmailProviderFactory.ts
  src/services/email/index.ts
  src/services/email/providers/SMTPProvider.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/services/email/EmailProviderFactory.test.ts
  test/services/email/SMTPProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve event visibility issues for regular users
  src/graphql/types/Event/attendees.ts
  src/graphql/types/Event/creator.ts
  test/graphql/types/Event/creator.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: address code review feedback
  docs/docs/auto-docs/services/email/EmailProviderFactory/variables/EmailProviderFactory.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  scripts/setup/emailSetup.ts
  src/services/email/EmailProviderFactory.ts
  src/services/email/providers/SMTPProvider.ts
  test/services/email/EmailProviderFactory.test.ts
  test/services/email/SMTPProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve validation and add comprehensive tests
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  scripts/setup/emailSetup.ts
  src/services/email/providers/SMTPProvider.ts
  test/services/email/EmailProviderFactory.test.ts
  test/services/email/SMTPProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: address test shard failures
  scripts/setup/emailSetup.ts
  src/services/email/providers/SMTPProvider.ts
  test/services/email/EmailProviderFactory.test.ts
  test/services/email/SMTPProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add SMTP test coverage to emailSetup.test.ts
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve fake timers timeout in bulk email test
  test/services/email/SMTPProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add SMTP Provider Support using Nodemailer (#4734)
  docs/docs/auto-docs/config/emailConfig/type-aliases/EmailEnvConfig.md
  docs/docs/auto-docs/config/emailConfig/variables/rawEmailEnvConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/email/EmailProviderFactory/variables/EmailProviderFactory.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/interfaces/SMTPProviderConfig.md
  docs/docs/docs/developer-resources/best-practices/email.md
  package.json
  pnpm-lock.yaml
  scripts/setup/emailSetup.ts
  src/config/emailConfig.ts
  src/envConfigSchema.ts
  src/services/email/EmailProviderFactory.ts
  src/services/email/index.ts
  src/services/email/providers/SMTPProvider.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/install/emailSetup.test.ts
  test/services/email/EmailProviderFactory.test.ts
  test/services/email/SMTPProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve failing tests in graphql, ses, and drizzle modules
  src/drizzle/tables/eventGenerationWindows.ts
  src/fastifyPlugins/drizzleClient.ts
  src/fastifyPlugins/minioClient.ts
  src/routes/graphql.ts
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
  test/fastifyPlugins/drizzleClient.test.ts
  test/routes/graphql.test.ts
  test/services/ses/EmailService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: endpoint parsing improve tests
  src/fastifyPlugins/minioClient.ts
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add createdById validation test
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: improve describe
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve event visibility issues for regular users (#4730)
  src/graphql/types/Event/attendees.ts
  src/graphql/types/Event/creator.ts
  test/graphql/types/Event/creator.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve failing tests for performance plugin, background workers, and cron validator
  src/envConfigSchema.ts
  test/fastifyPlugins/performance.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: regenerate auto-docs after SMTP configuration changes
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
Due: none

fix: ensure healthCheck tests use same module instance for mocking
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: use same module import for healthCheck and spy in error handling tests
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(plugin): standardize structured logging format
  docs/docs/auto-docs/plugin/classes/PluginManager.md
  docs/docs/auto-docs/plugin/manager/lifecycle/classes/PluginLifecycle.md
  src/plugin/manager/core.ts
  src/plugin/manager/lifecycle.ts
  test/plugin/manager/core.test.ts
  test/plugin/registry.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: use Object.defineProperty to mock getBackgroundWorkerStatus in healthCheck tests
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/workers/backgroundWorkerService.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: use dependency injection for healthCheck to enable proper testing
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/workers/backgroundWorkerService.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(plugin): use structured logging format for info/warn logs Update remaining plain-string logs and tests to use { msg, ... } objects
  src/plugin/manager/core.ts
  test/plugin/manager/core.test.ts
  test/plugin/manager/lifecycle.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add assertion and fix test issues
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/workers/backgroundWorkerService.ts
  test/services/email/SMTPProvider.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

update docs
  docs/docs/auto-docs/plugin/classes/PluginManager.md
Due: none

test: verify 100ms delay between bulk emails
  test/services/email/SMTPProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(plugin): add assertions for structured log messages
  test/plugin/manager/core.test.ts
  test/plugin/manager/lifecycle.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: achieve 100% patch coverage
  test/fastifyPlugins/performance.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix structuredClone fallback test by stubbing after request
  test/fastifyPlugins/performance.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): resolve flaky SMTPProvider bulk email timing test
  test/services/email/SMTPProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: use getter to stub structuredClone for fallback test
  test/fastifyPlugins/performance.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: adjust timing assertion tolerance for dataloader metrics test
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(test): simplify SMTP rate limiting test assertions Remove redundant undefined checks and update test title
  test/services/email/SMTPProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: use delete to remove structuredClone for fallback test
  test/fastifyPlugins/performance.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add Edge Test Cases
  test/drizzle/tables/organizationMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix structuredClone fallback test by resetting modules
  test/fastifyPlugins/performance.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: simplify structuredClone fallback test to unit test
  test/fastifyPlugins/performance.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
