Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

Auto-docs generated
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
Due: none

Update title from 'Filtering' to 'Filters'
  docs/docs/docs/developer-resources/best-practices/pagination.md
Due: none

Revise pagination best practices documentation
  docs/docs/docs/developer-resources/best-practices/pagination.md
Due: none

Disable review details in coderabbit configuration
  .coderabbit.yaml
Due: none

feat: add email verification vars to setup script
  scripts/setup/setup.ts
Due: 10_check_disable_statements

fix: resolve migration collision and update schema docs
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  drizzle_migrations/20260114012055_swift_maginty.sql
  drizzle_migrations/20260115210507_black_stardust.sql
  drizzle_migrations/20260115210508_data_migration.sql
  drizzle_migrations/meta/20260115210507_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

fix: add default uuid gen and update all unverified users
  drizzle_migrations/20260115210507_black_stardust.sql
  drizzle_migrations/20260115210508_data_migration.sql
Due: none

test: add unit tests for setup prompt validators and enable scripts tests
  test/scripts/setup/apiSetup.test.ts
  vitest.config.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): resolve lint errors and fix test logic in apiSetup.test.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): resolve biome errors and fix test logic in apiSetup.test.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): align mock sequence and cleanup tests in apiSetup.test.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): correct mock sequence and formatting in apiSetup.test.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add 100% coverage for src/drizzle/tables/families.ts (#4748)
  test/unit/drizzle/tables/families.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): correct configureEmail mock in apiSetup.test.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): re-exclude scripts tests that have pre-existing async/sync mismatch bugs
  vitest.config.ts
Due: none

revert: restore vitest.config.ts to upstream state
  vitest.config.ts
Due: none

Add auto_apply_labels and suggested_labels options
  .coderabbit.yaml
Due: none

Update agenda item db table and add a table for urls
  src/drizzle/schema.ts
  src/drizzle/tables/agendaItemUrls.ts
  src/drizzle/tables/agendaItems.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen db migration and snapshot
  drizzle_migrations/20260115181521_lame_fat_cobra.sql
  drizzle_migrations/meta/20260115181521_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

format fix
  src/drizzle/tables/agendaItemUrls.ts
  src/drizzle/tables/agendaItems.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableRelations.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaItem/AgendaItem/variables/AgendaItem.md
  docs/docs/auto-docs/graphql/types/AgendaItem/updater/functions/resolveUpdater.md
Due: none

fix type error, add indexes and relationships between tables
  drizzle_migrations/20260115220648_tiresome_magma.sql
  drizzle_migrations/meta/20260115220648_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/tables/agendaItems.ts
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/Mutation/createAgendaItem.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

delete agenda item test file
  src/drizzle/tables/agendaItems.ts
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/Query/agendaItem.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
Due: none

resolve conflict
  drizzle_migrations/20260115181521_lame_fat_cobra.sql
  drizzle_migrations/20260115220648_tiresome_magma.sql
  drizzle_migrations/meta/20260115181521_snapshot.json
  drizzle_migrations/meta/20260115220648_snapshot.json
Due: none

resolve conflict
  drizzle_migrations/meta/_journal.json
Due: none

add new migrations and snapshot
  drizzle_migrations/20260115231420_foamy_wallow.sql
  drizzle_migrations/meta/20260115231420_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

fix(errors): improve error handling in normalizeError and update test descriptions
  src/utilities/errors/errorTransformer.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Mutation/joinPublicOrganization.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(setup): add metrics environment variables to interactive setup
  scripts/setup/setup.ts
Due: 10_check_disable_statements

fix: normalize pattern in invalidateMetricsCache and strict test assertion
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/metrics/metricsCache/classes/MetricsCacheService.md
  src/services/metrics/metricsCache.ts
  test/fastifyPlugins/performance.config.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor(setup): extract validators and add metricsSetup tests
  scripts/setup/setup.ts
  scripts/setup/validators.ts
  test/graphql/types/gql.tada.d.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(metricsCache): add coverage for invalidateMetricsCache edge cases
  test/services/metrics/metricsCache.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(setup): improve validator strictness and API key handling
  scripts/setup/setup.ts
  scripts/setup/validators.ts
Due: 10_check_disable_statements

fix(validators): reject reversed cron ranges and add regression test
  scripts/setup/validators.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: improve cache TTL validation and test assertions
  src/fastifyPlugins/performance.ts
  test/fastifyPlugins/performance.config.test.ts
  test/scripts/setup/setup.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors
