Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

feat: optimize eventsByCreator and fix query naming
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseIds.md
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/graphql/types/Query/eventsByCreator.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(drizzle): fix indentation and stabilize schema assertions
  test/unit_tests/plugins.table.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Update requirements.txt
  .github/workflows/requirements.txt
Due: none

fix: restore correct drizzle migrations journal from upstream
  drizzle_migrations/meta/_journal.json
Due: none

fix: correct p95 percentile test expectation from 95 to 95.5
  test/utilities/metrics/dbHelpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(fundCampaignPledges): add validation tests and update schema for note and IDs
  docs/docs/auto-docs/drizzle/tables/fundCampaignPledges/variables/NOTE_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/fundCampaignPledges/variables/fundCampaignPledgesTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteFundCampaignPledgeInput/variables/mutationDeleteFundCampaignPledgeInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateFundCampaignPledgeInput/variables/mutationUpdateFundCampaignPledgeInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryFundCampaignPledgeInput/variables/queryFundCampaignPledgeInputSchema.md
  src/drizzle/tables/fundCampaignPledges.ts
  test/drizzle/tables/fundCampaignPledges.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: tighten p99 test precision and add v8 ignore for unreachable branches
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/calculatePercentile.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/getTimeWindows.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/normalizeTimeRange.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/interfaces/TimeWindow.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/interfaces/TimeWindowOptions.md
  src/utilities/metrics/dbHelpers.ts
  test/utilities/metrics/dbHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: update docstring formatting and improve pledge test data consistency
  .github/workflows/scripts/check_docstrings.py
  test/drizzle/tables/fundCampaignPledges.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings

feat: add Date validation to getTimeWindows to catch invalid Date inputs
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/normalizeTimeRange.md
  src/utilities/metrics/dbHelpers.ts
  test/utilities/metrics/dbHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: document alignToBoundaries option in getTimeWindows JSDoc
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/getTimeWindows.md
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/normalizeTimeRange.md
  src/utilities/metrics/dbHelpers.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: address CodeRabbit feedback for input schemas and dbHelpers
  docs/docs/auto-docs/utilities/metrics/dbHelpers/functions/calculatePercentile.md
  src/utilities/metrics/dbHelpers.ts
  test/graphql/inputs/MetricsFilterInput.test.ts
  test/graphql/inputs/MetricsInput.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve event queries logic, inline test queries, and add coverage
  docs/docs/auto-schema/operations/queries/events-by-volunteer.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  schema.graphql
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/eventsByCreator.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByCreator.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Optimize eventsByVolunteer and add pagination to event queries
  docs/docs/auto-schema/operations/queries/events-by-admin.mdx
  docs/docs/auto-schema/operations/queries/events-by-attendee.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  schema.graphql
  src/graphql/types/Query/eventsByAdmin.ts
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Fixed black version
  .github/workflows/requirements.txt
Due: none

Fixed black version
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

Fixed Black Version (#4825)
  .github/workflows/requirements.txt
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

Added test file for src/drizzle/tables/funds.ts (#4823)
  test/drizzle/tables/funds.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

style(ci): improve docstring violation message formatting
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

chore(test): fix biome formatting for plugins table tests
  test/unit_tests/plugins.table.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style(workflows): reformat docstring violation message for better readability
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

fix: replace insecure curl-to-shell with temporary file download (#4821)
  docs/docs/docs/getting-started/installation.md
  scripts/install/linux/install-linux.sh
Due: none

Fixes #4702 (Test Drizzle: src/drizzle/tables/organizations.ts) (#4817)
  test/drizzle/tables/organization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: add missing newline in package.json scripts
  package.json
Due: none

refactor(graphql): improve type safety and schema validation
  src/drizzle/tables/recurringEventExceptions.ts
  src/graphql/types/Advertisement/Advertisement.ts
  src/graphql/types/AgendaItem/AgendaItem.ts
  src/graphql/types/FundCampaign/FundCampaign.ts
  src/graphql/types/Organization/Organization.ts
  src/utilities/TalawaGraphQLError.ts
  src/utilities/graphqlConnection/schemas.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

style: fix code formatting and import statements
  src/drizzle/tables/communities.ts
  src/graphql/types/AgendaItem/AgendaItem.ts
  src/graphql/types/Chat/ChatMember.ts
  src/graphql/types/Chat/members.ts
  src/utilities/graphqlConnection/schemas.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs(graphql): add auto-generated documentation for ChatMember types
  docs/docs/auto-docs/graphql/types/Chat/ChatMember/interfaces/ChatMemberType.md
  docs/docs/auto-docs/graphql/types/Chat/ChatMember/type-aliases/ChatMemberRole.md
Due: none

remove unnecessary file
  src/graphql/types/AgendaItemUrl/index.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

sync check_docstring.py with upstream
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

address CR suggestions
  drizzle_migrations/20260118100706_brown_songbird.sql
  drizzle_migrations/meta/20260118100706_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/tables/agendaItemUrls.ts
  src/graphql/types/AgendaItemUrl/index.ts
  src/graphql/types/index.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/AgendaItemUrl/AgendaItemUrl.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableRelations.md
  docs/docs/auto-docs/graphql/types/AgendaItem/url/functions/resolveUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/type-aliases/AgendaItemUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/variables/AgendaItemUrl.md
Due: none

fix: Format Python files with Black
  .github/workflows/scripts/check_docstrings.py
Due: 10.6_check_python_docstrings

address CR suggestions
  schema.graphql
  src/graphql/types/AgendaItem/index.ts
  test/graphql/types/AgendaItem/url.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR suggestions
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableRelations.md
  docs/docs/auto-schema/types/objects/agenda-item-url.mdx
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

gen docs
  docs/docs/auto-schema/types/objects/agenda-item-url.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
Due: none

keep only DB table–related file additions for url
  docs/docs/auto-docs/graphql/types/AgendaItem/url/functions/resolveUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/type-aliases/AgendaItemUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/variables/AgendaItemUrl.md
  schema.graphql
  src/graphql/types/AgendaItem/index.ts
  src/graphql/types/AgendaItem/url.ts
  src/graphql/types/AgendaItemUrl/AgendaItemUrl.ts
  src/graphql/types/AgendaItemUrl/index.ts
  src/graphql/types/index.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/AgendaItemUrl/AgendaItemUrl.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

add url table for agenda feature
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableRelations.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableRelations.md
  docs/docs/auto-docs/graphql/types/AgendaItem/url/functions/resolveUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/type-aliases/AgendaItemUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/variables/AgendaItemUrl.md
  drizzle_migrations/20260118085346_handy_morgan_stark.sql
  drizzle_migrations/meta/20260118085346_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/schema.ts
  src/drizzle/tables/agendaItemUrls.ts
  src/drizzle/tables/agendaItems.ts
  src/graphql/types/AgendaItem/url.ts
  src/graphql/types/AgendaItemUrl/AgendaItemUrl.ts
  src/graphql/types/AgendaItemUrl/index.ts
  test/graphql/types/AgendaItem/url.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
