Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

perf(test): optimize performanceTracker tests by reducing setTimeout delays
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(test): improve test isolation by making slow array injectable
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/createPerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTrackerOptions.md
  src/utilities/metrics/performanceTracker.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor(test): remove global mocks and make complexityScore conditional
  src/utilities/metrics/performanceTracker.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: gracefully handle cache write errors in `withResolverCache` and add test coverage.
  src/graphql/utils/withResolverCache.ts
  test/graphql/utils/withResolverCache.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: remove out-of-scope migration and generated types from PR 1
  drizzle_migrations/20260106184731_aspiring_marvel_apes.sql
  drizzle_migrations/meta/20260106184731_snapshot.json
  drizzle_migrations/meta/_journal.json
  test/graphql/types/gql.tada-cache.d.ts
Due: 10_check_disable_statements

feat: improve cache warming with parallel processing, enhance cache invalidation for user and post mutations, and add new unit tests for GraphQL mutations.
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateUser.ts
  src/workers/backgroundWorkerService.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/deleteOrganizationUnit.test.ts
  test/graphql/types/Mutation/deleteStandaloneEventUnit.test.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
  test/graphql/types/Mutation/updatePostUnit.test.ts
  test/graphql/types/Mutation/updateUserUnit.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: add 'How to Access' section to performance monitoring documentation
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

feat: improve cache invalidation reliability by moving calls outside transactions and adding dedicated unit tests
  src/graphql/types/Mutation/updateUser.ts
  src/workers/backgroundWorkerService.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/deleteStandaloneEventUnit.test.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
  test/graphql/types/Mutation/updateUserUnit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: remove numbers from headings in performance monitoring documentation
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

docs: add performance metrics reference table with acceptable ranges
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

fix: replace br tags with commas in metrics table for MDX compatibility
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

feat: add core performance monitoring infrastructure (#4285)
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/createPerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTrackerOptions.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/PerfSnapshot.md
  docs/docs/auto-docs/utilities/metrics/withMetrics/functions/wrapBatchWithMetrics.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/utilities/metrics/performanceTracker.ts
  src/utilities/metrics/withMetrics.ts
  test/utilities/metrics/performanceTracker.test.ts
  test/utilities/metrics/withMetrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Improve recurrence parsing validation and add coverage for DST helpers and UNTIL inclusivity
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionKey.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createTemplateLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveInstanceWithInheritance.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveMultipleInstances.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/validateResolvedInstance.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addDays.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addMonthSafely.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addWeeks.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/daysInMonth.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/generateOccurrences.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/parseRRule.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/startOfWeek.md
  docs/docs/auto-docs/services/recurrence/recurrence/type-aliases/Occurrence.md
  docs/docs/auto-docs/services/recurrence/recurrence/type-aliases/RecurrenceRule.md
  docs/docs/auto-docs/services/recurrence/recurrence/variables/Allowed_Freq.md
  docs/docs/auto-docs/services/recurrence/recurrence/variables/weekOffset.md
  src/services/recurrence/recurrence.ts
  test/services/recurrence/recurrence.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Validate RRULE COUNT and missing FREQ; add coverage for week helpers and parsing errors
  test/services/recurrence/recurrence.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed formating issue
  test/services/recurrence/recurrence.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

merge conflicts resolved
  docs/docs/auto-docs/graphql/types/EventAttendee/event/functions/eventAttendeeEventResolver.md
  docs/docs/auto-docs/graphql/types/EventVolunteer/event/functions/EventVolunteerEventResolver.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addDays.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addMonthSafely.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addWeeks.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/daysInMonth.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/generateOccurrences.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/parseRRule.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/startOfWeek.md
  docs/docs/auto-docs/services/recurrence/recurrence/type-aliases/Occurrence.md
  docs/docs/auto-docs/services/recurrence/recurrence/type-aliases/RecurrenceRule.md
  docs/docs/auto-docs/services/recurrence/recurrence/variables/weekOffset.md
  src/createServer.ts
  src/services/recurrence/recurrence.ts
  test/services/recurrence/recurrence.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

modified: test/services/eventInstanceGeneration/instanceResolver.test.ts
  src/services/recurrence/recurrence.ts
  test/services/eventInstanceGeneration/instanceResolver.test.ts
  test/services/recurrence/recurrence.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Resolve event attendee/volunteer resolver conflicts
  docs/docs/auto-docs/graphql/types/EventAttendee/event/functions/eventAttendeeEventResolver.md
  docs/docs/auto-docs/graphql/types/EventVolunteer/event/functions/EventVolunteerEventResolver.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addDays.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addMonthSafely.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addWeeks.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/daysInMonth.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/generateOccurrences.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/parseRRule.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/startOfWeek.md
  docs/docs/auto-docs/services/recurrence/recurrence/type-aliases/Occurrence.md
  docs/docs/auto-docs/services/recurrence/recurrence/variables/weekOffset.md
  schema.graphql
  src/createServer.ts
  test/graphql/types/Event/volunteers.test.ts
  test/graphql/types/Organization/events.test.ts
  test/graphql/types/Query/eventQueries/filterInviteOnlyEvents.test.ts
  test/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
  test/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
  test/services/eventInstanceGeneration/instanceResolver.test.ts
  test/workers/eventGeneration/jobDiscovery.test.ts
  test/workers/eventGeneration/windowManager.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

generated doc and fixed type error
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addDays.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addWeeks.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/parseRRule.md
  docs/docs/auto-docs/services/recurrence/recurrence/variables/weekOffset.md
Due: none

Remove misfiled change and restore file locations
  src/createServer.ts
  src/services/eventGeneration/instanceResolver.ts
  test/services/eventInstanceGeneration/instanceResolver.test.ts
  test/services/recurrence/recurrence.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

added-test-for-setup-file
  scripts/setup/setup.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added-test-for-setup-file
  scripts/setup/setup.ts
Due: 10_check_disable_statements

chore(ci): stabilize CI after recent changes
  docs/docs/auto-docs/graphql/types/EventAttendee/event/functions/eventAttendeeEventResolver.md
  docs/docs/auto-docs/graphql/types/EventVolunteer/event/functions/EventVolunteerEventResolver.md
  docs/docs/auto-docs/graphql/types/Query/eventQueries/unifiedEventQueries/functions/getEventsByIds.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionKey.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createTemplateLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveInstanceWithInheritance.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveMultipleInstances.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/validateResolvedInstance.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addDays.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addMonthSafely.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/addWeeks.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/daysInMonth.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/generateOccurrences.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/parseRRule.md
  docs/docs/auto-docs/services/recurrence/recurrence/functions/startOfWeek.md
  docs/docs/auto-docs/services/recurrence/recurrence/type-aliases/Occurrence.md
  docs/docs/auto-docs/services/recurrence/recurrence/type-aliases/RecurrenceRule.md
  docs/docs/auto-docs/services/recurrence/recurrence/variables/weekOffset.md
  schema.graphql
  src/graphql/types/Query/eventQueries/unifiedEventQueries.ts
  test/graphql/types/Event/actionItem.test.ts
  test/graphql/types/Event/attendees.test.ts
  test/graphql/types/Event/attendeesCheckInStatus.test.ts
  test/graphql/types/Event/updater.test.ts
  test/graphql/types/Event/volunteerGroups.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Introduce caching for dataloaders, including action items, with configurable TTLs.
  docs/docs/auto-docs/services/caching/cacheConfig/functions/getTTL.md
  docs/docs/auto-docs/services/caching/cacheConfig/type-aliases/EntityTTL.md
  docs/docs/auto-docs/services/caching/cacheConfig/variables/defaultEntityTTL.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/functions/createDataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/type-aliases/Dataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  src/routes/graphql.ts
  src/services/caching/cacheConfig.ts
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/index.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix tests
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: enhance dataloader cache testing and standardize mock cache injection in tests.
  envFiles/.env.devcontainer
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/graphql/types/Chat/organization.test.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: add avatar upload test for organization and refactor cache invalidation to be non-fatal outside transactions
  src/graphql/types/Mutation/deleteStandaloneEvent.ts
  src/graphql/types/Mutation/updateOrganization.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/deleteStandaloneEventUnit.test.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
  test/graphql/types/Mutation/updateUserUnit.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: Add comprehensive tests for dataloader caching mechanisms in createUserLoader and createActionItemLoader.
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

revert old changes and only include issue related workflows
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
  .github/workflows/stale.yml
Due: none

fix: added strict bash error handling in linux installation script
  scripts/install/linux/install-linux.sh
Due: none

feat: Parallelize cache invalidation and add graceful degradation for cache errors in mutations, with updated tests.
  src/graphql/types/Mutation/updateOrganization.ts
  test/graphql/types/Mutation/createOrganization.test.ts
  test/graphql/types/Mutation/deleteStandaloneEvent.test.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
  test/graphql/types/Mutation/updateUserUnit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: gracefully handle cache read errors by falling back to the database and write errors by failing silently.
  src/services/caching/wrappers.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Add optional logger and metrics to cache wrapper for graceful error handling.
  docs/docs/auto-docs/services/caching/wrappers/functions/wrapWithCache.md
  docs/docs/auto-docs/services/caching/wrappers/interfaces/CacheWrapperLogger.md
  docs/docs/auto-docs/services/caching/wrappers/interfaces/CacheWrapperMetrics.md
  docs/docs/auto-docs/services/caching/wrappers/interfaces/WrapWithCacheOptions.md
  src/services/caching/wrappers.ts
  test/services/caching/wrappers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

revert old changes and only include issue related workflows (#4284)
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
  .github/workflows/stale.yml
Due: none

Add Robust Error Handling with set -euo pipefail
  scripts/install/macos/install-macos.sh
Due: none

feat: Add `createOrganization` mutation tests for DB insert failure, schema string length boundaries, and MinIO upload failure.
  test/graphql/types/Mutation/createOrganization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
