Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

chore: Remove comment regarding avatarUrl nullability in createChat test.
  test/graphql/types/Mutation/createChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: for user-event queries
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseIds.md
  docs/docs/auto-schema/types/objects/event.mdx
  schema.graphql
  src/graphql/types/Event/Event.ts
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/graphql/types/Query/eventsByAdmin.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByCreator.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: remove verification files
  docs/docs/auto-docs/integration_heavy/functions/integrationHeavy.md
  src/integration_heavy.ts
  test/drizzle/integration_heavy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: re-add verification files with correct config
  docs/docs/auto-docs/integration_heavy/functions/integrationHeavy.md
  src/integration_heavy.ts
  test/drizzle/integration_heavy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: update autodocs for integration heavy verification
  docs/docs/auto-docs/integration_heavy/functions/integrationHeavy.md
Due: none

fix: correct test expectation
  test/drizzle/integration_heavy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(graphql): extract upVoters complexity calculation to separate function
  docs/docs/auto-docs/graphql/types/Post/upVoters/functions/upVotersComplexity.md
  src/graphql/types/Post/upVoters.ts
  test/graphql/types/Post/upVoters.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: enhance robustness of verified event query tests
  test/graphql/types/Query/eventsByCreator.test.ts
  test/unit/graphql/types/Query/eventQueries/recurringEventInstanceQueries.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: disable carryforward for flags to prevent stale coverage
  codecov.yml
Due: none

test: add unit tests for events table coverage (issue #4694)
  drizzle_migrations/20260121160356_ambiguous_pyro.sql
  drizzle_migrations/meta/20260121160356_snapshot.json
  drizzle_migrations/meta/_journal.json
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/drizzle/tables/events.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

adding min length validation tests for complete insert schema coverage
  test/unit/drizzle/tables/events.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add paths configuration to flags for proper filtering
  codecov.yml
Due: none

test: add boundary and min-length validation tests for events table schema
  test/unit/drizzle/tables/events.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add edge test case for blloackedUser
  test/drizzle/tables/blockedUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

created test file for venueAttachments
  test/drizzle/tables/venueAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

coderabbit issue resolved
  test/drizzle/tables/blockedUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: disable all-files coverage to ensure strict separation
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: none

test: add comprehensive tests for eventVolunteers table (100% coverage)
  test/unit/drizzle/tables/eventVolunteers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

resolved actionable comments
  test/drizzle/tables/venueAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve TypeScript errors and formatting issues in eventVolunteers tests
  test/unit/drizzle/tables/eventVolunteers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: remove temporary debugging files, keep coverage config fix
  src/integration_heavy.ts
  test/drizzle/integration_heavy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: regenerate autodocs and cleanup
  coverage-debug/single/base.css
  coverage-debug/single/block-navigation.js
  coverage-debug/single/favicon.png
  coverage-debug/single/index.html
  coverage-debug/single/lcov-report/base.css
  coverage-debug/single/lcov-report/block-navigation.js
  coverage-debug/single/lcov-report/favicon.png
  coverage-debug/single/lcov-report/index.html
  coverage-debug/single/lcov-report/prettify.css
  coverage-debug/single/lcov-report/prettify.js
  coverage-debug/single/lcov-report/sort-arrow-sprite.png
  coverage-debug/single/lcov-report/sorter.js
  coverage-debug/single/lcov.info
  coverage-debug/single/prettify.css
  coverage-debug/single/prettify.js
  coverage-debug/single/sort-arrow-sprite.png
  coverage-debug/single/sorter.js
  docs/docs/auto-docs/integration_heavy/functions/integrationHeavy.md
Due: none

chore: remove accidentally committed debug artifacts
  coverage-debug/single/base.css
  coverage-debug/single/block-navigation.js
  coverage-debug/single/favicon.png
  coverage-debug/single/index.html
  coverage-debug/single/lcov-report/base.css
  coverage-debug/single/lcov-report/block-navigation.js
  coverage-debug/single/lcov-report/favicon.png
  coverage-debug/single/lcov-report/index.html
  coverage-debug/single/lcov-report/prettify.css
  coverage-debug/single/lcov-report/prettify.js
  coverage-debug/single/lcov-report/sort-arrow-sprite.png
  coverage-debug/single/lcov-report/sorter.js
  coverage-debug/single/lcov.info
  coverage-debug/single/prettify.css
  coverage-debug/single/prettify.js
  coverage-debug/single/sort-arrow-sprite.png
  coverage-debug/single/sorter.js
Due: none

fix: strictly separate codecov flag paths to prevent overlap
  codecov.yml
Due: none

fix(codecov): remove non-existent src/unit_tests path
  codecov.yml
Due: none

Fix schema migration unique index, restore test cleanup, and improve test mocking
  drizzle_migrations/20251026154956_fair_the_anarchist.sql
  test/graphql/types/Query/Events.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(codecov): remove non-existent src/helpers and src/school paths
  codecov.yml
Due: none

fix: Add Node.js bin directory to PATH for pnpm availability
  docker/api.Containerfile
Due: none

Fix flaky timing assertions in createEvent and withMutationMetrics tests
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/utils/withMutationMetrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Refactor createEvent metric tests to use integration tests and verify sub-operations
  test/graphql/types/Mutation/createEvent.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fix lint warnings in createEvent metrics test
  test/graphql/types/Mutation/createEvent.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fix unauthorized error in createEvent metrics test by adding org membership
  test/graphql/types/Mutation/createEvent.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Improve test consistency by capturing initial metrics snapshot in recurring event test
  test/graphql/types/Mutation/createEvent.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: move drizzle-kit to dependencies to ensure it exists in CI checks
  package.json
  pnpm-lock.yaml
Due: none

Review feedback: Implement comprehensive tests and refactor resolvers
  drizzle_migrations/20251026154956_fair_the_anarchist.sql
  drizzle_migrations/20260122030428_fix_unique_index.sql
  package.json
  pnpm-lock.yaml
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createUser.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/createUser.test.ts
  test/graphql/types/Mutation/updateOrganization.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Fix biome formatting issues
  drizzle_migrations/meta/_journal.json
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createUser.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Fix: Remove phantom migration entry from _journal.json
  drizzle_migrations/meta/_journal.json
Due: none

Fix: Add missing migration entry to _journal.json
  drizzle_migrations/meta/_journal.json
Due: none

Fix: Add naturalLanguageCode to Mutation_deleteUser query in tests
  test/graphql/types/documentNodes.ts
Due: 10_check_disable_statements

Fix biome formatting in documentNodes.ts
  test/graphql/types/documentNodes.ts
Due: 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
