Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

add documentation for performance monitoring infrastructure
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

refactor: replace hard-fail OS_TYPE check with soft-fail validationReplaces
  scripts/install/common/package-manager.sh
  scripts/install/common/package-manager.test.sh
Due: none

feat(install): add secure validators and run_cmd to validation.sh
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

address 2 edge case test gaps
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: expand performance monitoring guide with parameter ranges, rationale, and remediation steps
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

test(scripts): expand package-manager validation tests
  scripts/install/common/package-manager.test.sh
Due: none

test(scripts): expand and refactor package-manager validation tests
  scripts/install/common/package-manager.test.sh
Due: none

test(scripts): assert atomic exit code 1 for unset OS_TYPE
  scripts/install/common/package-manager.test.sh
Due: none

Guard GraphQL error arrays with .length to avoid false failures.
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Overly strict .. check rejects valid paths with double dots in filenames
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

coderabbit suggestions
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: achieve 100% coverage for NotificationLog table
  src/drizzle/tables/NotificationLog.ts
  test/drizzle/tables/NotificationLog.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address failing test
  test/graphql/types/Mutation/createEvent.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(metrics): fix deleteOrganization error guards and cleanup assertions; add updateOrganization invalid avatar MIME test
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(install): address CodeRabbit feedback on logging and coverage
  scripts/install/common/logging.sh
  scripts/install/common/test_logging.sh
  scripts/install/install.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

Add invalid-path cases for unsafe metacharacters (if validate_path is hardened).
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

fix failing test shrad 5
  test/graphql/types/Mutation/createEvent.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Remove the vi.runAllTimersAsync()
  test/graphql/types/Mutation/createEvent.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(install): harden validation.sh with secure validators, run_cmd, path checks; fix createEvent metrics test timer loop
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
  test/graphql/types/Mutation/createEvent.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

coderabbit suggestion
  scripts/install/common/validation.test.sh
Due: none

address coderabbit suggestion
  test/graphql/types/Mutation/createEvent.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

improve dockstring coverage
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

fix coderabbit suggestion
  test/graphql/types/Mutation/createEvent.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added test coverage for file src/drizzle/tables/tagFolders.ts
  test/drizzle/tables/tagFolders.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fixed spelling mistakes
  test/drizzle/tables/tagFolders.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

removed extra it
  test/drizzle/tables/tagFolders.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: replace hard-fail OS_TYPE check with soft-fail validationRe… (#4950)
  scripts/install/common/package-manager.sh
  scripts/install/common/package-manager.test.sh
Due: none

docs: add performance monitoring docs for DataLoader, mutation/query instrumentation, and metrics APIs (#4948)
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

test: added test coverage for advertisementAttachmentnt
  test/drizzle/tables/advertisementAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add performance metrics to updateOrganization and deleteOrganization (#4936)
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/updateOrganization.ts
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
  test/graphql/types/Query/getRecurringEvents.test.ts
  test/graphql/utils/withMutationMetrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: added test for test/drizzle/tables/actionItemCategories.test.ts
  test/drizzle/tables/actionItemCategories.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: use shared libs in macOS install script (#4923)
  scripts/install/linux/install-linux.sh
Due: none

fixes: Add Prerequisite Validation Before Operations
  scripts/install/linux/install-linux.sh
Due: none

test: added tests for src/drizzle/tables/actionItemCategories.ts
  test/drizzle/tables/actionItemCategories.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: added test for advertisementAttachements
  test/drizzle/tables/advertisementAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: final biome formatting fix for NotificationLog
  src/drizzle/tables/NotificationLog.ts
  test/drizzle/tables/NotificationLog.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors
