Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix: type error
  test/unit/graphql/types/User/mobilePhoneNumber.registration.test.ts
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve linting and formatting issues in mobilePhoneNumber tests
  test/graphql/types/User/mobilePhoneNumber.test.ts
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add comprehensive registration test for mobilePhoneNumber field
  test/unit/graphql/types/User/mobilePhoneNumber.registration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: correct mock implementation signature for usersTable.findFirst
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): resolve TypeScript type errors in mobilePhoneNumber registration test
  test/unit/graphql/types/User/mobilePhoneNumber.registration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: enhance mobilePhoneNumber unit tests for 100% coverage
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): suppress error handling validation in mobilePhoneNumber test
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): remove biome-ignore comments in mobilePhoneNumber registration test
  test/unit/graphql/types/User/mobilePhoneNumber.registration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add event not found test case for valid ULID
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixing shard
  test/services/email/SMTPProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixing the shard
  test/services/email/SESProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Test Doc
  docs/docs/auto-docs/drizzle/enums/commentVoteType/variables/commentVoteTypeValues.md
Due: none

test doc 2
  docs/docs/auto-docs/drizzle/enums/commentVoteType/variables/commentVoteTypeValues.md
Due: none

doc fixed
  docs/docs/auto-docs/drizzle/enums/commentVoteType/variables/commentVoteTypeZodEnum.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVoteTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTable.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/commentVotes/variables/commentVotesTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateCommentVoteInput/variables/MutationCreateCommentVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateCommentVoteInput/variables/mutationCreateCommentVoteInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommentVoteInput/variables/MutationUpdateCommentVoteInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCommentVoteInput/variables/mutationUpdateCommentVoteInputSchema.md
Due: none

fix: move unit tests to integration test file for coverage collection
  test/graphql/types/User/mobilePhoneNumber.test.ts
  test/unit/graphql/types/User/mobilePhoneNumber.registration.test.ts
  test/unit/graphql/types/User/mobilePhoneNumber.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address coderabbit suggestions
  test/graphql/types/Query/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: implement naturalLanguageCode resolver with authentication checks and add tests (#5198)
  docs/docs/auto-docs/graphql/types/User/naturalLanguageCode/functions/resolveNaturalLanguageCode.md
  src/graphql/types/User/naturalLanguageCode.ts
  test/graphql/types/User/naturalLanguageCode.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Enhanced CR Checks 1770850513
  .coderabbit.yaml
Due: none

Enhanced CR Checks 1770852523
  .coderabbit.yaml
Due: none

Enhanced CR Checks 1770853790
  .coderabbit.yaml
Due: none

Enhanced CR Checks 1770850513 (#5201)
  .coderabbit.yaml
Due: none

Updated ENV variable naming convention document 1770857192
  docs/docs/docs/getting-started/environment-variables.md
Due: none

Updated ENV variable naming convention document 1770857192 (#5202)
  docs/docs/docs/getting-started/environment-variables.md
Due: none

feat(rest): add Fastify auth plugin and requireAuth for protected REST routes
  docs/docs/auto-docs/fastifyPlugins/auth/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  src/fastifyPlugins/auth.ts
  src/fastifyPlugins/index.ts
  src/fastifyPlugins/rateLimit.ts
  test/fastifyPlugins/auth.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

adress cr suggestions
  docs/docs/auto-docs/fastifyPlugins/auth/variables/default.md
  src/fastifyPlugins/auth.ts
  test/fastifyPlugins/auth.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

adress cr suggestion and shrad failures
  docs/docs/auto-docs/fastifyPlugins/auth/variables/default.md
  src/fastifyPlugins/auth.ts
  vitest.unit.config.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: mock differentiate queries
  scripts/install/linux/install-linux.sh
  scripts/install/linux/install-linux.test.sh
Due: none

adress shrad failures
  test/setup-unit-env.ts
  vitest.unit.config.ts
Due: 10_check_disable_statements

fix failing shrads
  envFiles/.env.ci
  test/setup-unit-env.ts
  vitest.unit.config.ts
Due: 10_check_disable_statements

adress cr suggetion adn test failure
  envFiles/.env.devcontainer
  src/fastifyPlugins/auth.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Add JSDoc to authPlugin
  src/fastifyPlugins/auth.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

genrate docs
  docs/docs/auto-docs/fastifyPlugins/auth/variables/default.md
Due: none

fixng Codecov report
  test/services/email/SESProvider.test.ts
  test/services/email/SMTPProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

adress cr suggestions
  docs/docs/auto-docs/fastifyPlugins/auth/interfaces/CurrentUser.md
  docs/docs/auto-docs/fastifyPlugins/auth/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/rateLimit/variables/default.md
  src/fastifyPlugins/auth.ts
  src/fastifyPlugins/rateLimit.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(tests): delete by user id in updateVenue unauthenticated test
  test/graphql/types/Mutation/updateVenue.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add comprehensive unit tests for mobilePhoneNumber resolver (#5190)
  docs/docs/auto-docs/graphql/types/User/mobilePhoneNumber/functions/mobilePhoneNumberResolver.md
  src/graphql/types/User/mobilePhoneNumber.ts
  test/graphql/types/User/mobilePhoneNumber.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
