Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

feat: Enable agenda item category updates and move items to default folder on delete. (#5112)
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInputSchema.md
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-item-input.mdx
  schema.graphql
  src/graphql/inputs/MutationUpdateAgendaItemInput.ts
  src/graphql/types/Mutation/deleteAgendaFolder.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Oauth: Register OAuth Providers in Application
  docs/docs/auto-docs/fastifyPlugins/oauthProviderRegistry/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/functions/extractZodMessage.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/auth/oauth/providerFactory/functions/buildOAuthProviderRegistry.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  src/fastifyPlugins/index.ts
  src/fastifyPlugins/oauthProviderRegistry.ts
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/auth/oauth/providerFactory.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/fastifyPlugins/oauthProviderRegistry.test.ts
  test/routes/graphql.oauthContext.integration.test.ts
  test/utilities/auth/oauth/providerFactory.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add comprehensive tests for leakyBucket utility (#5108)
  src/utilities/leakyBucket.ts
  test/utilities/leakyBucket.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: enhance error handling tests with improved mock restoration and environment variable management
  test/unit/validate_error_handling.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

implemented coderabbit suggestion
  docs/docs/auto-docs/utilities/auth/oauth/providerFactory/functions/buildOAuthProviderRegistry.md
  src/routes/graphql.ts
  src/utilities/auth/oauth/providerFactory.ts
  test/fastifyPlugins/oauthProviderRegistry.test.ts
  test/utilities/auth/oauth/providerFactory.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Initialize mocks before constructing the validator
  test/unit/validate_error_handling.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Revert "feat(sample-data): add recurrence rules and event generation windows …"
  docs/docs/auto-schema/types/objects/event-attendee.mdx
  schema.graphql
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/events.json
  scripts/dbManagement/sample_data/recurrence_rules.json
  test/scripts/dbManagement/addSampleData.test.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Revert "feat(sample-data): add recurrence rules and event generation windows …" (#5115)
  docs/docs/auto-schema/types/objects/event-attendee.mdx
  schema.graphql
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/events.json
  scripts/dbManagement/sample_data/recurrence_rules.json
  test/scripts/dbManagement/addSampleData.test.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): restore module cache in finally block for WARN_ONLY_MODE test to prevent pollution
  test/unit/validate_error_handling.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(tests): add comprehensive tests for chatMessages table schema and operations
  test/drizzle/tables/chatMessages.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

implemented coderabbit suggestion
  docs/docs/auto-docs/utilities/auth/oauth/providerFactory/functions/buildOAuthProviderRegistry.md
  src/utilities/auth/oauth/providerFactory.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

updated test's name
  docs/docs/auto-docs/utilities/auth/oauth/providerFactory/functions/buildOAuthProviderRegistry.md
  src/utilities/auth/oauth/providerFactory.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(test): add unit tests for seedInitialData plugin functionality
  test/unit/fastifyPlugins/seedInitialData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve TypeScript error in password shuffle logic
  scripts/setup/validators.ts
Due: 10_check_disable_statements

feat(test): refactor seedInitialData tests to use centralized mock functions and improve assertions
  test/unit/fastifyPlugins/seedInitialData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: remove redundant NaN check in validateTokenExpiration
  schema.graphql
  scripts/setup/validators.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 10_check_disable_statements

fix: validate Docker availability when using --skip-prereqs in docker mode
  scripts/install/macos/install-macos.sh
  scripts/install/macos/install-macos.test.sh
Due: none

feat(test): enhance seedInitialData tests with improved user role checks and community data assertions
  test/unit/fastifyPlugins/seedInitialData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: change docker ps to docker info for consistency
  scripts/install/macos/install-macos.sh
Due: none

added resolver level test
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  src/graphql/context.ts
  test/routes/graphql.oauthContext.integration.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(test): update seedInitialData tests to include options parameter for improved functionality
  test/unit/fastifyPlugins/seedInitialData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: validate Docker availability when using --skip-prereqs in docker mode
  docs/docs/auto-schema/types/objects/event-attendee.mdx
  schema.graphql
  scripts/install/macos/install-macos.sh
  test/graphql/types/gql.tada-cache.d.ts
Due: 10_check_disable_statements

test: add tests for SKIP_PREREQS=true failure branch
  scripts/install/macos/install-macos.test.sh
Due: none

test: add comprehensive unit tests for eventAttendeeUpdatedAtResolver achieving 100% coverage
  test/graphql/types/EventAttendee/updatedAt.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(test): add unit tests for seedInitialData plugin functionality (#5117)
  test/unit/fastifyPlugins/seedInitialData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: remove duplicated test
  scripts/install/macos/install-macos.test.sh
Due: none

chore: format for consistency
  scripts/install/macos/install-macos.test.sh
Due: none

use mercuriusClient.query
  test/routes/graphql.oauthContext.integration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

removed unwanted tests
  test/routes/graphql.oauthContext.integration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: added gracefulcleanup
  scripts/setup/setup.ts
  test/unit/setup/gracefulCleanup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: update testing validation documentation for error handling practices and directory naming
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

test: enhance validation exit logic by managing WARN_ONLY_MODE environment variable
  test/unit/validate_error_handling.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: correct relation names in chatMessages table schema and tests
  src/drizzle/tables/chatMessages.ts
  test/drizzle/tables/chatMessages.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: ensure macOS installer exits when Docker daemon is down (#4947)
  docs/docs/auto-schema/types/objects/event-attendee.mdx
  schema.graphql
  scripts/install/macos/install-macos.sh
  scripts/install/macos/install-macos.test.sh
  test/graphql/types/gql.tada-cache.d.ts
Due: 10_check_disable_statements

improved Registry Cleanup
  test/fastifyPlugins/oauthProviderRegistry.test.ts
  test/routes/graphql.oauthContext.integration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

extracting context assertion
  test/routes/graphql.oauthContext.integration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add tests for getKeyPathsWithNonUndefinedValues
  docs/docs/auto-docs/utilities/getKeyPathsWithNonUndefinedValues/functions/getKeyPathsWithNonUndefinedValues.md
  docs/docs/auto-docs/utilities/getKeyPathsWithNonUndefinedValues/type-aliases/Paths.md
  src/utilities/getKeyPathsWithNonUndefinedValues.ts
  test/utilities/getKeyPathsWithNonUndefinedValues.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
