Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix: improve readability of 24 hours milliseconds calculation
  test/workers/performanceAggregationWorker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: assert conditions exist before checking properties
  test/fastifyPlugins/performance.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: remove out-of-scope changes from performance monitoring PR
  drizzle_migrations/20260105170833_elite_black_crow.sql
  drizzle_migrations/meta/20260105170833_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/graphql/types/Mutation/deleteFundCampaignPledge.ts
  src/utilities/metrics/performanceTracker.ts
  test/helpers.ts
  test/setup.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add coverage for missing defensive checks
  src/utilities/metrics/performanceTracker.ts
  test/fastifyPlugins/performance.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: normalize DB query results in resolvers to prevent undefined values
  docs/docs/auto-docs/utilities/dbHelpers/functions/firstOrThrow.md
  src/graphql/types/Mutation/createActionItem.ts
  src/graphql/types/Mutation/createComment.ts
  src/graphql/types/Query/actionItemsByVolunteer.ts
  src/utilities/dbHelpers.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: ensure deleteFundCampaignPledge returns null on unexpected error
  drizzle_migrations/20260105163228_outgoing_human_fly.sql
  drizzle_migrations/meta/20260105163228_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/graphql/types/Mutation/deleteFundCampaignPledge.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(ci): improve coverage file copy reliability
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: none

chore: remove unrelated migration entry from journal
  drizzle_migrations/20260105170833_elite_black_crow.sql
  drizzle_migrations/meta/20260105170833_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

test: consolidate duplicate slow array capacity tests
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: separate GraphQL complexity from timing metrics
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/OpStats.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/PerfSnapshot.md
  src/utilities/metrics/performanceTracker.ts
  src/workers/performanceAggregationWorker.ts
  test/helpers.ts
  test/utilities/metrics/performanceTracker.test.ts
  test/workers/performanceAggregationWorker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: revert formatting in assertToBeNonNullish to compact style
  test/helpers.ts
Due: 10_check_disable_statements

fix: normalize DB query results and standardize error handling
  src/graphql/types/Mutation/createActionItem.ts
  src/graphql/types/Mutation/createComment.ts
  src/graphql/types/Organization/members.ts
  src/graphql/types/Query/actionItemsByVolunteer.ts
  src/lib/dbHelpers.ts
  test/graphql/types/Mutation/createActionItem.test.ts
  test/helpers.ts
  test/lib/dbHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: address CodeRabbit suggestions (#4247)
  test/graphql/types/Mutation/unassignUserTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: regenerate auto-docs for QueryActionItemInput schema changes
  docs/docs/auto-docs/graphql/inputs/QueryActionItemInput/variables/QueryActionItemsByVolunteerInput.md
  docs/docs/auto-docs/graphql/inputs/QueryActionItemInput/variables/queryActionItemsByVolunteerInputSchema.md
Due: none

fix: correct indentation in actionItemsByVolunteer resolver
  src/graphql/types/Query/actionItemsByVolunteer.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Added tests for src/graphql/types/FundCampaignPledge/updater.ts (#4220)
  src/graphql/types/FundCampaignPledge/updater.ts
  test/graphql/types/FundCampaignPledge/updater.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: ensure resolvers never return null/undefined - throw GraphQLError instead
  src/graphql/types/Mutation/deleteFundCampaignPledge.ts
  src/graphql/types/Query/actionItemsByVolunteer.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: improve type safety in actionItemsByVolunteer resolver
  src/graphql/inputs/QueryActionItemInput.ts
  src/graphql/types/Query/actionItemsByVolunteer.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: remove unused src/utilities/dbHelpers.ts
  docs/docs/auto-docs/utilities/dbHelpers/functions/firstOrThrow.md
  src/utilities/dbHelpers.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: remove redundant Array.isArray checks and fix totalMs calculation
  drizzle_migrations/20260105193334_sticky_grim_reaper.sql
  drizzle_migrations/meta/20260105193334_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/graphql/types/Organization/members.ts
  src/graphql/types/Query/actionItemsByVolunteer.ts
  src/utilities/metrics/performanceTracker.ts
  test/graphql/types/Mutation/createComment.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve null/undefined handling and remove out-of-scope migration
  drizzle_migrations/20260105193334_sticky_grim_reaper.sql
  drizzle_migrations/meta/20260105193334_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/graphql/types/Mutation/createFundCampaignPledge.ts
  src/graphql/types/Mutation/deleteFundCampaignPledge.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: make createVenueBooking test mock type-safe and scoped
  test/graphql/inputs/QueryActionItemInput.test.ts
  test/graphql/types/Mutation/createVenueBooking.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add coverage for defensive check when all slow entries are invalid
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix misleading test comments and improve mock logic
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: unify QueryActionItemInput schemas with explicit UUID validation
  docs/docs/auto-docs/graphql/inputs/QueryActionItemInput/variables/QueryActionItemsByOrganizationInput.md
  docs/docs/auto-docs/graphql/inputs/QueryActionItemInput/variables/QueryActionItemsByVolunteerGroupInput.md
  docs/docs/auto-docs/graphql/inputs/QueryActionItemInput/variables/QueryActionItemsByVolunteerInput.md
  docs/docs/auto-docs/graphql/inputs/QueryActionItemInput/variables/queryActionItemsByOrgInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryActionItemInput/variables/queryActionItemsByVolunteerGroupInputSchema.md
  docs/docs/auto-docs/graphql/inputs/QueryActionItemInput/variables/queryActionItemsByVolunteerInputSchema.md
  src/graphql/inputs/QueryActionItemInput.ts
  test/graphql/inputs/QueryActionItemInput.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add comprehensive tests for all QueryActionItemInput schemas and fix createVenueBooking mock
  test/graphql/inputs/QueryActionItemInput.test.ts
  test/graphql/types/Mutation/createVenueBooking.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

revert: remove out-of-scope CI workflow changes
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: none

fix: type-annotations/ add tests to ensure req(all_fields)
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
  test/install/logger.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix createComment test by deleting refresh_tokens before user deletion
  test/graphql/types/Mutation/createComment.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: typo - repeated entities
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added-cache-matrix
  src/fastifyPlugins/cacheService.ts
  src/fastifyPlugins/performance.ts
  src/routes/graphql.ts
  src/services/caching/RedisCacheService.ts
  src/services/metrics/metricsCacheProxy.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add required updateChat mutation tests (#3834)
  test/graphql/types/Mutation/updateChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Revise analysis criteria in .coderabbit.yaml
  .coderabbit.yaml
Due: none

Refactor auto-assign workflow to use reusable action
  .github/workflows/auto-assign.yml
Due: none

Remove MAX_OPEN_ASSIGNMENTS from workflow
  .github/workflows/auto-assign.yml
Due: none

Fix/Added Type Safety with Proper Interface for Environment Variables (#4280)
  scripts/setup/setup.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: format and add updateChat mutation tests (#3834) (#4223)
  test/graphql/types/Mutation/updateChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: added tests for /Mutation/deleteTag.ts (#4232)
  test/graphql/types/Mutation/deleteTag.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: add core performance monitoring infrastructure
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/createPerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTrackerOptions.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/PerfSnapshot.md
  docs/docs/auto-docs/utilities/metrics/withMetrics/functions/wrapBatchWithMetrics.md
  drizzle_migrations/20260106184731_aspiring_marvel_apes.sql
  drizzle_migrations/meta/20260106184731_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/utilities/metrics/performanceTracker.ts
  src/utilities/metrics/withMetrics.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/utilities/metrics/performanceTracker.test.ts
  test/utilities/metrics/withMetrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
