Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix: add .int() to byMonth and byMonthDay validators for RFC 5545 compliance
  src/drizzle/tables/recurrenceRules.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: verify relation target tables and confirm RFC 5545 validation
  test/unit/drizzle/tables/recurrenceRules.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address CodeRabbit review comments for recurrenceRules tests
  src/drizzle/tables/recurrenceRules.ts
  test/unit/drizzle/tables/recurrenceRules.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: properly verify FK references with target tables and actions
  test/unit/drizzle/tables/recurrenceRules.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

format:fix and remove inavlid case from enum case
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: compatibility with CI zod version
  docs/docs/auto-docs/graphql/inputs/MetricsInput/type-aliases/MetricsInput.md
  docs/docs/auto-docs/graphql/inputs/MetricsInput/variables/MetricsInput.md
  src/graphql/inputs/MetricsInput.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

typo fix
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: add OAuth GraphQL schema types and mutations #4380
  src/graphql/enums/OAuthProvider.ts
  src/graphql/enums/index.ts
  src/graphql/inputs/MutationOAuthLoginInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/linkOAuthAccount.ts
  src/graphql/types/Mutation/signInWithOAuth.ts
  src/graphql/types/Mutation/unlinkOAuthAccount.ts
  src/graphql/types/OAuthAccountInfo/OAuthAccountInfo.ts
  src/graphql/types/OAuthAccountInfo/index.ts
  src/graphql/types/User/index.ts
  src/graphql/types/User/oauthAccounts.ts
  src/graphql/types/index.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor(test): optimize events table tests and add boundary checks
  test/drizzle/tables/events.test.ts
  test/unit/drizzle/tables/events.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: remove admin-only restriction on Event metadata fields
  src/graphql/types/Event/createdAt.ts
  src/graphql/types/Event/updatedAt.ts
  src/graphql/types/Event/updater.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: Add API_COOKIE_SECRET to test createServer calls
  test/routes/graphql.integration.test.ts
  test/routes/rest/serverTiming.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: Fix biome formatting in graphql.integration.test.ts
  test/routes/graphql.integration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

edge test case for postVotes.ts
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(server): allow envConfig override in createServer validation
  src/createServer.ts
Due: 10_check_disable_statements

format fix
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(ci): expose API_PORT and API_COOKIE_SECRET in test container
  docker/compose.testing.yaml
Due: none

fix(test): set API_PORT to 0 in test server setup
  test/server.ts
Due: 10_check_disable_statements

coderabbit issues done
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(drizzle): use explicit zod schema for UUID validation
  src/drizzle/tables/agendaItemUrls.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: regenerate autodocs for agendaItemUrlTableInsertSchema
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
Due: none

fix(test): update invalid uuids in test data to match schema validation
  src/graphql/types/Mutation/linkOAuthAccount.ts
  src/graphql/types/Mutation/unlinkOAuthAccount.ts
  test/drizzle/tables/agendaItemUrl.test.ts
  test/drizzle/tables/funds.test.ts
  test/drizzle/tables/venueBookings.test.ts
  test/graphql/types/User/oauthAccounts.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(drizzle): use valid UUID in agendaItemUrl tests
  test/drizzle/tables/agendaItemUrl.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(ci): restore coverage flags in run-shard script
  scripts/run-shard.js
Due: none

chore(test): exclude vitest config files from coverage
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: none

fix(test): include orphaned tests in unit config
  vitest.unit.config.ts
Due: none

test: created comprehensive tests for chatMessageReadReceipts.ts with 100% code coverage
  test/drizzle/tables/chatMessageReadReceipts.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: removed duplicate test block
  test/drizzle/tables/chatMessageReadReceipts.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: implemented coderabbit suggestions
  test/drizzle/tables/chatMessageReadReceipts.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix:updated the relation tracking in chatMessageReadReceipts.test.ts to count all relation calls
  test/drizzle/tables/chatMessageReadReceipts.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
