Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix: exclude current tag from duplicate name check in updateTag
  src/graphql/types/Mutation/updateTag.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(macos-install): add error handling for fnm default commands
  scripts/install/macos/install-macos.sh
Due: none

test: refine coverage tests, fix types and strict env checks
  docs/docs/auto-docs/fastifyPlugins/emailQueue/variables/default.md
  docs/docs/auto-docs/utilities/logging/logger/functions/withFields.md
  docs/docs/auto-docs/utilities/logging/logger/type-aliases/AppLogger.md
  docs/docs/auto-docs/utilities/logging/logger/variables/loggerOptions.md
  docs/docs/auto-docs/utilities/logging/logger/variables/rootLogger.md
  src/fastifyPlugins/emailQueue.ts
  src/utilities/logging/logger.ts
  test/fastifyPlugins/emailQueue.test.ts
  test/utilities/logger.coverage.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: streamline AtomicEnvWriter and improve test structure
  scripts/setup/AtomicEnvWriter.ts
  test/scripts/setup/AtomicEnvWriter.test.ts
  vitest.config.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(emailQueue): remove duplicate feature flag check and update docs
  docs/docs/auto-docs/fastifyPlugins/emailQueue/variables/default.md
  src/fastifyPlugins/emailQueue.ts
  test/fastifyPlugins/emailQueue.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

added a comment to clarify the CI=true flag
  scripts/install/macos/install-macos.sh
Due: none

fix: prevent infinite loops in setup script credential validation
  scripts/setup/setup.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(install): use `fnm current` to set default node version
  scripts/install/macos/install-macos.sh
Due: none

test: add comprehensive tests for createChatMessage (fixes #3871)
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Resolve merge conflicts, fix lint and type errors - Merged changes without disrupting functionality - Fixed all linting and type check failures
  scripts/setup/setup.ts
  scripts/setup/validators.ts
Due: 10_check_disable_statements

refactor: simplify vitest configuration by removing unused variables and streamlining setup
  vitest.config.ts
Due: none

fix: apply code formatting fixes
  scripts/setup/setup.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

InstallFix (Linux) - Add Network Retry Logic for All Downloads #4270 (#4339)
  scripts/install/linux/install-linux.sh
Due: none

Added exit code validation and user feedback to scripts/install/install.sh (#4297)
  scripts/install/install.sh
Due: none

refactor: extract prompt helpers to dedicated module (Fixes #4320) (#4341)
  scripts/setup/promptHelpers.ts
  scripts/setup/setup.ts
  src/graphql/types/Mutation/updateTag.ts
  test/scripts/setup/promptHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Resolve merge conflicts, fix lint and type errors - Merged changes without disrupting functionality - Fixed all linting and type check failures
  scripts/setup/validators.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: improve UX and type safety per CodeRabbit suggestions
  scripts/setup/setup.ts
Due: 10_check_disable_statements

fix: handle empty strings and stale env values in PostgreSQL validation
  scripts/setup/setup.ts
Due: 10_check_disable_statements

fix: handle empty strings and sync process.env in MinIO validation
  scripts/setup/setup.ts
Due: 10_check_disable_statements

test: add comprehensive tests for createChatMessage mutation
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: align PostgreSQL pattern with MinIO for consistency
  scripts/setup/setup.ts
Due: 10_check_disable_statements

fix conflicts
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCurrentUserInput/variables/mutationUpdateCurrentUserInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  docs/docs/auto-schema/types/scalars/int.mdx
Due: none

Resolve merge conflicts, fix lint and type errors - Merged changes without disrupting functionality - Fixed all linting and type check failures
  scripts/setup/promptHelpers.ts
  scripts/setup/setup.ts
  src/graphql/types/Mutation/updateTag.ts
  test/scripts/setup/promptHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Resolve merge conflicts, fix lint and type errors - Merged changes without disrupting functionality - Fixed all linting and type check failures
  scripts/setup/validators.ts
Due: 10_check_disable_statements

feat: implement Phase 1 recurring events (451 templates + attendees infra)
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/event_attendees.json
  scripts/dbManagement/sample_data/recurrence_rules.json
  scripts/dbManagement/sample_data/recurring_events.json
Due: 10_check_disable_statements

fix: prevent infinite loops in setup script credential validation (#4343)
  scripts/setup/setup.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address CodeRabbit review comments (robust seeding logic & logging)
  scripts/dbManagement/helpers.ts
Due: 10_check_disable_statements

fix: add JSDoc, validation, and unit tests for seed helpers
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

refactor(seeder): modularize collection insertion and add validation
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

fix(macos-install): refactor pnpm version handling and fix fnm install command
  scripts/install/macos/install-macos.sh
Due: none

optimize(scripts): normalize pnpm version comparison
  scripts/install/macos/install-macos.sh
Due: none

fix: improve GraphQL context logger and test teardown
  schema.graphql
  src/graphql/context.ts
  src/routes/graphql.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/routes/graphql.test.ts
  test/setup.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: update test files and generated types
  test/graphql/types/ActionItem/organization.test.ts
  test/graphql/types/Fund/organization.test.ts
  test/graphql/types/Mutation/updateChat.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
