Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix: added coderabbit suggestions
  test/drizzle/tables/venues.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: added coderabbit suggestions
  src/drizzle/tables/venues.ts
  test/drizzle/tables/venues.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: added coderabbit suggestions
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
Due: none

fix: added coderabbit suggestions
  test/graphql/inputs/MutationUpdateVenueInput.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Commit from personal account
  test/drizzle/tables/organizationMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(tests): enhance GraphQL route tests and error handling coverage
  docs/docs/auto-docs/utilities/errors/errorTransformer/functions/normalizeError.md
  docs/docs/auto-docs/utilities/errors/errorTransformer/type-aliases/NormalizedError.md
  src/fastifyPlugins/errorHandler.ts
  src/routes/graphql.ts
  src/utilities/errors/errorTransformer.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/gql.tada.d.ts
  test/routes/graphql.test.ts
  test/utilities/TalawaGraphQLError.test.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: added coderabbit suggestions
  test/graphql/types/Mutation/createVenue.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: use shared validatePositiveInteger and fix TTL normalization
  docs/docs/auto-docs/services/metrics/metricsCache/classes/MetricsCacheService.md
  scripts/setup/setup.ts
  src/services/metrics/metricsCache.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: update TTL warning message expectations in metricsCache tests
  test/services/metrics/metricsCache.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(setup): treat empty string as unset for Minio/Postgres passwords
  scripts/setup/setup.ts
Due: 10_check_disable_statements

test(drizzle): add coverage for membershipRequests table (#4700)
  test/drizzle/tables/membershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add Edge Test Cases
  test/drizzle/tables/organizationMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added test for updateOrganizationMembership
  test/graphql/types/Mutation/updateOrganizationMembership.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add cron range/step tests and fix test cleanup
  test/fastifyPlugins/performance.config.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/Query/agendaCategoriesByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing tests
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test
  test/graphql/types/Query/agendaCategoriesByEventId.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

gen docs
  docs/docs/auto-docs/graphql/types/AgendaItem/event/functions/resolveEvent.md
  docs/docs/auto-docs/graphql/types/AgendaItem/url/functions/resolveUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachment/AgendaItemAttachment/type-aliases/AgendaItemAttachment.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachment/AgendaItemAttachment/variables/AgendaItemAttachment.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/type-aliases/AgendaItemUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/variables/AgendaItemUrl.md
Due: none

Update agenda item db table and add a table for urls
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableRelations.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaItem/AgendaItem/variables/AgendaItem.md
  docs/docs/auto-docs/graphql/types/AgendaItem/updater/functions/resolveUpdater.md
  drizzle_migrations/20260115233050_third_leopardon.sql
  drizzle_migrations/meta/20260115233050_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/schema.ts
  src/drizzle/tables/agendaItemUrls.ts
  src/drizzle/tables/agendaItems.ts
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/Query/agendaItem.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR comments and add test to inc coverage
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-item-input.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/AgendaItem/createdAt.ts
  src/graphql/types/AgendaItem/updatedAt.ts
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR suggestions
  docs/docs/auto-docs/graphql/types/AgendaItem/agendaCategory/functions/resolveCategory.md
  docs/docs/auto-docs/graphql/types/AgendaItem/url/functions/resolveUrl.md
  docs/docs/auto-schema/types/objects/agenda-item-attachment.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  schema.graphql
  src/graphql/types/AgendaItem/agendaCategory.ts
  src/graphql/types/AgendaItem/createdAt.ts
  src/graphql/types/AgendaItem/creator.ts
  src/graphql/types/AgendaItem/updatedAt.ts
  src/graphql/types/AgendaItem/updater.ts
  src/graphql/types/AgendaItem/url.ts
  src/graphql/types/AgendaItemAttachment/AgendaItemAttachment.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/AgendaItem/event.test.ts
  test/graphql/types/AgendaItem/updatedAt.test.ts
  test/graphql/types/AgendaItem/updater.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableRelations.md
Due: none

address CR comments
  src/drizzle/tables/agendaItemUrls.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR suggestions
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add test to inc coverage
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-item-input.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/AgendaItem/AgendaItem.ts
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

update test to inc coverage
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add test to inc coverage
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test n address CR suggestions
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: remove unnecessary env mutation in performance.metrics.test.ts
  test/fastifyPlugins/performance.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed linters
  test/graphql/types/Mutation/updateOrganizationMembership.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  src/drizzle/tables/agendaItems.ts
  src/graphql/types/AgendaItem/AgendaItem.ts
  src/graphql/types/AgendaItem/folder.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  test/graphql/types/AgendaItem/folder.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
