Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

fix: extended support for package-manager.sh
  scripts/install/common/package-manager.sh
Due: none

adress cr suggestions
  test/graphql/types/adminAuthRest.helper.integration.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Test/improve coverage marital status (#5243)
  docs/docs/auto-docs/drizzle/enums/userMaritalStatus/variables/userMaritalStatusEnum.md
  docs/docs/auto-docs/graphql/enums/UserMaritalStatus/variables/UserMaritalStatus.md
  docs/docs/auto-docs/graphql/types/User/maritalStatus/functions/maritalStatusResolver.md
  docs/docs/auto-schema/types/enums/user-marital-status.mdx
  schema.graphql
  src/drizzle/enums/userMaritalStatus.ts
  src/graphql/types/User/maritalStatus.ts
  test/drizzle/tables/users.test.ts
  test/graphql/types/User/maritalStatus.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: allow custom exit function in `gracefulCleanup` for improved testability and update unit tests to use it.
  scripts/setup/setup.ts
  test/unit/setup/gracefulCleanup.test.ts
  test/unit/setup/validators.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

ci: pin Compose v2.24.4+ and test rootless without docker group
  .github/workflows/pull-request.yml
Due: none

fix: use bash inside sg to support pipefail in rootless CI step
  .github/workflows/pull-request.yml
Due: none

fix: Rethrow errors in email setup for proper assertion in test environments.
  scripts/setup/emailSetup.ts
Due: 10_check_disable_statements

fix: use su --login to drop docker group in rootless CI test
  .github/workflows/pull-request.yml
Due: none

ci: log notice when pinned compose plugin falls back to latest
  .github/workflows/pull-request.yml
Due: none

test: add unit tests for `apiSetup` service covering all prompts and input validations.
  test/unit/setup-apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: verify postgresSetup handles prompt errors gracefully
  test/unit/setup-postgresSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: cleared critical bugs
  scripts/install/common/package-manager.sh
Due: none

test: add unit tests for User.countryCode resolver (#5077)
  src/graphql/types/User/countryCode.ts
  test/graphql/types/User/countryCode.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Fix: export JSDoc, generate docs & add mock call verification
  docs/docs/auto-docs/graphql/types/User/countryCode/functions/UserCountryCodeResolver.md
  src/graphql/types/User/countryCode.ts
  test/graphql/types/User/countryCode.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(graphql): Add deprecationReason to signIn/signUp and REST admin-auth test helper (#5249)
  docs/docs/auto-schema/operations/mutations/sign-up.mdx
  docs/docs/auto-schema/operations/queries/sign-in.mdx
  package.json
  schema.graphql
  src/graphql/types/Mutation/signUp.ts
  src/graphql/types/Query/signIn.ts
  test/graphql/types/adminAuthRest.helper.integration.test.ts
  test/graphql/types/signInSignUpDeprecation.introspection.test.ts
  test/helpers/adminAuthRest.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: add cache invalidation to mutation resolvers (#5233)
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  docs/docs/auto-docs/graphql/utils/runBestEffortInvalidation/functions/runBestEffortInvalidation.md
  docs/docs/auto-docs/routes/graphql/functions/extractZodMessage.md
  docs/docs/auto-docs/routes/graphql/functions/getPublicErrorMessage.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/services/caching/invalidation/functions/invalidateEntity.md
  docs/docs/auto-docs/services/caching/invalidation/functions/invalidateEntityLists.md
  docs/docs/auto-docs/services/metrics/metricsCacheProxy/functions/metricsCacheProxy.md
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createPost.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/deletePost.ts
  src/graphql/types/Mutation/deleteStandaloneEvent.ts
  src/graphql/types/Mutation/deleteUser.ts
  src/graphql/types/Mutation/updateCurrentUser.ts
  src/graphql/types/Mutation/updateOrganization.ts
  src/graphql/types/Mutation/updatePost.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateUser.ts
  src/graphql/utils/runBestEffortInvalidation.ts
  src/routes/graphql.ts
  src/services/caching/invalidation.ts
  src/services/metrics/metricsCacheProxy.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganizationUnit.test.ts
  test/graphql/utils/runBestEffortInvalidation.test.ts
  test/routes/graphql.test.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: cd to workspace in su --login and replace pg_isready || true with retry loop
  .github/workflows/pull-request.yml
Due: none

ci: replace || true with explicit notices for systemctl fallbacks
  .github/workflows/pull-request.yml
Due: none

feat: implement organization cache warming on startup
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/caching/warming/functions/warmOrganizations.md
  scripts/setup/setup.ts
  src/envConfigSchema.ts
  src/index.ts
  src/services/caching/warming.ts
  test/unit/services/caching/warming.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: capture non zero returns
  scripts/install/common/package-manager.sh
Due: none

fix: optimize cache warming and make startup non-blocking
  docs/docs/auto-docs/services/caching/warming/functions/warmOrganizations.md
  src/index.ts
  src/services/caching/warming.ts
  test/unit/services/caching/warming.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(cache): improve warming reliability and observability
  src/index.ts
  src/services/caching/warming.ts
  test/unit/services/caching/warming.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add type predicate to failures filter in warming service
  src/services/caching/warming.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve cache warming checks and logging logic
  src/services/caching/warming.ts
  test/unit/services/caching/warming.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add error propagation tests and try/catch to countryCode resolver
  src/graphql/types/User/countryCode.ts
  test/graphql/types/User/countryCode.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: optimize cache warming and fix logging
  src/services/caching/warming.ts
  test/unit/services/caching/warming.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add nullable: true to addressLine2 field declaration
  src/graphql/types/User/addressLine2.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Update sensitive-files.txt to include new patterns
  .github/workflows/config/sensitive-files.txt
Due: none

fix: rootless production Docker healthcheck and Compose version (#5250)
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  docker/compose.rootless.production.yaml
  docs/docs/auto-docs/createServer/classes/StartupConfigError.md
  docs/docs/auto-docs/createServer/functions/assertSecretsPresent.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/docs/getting-started/configuration.md
  docs/docs/docs/getting-started/installation.md
  docs/docs/docs/getting-started/operation.md
  envFiles/.env.rootless.production
  scripts/docker/resolve-docker-host.sh
  src/createServer.ts
  test/unit/createServer.assertSecretsPresent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add unit tests for User.countryCode resolver (#5077) (#5254)
  docs/docs/auto-docs/graphql/types/User/countryCode/functions/UserCountryCodeResolver.md
  src/graphql/types/User/countryCode.ts
  test/graphql/types/User/countryCode.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add unit tests for User.addressLine2 resolver (#5075) (#5251)
  docs/docs/auto-docs/graphql/types/User/addressLine2/functions/addressLine2Resolver.md
  src/graphql/types/User/addressLine2.ts
  test/graphql/types/User/addressLine2.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Add integration tests for comment query (fixes #5061)
  test/graphql/types/Query/comment.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add integration tests for agendaFolder query
  test/graphql/types/Query/agendaFolder.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
