Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

docs: add performance monitoring guide
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

fix: reduce timing assertion thresholds for CI stability
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation

refactor: remove unused _slowMs parameter
  src/utilities/metrics/performanceTracker.ts
Due: check_gql_tada, fix_code_quality, check_type_errors

update auto generated docs
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/createPerformanceTracker.md
Due: none

refactor: address CodeRabbit feedback on performanceTracker
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/PerfSnapshot.md
  src/fastifyPlugins/performance.ts
  src/utilities/metrics/performanceTracker.ts
  test/routes/rest/serverTiming.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test: add validation coverage for performanceTracker
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation

fix: add test isolation for unrelated CI failures
  test/graphql/types/Mutation/createAdvertisement.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
Due: 9_check_mock_isolation

chore: Remove TSDoc auto-fix script and its tests, updating knip configuration.
  knip.json
  scripts/fix_tsdoc.ts
  test/scripts/fix_tsdoc.test.ts
Due: 9_check_mock_isolation

fix(updateVenue): exclude current venue in duplicate name check; add multipart attachment tests; fix lint/type errors
  src/graphql/types/Mutation/updateVenue.ts
  test/graphql/types/Mutation/updateVenue.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix(updateVenue): propagate TalawaGraphQLError on MinIO upload failure
  src/graphql/types/Mutation/updateVenue.ts
  test/graphql/types/Mutation/updateVenue.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

docs: Replace verbose type definitions with `any` in dataloader and drizzle client auto-documentation.
  docs/docs/auto-docs/fastifyPlugins/drizzleClient/variables/drizzleClient.md
Due: none

test(updateVenue): add tests for 100% coverage
  src/graphql/types/Mutation/updateVenue.ts
  test/graphql/types/Mutation/updateVenue.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

feat: add performance metrics foundation with Server-Timing headers (#4162)
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/createPerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/interfaces/PerformanceTracker.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/OpStats.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/type-aliases/PerfSnapshot.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/fastifyPlugins/index.ts
  src/fastifyPlugins/performance.ts
  src/utilities/metrics/performanceTracker.ts
  test/graphql/types/Mutation/createAdvertisement.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/routes/rest/serverTiming.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fixed-test
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  src/routes/graphql.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: check_gql_tada, fix_code_quality, check_type_errors

doc: Add detailed rationale for ignoring specific TSDoc validation rules in the custom script.
  scripts/check_tsdoc.ts
Due: none

test: add comprehensive tests for Tag.createdAt resolver authorization
  test/graphql/types/Tag/createdAt.test.ts
Due: 9_check_mock_isolation

refactor: simplify startColumn calculation using optional chaining and nullish coalescing
  scripts/check_tsdoc.ts
Due: none

test: reorganize Tag.createdAt error handling tests into nested suite
  test/graphql/types/Tag/createdAt.test.ts
Due: 9_check_mock_isolation

test: add integration tests for the `check_tsdoc.ts` script's CLI argument parsing, globbing, error aggregation, and file filtering.
  test/scripts/check_tsdoc.test.ts
Due: 9_check_mock_isolation

Add data field to GraphQL response
  src/routes/graphql.ts
Due: check_gql_tada, fix_code_quality, check_type_errors

chore: trigger fresh coverage upload
  test/graphql/types/Tag/createdAt.test.ts
Due: 9_check_mock_isolation

Refactor: implement Redis caching service layer
  docs/docs/auto-docs/fastifyPlugins/cacheService/variables/cacheService.md
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/services/caching/CacheService/interfaces/CacheService.md
  docs/docs/auto-docs/services/caching/RedisCacheService/classes/RedisCacheService.md
  docs/docs/auto-docs/services/caching/cacheConfig/functions/getTTL.md
  docs/docs/auto-docs/services/caching/cacheConfig/type-aliases/EntityTTL.md
  docs/docs/auto-docs/services/caching/cacheConfig/variables/CacheNamespace.md
  docs/docs/auto-docs/services/caching/cacheConfig/variables/defaultEntityTTL.md
  docs/docs/auto-docs/services/caching/cacheKeyGenerator/functions/entityKey.md
  docs/docs/auto-docs/services/caching/cacheKeyGenerator/functions/listKey.md
  docs/docs/auto-docs/services/caching/cacheKeyGenerator/functions/stableStringify.md
  docs/docs/auto-docs/services/caching/invalidation/functions/invalidateEntity.md
  docs/docs/auto-docs/services/caching/invalidation/functions/invalidateEntityLists.md
  docs/docs/auto-docs/services/caching/wrappers/functions/wrapWithCache.md
  docs/docs/auto-docs/services/caching/wrappers/interfaces/WrapWithCacheOptions.md
  src/fastifyPlugins/cacheService.ts
  src/fastifyPlugins/index.ts
  src/graphql/context.ts
  src/routes/graphql.ts
  src/services/caching/CacheService.ts
  src/services/caching/RedisCacheService.ts
  src/services/caching/cacheConfig.ts
  src/services/caching/cacheKeyGenerator.ts
  src/services/caching/index.ts
  src/services/caching/invalidation.ts
  src/services/caching/wrappers.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/services/caching/cacheConfig.test.ts
  test/services/caching/cacheKeyGenerator.test.ts
  test/services/caching/cacheService.test.ts
  test/services/caching/invalidation.test.ts
  test/services/caching/wrappers.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fixed-test
  test/graphql/types/Query/agendaItem.test.ts
  test/graphql/types/Query/allUsers.test.ts
  test/graphql/types/Query/venue.test.ts
Due: 9_check_mock_isolation

fixed-test
  test/createServer.correlationId.test.ts
Due: none

docs: update auto-generated documentation source links to be clickable GitHub links
  docs/docs/auto-docs/fastifyPlugins/cacheService/variables/cacheService.md
  docs/docs/auto-docs/services/caching/CacheService/interfaces/CacheService.md
  docs/docs/auto-docs/services/caching/RedisCacheService/classes/RedisCacheService.md
  docs/docs/auto-docs/services/caching/cacheConfig/functions/getTTL.md
  docs/docs/auto-docs/services/caching/cacheConfig/type-aliases/EntityTTL.md
  docs/docs/auto-docs/services/caching/cacheConfig/variables/CacheNamespace.md
  docs/docs/auto-docs/services/caching/cacheConfig/variables/defaultEntityTTL.md
  docs/docs/auto-docs/services/caching/cacheKeyGenerator/functions/entityKey.md
  docs/docs/auto-docs/services/caching/cacheKeyGenerator/functions/listKey.md
  docs/docs/auto-docs/services/caching/cacheKeyGenerator/functions/stableStringify.md
  docs/docs/auto-docs/services/caching/invalidation/functions/invalidateEntity.md
  docs/docs/auto-docs/services/caching/invalidation/functions/invalidateEntityLists.md
  docs/docs/auto-docs/services/caching/wrappers/functions/wrapWithCache.md
  docs/docs/auto-docs/services/caching/wrappers/interfaces/WrapWithCacheOptions.md
  src/fastifyPlugins/cacheService.ts
  src/services/caching/RedisCacheService.ts
  src/services/caching/cacheConfig.ts
  src/services/caching/cacheKeyGenerator.ts
  src/services/caching/wrappers.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/fastifyPlugins/cacheService.test.ts
  test/services/caching/cacheConfig.test.ts
  test/services/caching/cacheKeyGenerator.test.ts
  test/services/caching/cacheService.test.ts
  test/services/caching/invalidation.test.ts
  test/services/caching/wrappers.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

docs: Update caching service documentation to reflect code changes, add key sanitization details, and clarify hashing behavior for cache keys.
  docs/docs/auto-docs/services/caching/cacheConfig/functions/getTTL.md
  docs/docs/auto-docs/services/caching/cacheKeyGenerator/functions/entityKey.md
  docs/docs/auto-docs/services/caching/cacheKeyGenerator/functions/listKey.md
  docs/docs/auto-docs/services/caching/cacheKeyGenerator/functions/stableStringify.md
  docs/docs/auto-docs/services/caching/wrappers/functions/wrapWithCache.md
  docs/docs/auto-docs/services/caching/wrappers/interfaces/WrapWithCacheOptions.md
Due: none

test(Tag.createdAt): simplify error type assertion in edge case test
  test/graphql/types/Tag/createdAt.test.ts
Due: 9_check_mock_isolation

fixed-test
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/createTag.test.ts
  test/graphql/types/Mutation/createTagFolder.test.ts
  test/graphql/types/Mutation/verifyEventInvitation.test.ts
Due: 9_check_mock_isolation

fix: implemented mercuriusClient integration tests
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
Due: 9_check_mock_isolation

fixed-test
  test/graphql/types/Query/venue.test.ts
Due: 9_check_mock_isolation

fix: resolved coderabbit suggestions
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
Due: 9_check_mock_isolation

fixed-test
  test/graphql/types/Mutation/createTagFolder.test.ts
Due: 9_check_mock_isolation

feat: Explicitly declare `@fastify/redis` dependency for cache plugin and enhance cache service robustness against invalid data and configurations.
  docs/docs/auto-docs/services/caching/CacheService/interfaces/CacheService.md
  docs/docs/auto-docs/services/caching/RedisCacheService/classes/RedisCacheService.md
  src/fastifyPlugins/cacheService.ts
  src/services/caching/CacheService.ts
  test/fastifyPlugins/cacheService.test.ts
  test/services/caching/cacheConfig.test.ts
  test/services/caching/cacheService.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix: biome check for imports
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
Due: 9_check_mock_isolation

chore: remove accidentally added files
  biome
  intro.md
  solved.md
  talawa-api@1.0.0
  workflow.md
Due: none

test: add comprehensive tests for src/graphql/types/Tag/createdAt.ts resolver (#4170)
  test/graphql/types/Tag/createdAt.test.ts
Due: 9_check_mock_isolation

Path conditions:
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
