Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

update docs
  docs/docs/auto-docs/plugin/classes/PluginManager.md
Due: none

fix: update pnpm version logging for clarity in macOS installation script
  scripts/install/macos/install-macos.sh
Due: none

fix: streamline pnpm version handling in macOS installation script
  scripts/install/macos/install-macos.sh
Due: none

fix: standardize Pino log pattern in registry.ts
  src/plugin/registry.ts
  test/plugin/registry.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: improve metrics aggregation code quality
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/startBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/aggregateMetrics.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/createEmptyAggregatedMetrics.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/runMetricsAggregationWorker.md
  src/fastifyPlugins/performance.ts
  src/workers/backgroundWorkerService.ts
  src/workers/index.ts
  src/workers/metrics/metricsAggregationWorker.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve test reliability and code quality
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/aggregateMetrics.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/runMetricsAggregationWorker.md
  src/fastifyPlugins/performance.ts
  src/workers/metrics/metricsAggregationWorker.ts
  test/fastifyPlugins/performance.test.ts
  test/plugin/perfPlugin.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: updated all three installation scripts to use set -euo pipefail
  scripts/install/install.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

fix: use optional chaining for regex capture group to fix TypeScript error
  scripts/setup/validators.ts
Due: 10_check_disable_statements

test: add comprehensive tests for metrics aggregation worker
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/runMetricsAggregationWorker.md
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: handle query strings and fragments in port regex
  scripts/setup/validators.ts
Due: 10_check_disable_statements

refactor: improve metrics aggregation worker code quality
  src/workers/backgroundWorkerService.ts
  src/workers/metrics/metricsAggregationWorker.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: fix slow operations with invalid ms values test
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix flaky timing assertion in dataloader infrastructure test
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: improve logger stubs and assertions in metricsAggregationWorker tests
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix percentile assertions in metricsAggregationWorker tests
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(setup): resolution of SIGINT handling, atomic writes, and test environmental isolation
  scripts/setup/setup.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add comprehensive test coverage for background workers PR
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/calculatePercentile.md
  src/workers/metrics/metricsAggregationWorker.ts
  test/fastifyPlugins/performance.test.ts
  test/plugins/backgroundWorkers.test.ts
  test/plugins/index.test.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
  test/workers/backgroundWorkerService.test.ts
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix : Discrepancy between CONTRIBUTING.md guidelines and package.json scripts #4225
  package.json
Due: none

docs: centralize testing, linting, and formatting documentation
  docs/docs/docs/developer-resources/getting-started/contributing.md
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

chore: add test:coverage alias
  package.json
Due: none

chore: restore package.json scripts
  package.json
Due: none

fixed failing check
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

docs: fix numbering in contributing guide
  docs/docs/docs/developer-resources/getting-started/contributing.md
Due: none

docs: add explanations for format, lint, and test commands and added quick reference
  docs/docs/docs/developer-resources/getting-started/contributing.md
Due: none

docs: finalize doc centralization by removing duplicates from contributing.md
  docs/docs/docs/developer-resources/getting-started/contributing.md
Due: none

docs: add comprehensive email service guide
  docs/docs/docs/developer-resources/best-practices/email.md
Due: none

fix(devcontainer): remove premature pnpm check and activate fnm in post-create script
  .devcontainer/post-create.sh
Due: none

style: address workflow nitpicks and fix trailing whitespace
  .github/workflows/issue-assigned.yml
  .github/workflows/pull-request.yml
Due: none

fix: resolve test failures in shards 2, 5, and 11
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/aggregateMetrics.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/runMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/AggregatedMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/CacheMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/MetricsAggregationOptions.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/MetricsAggregationResult.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/OperationMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/TimeSeriesMetrics.md
  src/workers/backgroundWorkerService.ts
  src/workers/metrics/metricsAggregationWorker.ts
  src/workers/metrics/types.ts
  test/fastifyPlugins/performance.test.ts
  test/plugins/backgroundWorkers.test.ts
  test/workers/backgroundWorkerService.test.ts
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: fix failing tests in shards 5 and 6
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/envConfigSchema.ts
  src/workers/backgroundWorkerService.ts
  test/fastifyPlugins/performance.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

updated OAuth docs
  docs/docs/docs/developer-resources/best-practices/OAuth.md
Due: none

feat: add cron format validation and improve test fixtures
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  src/envConfigSchema.ts
  src/workers/backgroundWorkerService.ts
  test/fastifyPlugins/performance.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: simplify metrics scheduling and fix test mocks
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/workers/backgroundWorkerService.ts
  test/fastifyPlugins/performance.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: handle undefined result and improve error handling in background workers
  docs/docs/auto-docs/fastifyPlugins/performance/functions/manualDeepCopySnapshot.md
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/startBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/fastifyPlugins/performance.ts
  src/workers/backgroundWorkerService.ts
  test/fastifyPlugins/performance.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(events): allow org members to access non-sensitive event metadata
  src/graphql/types/AgendaCategory/createdAt.ts
  src/graphql/types/AgendaCategory/creator.ts
  src/graphql/types/AgendaCategory/updatedAt.ts
  src/graphql/types/AgendaCategory/updater.ts
  src/graphql/types/Event/createdAt.ts
  src/graphql/types/Event/creator.ts
  src/graphql/types/Event/updatedAt.ts
  src/graphql/types/Event/updater.ts
  src/graphql/types/EventAttendee/createdAt.ts
  src/graphql/types/EventAttendee/updatedAt.ts
  src/graphql/types/Fund/createdAt.ts
  src/graphql/types/Fund/creator.ts
  src/graphql/types/Fund/updatedAt.ts
  src/graphql/types/Fund/updater.ts
  src/graphql/types/Tag/createdAt.ts
  src/graphql/types/Tag/creator.ts
  src/graphql/types/Tag/updatedAt.ts
  src/graphql/types/Tag/updater.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: remove unused minExpectedMs variable in dataloader test
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

update agenda folder table, gql mutation and mutation input schema
  drizzle_migrations/20260113121435_lazy_leech.sql
  drizzle_migrations/meta/20260113121435_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/tables/agendaFolders.ts
  src/graphql/inputs/MutationCreateAgendaFolderInput.ts
  src/graphql/inputs/MutationUpdateAgendaFolderInput.ts
  src/graphql/types/AgendaFolder/AgendaFolder.ts
  src/graphql/types/AgendaFolder/childFolders.ts
  src/graphql/types/AgendaFolder/createdAt.ts
  src/graphql/types/AgendaFolder/creator.ts
  src/graphql/types/AgendaFolder/event.ts
  src/graphql/types/AgendaFolder/index.ts
  src/graphql/types/AgendaFolder/items.ts
  src/graphql/types/AgendaFolder/organization.ts
  src/graphql/types/AgendaFolder/parentFolder.ts
  src/graphql/types/AgendaItem/createdAt.ts
  src/graphql/types/AgendaItem/creator.ts
  src/graphql/types/AgendaItem/updatedAt.ts
  src/graphql/types/AgendaItem/updater.ts
  src/graphql/types/Mutation/createAgendaFolder.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Mutation/deleteAgendaFolder.ts
  src/graphql/types/Mutation/deleteAgendaItem.ts
  src/graphql/types/Mutation/updateAgendaFolder.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/AgendaFolder/childFolders.test.ts
  test/graphql/types/AgendaItem/createdAt.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve failing tests in CI shards 5 and 6
  test/fastifyPlugins/performance.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
