Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

Revert "Temp: amplify createChat coverage probe"
  src/graphql/types/Mutation/createChat.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Revert "Temp: add createChat coverage probe"
  src/graphql/types/Mutation/createChat.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: revert out-of-scope config changes to address CodeRabbit review
  biome.jsonc
  biome_plugins/require_escapeHTML.grit
Due: none

improve error message matching and clean up redundant tests
  src/routes/graphql.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/routes/graphqlErrorValidation.integration.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

improve error handling for MinIO attachment uploads
  src/graphql/types/Mutation/createEvent.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(createEvent): standardize file upload error message
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: enhance validation lib with disk/network checks and logging integration
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

feat(rate-limit): add comprehensive rate limiting with tests
  src/fastifyPlugins/rateLimit.ts
  src/utilities/errors/TalawaRestError.ts
  test/routes/objects.test.ts
  test/utilities/errors/TalawaRestError.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(rate-limit): correct indentation in rate limit plugin and test
  src/fastifyPlugins/rateLimit.ts
  test/routes/objects.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: remove commented-out code and adjust import order
  test/routes/objects.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix
  src/fastifyPlugins/rateLimit.ts
  test/routes/rateLimit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: improve rate limiting tests with tier-based verification
  test/routes/objects.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(rate-limit): add error handling for missing tier configuration
  docs/docs/auto-docs/config/rateLimits/functions/getTier.md
  docs/docs/auto-docs/config/rateLimits/type-aliases/RateLimitTier.md
  docs/docs/auto-docs/config/rateLimits/variables/rateLimitTiers.md
  src/config/rateLimits.ts
  src/createServer.ts
  test/routes/rateLimit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add unit tests for rate limit tier configuration
  test/config/rateLimits.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: make repository root tests deterministic
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

fix: address coderabbit comments (retry loop, log style, soft fails)
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

Add wrapBatchWithMetrics validation tests and fix null/undefined test consistency
  test/utilities/dataloaders/dataloader.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add burst and healthcheck tier assertions
  test/config/rateLimits.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address coderabbit comments
  scripts/install/common/validation.sh
Due: none

Fix DataLoader failures test to use createMockDb instead of createSequentialMockDb
  test/utilities/dataloaders/dataloader.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(scripts): enhance os detection and macos installer tests
  scripts/install/common/docker-detection.sh
  scripts/install/common/docker-detection.test.sh
  scripts/install/common/os-detection.sh
  scripts/install/common/os-detection.test.sh
  scripts/install/macos/install-macos.sh
  scripts/install/macos/install-macos.test.sh
Due: none

fix: address final coderabbit feedback (guard strict mode, connectivity warnings, coverage)
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

fix(install): indentation and test assertion in macOS scripts
  scripts/install/macos/install-macos.sh
  scripts/install/macos/install-macos.test.sh
Due: none

fix: address all coderabbit feedback (syntax, orchestrator coverage, sc2181)
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
Due: none

Update scripts/install/common/validation.test.sh
  scripts/install/common/validation.test.sh
Due: none

fix: resolve function shadowing in linux installer
  scripts/install/linux/install-linux.sh
Due: none

Add tests for ActionItems table
  test/drizzle/tables/actionItems.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix according to suggestions
  docs/docs/auto-docs/drizzle/tables/actionItems/variables/actionItemsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/actionItems/variables/actionItemsTableRelations.md
  src/drizzle/tables/actionItems.ts
  test/drizzle/tables/actionItems.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Update createMockCache to make get() read from cachedValues Map
  test/utilities/dataloaders/dataloader.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add cache metrics assertions to Cache + Metrics Interaction tests
  test/utilities/dataloaders/dataloader.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: Add performance tracking to GraphQL query resolvers (#4858)
  MAINTAINER_RESPONSE.md
  docs/docs/auto-docs/graphql/types/Query/organizations/functions/resolveOrganizations.md
  docs/docs/auto-docs/graphql/utils/withQueryMetrics/functions/executeWithMetrics.md
  docs/docs/auto-docs/graphql/utils/withQueryMetrics/functions/withQueryMetrics.md
  docs/docs/auto-docs/graphql/utils/withQueryMetrics/interfaces/WithQueryMetricsOptions.md
  src/graphql/types/Query/event.ts
  src/graphql/types/Query/organization.ts
  src/graphql/types/Query/organizations.ts
  src/graphql/types/Query/user.ts
  src/graphql/utils/withQueryMetrics.ts
  test/graphql/types/Query/event.metrics.test.ts
  test/graphql/types/Query/organization.metrics.test.ts
  test/graphql/types/Query/organizations.metrics.test.ts
  test/graphql/types/Query/user.metrics.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/utils/withQueryMetrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Consolidate redundant Integration Tests and add cache metrics to cache test
  test/utilities/dataloaders/dataloader.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Replace setTimeout with process.nextTick for deterministic tick-yield
  test/utilities/dataloaders/dataloader.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Make createSequentialMockDb throw on unexpected extra calls instead of returning empty array
  test/utilities/dataloaders/dataloader.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(rate-limit): implement sliding window rate limiting for REST endpoints (#4926)
  docs/docs/auto-docs/config/rateLimits/functions/getTier.md
  docs/docs/auto-docs/config/rateLimits/type-aliases/RateLimitTier.md
  docs/docs/auto-docs/config/rateLimits/variables/rateLimitTiers.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/fastifyPlugins/rateLimit/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  docs/docs/auto-docs/utilities/errors/TalawaRestError/classes/TalawaRestError.md
  docs/docs/auto-docs/utilities/errors/TalawaRestError/interfaces/TalawaRestErrorOptions.md
  docs/docs/auto-docs/utilities/errors/errorCodes/enumerations/ErrorCode.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/complexityLeakyBucket.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/leakyBucket.md
  docs/docs/auto-docs/utilities/leakyBucket/type-aliases/LeakyBucketResult.md
  knip.deps.json
  package.json
  pnpm-lock.yaml
  src/config/rateLimits.ts
  src/createServer.ts
  src/fastifyPlugins/errorHandler.ts
  src/fastifyPlugins/index.ts
  src/fastifyPlugins/rateLimit.ts
  src/routes/graphql.ts
  src/routes/healthcheck.ts
  src/routes/objects.ts
  src/utilities/errors/TalawaRestError.ts
  src/utilities/errors/errorCodes.ts
  src/utilities/leakyBucket.ts
  test/config/rateLimits.test.ts
  test/routes/graphql.test.ts
  test/routes/objects.test.ts
  test/routes/rateLimit.test.ts
  test/utilities/errors/TalawaRestError.test.ts
  test/utilities/logging.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: Add DataLoader metrics integration tests (#4932)
  test/utilities/dataloaders/dataloader.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add comprehensive tests for ActionItems table #4673 (#4933)
  docs/docs/auto-docs/drizzle/tables/actionItems/variables/actionItemsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/actionItems/variables/actionItemsTableRelations.md
  src/drizzle/tables/actionItems.ts
  test/drizzle/tables/actionItems.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
