Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

refactor(setup): extract service-specific setup logic into modules and fix tests
  scripts/setup/services/administratorSetup.ts
  scripts/setup/services/apiSetup.ts
  scripts/setup/services/caddySetup.ts
  scripts/setup/services/ciSetup.ts
  scripts/setup/services/cloudbeaverSetup.ts
  scripts/setup/services/minioSetup.ts
  scripts/setup/services/postgresSetup.ts
  scripts/setup/setup.ts
  scripts/setup/types.ts
  test/install/emailSetup.test.ts
  test/scripts/setup/administratorEmail.test.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/caddySetup.test.ts
  test/scripts/setup/cloudbeaverSetup.test.ts
  test/scripts/setup/envSetup.spec.ts
  test/scripts/setup/minioSetup.test.ts
  test/scripts/setup/postgresSetup.test.ts
  test/scripts/setup/setup.test.ts
  test/scripts/setup/updateEnvVariable.test.ts
  vitest.setup.config.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address CodeRabbit review comments on PR #4921
  scripts/setup/services/administratorSetup.ts
  scripts/setup/services/apiSetup.ts
  scripts/setup/services/ciSetup.ts
  scripts/setup/services/cloudbeaverSetup.ts
  scripts/setup/services/minioSetup.ts
  scripts/setup/services/postgresSetup.ts
  scripts/setup/validators.ts
  test/scripts/setup/administratorEmail.test.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/caddySetup.test.ts
  test/scripts/setup/cloudbeaverSetup.test.ts
  test/scripts/setup/envSetup.spec.ts
  test/scripts/setup/minioSetup.test.ts
  test/scripts/setup/postgresSetup.test.ts
  test/scripts/setup/setup.test.ts
  test/scripts/setup/updateEnvVariable.test.ts
  vitest.setup.config.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address 9 actionable CodeRabbit review comments
  scripts/setup/services/apiSetup.ts
  scripts/setup/services/ciSetup.ts
  scripts/setup/services/cloudbeaverSetup.ts
  scripts/setup/services/postgresSetup.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/ciSetup.test.ts
  test/scripts/setup/minioSetup.test.ts
  test/scripts/setup/postgresSetup.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: notification tests comment
  test/graphql/types/Mutation/createEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: orphaned MinIO objects
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: indentation
  test/graphql/types/Mutation/createEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(createEvent): fix notification mocking and improve coverage to 87%
  test/graphql/inputs/MutationCreateEventInputAttachments.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: indentation
  test/graphql/inputs/MutationCreateEventInputAttachments.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: simplify redundant filter
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: cr changes
  test/graphql/types/Mutation/createEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve conflicts and format errors
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: misleading comment
  src/graphql/types/Mutation/createEvent.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: format
  src/graphql/types/Mutation/createEvent.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: cleanup skips successful uploads after the first failure
  src/graphql/types/Mutation/createEvent.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve code coverage to 99.75% and cr changes addressed
  test/graphql/inputs/MutationCreateEventInputAttachments.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: duplicate tests and avoid upload error
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: fileUpload
  src/graphql/types/Mutation/createEvent.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: code coverage improved
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

indentation fixed
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Add tests for communities table (#4917)
  test/drizzle/tables/communities.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address 3 actionable CodeRabbit comments
  scripts/setup/services/apiSetup.ts
  scripts/setup/validators.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/validators.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(devcontainer): make corepack and validation fully non-interactive
  .devcontainer/post-create.sh
  .github/workflows/pull-request.yml
  scripts/install/common/validation.sh
Due: none

test(createEvent): fix notification mocking and improve coverage to 100% (#4851)
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  src/graphql/types/Mutation/createEvent.ts
  test/graphql/inputs/MutationCreateEventInputAttachments.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

ci: skip missing files in disable statements check
  .devcontainer/post-create.sh
  .github/workflows/scripts/disable_statements_check.py
Due: 10.6_check_python_docstrings

fix(ci): use bash for post-create and ignore missing files in python checks
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .github/workflows/pull-request.yml
Due: none

test(Event/venues.ts): Add error assertions for createVenue/createEvent mutations.
  test/graphql/types/Event/venues.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: log pnpm version in post-create script
  .devcontainer/post-create.sh
Due: none

fix: harden devcontainer setup, jq validation, and ci error handling
  .devcontainer/post-create.sh
  .github/workflows/pull-request.yml
  scripts/install/common/validation.sh
Due: none

refactor: use shared libs in macOS install script
  scripts/install/common/docker-detection.sh
  scripts/install/common/package-manager.sh
  scripts/install/macos/install-macos.sh
  test/graphql/types/gql.tada-cache.d.ts
Due: 10_check_disable_statements

feat(rate-limit): implement sliding window rate limiting for REST endpoints
  docs/docs/auto-docs/config/rateLimits/functions/getTier.md
  docs/docs/auto-docs/config/rateLimits/type-aliases/RateLimitTier.md
  docs/docs/auto-docs/config/rateLimits/variables/rateLimitTiers.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/fastifyPlugins/rateLimit/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/variables/plugins.md
  docs/docs/auto-docs/utilities/errors/TalawaRestError/classes/TalawaRestError.md
  docs/docs/auto-docs/utilities/errors/TalawaRestError/interfaces/TalawaRestErrorOptions.md
  docs/docs/auto-docs/utilities/errors/errorCodes/enumerations/ErrorCode.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/complexityLeakyBucket.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/leakyBucket.md
  docs/docs/auto-docs/utilities/leakyBucket/type-aliases/LeakyBucketResult.md
  src/config/rateLimits.ts
  src/createServer.ts
  src/fastifyPlugins/errorHandler.ts
  src/fastifyPlugins/index.ts
  src/fastifyPlugins/rateLimit.ts
  src/routes/graphql.ts
  src/routes/healthcheck.ts
  src/routes/objects.ts
  src/utilities/errors/TalawaRestError.ts
  src/utilities/errors/errorCodes.ts
  src/utilities/leakyBucket.ts
  test/routes/graphql.test.ts
  test/routes/rateLimit.test.ts
  test/utilities/logging.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: improve comments
  scripts/install/common/docker-detection.sh
Due: none

fix: address shellcheck feedback in macOS script
  scripts/install/macos/install-macos.sh
Due: none

refactor(rate-limit): improve leaky bucket implementation and clean up dependencies
  docs/docs/auto-docs/config/rateLimits/functions/getTier.md
  docs/docs/auto-docs/config/rateLimits/type-aliases/RateLimitTier.md
  docs/docs/auto-docs/config/rateLimits/variables/rateLimitTiers.md
  docs/docs/auto-docs/fastifyPlugins/rateLimit/variables/default.md
  docs/docs/auto-docs/utilities/errors/TalawaRestError/classes/TalawaRestError.md
  docs/docs/auto-docs/utilities/errors/TalawaRestError/interfaces/TalawaRestErrorOptions.md
  docs/docs/auto-docs/utilities/errors/errorCodes/enumerations/ErrorCode.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/complexityLeakyBucket.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/leakyBucket.md
  docs/docs/auto-docs/utilities/leakyBucket/type-aliases/LeakyBucketResult.md
  knip.deps.json
  package.json
  pnpm-lock.yaml
  src/fastifyPlugins/rateLimit.ts
  src/utilities/leakyBucket.ts
  test/routes/rateLimit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(drizzle): add tests for agendaItems table
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  test/drizzle/tables/agendaItems.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add install-macos.test.sh and package-manager.test.sh- Fix loop syntax and Docker detection logic
  scripts/install/common/os-detection.sh
  scripts/install/common/package-manager.test.sh
  scripts/install/macos/install-macos.sh
  scripts/install/macos/install-macos.test.sh
Due: none

fix(rate-limit): use pipeline for atomic Redis operations in leaky bucket
  docs/docs/auto-docs/utilities/leakyBucket/functions/complexityLeakyBucket.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/leakyBucket.md
  src/fastifyPlugins/rateLimit.ts
  src/utilities/leakyBucket.ts
  test/routes/rateLimit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(rate-limit): ensure headers are set in open tier and redis degrade cases
  docs/docs/auto-docs/utilities/leakyBucket/functions/complexityLeakyBucket.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/leakyBucket.md
  src/fastifyPlugins/rateLimit.ts
  src/utilities/leakyBucket.ts
  test/routes/rateLimit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors
