Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

fix: ensure 100% patch coverage for performance GraphQL integration
  drizzle_migrations/20260111022850_faithful_zemo.sql
  drizzle_migrations/meta/20260111022850_snapshot.json
  src/routes/graphql.ts
  src/utilities/metrics/performanceTracker.ts
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: regenerate auto-docs for performance GraphQL integration
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/isPerformanceTracker.md
Due: none

chore: remove out-of-scope migration entry from journal
  drizzle_migrations/meta/_journal.json
Due: none

chore: remove duplicate develop entry in CodeRabbit config
  .coderabbit.yaml
Due: none

fix: final architectural hardening, optimized memory, and strict coverage
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 10_check_disable_statements

fix(macos-install): improve error messages and fix fnm lts alias
  scripts/install/macos/install-macos.sh
Due: none

fix: Enhanced jq parsing validation and error handling
  scripts/install/linux/install-linux.sh
Due: none

fix: production-grade seeder hardening, structural test colocation, and RFC 5545 validation
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  test/scripts/dbManagement/addSampleData.test.ts
  test/scripts/dbManagement/helpers.test.ts
  test/scripts/dbManagement/resetDB.test.ts
  test/unit_tests/helpers.test.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: removed redundant checks
  scripts/install/linux/install-linux.sh
Due: none

fix: removed Ambiguity between null and the string null
  scripts/install/linux/install-linux.sh
Due: none

fix: added missing brace
  scripts/install/linux/install-linux.sh
Due: none

fix: harden recurrence seeder logic and minimize public API surface
  scripts/dbManagement/helpers.ts
  tests/scripts/dbManagement/helpers.spec.ts
  vitest.unit.ts
Due: 10_check_disable_statements

feat: implement atomic .env file operations with backup and restore capabilities
  scripts/setup/AtomicEnvWriter.ts
  test/scripts/setup/AtomicEnvWriter.test.ts
  vitest.config.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: ensure proper formatting in vitest.config.ts and add missing newline at end of file
  vitest.config.ts
Due: none

test: add comprehensive tests for createChatMessage mutation
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added-matrice-wrapper
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/services/caching/RedisCacheService/classes/RedisCacheService.md
  docs/docs/auto-docs/services/metrics/metricsCacheProxy/functions/metricsCacheProxy.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  src/fastifyPlugins/cacheService.ts
  src/fastifyPlugins/performance.ts
  src/graphql/utils/withResolverCache.ts
  src/routes/graphql.ts
  src/services/caching/RedisCacheService.ts
  src/services/metrics/metricsCacheProxy.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add afterEach mock cleanup for test isolation
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add org membership for chat member before chat membership
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add unit tests for atomic environment writer functionality
  test/unit/setup/AtomicEnvWriter.test.ts
  vitest.config.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: Enhanced jq parsing validation and error handling (#4359)
  scripts/install/linux/install-linux.sh
Due: none

type-fixes
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  src/graphql/context.ts
  src/services/metrics/metricsCacheProxy.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

type-fixes
  src/graphql/context.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Added linting for cache
  biome.jsonc
  biome_plugins/README.md
  biome_plugins/require_cache_invalidation.grit
Due: none

feat: Add AtomicEnvWriter helper for safe .env modifications (#4340)
  scripts/setup/AtomicEnvWriter.ts
  test/unit/setup/AtomicEnvWriter.test.ts
  vitest.config.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: integrate performance tracker with GraphQL context (#4358)
  .coderabbit.yaml
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/isPerformanceTracker.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/metrics/performanceTracker.ts
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Revert "feat: integrate performance tracker with GraphQL context (#4358)"
  .coderabbit.yaml
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/isPerformanceTracker.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/metrics/performanceTracker.ts
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Revert "feat: integrate performance tracker with GraphQL context (#4358)" (#4366)
  .coderabbit.yaml
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/isPerformanceTracker.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/metrics/performanceTracker.ts
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: migrate schema & plugin logging to structured format
  src/graphql/schemaManager.ts
  src/plugin/manager/core.ts
  src/plugin/manager/lifecycle.ts
  src/plugin/manager/registry.ts
  src/plugin/registry.ts
  src/plugin/types.ts
  src/plugin/utils.ts
  test/plugin/manager/core.test.ts
  test/plugin/manager/lifecycle.test.ts
  test/plugin/manager/registry.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(macos-install): improve Node.js version parsing and fnm command handling
  scripts/install/macos/install-macos.sh
Due: none

update docs
  docs/docs/auto-docs/graphql/schemaManager/classes/GraphQLSchemaManager.md
  docs/docs/auto-docs/graphql/schemaManager/variables/schemaManager.md
  docs/docs/auto-docs/plugin/classes/PluginManager.md
  docs/docs/auto-docs/plugin/manager/lifecycle/classes/PluginLifecycle.md
  docs/docs/auto-docs/plugin/manager/registry/classes/PluginRegistry.md
  docs/docs/auto-docs/plugin/registry/functions/createPluginContext.md
  docs/docs/auto-docs/plugin/registry/functions/destroyPluginSystem.md
  docs/docs/auto-docs/plugin/registry/functions/getPluginManagerInstance.md
  docs/docs/auto-docs/plugin/registry/functions/getPluginSystemStatus.md
  docs/docs/auto-docs/plugin/registry/functions/initializePluginSystem.md
  docs/docs/auto-docs/plugin/registry/functions/isPluginSystemInitialized.md
  docs/docs/auto-docs/plugin/types/interfaces/ILogger.md
  docs/docs/auto-docs/plugin/utils/functions/clearPluginModuleCache.md
  docs/docs/auto-docs/plugin/utils/functions/createPluginTables.md
  docs/docs/auto-docs/plugin/utils/functions/debounce.md
  docs/docs/auto-docs/plugin/utils/functions/deepClone.md
  docs/docs/auto-docs/plugin/utils/functions/directoryExists.md
  docs/docs/auto-docs/plugin/utils/functions/dropPluginTables.md
  docs/docs/auto-docs/plugin/utils/functions/ensureDirectory.md
  docs/docs/auto-docs/plugin/utils/functions/filterActiveExtensions.md
  docs/docs/auto-docs/plugin/utils/functions/generateCreateIndexSQL.md
  docs/docs/auto-docs/plugin/utils/functions/generateCreateTableSQL.md
  docs/docs/auto-docs/plugin/utils/functions/generatePluginId.md
  docs/docs/auto-docs/plugin/utils/functions/isValidPluginId.md
  docs/docs/auto-docs/plugin/utils/functions/loadPluginManifest.md
  docs/docs/auto-docs/plugin/utils/functions/normalizeImportPath.md
  docs/docs/auto-docs/plugin/utils/functions/removePluginDirectory.md
  docs/docs/auto-docs/plugin/utils/functions/safeRequire.md
  docs/docs/auto-docs/plugin/utils/functions/sortExtensionPoints.md
  docs/docs/auto-docs/plugin/utils/functions/validatePluginManifest.md
Due: none

fix: clarify GritQL rule comment to reflect usage-based detection
  biome_plugins/require_cache_invalidation.grit
Due: none

refactor: migrate schema & plugin logging to structured format
  test/graphql/schemaManager.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: extract setup validators into dedicated module
  scripts/setup/setup.ts
  scripts/setup/validators.ts
  test/setup/validators.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: consolidate helpers tests and maximize achievable coverage
  test/unit_tests/helpers.test.ts
  tests/scripts/dbManagement/helpers.spec.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
