Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

test: add comprehensive tests for leakyBucket utility
  test/utilities/leakyBucket.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixing ci/cd issues
  test/graphql/types/EventAttendee/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

changes the coderabbit suggestion and add doc files
  docs/docs/auto-docs/drizzle/enums/eventAttachmentMimeType/variables/eventAttachmentMimeTypeZodEnum.md
  docs/docs/auto-docs/drizzle/enums/imageMimeType/variables/imageMimeTypeEnum.md
  docs/docs/auto-docs/drizzle/enums/imageMimeType/variables/imageMimeTypes.md
  docs/docs/auto-docs/drizzle/enums/videoMimeType/variables/videoMimeTypeEnum.md
  docs/docs/auto-docs/drizzle/enums/videoMimeType/variables/videoMimeTypes.md
  docs/docs/auto-docs/drizzle/tables/eventAttachments/variables/eventAttachmentMimeTypePgEnum.md
  docs/docs/auto-docs/drizzle/tables/eventAttachments/variables/eventAttachmentsTable.md
  docs/docs/auto-docs/drizzle/tables/eventAttachments/variables/eventAttachmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventAttachments/variables/eventAttachmentsTableRelations.md
  docs/docs/auto-docs/graphql/types/EventAttachment/EventAttachment/variables/EventAttachment.md
  test/drizzle/tables/eventAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

format fix
  src/drizzle/tables/eventAttachments.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: ensure safe restoration of process.env in incremental scan tests
  test/unit/validate_error_handling.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: fixing the test
  test/graphql/types/EventAttendee/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: tighten log regex pattern to use word boundary preventing false positives
  scripts/validate_error_handling.ts
Due: 10_check_disable_statements

feat: resolve recurring event instances in EventAttendee.event resolvers (#4978)
  docs/docs/auto-docs/graphql/types/EventAttendee/event/functions/eventAttendeeEventResolver.md
  src/createServer.ts
  src/graphql/types/EventAttendee/event.ts
  test/graphql/types/EventAttendee/event.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix falkiness
  scripts/dbManagement/addSampleData.ts
  test/scripts/dbManagement/addSampleData.test.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(sample-data): add recurring event template sample data (PR1) (#4966)
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/recurring_event_templates.json
  test/scripts/dbManagement/addSampleData.test.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(sample-data): add recurrence rules and event generation windows (PR2)
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/events.json
  scripts/dbManagement/sample_data/recurrence_rules.json
  test/scripts/dbManagement/addSampleData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address cr suggestions
  docs/docs/auto-schema/types/objects/event-attendee.mdx
  schema.graphql
  scripts/dbManagement/helpers.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address cr suggestion
  scripts/dbManagement/helpers.ts
Due: 10_check_disable_statements

Consider extracting the db type assertion to improve maintainability.
  scripts/dbManagement/helpers.ts
Due: 10_check_disable_statements

Add error handling for initializeGenerationWindow calls to prevent sample data loading failure from a single organization's FK constraint violation.
  scripts/dbManagement/helpers.ts
Due: 10_check_disable_statements

Add test for error handling when initializeGenerationWindow fails.
  scripts/dbManagement/helpers.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address cr suggestion
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address cr suggestion
  scripts/dbManagement/helpers.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add tests for SampleDataLoggerAdapter branches (error/fatal/debug/trace/child).
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: improve NaN handling and test stability
  src/utilities/leakyBucket.ts
  test/utilities/leakyBucket.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: remove permissive regex patterns allowing string returns in error handling
  scripts/validate_error_handling.ts
Due: 10_check_disable_statements

refactor: remove unnecessary variable global flag from regex test calls
  scripts/validate_error_handling.ts
Due: 10_check_disable_statements

refactor: use single-pass regex for glob-to-regex conversion to fix dead code and improve robustness
  scripts/validate_error_handling.ts
Due: 10_check_disable_statements

feat(sample-data): add recurrence rules and event generation windows (#5109)
  docs/docs/auto-schema/types/objects/event-attendee.mdx
  schema.graphql
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/events.json
  scripts/dbManagement/sample_data/recurrence_rules.json
  test/scripts/dbManagement/addSampleData.test.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: use unique keys and fake timers in leakyBucket tests
  docs/docs/auto-schema/types/objects/event-attendee.mdx
  schema.graphql
  test/utilities/leakyBucket.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add reject-path fallback test for leakyBucket
  test/utilities/leakyBucket.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(sample-data): populate recurring_event_instances when addSampleData runs (PR4)
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  test/scripts/dbManagement/addSampleData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address cr suggestions
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: support category update and reassign items on folder deletion
  schema.graphql
  src/graphql/inputs/MutationUpdateAgendaItemInput.ts
  src/graphql/types/Mutation/deleteAgendaFolder.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

generate gql schema docs
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-item-input.mdx
Due: none

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInputSchema.md
  src/graphql/types/Mutation/updateAgendaItem.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix format n add test
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: remove codacy configuration
  .codacy/codacy.yaml
  .github/instructions/codacy.instructions.md
Due: none

fix: add validation for JWT expiration and improve minio setup tests
  scripts/setup/services/apiSetup.ts
  test/scripts/setup/minioSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add test to inc coverage
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: relax retry validation and correct JWT input units
  scripts/setup/services/apiSetup.ts
  test/scripts/setup/minioSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address flakiness cr suggestions
  test/scripts/dbManagement/addSampleData.test.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
