Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

test: make slow operations test more robust
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add comprehensive tests for sendMembershipRequest mutation (#4331)
  test/graphql/types/Mutation/sendMembershipRequest.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fix: Add recurring event sample data with dynamic future dates
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/recurrence_rules.json
  scripts/dbManagement/sample_data/recurring_events.json
Due: 10_check_disable_statements

fix: code quality improvements
  scripts/install/install.sh
Due: none

fix: improve test sharding reliability and JSON result extraction
  docs/docs/auto-docs/utilities/metrics/drizzleProxy/functions/wrapDrizzleWithMetrics.md
  docs/docs/auto-docs/utilities/metrics/drizzleProxy/type-aliases/PerfGetter.md
  run-all-shards.sh
  scripts/run-shard.js
Due: none

fix: minor improvements
  scripts/install/install.sh
Due: none

fix: export PerfGetter and DrizzleClient types from drizzleProxy
  src/utilities/metrics/drizzleProxy.ts
  test/utilities/metrics/drizzleProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: removed dead code
  scripts/install/install.sh
Due: none

address coderabbit comments
  .devcontainer/devcontainer.json
  drizzle_migrations/20260109140234_absent_doctor_strange.sql
  drizzle_migrations/meta/20260109140234_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/createServer.ts
  src/drizzle/tables/agendaCategories.ts
  src/drizzle/tables/agendaFolders.ts
  src/drizzle/tables/agendaItemAttachment.ts
  src/drizzle/tables/agendaItems.ts
  src/graphql/inputs/MutationCreateAgendaCategory.ts
  src/graphql/inputs/MutationCreateAgendaFolderInput.ts
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/inputs/MutationUpdateAgendaFolderInput.ts
  src/graphql/types/AgendaCategories/AgendaCategories.ts
  src/graphql/types/AgendaCategories/createdAt.ts
  src/graphql/types/AgendaCategories/creator.ts
  src/graphql/types/AgendaCategories/event.ts
  src/graphql/types/AgendaCategories/updater.ts
  src/graphql/types/AgendaFolder/AgendaFolder.ts
  src/graphql/types/AgendaFolder/organization.ts
  src/graphql/types/AgendaItem/attachment.ts
  src/graphql/types/AgendaItem/url.ts
  src/graphql/types/AgendaItemUrl/AgendaItemUrl.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Mutation/deleteAgendaCategory.ts
  src/graphql/types/Mutation/deleteAgendaFolder.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  src/graphql/types/Mutation/updateAgendaItemSequence.ts
  src/graphql/types/Query/agendaCategoryByEvent.ts
  src/graphql/types/Query/agendaFolderByEvent.ts
  src/graphql/types/Query/agendaFolderByOrg.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve test sharding and add coverage for drizzleProxy line 288
  run-all-shards.sh
  scripts/run-shard.js
  test/utilities/metrics/drizzleProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: improve test sharding failure handling and deterministic JSON paths
  run-all-shards.sh
Due: none

refactor: improve test sharding script robustness and documentation
  run-all-shards.sh
Due: none

fix: sanitize jq outputs to guaranteed integers for bash arithmetic
  run-all-shards.sh
Due: none

chore: remove test utility script from PR (not part of solution)
  run-all-shards.sh
Due: none

chore: align recurring sample JSON with dynamic seeder behavior
  scripts/dbManagement/sample_data/recurrence_rules.json
  scripts/dbManagement/sample_data/recurring_events.json
Due: none

chore: align updaterId across recurring sample data
  scripts/dbManagement/sample_data/recurring_events.json
Due: none

test: update addSampleData collections to include recurring events
  test/scripts/dbManagement/addSampleData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: document collection ordering dependency in addSampleData test
  test/scripts/dbManagement/addSampleData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: document collection ordering dependency in addSampleData
  test/scripts/dbManagement/addSampleData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: clarify FK-dependent collection ordering in addSampleData
  test/scripts/dbManagement/addSampleData.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: bump @fastify/type-provider-typebox to 6.1.0
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/config/emailConfig.ts
  src/envConfigSchema.ts
  src/routes/objects.ts
  src/utilities/graphqLimits.ts
  src/utilities/passwordResetTokenUtils.ts
  test/drizzle.config.ts
  test/envConfigSchema.ts
  test/utilities/passwordResetTokenUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Resolve types error and fix things
  drizzle.config.ts
  src/config/emailConfig.ts
  src/envConfigSchema.ts
  src/fastifyPlugins/drizzleClient.ts
  src/routes/objects.ts
  src/utilities/graphqLimits.ts
  src/utilities/passwordResetTokenUtils.ts
  test/drizzle.config.ts
  test/envConfigSchema.ts
  test/utilities/passwordResetTokenUtils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: document DYNAMIC placeholders and event defaults in recurring sample data
  scripts/dbManagement/sample_data/recurring_events.json
Due: none

Update stale.yml
  .github/workflows/stale.yml
Due: none

Test: add comprehensive test for src/graphql/types/Mutation/createOrganizationMembership.ts (#4208)
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(setup): convert file operations to async fs
  scripts/setup/setup.ts
  scripts/setup/updateEnvVariable.ts
Due: 10_check_disable_statements

test(setup): clarify isBooleanString test descriptions
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(tests): update boolean string validation tests for accuracy
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore(docs): remove obsolete fastifyOtelInstrumentation documentation
  docs/docs/auto-docs/observability/tracing/bootstrap/variables/fastifyOtelInstrumentation.md
Due: none

feat(setup): enhance environment variable handling and error management
  scripts/setup/setup.ts
  scripts/setup/updateEnvVariable.ts
Due: 10_check_disable_statements

fix(tests): add missing newline at end of file in setup tests
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(setup): add validation functions for required and boolean fields in setup process
  docs/docs/auto-docs/observability/tracing/bootstrap/variables/fastifyOtelInstrumentation.md
  scripts/setup/setup.ts
  scripts/setup/updateEnvVariable.ts
Due: 10_check_disable_statements

fix(docs): update type of fastifyOtelInstrumentation to FastifyOtelInstrumentation
  docs/docs/auto-docs/observability/tracing/bootstrap/variables/fastifyOtelInstrumentation.md
Due: none

fix: remove unused imports from test files after query refactoring
  test/graphql/types/ActionItem/organization.test.ts
  test/graphql/types/Fund/organization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
