Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

Revert "Revert "Revert "fix(devcontainer): ensure setup is non-interactive (#…"
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

Revert "Revert "Revert "fix(devcontainer): ensure setup is non-interactive (#…" (#4971)
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

fix: format Check
  test/graphql/types/EventAttendee/event.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(tests): enhance setup and db management tests with improved mocking and environment handling
  scripts/dbManagement/helpers.ts
  scripts/setup/setup.ts
  test/installation_scripts/dbManagement/helpers.test.ts
  test/installation_scripts/setup/apiSetup.test.ts
  test/installation_scripts/setup/cloudbeaverSetup.test.ts
  test/installation_scripts/setup/integration.test.ts
  test/installation_scripts/setup/minioSetup.test.ts
  test/installation_scripts/setup/postgresSetup.test.ts
  test/installation_scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve type errors, clean comments, and sync dependencies
  package.json
  pnpm-lock.yaml
  src/drizzle/tables/tagAssignments.ts
  test/drizzle/tables/tagAssignments.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: add creatorId cascade and comprehensive validation tests
  src/drizzle/tables/tagAssignments.ts
  test/drizzle/tables/tagAssignments.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: Linux Installation Script
  scripts/install/linux/install-linux.sh
Due: none

fix: Git repo validation
  scripts/install/linux/install-linux.sh
Due: none

fix: added tests and updated installation docs
  scripts/install/linux/install-linux.sh
  scripts/install/linux/install-linux.test.sh
Due: none

fix: improved code quality
  scripts/install/linux/install-linux.sh
  scripts/install/linux/install-linux.test.sh
Due: none

fix: general
  scripts/install/linux/install-linux.test.sh
Due: none

fix: added fallback messages
  scripts/install/linux/install-linux.test.sh
Due: none

test(Event/venues.ts): Add error assertions for createVenue/createEvent mutations
  test/graphql/types/Event/venues.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: apply Biome formatting to Event/venues.test.ts
  test/graphql/types/Event/venues.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: apply Biome formatting to documentNodes.ts
  test/graphql/types/documentNodes.ts
Due: 10_check_disable_statements

test: use deterministic createdAt timestamps in venue ordering tests
  test/graphql/types/Event/venues.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add limit validation no-attachements coverage for event venues
  test/graphql/types/Event/venues.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: achieve 100% coverage for Event.venues with cleanup
  test/graphql/types/Event/venues.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add complexity function tests and database cleanup for Event.venues
  test/graphql/types/Event/venues.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(notification): extract duplicated audience resolution
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/classes/NotificationEngine.md
  src/graphql/types/Notification/Notification_engine.ts
  test/graphql/types/Notification/notification_engine.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor(notification): extract duplicated audience resolution (#4896)
  docs/docs/auto-docs/graphql/types/Notification/Notification_engine/classes/NotificationEngine.md
  src/graphql/types/Notification/Notification_engine.ts
  test/graphql/types/Notification/notification_engine.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Oauth: Implement GitHub OAuth Provider
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/GitHubOAuthProvider/classes/GitHubOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/GitHubEmail.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/GitHubUser.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  src/utilities/auth/oauth/index.ts
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  src/utilities/auth/oauth/providers/GitHubOAuthProvider.ts
  src/utilities/auth/oauth/types.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/GitHubOAuthProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

implemented coderabbit suggestion
  docs/docs/auto-docs/utilities/auth/oauth/providers/GitHubOAuthProvider/classes/GitHubOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/GitHubEmail.md
  src/utilities/auth/oauth/providers/GitHubOAuthProvider.ts
  src/utilities/auth/oauth/types.ts
  test/utilities/auth/oauth/GitHubOAuthProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

improved email verification tests
  test/utilities/auth/oauth/GitHubOAuthProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add guideline for non-flaky tests in CI/CD
  .coderabbit.yaml
Due: none

Add error validation for HTTP 200 responses
  docs/docs/auto-docs/utilities/auth/oauth/providers/GitHubOAuthProvider/classes/GitHubOAuthProvider.md
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  src/utilities/auth/oauth/providers/GitHubOAuthProvider.ts
  test/utilities/auth/oauth/GitHubOAuthProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat/added google oauth provider
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/GoogleOAuthProvider/classes/GoogleOAuthProvider.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  src/utilities/auth/oauth/index.ts
  src/utilities/auth/oauth/providers/GoogleOAuthProvider.ts
  test/utilities/auth/oauth/GoogleOAuthProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: resolve recurring event instances in EventAttendee.event resolver
  src/graphql/types/EventAttendee/event.ts
  test/graphql/types/EventAttendee/event.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat:format fix
  src/graphql/types/EventAttendee/event.ts
  test/graphql/types/EventAttendee/event.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

style: final biome formatting fix (tabs)
  src/drizzle/tables/tagAssignments.ts
  test/drizzle/tables/tagAssignments.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

added 3 negative-path unit tests to verify that GoogleOAuthProvider properly validates its configuration on construction
  docs/docs/auto-docs/utilities/auth/oauth/interfaces/IOAuthProvider/interfaces/IOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/GoogleOAuthProvider/classes/GoogleOAuthProvider.md
  src/utilities/auth/oauth/interfaces/IOAuthProvider.ts
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  src/utilities/auth/oauth/providers/GoogleOAuthProvider.ts
  test/utilities/auth/oauth/GoogleOAuthProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Oauth: Implement GitHub OAuth Provider (#4976)
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/GitHubOAuthProvider/classes/GitHubOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/GitHubEmail.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/GitHubUser.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  src/utilities/auth/oauth/index.ts
  src/utilities/auth/oauth/providers/GitHubOAuthProvider.ts
  src/utilities/auth/oauth/types.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/GitHubOAuthProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: fixed all critical test flakiness issues in the OAuth test suite
  docs/docs/auto-docs/utilities/auth/oauth/providers/GoogleOAuthProvider/classes/GoogleOAuthProvider.md
  src/utilities/auth/oauth/providers/GoogleOAuthProvider.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/GoogleOAuthProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: fix formatting issues
  src/utilities/auth/oauth/index.ts
  test/utilities/auth/oauth/GoogleOAuthProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: update auto-generated documentation
  docs/docs/auto-docs/drizzle/tables/tagAssignments/variables/tagAssignmentsTable.md
  docs/docs/auto-docs/drizzle/tables/tagAssignments/variables/tagAssignmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/tagAssignments/variables/tagAssignmentsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/tagAssignments/variables/tagAssignmentsTableSelectSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationAssignUserTagInput/variables/mutationAssignUserTagInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnassignUserTagInput/variables/mutationUnassignUserTagInputSchema.md
Due: none

fix: generated auto-docs
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
Due: none

feat(OAuth)/google oauth provider (#4977)
  docs/docs/auto-docs/utilities/auth/oauth/interfaces/IOAuthProvider/interfaces/IOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/GoogleOAuthProvider/classes/GoogleOAuthProvider.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  src/utilities/auth/oauth/index.ts
  src/utilities/auth/oauth/interfaces/IOAuthProvider.ts
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  src/utilities/auth/oauth/providers/GoogleOAuthProvider.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/GoogleOAuthProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
