Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

lefthook.yaml:

pre-commit:
  commands:
    1_upgrade_drizzle_metadata:
      run: |
        set -e
        pnpm run upgrade_drizzle_metadata
        git add ./drizzle_migrations
    2_generate_drizzle_migrations:
      run: |
        set -e
        pnpm run generate_drizzle_migrations
        git add ./drizzle_migrations
    3_check_drizzle_migrations:
      run: pnpm run check_drizzle_migrations
    4_generate_graphql_sdl_file:
      run: |
        set -e
        pnpm generate_graphql_sdl_file
        git add ./schema.graphql
    5_generate_gql_tada_files:
      run: |
        set -e
        pnpm generate_gql_tada
        git add ./test/graphql/types/gql.tada-cache.d.ts
    6_check_gql_tada:
      run: pnpm check_gql_tada
    7_fix_code_quality:
      run: |
        set -e
        pnpm format:fix
        git add -- {staged_files}        
        git add docs/

    7.5_check_tsdoc:
      glob: "src/**/*.ts"
      run: pnpm lint:tsdoc {staged_files}

    8_check_type_errors:
      run: pnpm typecheck

    9_check_mock_isolation:
      glob: "test/**/*.{test,spec}.{ts,tsx}"
      run: pnpm run check_mock_isolation {staged_files}

    11_generate_docs:
      run: |
        set -e
        pnpm generate-docs
        git add ./docs/docs/auto-docs/

    12_api_schema_docs:
      run: |
        set -e
        cd docs
        pnpm docusaurus graphql-to-doc
        git add docs/auto-schema

  piped: true

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    generate_graphql_sdl_file:
      run: pnpm run generate:docs
      stage_fixed: true
      skip:
        - merge
        - rebase

    check_gql_tada:
      run: pnpm run check_gql_tada
      glob: "src/**/*.ts"

    fix_code_quality:
      run: pnpm run fix_code_quality
      glob: "src/**/*.ts"
      stage_fixed: true

    check_type_errors:
      run: pnpm run check_type_errors
      glob: "src/**/*.ts"

fixes
  src/routes/graphql.ts
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/userLoader.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix format n address coderabbit review comments
  .devcontainer/devcontainer.json
  src/createServer.ts
  src/drizzle/enums/agendaAttachmentMimeType.ts
  src/drizzle/tables/agendaCategories.ts
  src/drizzle/tables/agendaFolders.ts
  src/graphql/inputs/MutationCreateAgendaCategory.ts
  src/graphql/inputs/MutationUpdateAgendaItemSequenceInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/updateAgendaItemSequence.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

fix: removed confilcting test
  test/graphql/types/Mutation/updateAdvertisement.test.ts
Due: 9_check_mock_isolation

delete unnecessary mutations
  src/graphql/inputs/MutationUpdateAgendaFolderSequence.ts
  src/graphql/types/Mutation/updateAgendaFolderSequence.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

fix: added coverage for line 188
  test/graphql/types/Mutation/updateAdvertisement.test.ts
Due: 9_check_mock_isolation

address coderabbit review comments
  src/graphql/types/AgendaCategories/AgendaCategories.ts
  src/graphql/types/AgendaCategories/createdAt.ts
  src/graphql/types/AgendaCategories/event.ts
  src/graphql/types/AgendaCategories/updatedAt.ts
  src/graphql/types/AgendaItem/agendaCategory.ts
  src/graphql/types/AgendaItem/attachment.ts
  src/graphql/types/AgendaItem/url.ts
  src/graphql/types/Mutation/deleteAgendaFolder.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
  src/graphql/types/Query/agendaCategoryByEvent.ts
  src/graphql/types/index.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

address coderabbit review comments
  schema.graphql
  src/graphql/inputs/index.ts
  src/graphql/types/AgendaCategories/AgendaCategories.ts
  src/graphql/types/AgendaCategories/updatedAt.ts
  src/graphql/types/AgendaItem/url.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

address coderabbit review comments
  src/graphql/types/AgendaItemAttachment/AgendaItemAttachment.ts
  src/graphql/types/AgendaItemAttachment/index.ts
  src/graphql/types/AgendaItemUrl/AgendaItemUrl.ts
  src/graphql/types/AgendaItemUrl/index.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

test: increase coverage for extraction.ts and installation.ts edge cases:
  test/utilities/pluginInstaller.test.ts
Due: 9_check_mock_isolation

fix: resolver bug
  src/graphql/types/Mutation/updateAdvertisement.ts
  test/graphql/types/Mutation/updateAdvertisement.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

added compreshensive test for src/graphql/types/Mutation/createOrganizationMembership.s
  test/graphql/types/Mutation/createOrganizationMembership.test.ts
Due: 9_check_mock_isolation

fixed formatting issues
  src/fastifyPlugins/performance.ts
  src/services/caching/index.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/fastifyPlugins/performance.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/routes/graphql.performance.test.ts
  test/services/caching/metricsCacheProxy.test.ts
  test/utilities/dataloaders/withMetrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

made changes according to coderabbit suggestions
  README.md
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/services/caching/RedisCacheService/classes/RedisCacheService.md
  docs/docs/auto-docs/services/caching/metricsCacheProxy/functions/metricsCacheProxy.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/functions/createDataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/type-aliases/Dataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  docs/docs/auto-docs/utilities/dataloaders/withMetrics/functions/wrapBatchWithMetrics.md
Due: none

fixes
  src/fastifyPlugins/performance.ts
  src/graphql/types/User/addressLine1.ts
  src/graphql/types/User/addressLine2.ts
  src/graphql/types/User/city.ts
  src/graphql/types/User/postalCode.ts
  src/graphql/types/User/state.ts
  src/routes/graphql.ts
  test/_Mocks_/mockContextCreator/mockContextCreator.ts
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.performance.test.ts
  test/routes/graphql.test.ts
  test/services/caching/metricsCacheProxy.test.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
  test/utilities/dataloaders/withMetrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

removed unused imports
  src/graphql/types/User/addressLine1.ts
  src/graphql/types/User/addressLine2.ts
  src/graphql/types/User/city.ts
  src/graphql/types/User/postalCode.ts
  src/graphql/types/User/state.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

Security sanitization restored
  src/graphql/types/User/addressLine1.ts
  src/graphql/types/User/addressLine2.ts
  src/graphql/types/User/city.ts
  src/graphql/types/User/postalCode.ts
  src/graphql/types/User/state.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

fixed formatting
  src/graphql/types/User/addressLine1.ts
  src/graphql/types/User/addressLine2.ts
  src/graphql/types/User/city.ts
  src/graphql/types/User/postalCode.ts
  src/graphql/types/User/state.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

test: added tests for /Mutation/updateAdvertisement.ts (#4202)
  src/graphql/types/Mutation/updateAdvertisement.ts
  test/graphql/types/Mutation/updateAdvertisement.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

refactor: consolidate 5 disable check scripts into unified script (#4200)
  .github/workflows/pull-request.yml
  .github/workflows/scripts/biome_disable_check.py
  .github/workflows/scripts/check_sanitization_disable.py
  .github/workflows/scripts/code_coverage_disable_check.py
  .github/workflows/scripts/detect_ts_ignore.py
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/itskip_disable_check.py
  lefthook.yaml
  test/scripts/check_sanitization_disable.test.py
  test/scripts/test_disable_statements_check.py
Due: none

test(mutation/createCommentVote): achieve 100% code coverage #3872 (#4153)
  test/graphql/types/Mutation/createCommentVote.test.ts
Due: 9_check_mock_isolation

Test/update venue resolver (#4136)
  src/graphql/types/Mutation/updateVenue.ts
  test/graphql/types/Mutation/updateVenue.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

feat(error-handling): unify error codes and make categoriesByIds ids parameter optional
  src/graphql/types/ActionItemCategory/ActionItemCategory.ts
  src/graphql/types/Query/getUserPledgesByCampaignID.ts
  src/utilities/TalawaGraphQLError.ts
  test/graphql/types/Query/categoriesByIds.test.ts
  test/graphql/types/Query/getUserPledgesByCampaignID.test.ts
  test/graphql/types/documentNodes.ts
  test/plugin/pluginWebhooks.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

perf(categoriesByIds): optimize authorization checks with O(1) lookup
  src/graphql/types/ActionItemCategory/ActionItemCategory.ts
Due: 7.5_check_tsdoc, check_gql_tada, fix_code_quality, check_type_errors

test(categoriesByIds): format error message assertion for readability
  test/graphql/types/Query/categoriesByIds.test.ts
Due: 9_check_mock_isolation

docs: update auto-generated documentation line numbers
  docs/docs/auto-docs/graphql/types/Query/getUserPledgesByCampaignID/functions/resolveGetMyPledgesForCampaign.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/classes/TalawaGraphQLError.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/TalawaGraphQLFormattedError.md
Due: none

fix(error-handling): sanitize error extensions and improve error response consistency
  src/fastifyPlugins/errorHandler.ts
  src/graphql/types/ActionItemCategory/ActionItemCategory.ts
  src/routes/graphql.ts
  src/utilities/TalawaGraphQLError.ts
  src/utilities/errors/TalawaRestError.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Mutation/createPost.test.ts
  test/graphql/types/Query/getPledgesByCampaignID.test.ts
  test/plugin/pluginWebhooks.test.ts
  test/utilities/errors/TalawaRestError.test.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test: refactor categoriesByIds query and improve error handling tests
  test/graphql/types/Query/categoriesByIds.test.ts
  test/graphql/types/documentNodes.ts
  test/plugin/pluginWebhooks.test.ts
Due: 9_check_mock_isolation

feat(categoriesByIds): add organization membership authorization checks
  src/graphql/types/ActionItemCategory/ActionItemCategory.ts
  test/graphql/types/Query/categoriesByIds.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix(error-handling): make correlationId optional in error response payload
  src/utilities/errors/TalawaRestError.ts
  test/utilities/errors/TalawaRestError.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test(error-handling): add comprehensive tests for error formatting and sanitization
  test/graphql/types/Query/organizations.test.ts
  test/routes/graphql.test.ts
  test/routes/objects.test.ts
  test/utilities/TalawaGraphQLError.test.ts
Due: 9_check_mock_isolation

feat(objects): add content-length header and improve test coverage
  src/routes/objects.ts
  test/routes/objects.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test(objects): add test for unhandled S3Error codes returning 500
  test/routes/objects.test.ts
Due: 9_check_mock_isolation

fix(graphql): improve error logging with fallback logger and statusCode
  src/routes/graphql.ts
  src/utilities/errors/errorTransformer.ts
  test/routes/graphql.test.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix(graphql): improve correlationId handling with fallback generation
  src/routes/graphql.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test(graphql): add comprehensive error code to HTTP status mapping tests
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation

test(graphql): add subscription error formatting test with undefined reply
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation

fix(graphql): add clarifying comment for subscription correlationId handling
  src/routes/graphql.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors
