Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

coderabbit issues done
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

update TalawaGraphQLError documentation and error handling
  docs/docs/auto-docs/utilities/TalawaGraphQLError/classes/TalawaGraphQLError.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/AccountLockedExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/ArgumentsAssociatedResourcesNotFoundExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/ForbiddenActionExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/ForbiddenActionOnArgumentsAssociatedResourcesExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/InvalidArgumentsExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/InvalidCredentialsExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/TalawaGraphQLErrorExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/TalawaGraphQLFormattedError.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/TooManyRequestsExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/UnauthenticatedExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/UnauthorizedActionExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/UnauthorizedActionOnArgumentsAssociatedResourcesExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/UnauthorizedArgumentsExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/UnexpectedExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/variables/defaultTalawaGraphQLErrorMessages.md
  drizzle_migrations/20260121041551_aspiring_piledriver.sql
  drizzle_migrations/meta/20260121041551_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/routes/graphql.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Mutation/updateFundCampaign.test.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix formatting
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

edge test case for poststtachments
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

typo fix
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

coderabbit changes done
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(errorHandler): improve error details handling and test coverage
  src/fastifyPlugins/errorHandler.ts
  test/routes/objects.test.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix failing test and fix format
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Typo Fix
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

updated autodocs
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
Due: none

docs: add OAuth environment variables and fix test syntax
  docs/docs/docs/getting-started/environment-variables.md
  test/drizzle/tables/agendaItemUrl.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add comprehensive error handling test coverage
  test/routes/objects.test.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: remove duplicate funds migration and update error handling
  docs/docs/auto-docs/utilities/TalawaGraphQLError/classes/TalawaGraphQLError.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/TalawaGraphQLErrorExtensions.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/TalawaGraphQLFormattedError.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/variables/defaultTalawaGraphQLErrorMessages.md
  drizzle_migrations/20260121113638_green_ben_parker.sql
  drizzle_migrations/meta/20260121113638_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/utilities/TalawaGraphQLError.ts
  test/routes/graphql.test.ts
  test/routes/objects.test.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: remove duplicate funds migration and update GraphQL tests
  drizzle_migrations/20260121121619_lean_colleen_wing.sql
  drizzle_migrations/meta/20260121121619_snapshot.json
  drizzle_migrations/meta/_journal.json
  test/routes/graphql.test.ts
  test/routes/graphqlErrorCode.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: remove duplicate funds migration and redundant test file
  drizzle_migrations/20260121121619_lean_colleen_wing.sql
  drizzle_migrations/meta/20260121121619_snapshot.json
  drizzle_migrations/meta/_journal.json
  test/routes/graphqlErrorCode.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(graphql): improve error handling and observability test coverage
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: add performance tracking to mutation resolvers
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/graphql/utils/withMutationMetrics/functions/withMutationMetrics.md
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/createUser.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/types/Mutation/updateOrganization.ts
  src/graphql/utils/withMutationMetrics.ts
  test/graphql/types/Mutation/createEvent.metrics.test.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
  test/graphql/utils/withMutationMetrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(graphql): improve environment cleanup and error code handling
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: explicitly define unit and integration flags in codecov.yml
  codecov.yml
Due: none

test: update deleteOrganization metrics test
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fixes #4704 (Test Drizzle: src/drizzle/tables/postAttachments.ts) (#4834)
  test/drizzle/tables/postAttachments.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix #4705 (Test Drizzle: src/drizzle/tables/postVotes.ts) (#4838)
  test/drizzle/tables/postVotes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(errorHandler): improve Zod error flattening and environment cleanup
  src/utilities/errors/errorTransformer.ts
  test/fastifyPlugins/errorHandler.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: address code review feedback for mutation performance tracking
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  src/graphql/utils/withMutationMetrics.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createUser.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/deleteOrganization.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
  test/graphql/utils/withMutationMetrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve TypeScript and formatting errors
  src/graphql/types/Mutation/createOrganization.ts
  src/graphql/types/Mutation/deleteOrganization.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createUser.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: add OAuth GraphQL schema types and mutations (#4836)
  docs/docs/auto-docs/graphql/enums/OAuthProvider/variables/OAuthProvider.md
  docs/docs/auto-docs/graphql/inputs/MutationOAuthLoginInput/variables/MutationOAuthLoginInput.md
  docs/docs/auto-docs/graphql/types/OAuthAccountInfo/OAuthAccountInfo/type-aliases/OAuthAccountInfo.md
  docs/docs/auto-docs/graphql/types/OAuthAccountInfo/OAuthAccountInfo/variables/OAuthAccountInfo.md
  docs/docs/auto-schema/operations/mutations/link-oauth-account.mdx
  docs/docs/auto-schema/operations/mutations/sign-in-with-oauth.mdx
  docs/docs/auto-schema/operations/mutations/unlink-oauth-account.mdx
  docs/docs/auto-schema/types/enums/oauth-provider.mdx
  docs/docs/auto-schema/types/inputs/oauth-login-input.mdx
  docs/docs/auto-schema/types/objects/authentication-payload.mdx
  docs/docs/auto-schema/types/objects/oauth-account-info.mdx
  docs/docs/auto-schema/types/objects/user.mdx
  docs/docs/auto-schema/types/scalars/date-time.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  docs/docs/docs/getting-started/environment-variables.md
  schema.graphql
  src/graphql/enums/OAuthProvider.ts
  src/graphql/enums/index.ts
  src/graphql/inputs/MutationOAuthLoginInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/linkOAuthAccount.ts
  src/graphql/types/Mutation/signInWithOAuth.ts
  src/graphql/types/Mutation/unlinkOAuthAccount.ts
  src/graphql/types/OAuthAccountInfo/OAuthAccountInfo.ts
  src/graphql/types/OAuthAccountInfo/index.ts
  src/graphql/types/User/index.ts
  src/graphql/types/User/oauthAccounts.ts
  src/graphql/types/index.ts
  test/drizzle/tables/funds.test.ts
  test/drizzle/tables/venueBookings.test.ts
  test/graphql/types/Mutation/linkOAuthAccount.test.ts
  test/graphql/types/Mutation/signInWithOAuth.test.ts
  test/graphql/types/Mutation/unlinkOAuthAccount.test.ts
  test/graphql/types/User/oauthAccounts.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: improve Minio `putObjectSpy` argument assertion in `createChat` test.
  test/graphql/types/Mutation/createChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(errorTransformer): replace flattenError with treeifyError for better error structure
  src/utilities/errors/errorTransformer.ts
  test/fastifyPlugins/errorHandler.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: race condition in eventGenerationWindows and improve test coverage
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/type-aliases/CreateGenerationWindowInput.md
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/type-aliases/GenerationWindowConfig.md
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/type-aliases/UpdateGenerationWindowInput.md
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/variables/eventGenerationWindowsTable.md
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/variables/eventGenerationWindowsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/variables/eventGenerationWindowsTableRelations.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/cleanupOldGeneratedInstances.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/extendGenerationWindow.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/getCleanupStats.md
  docs/docs/auto-docs/services/eventGeneration/windowManager/functions/validateWindowConfig.md
  src/drizzle/tables/eventGenerationWindows.ts
  src/services/eventGeneration/windowManager.ts
  test/graphql/types/Mutation/createOrganization.metrics.test.ts
  test/graphql/types/Mutation/createUser.test.ts
  test/graphql/types/Mutation/deleteOrganization.metrics.test.ts
  test/graphql/types/Mutation/updateOrganization.metrics.test.ts
  test/services/eventInstanceGeneration/windowManager.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(errorHandler): improve environment cleanup in edge case tests
  test/fastifyPlugins/errorHandler.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: code cleanup and test stability improvements
  src/drizzle/tables/eventGenerationWindows.ts
  test/graphql/types/Mutation/createUser.metrics.test.ts
  test/graphql/types/Mutation/createUser.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: unexport `createChatMutation` and add a non-nullish assertion for `fileField`.
  test/graphql/types/Mutation/createChat.test.ts
  test/helpers.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: formatting issues in eventGenerationWindows and createUser tests
  src/drizzle/tables/eventGenerationWindows.ts
  test/graphql/types/Mutation/createUser.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: exclude integration tests from unit config and add verification file
  docs/docs/auto-docs/integration_heavy/functions/integrationHeavy.md
  src/integration_heavy.ts
  test/drizzle/integration_heavy.test.ts
  vitest.unit.config.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: update eventGenerationWindows docs after code cleanup
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/type-aliases/CreateGenerationWindowInput.md
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/type-aliases/GenerationWindowConfig.md
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/type-aliases/UpdateGenerationWindowInput.md
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/variables/eventGenerationWindowsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/variables/eventGenerationWindowsTableRelations.md
Due: none

test: fix Zod error message assertion for UUID validation
  test/graphql/types/Query/eventsByCreator.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: regenerate autodocs properly
  docs/docs/auto-docs/integration_heavy/functions/integrationHeavy.md
Due: none

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
