Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

test: add 100% coverage tests for recurrenceRules.ts
  test/unit/drizzle/tables/recurrenceRules.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: enhance SMTP provider config with name and localAddress
  docs/docs/auto-docs/config/emailConfig/type-aliases/EmailEnvConfig.md
  docs/docs/auto-docs/config/emailConfig/variables/rawEmailEnvConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/email/EmailProviderFactory/variables/EmailProviderFactory.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/interfaces/SMTPProviderConfig.md
  docs/docs/docs/developer-resources/best-practices/email.md
  scripts/setup/emailSetup.ts
  src/config/emailConfig.ts
  src/envConfigSchema.ts
  src/services/email/EmailProviderFactory.ts
  src/services/email/providers/SMTPProvider.ts
  test/install/emailSetup.test.ts
  test/services/email/SMTPProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: add SMTP configuration details to configuration.md
  docs/docs/docs/getting-started/configuration.md
Due: none

test: add missing assertions and mocks in emailSetup.test.ts
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  scripts/setup/emailSetup.ts
  test/graphql/types/gql.tada.d.ts
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: fix formatting in test files and regenerate autodocs
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(setup): trim SMTP inputs and remove empty keys for strict schema compliance
  scripts/setup/emailSetup.ts
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add missing serviceName property to observability mock config
  test/utilities/db/traceableQuery.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(performance): add TTL normalization tests and verify actual TTL values
  test/envConfigSchema.metrics.test.ts
  test/fastifyPlugins/performance.config.test.ts
  test/fastifyPlugins/performance.test.ts
  test/services/metrics/index.test.ts
  test/services/metrics/metricsCache.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(metricsCache): add TTL validation guards and improve tests
  docs/docs/auto-docs/services/metrics/metricsCache/classes/MetricsCacheService.md
  src/services/metrics/metricsCache.ts
  test/envConfigSchema.metrics.test.ts
  test/fastifyPlugins/performance.config.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: properly verify FK references with target tables and actions
  test/unit/drizzle/tables/recurrenceRules.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address CodeRabbit review comments for recurrenceRules tests
  src/drizzle/tables/recurrenceRules.ts
  test/unit/drizzle/tables/recurrenceRules.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(errorHandler): enhance GraphQL error handling tests with mocked mercurius
  test/fastifyPlugins/errorHandler.test.ts
  test/routes/objects.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: Add a design document for logging standardization and enhance plugin deletion error logs with
  src/graphql/types/Mutation/plugin/deletePlugin.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(observability): add DB operation tracing with traceable utility (#4749)
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  docs/docs/auto-docs/utilities/db/traceableQuery/functions/traceable.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  src/utilities/db/traceableQuery.ts
  test/utilities/db/traceableQuery.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(logging): finalize structured logging migration & increase test coverage (#4754)
  biome.jsonc
  docs/docs/auto-docs/plugin/manager/extensions/classes/ExtensionLoader.md
  docs/docs/auto-docs/utilities/pluginInstaller/installation/functions/installPluginFromZip.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/validateRecaptchaIfRequired.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/verifyRecaptchaToken.md
  src/graphql/types/Mutation/plugin/deletePlugin.ts
  src/graphql/types/Mutation/plugin/installPlugin.ts
  src/graphql/types/Mutation/plugin/updatePlugin.ts
  src/graphql/types/Mutation/uploadPluginZip.ts
  src/graphql/types/User/city.ts
  src/graphql/types/User/updater.ts
  src/plugin/manager/extensions.ts
  src/utilities/pluginInstaller/installation.ts
  src/utilities/recaptchaUtils.ts
  test/graphql/types/Mutation/plugin/deletePlugin.test.ts
  test/graphql/types/Mutation/plugin/installPlugin.test.ts
  test/graphql/types/Mutation/plugin/updatePlugin.test.ts
  test/graphql/types/Mutation/uploadPluginZip.test.ts
  test/graphql/types/User/city.test.ts
  test/graphql/types/User/updater.test.ts
  test/graphql/types/documentNodes.ts
  test/plugin/manager/extensions.test.ts
  test/utilities/pluginInstaller.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Add version string validation to prevent command injection in installation script (#4373)
  scripts/install/common/README.md
  scripts/install/common/validation.sh
  scripts/install/common/validation.test.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

test(metricsCache): add coverage for non-positive TTL validation
  test/services/metrics/metricsCache.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Enhance SMTP provider with name and localAddress configuration (#4760)
  docs/docs/auto-docs/config/emailConfig/type-aliases/EmailEnvConfig.md
  docs/docs/auto-docs/config/emailConfig/variables/rawEmailEnvConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/email/EmailProviderFactory/variables/EmailProviderFactory.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  docs/docs/auto-docs/services/email/providers/SMTPProvider/interfaces/SMTPProviderConfig.md
  docs/docs/docs/developer-resources/best-practices/email.md
  docs/docs/docs/getting-started/configuration.md
  scripts/setup/emailSetup.ts
  src/config/emailConfig.ts
  src/envConfigSchema.ts
  src/services/email/EmailProviderFactory.ts
  src/services/email/providers/SMTPProvider.ts
  test/graphql/types/gql.tada.d.ts
  test/install/emailSetup.test.ts
  test/services/email/SMTPProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor(envConfig): consolidate slow request threshold config
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  src/envConfigSchema.ts
Due: 10_check_disable_statements

docs: regenerate auto-docs after upstream merge
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  test/graphql/types/gql.tada-cache.d.ts
Due: 10_check_disable_statements

test(metricsSetup): add assertion for empty API key being undefined
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: Added test for src/drizzle/tables/venues.ts
  test/drizzle/tables/venue.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add password validation for secure deployments
  docs/docs/docs/getting-started/environment-variables.md
  scripts/setup/setup.ts
  scripts/setup/validators.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(setup): add secure password generation
  scripts/setup/setup.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: Added test for src/drizzle/tables/venues.ts
  test/envConfigSchema.ts
Due: 10_check_disable_statements

test(errorHandler): expand error handling test coverage with edge cases
  test/fastifyPlugins/errorHandler.test.ts
  test/routes/objects.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: Added test for src/drizzle/tables/venues.ts
  test/drizzle/tables/venues.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(setup): replace weak default passwords with secure random generation (#4394)
  docs/docs/docs/getting-started/environment-variables.md
  scripts/setup/setup.ts
  scripts/setup/validators.ts
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(helpers): add unit tests for MockCacheService
  test/helpers/performanceTestUtils.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(envFiles): add complete metrics configuration to all env files
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
Due: none

fix(tests): update imports after user's setup.ts refactor
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  scripts/setup/setup.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: reorder envFiles for dotenv-linter and add port validation
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  scripts/setup/setup.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(setup): add bidirectional credential sync and remove weak defaults
  scripts/setup/setup.ts
Due: 10_check_disable_statements

fix(setup): normalize empty API_METRICS_API_KEY to undefined
  scripts/setup/setup.ts
Due: 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
