Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix: remove unreliable structuredClone integration test
  test/fastifyPlugins/performance.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: use trimmed length in validateCloudBeaverAdmin for consistency
  scripts/setup/validators.ts
Due: 10_check_disable_statements

fix(install): verify npm availability before pnpm installation
  scripts/install/macos/install-macos.sh
Due: none

fix: prevent script exit before error message when npm is broken
  scripts/install/macos/install-macos.sh
Due: none

test: Add coverage for missing lines in backgroundWorkerService, envConfigSchema, and performance plugin
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/startBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/envConfigSchema.ts
  src/fastifyPlugins/performance.ts
  src/workers/backgroundWorkerService.ts
  test/envConfigSchema.test.ts
  test/fastifyPlugins/performance.test.ts
  test/workers/backgroundWorkerService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(agenda-item): add FileMetadataInput support for attachments
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableRelations.md
  docs/docs/auto-docs/graphql/enums/PostAttachmentMimeType/variables/PostAttachmentMimeType.md
  docs/docs/auto-docs/graphql/inputs/FileMetadataInput/type-aliases/FileMetadataInputType.md
  docs/docs/auto-docs/graphql/inputs/FileMetadataInput/variables/FileMetadataInput.md
  docs/docs/auto-docs/graphql/inputs/FileMetadataInput/variables/fileMetadataInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInputSchema.md
  docs/docs/auto-schema/types/enums/post-attachment-mime-type.mdx
  docs/docs/auto-schema/types/inputs/file-metadata-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-item-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-item-input.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  drizzle_migrations/20260113133929_sloppy_expediter.sql
  drizzle_migrations/meta/20260113133929_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/schema.ts
  src/drizzle/tables/agendaItemAttachments.ts
  src/drizzle/tables/agendaItems.ts
  src/graphql/enums/PostAttachmentMimeType.ts
  src/graphql/inputs/FileMetadataInput.ts
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/inputs/MutationUpdateAgendaItemInput.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: enhance security and error handling in Node.js and pnpm version parsing
  scripts/install/common/validation.sh
  scripts/install/macos/install-macos.sh
Due: none

refactor: extract setup validators into dedicated module (#4364)
  scripts/setup/setup.ts
  scripts/setup/validators.ts
  test/setup/validators.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add validation for required functions in validation.sh
  scripts/install/common/validation.sh
  scripts/install/linux/install-linux.sh
Due: none

fix: improve error message formatting and handle lts/latest edge case
  scripts/install/macos/install-macos.sh
Due: none

fix: improve validation library sourcing and enhance version validation
  scripts/install/common/validation.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

fix: ensure structuredClone fallback test uses fresh module instance
  test/fastifyPlugins/performance.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Oauth: Create OAuth Provider Abstraction Layer (#4395)
  docs/docs/auto-docs/utilities/auth/oauth/OAuthProviderRegistry/classes/OAuthProviderRegistry.md
  docs/docs/auto-docs/utilities/auth/oauth/errors/classes/InvalidAuthorizationCodeError.md
  docs/docs/auto-docs/utilities/auth/oauth/errors/classes/OAuthError.md
  docs/docs/auto-docs/utilities/auth/oauth/errors/classes/ProfileFetchError.md
  docs/docs/auto-docs/utilities/auth/oauth/errors/classes/TokenExchangeError.md
  docs/docs/auto-docs/utilities/auth/oauth/interfaces/IOAuthProvider/interfaces/IOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthConfig.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthProviderTokenResponse.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthUserProfile.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  package.json
  pnpm-lock.yaml
  src/utilities/auth/oauth/OAuthProviderRegistry.ts
  src/utilities/auth/oauth/errors.ts
  src/utilities/auth/oauth/index.ts
  src/utilities/auth/oauth/interfaces/IOAuthProvider.ts
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  src/utilities/auth/oauth/types.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/OAuthProviderRegistry.test.ts
  test/utilities/auth/oauth/index.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: ensure healthCheck tests use correct module instance for spying
  test/workers/backgroundWorkerService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(setup): merge upstream and resolve type errors
  test/scripts/setup/administratorEmail.test.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/caddySetup.test.ts
  test/scripts/setup/cloudbeaverSetup.test.ts
  test/scripts/setup/envSetup.spec.ts
  test/scripts/setup/minioSetup.test.ts
  test/scripts/setup/postgresSetup.test.ts
  test/scripts/setup/promptHelpers.test.ts
  test/scripts/setup/setup.test.ts
  test/scripts/setup/updateEnvVariable.test.ts
  vitest.config.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Test : added test coverage for src/graphql/types/Event/agendaFolders.ts
  test/graphql/types/Event/agendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: enhance version validation and retry logic in installation scripts
  scripts/install/common/validation.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

fix: update validation requirements and streamline dependency installation logic
  scripts/install/common/validation.sh
  scripts/install/macos/install-macos.sh
Due: none

test: Remove unreliable structuredClone fallback test
  test/fastifyPlugins/performance.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Test : Added test coverage for src/graphql/types/Event/agendaFolders.ts
  test/graphql/types/Event/agendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed : the case where cursor belongs to different event
  test/graphql/types/Event/agendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: implement SetupError class with codes and context
  scripts/setup/SetupError.ts
  test/unit/SetupError.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: implement toJSON and enhance unit tests for SetupError
  scripts/setup/SetupError.ts
  test/unit/SetupError.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add coverage for COMMIT_FAILED in SetupError
  test/unit/SetupError.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: address PR review feedback for SetupError
  scripts/setup/SetupError.ts
  test/unit/SetupError.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Implement OAuth Configuration Management
  docs/docs/auto-docs/config/oauth/functions/getProviderConfig.md
  docs/docs/auto-docs/config/oauth/functions/loadOAuthConfig.md
  docs/docs/auto-docs/config/oauth/interfaces/OAuthProvidersConfig.md
  docs/docs/auto-docs/config/oauth/type-aliases/ProviderKey.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  docs/docs/docs/getting-started/configuration.md
  scripts/setup/setup.ts
  src/config/oauth.ts
  src/envConfigSchema.ts
  test/config/oauth.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(install): verify npm availability before pnpm installation (#4725)
  scripts/install/macos/install-macos.sh
Due: none

fix(events): enable user event dashboard access and correct Upcoming Events visibility
  src/graphql/types/Event/Event.ts
  src/graphql/types/Event/actionItems.ts
  src/graphql/types/Event/agendaFolders.ts
  src/graphql/types/Event/attendees.ts
  src/graphql/types/Event/volunteerGroups.ts
  src/graphql/types/Event/volunteers.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(agenda-item): add FileMetadataInput support for attachments (#4375)
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemAttachments/variables/agendaItemAttachmentsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableRelations.md
  docs/docs/auto-docs/graphql/enums/PostAttachmentMimeType/variables/PostAttachmentMimeType.md
  docs/docs/auto-docs/graphql/inputs/FileMetadataInput/type-aliases/FileMetadataInputType.md
  docs/docs/auto-docs/graphql/inputs/FileMetadataInput/variables/FileMetadataInput.md
  docs/docs/auto-docs/graphql/inputs/FileMetadataInput/variables/fileMetadataInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaItemInput/variables/MutationUpdateAgendaItemInputSchema.md
  docs/docs/auto-schema/types/enums/post-attachment-mime-type.mdx
  docs/docs/auto-schema/types/inputs/file-metadata-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-item-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-item-input.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  drizzle_migrations/20260113133929_sloppy_expediter.sql
  drizzle_migrations/meta/20260113133929_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/schema.ts
  src/drizzle/tables/agendaItemAttachments.ts
  src/drizzle/tables/agendaItems.ts
  src/graphql/enums/PostAttachmentMimeType.ts
  src/graphql/inputs/FileMetadataInput.ts
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/inputs/MutationUpdateAgendaItemInput.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

implemented coderabbit suggestion
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  src/config/oauth.ts
  test/config/oauth.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

implemented coderabbit suggestion
  src/config/oauth.ts
  test/config/oauth.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: mock cleanup
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: coderabbitai
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: ai
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(events): correct notification routing to event details page
  drizzle_migrations/20260114003000_fix_event_notification_template.sql
  src/graphql/types/Notification/EventBus/eventBus.ts
  src/graphql/types/Notification/Notification_engine.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: cleanup
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: error handling
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(events): allow org members to access non-sensitive event metadata
  src/graphql/types/AgendaCategory/createdAt.ts
  src/graphql/types/AgendaCategory/creator.ts
  src/graphql/types/AgendaCategory/updatedAt.ts
  src/graphql/types/AgendaCategory/updater.ts
  src/graphql/types/Event/createdAt.ts
  src/graphql/types/Event/creator.ts
  src/graphql/types/Event/updatedAt.ts
  src/graphql/types/Event/updater.ts
  src/graphql/types/EventAttendee/createdAt.ts
  src/graphql/types/EventAttendee/updatedAt.ts
  src/graphql/types/Fund/createdAt.ts
  src/graphql/types/Fund/creator.ts
  src/graphql/types/Fund/updatedAt.ts
  src/graphql/types/Fund/updater.ts
  src/graphql/types/Tag/createdAt.ts
  src/graphql/types/Tag/creator.ts
  src/graphql/types/Tag/updatedAt.ts
  src/graphql/types/Tag/updater.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
