Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

fix: apply final code review fixes
  docs/docs/auto-docs/config/emailConfig/variables/emailConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  envFiles/.env.devcontainer
  envFiles/.env.production
  src/envConfigSchema.ts
Due: 10_check_disable_statements

fix: revert unrelated GraphQL schema changes and add SES verification note
  envFiles/.env.production
  schema.graphql
  test/graphql/types/gql.tada.d.ts
Due: 10_check_disable_statements

fix: add retry/cancel prompts to email setup on test failure
  scripts/setup/emailSetup.ts
Due: 10_check_disable_statements

test: add comprehensive tests for new email setup error handling
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: update auto-generated GraphQL schema documentation
  docs/docs/auto-schema/types/objects/agenda-category.mdx
Due: none

fix: resolve CI failures (linting + schema docs)
  docs/docs/auto-schema/types/objects/agenda-category.mdx
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address code review feedback for CI
  compose.override.yaml
  scripts/setup/emailSetup.ts
  scripts/setup/promptHelpers.ts
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: generate auto docs
  compose.override.yaml
  schema.graphql
  test/graphql/types/gql.tada.d.ts
  test/install/emailSetup.test.ts
  vitest.config.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: improve email setup flow and config based on review
  envFiles/.env.production
  scripts/setup/emailSetup.ts
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: address code review feedback
  compose.override.yaml
  scripts/setup/emailSetup.ts
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: code review - trailing spaces and test mocks
  scripts/setup/emailSetup.ts
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address second batch of maintainer feedback (devcontainer, tests, envs)
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  envFiles/.env.production
  scripts/setup/emailSetup.ts
  scripts/setup/promptHelpers.ts
  src/services/ses/EmailService.ts
  test/install/emailSetup.test.ts
  vitest.config.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: address maintainer feedback batch 3
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  envFiles/.env.devcontainer
  scripts/setup/promptHelpers.ts
  src/envConfigSchema.ts
  test/install/emailSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: regenerate auto-docs to fix CI
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
Due: none

fix: maintainer feedback batch 4 (post-create, env formatting)
  .devcontainer/post-create.sh
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
Due: none

fix: maintainer feedback batch 5 (otel quotes, post-create uid)
  .devcontainer/post-create.sh
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  src/envConfigSchema.ts
Due: 10_check_disable_statements

fix: maintainer feedback batch 6 (revert quoting, refine schema)
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatInput/variables/mutationCreateChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateOrganizationInput/variables/mutationUpdateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  src/envConfigSchema.ts
Due: 10_check_disable_statements

fix: restore API_ADMINISTRATOR_USER_EMAIL_ADDRESS to env files
  envFiles/.env.ci
  envFiles/.env.production
Due: none

fix(ci): use strictly matching admin email in env.ci
  envFiles/.env.ci
Due: none

Implement email service setup and documentation (#4362)
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  docs/docs/auto-docs/config/emailConfig/variables/emailConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAdvertisementInput/variables/mutationCreateAdvertisementInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatInput/variables/mutationCreateChatInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateOrganizationInput/variables/mutationCreateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateOrganizationInput/variables/mutationUpdateOrganizationInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/createAdvertisement/variables/mutationCreateAdvertisementArgumentsSchema.md
  docs/docs/auto-docs/services/ses/EmailService/classes/EmailService.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailConfig.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailJob.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailResult.md
  docs/docs/auto-schema/types/objects/agenda-category.mdx
  docs/docs/docs/getting-started/configuration.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  schema.graphql
  scripts/setup/emailSetup.ts
  scripts/setup/promptHelpers.ts
  scripts/setup/setup.ts
  src/config/emailConfig.ts
  src/envConfigSchema.ts
  src/services/ses/EmailService.ts
  test/graphql/types/gql.tada.d.ts
  test/install/emailSetup.test.ts
  test/services/ses/EmailService.test.ts
  vitest.config.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: extract SubscriptionConnectionData type for onConnect callback
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-schema/types/objects/agenda-category.mdx
  schema.graphql
  src/routes/graphql.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: update isPerformanceTracker to check for time and start methods
  src/utilities/metrics/performanceTracker.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: verify cache wrapping with metricsCacheProxy in createContext
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: refine performance & graphql tests (CodeRabbit feedback)
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Feat:performance graphql context integration (#4367)
  .coderabbit.yaml
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/isPerformanceTracker.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/metrics/performanceTracker.ts
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: Add test coverage for cleanupInProgress guard in restoreBackup
  scripts/setup/setup.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: Fix SIGINT handler race conditions and improve error recovery
  scripts/setup/envFileBackup/envFileBackup.ts
  scripts/setup/setup.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: Prevent SIGINT handler accumulation and improve test reliability
  scripts/setup/setup.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: update logging mocks and fix plugin manager tests
  docs/docs/auto-docs/plugin/classes/PluginManager.md
  docs/docs/auto-docs/plugin/registry/functions/destroyPluginSystem.md
  docs/docs/auto-docs/plugin/registry/functions/getPluginManagerInstance.md
  docs/docs/auto-docs/plugin/registry/functions/getPluginSystemStatus.md
  docs/docs/auto-docs/plugin/registry/functions/isPluginSystemInitialized.md
  docs/docs/auto-docs/plugin/utils/functions/clearPluginModuleCache.md
  docs/docs/auto-docs/plugin/utils/functions/createPluginTables.md
  docs/docs/auto-docs/plugin/utils/functions/dropPluginTables.md
  docs/docs/auto-docs/plugin/utils/functions/generateCreateIndexSQL.md
  docs/docs/auto-docs/plugin/utils/functions/removePluginDirectory.md
  src/graphql/schemaManager.ts
  src/plugin/manager/core.ts
  src/plugin/registry.ts
  src/plugin/utils.ts
  test/graphql/schemaManager.test.ts
  test/plugin/manager/core.test.ts
  test/plugin/manager/lifecycle.test.ts
  test/plugin/utils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: Replace mockResolvedValue with sequential mockResolvedValueOnce in SIGINT test
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: improve logger assertions in plugin registry and utils tests
  test/plugin/registry.test.ts
  test/plugin/utils.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: Improve SIGINT test isolation and promise rejection handling
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix async assertions in core plugin manager tests and update comments
  test/plugin/manager/core.test.ts
  test/plugin/utils.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: Extract duplicate polling logic into reusable waitFor helper
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Update .dockerignore
  .dockerignore
Due: none

test: Improve waitFor timeout handling and move cleanup to afterEach
  test/scripts/setup/apiSetup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: increase code coverage for plugin and schema manager modules
  test/graphql/schemaManager.test.ts
  test/plugin/manager/core.test.ts
  test/plugin/manager/lifecycle.test.ts
  test/plugin/utils.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: Address areas of attention - atomic writes, validation, and documentation
  scripts/setup/setup.ts
Due: 10_check_disable_statements
