Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

docs: document API_EMAIL_VERIFICATION_TOKEN_EXPIRES_SECONDS
  docs/docs/docs/getting-started/environment-variables.md
Due: none

refactor: security and consistency improvements
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  src/fastifyPlugins/performance.ts
  src/workers/backgroundWorkerService.ts
  test/workers/backgroundWorkerService.metrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add edge case tests for window minutes validation
  test/workers/backgroundWorkerService.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: improve test coverage and add parameterized tests
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/calculatePercentile.md
  src/workers/metrics/metricsAggregationWorker.ts
  test/fastifyPlugins/backgroundWorkers.metrics.test.ts
  test/fastifyPlugins/performance.test.ts
  test/workers/backgroundWorkerService.metrics.test.ts
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: set API_METRICS_API_KEY in perfPlugin tests
  test/plugin/perfPlugin.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: improve test quality and remove redundant tests
  test/fastifyPlugins/backgroundWorkers.metrics.test.ts
  test/fastifyPlugins/performance.metrics.test.ts
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix formating
  test/drizzle/tables/organizationMemberships/GlobalFunctions.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTable.test.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTableInsertSchema.test.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTableRelations.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: use exact values in percentile test assertions
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Code raabit reviews done
  test/drizzle/tables/organizationMemberships/organizationMembershipsTable.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

formatted
  test/drizzle/tables/organizationMemberships/organizationMembershipsTable.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: improve error handling accuracy and test coverage
  test/fastifyPlugins/errorHandler.test.ts
  test/routes/graphql.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: add metrics env vars documentation and fix test flakiness
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(observability): add DB operation tracing with traceable utility
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  src/utilities/db/traceableQuery.ts
  test/utilities/db/traceableQuery.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve test assertions for determinism and type safety
  test/fastifyPlugins/backgroundWorkers.metrics.test.ts
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve flaky test by ensuring slow-op delay exceeds threshold
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments and add tests
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-folder-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-folder-input.mdx
  docs/docs/auto-schema/types/objects/agenda-folder.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  docs/docs/auto-schema/types/objects/page-info.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

address CR comments and add tests
  schema.graphql
  src/drizzle/tables/agendaFolders.ts
  src/graphql/inputs/MutationCreateAgendaFolderInput.ts
  src/graphql/inputs/MutationUpdateAgendaFolderInput.ts
  src/graphql/types/AgendaFolder/createdAt.ts
  src/graphql/types/AgendaFolder/creator.ts
  src/graphql/types/AgendaFolder/updatedAt.ts
  src/graphql/types/AgendaFolder/updater.ts
  src/graphql/types/Query/agendaFoldersByEventId.ts
  test/graphql/inputs/MutationCreateAgendaFolderInput.test.ts
  test/graphql/inputs/MutationUpdateAgendaFolderInput.test.ts
  test/graphql/types/AgendaFolder/createdAt.test.ts
  test/graphql/types/AgendaFolder/creator.test.ts
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: made the changes requested by coderabbit and generated auto-docs
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  docs/docs/auto-docs/utilities/db/traceableQuery/functions/traceable.md
  src/utilities/db/traceableQuery.ts
  test/utilities/db/traceableQuery.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaFolders/variables/agendaFoldersTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaFolderInput/variables/mutationCreateAgendaFolderInputSchema.md
Due: none

docs: add metrics aggregation output example and explanation
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

fix: remove rootless devcontainer checks from pull request workflow
  .github/workflows/pull-request.yml
Due: none

fix: update variable formatting in environment files and remove unused network configuration
  .github/workflows/pull-request.yml
  docker/compose.rootless.devcontainer.yaml
  envFiles/.env.rootless.devcontainer
Due: none

fix: update rootless Docker scripts and environment variables for improved compatibility
  .devcontainer/rootless/post-create.sh
  .github/workflows/pull-request.yml
  docker/compose.rootless.devcontainer.yaml
  envFiles/.env.rootless.devcontainer
Due: none

Implement Docker Rootless Devcontainer Support
  .devcontainer/rootless/devcontainer.json
  .devcontainer/rootless/post-create.sh
  .github/workflows/pull-request.yml
  docker/compose.rootless.devcontainer.yaml
  envFiles/.env.rootless.devcontainer
Due: none

fix: fixed linting issues
  src/utilities/db/traceableQuery.ts
  test/utilities/db/traceableQuery.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat(tracing): added OpenTelemetry spans for GraphQL operations and DataLoader batches (#4743)
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  docs/docs/auto-docs/utilities/dataloaders/wrapBatchWithTracing/functions/wrapBatchWithTracing.md
  src/routes/graphql.ts
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  src/utilities/dataloaders/wrapBatchWithTracing.ts
  test/routes/graphql.tracing.test.ts
  test/utilities/dataloaders/wrapBatchWithTracing.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: implement metrics caching and environment configuration
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/services/metrics/metricsCache/classes/MetricsCacheService.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  docs/docs/docs/getting-started/environment-variables.md
  src/envConfigSchema.ts
  src/fastifyPlugins/performance.ts
  src/services/metrics/index.ts
  src/services/metrics/metricsCache.ts
  test/envConfigSchema.metrics.test.ts
  test/fastifyPlugins/performance.config.test.ts
  test/services/metrics/index.test.ts
  test/services/metrics/metricsCache.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/drizzle/tables/agendaFolders/variables/agendaFoldersTable.md
  docs/docs/auto-docs/drizzle/tables/agendaFolders/variables/agendaFoldersTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaFolders/variables/agendaFoldersTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaFolderInput/variables/MutationCreateAgendaFolderInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaFolderInput/variables/mutationCreateAgendaFolderInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaFolderInput/variables/MutationUpdateAgendaFolderInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaFolderInput/variables/mutationUpdateAgendaFolderInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/AgendaFolder/variables/AgendaFolder.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/createdAt/functions/resolveCreatedAt.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/creator/functions/resolveCreator.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/event/functions/resolveEvent.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/organization/functions/resolveOrganization.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/updatedAt/functions/resolveUpdatedAt.md
  docs/docs/auto-schema/operations/queries/agenda-folders-by-event-id.mdx
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-folder-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-folder-input.mdx
  docs/docs/auto-schema/types/objects/agenda-folder.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  docs/docs/auto-schema/types/objects/organization.mdx
  docs/docs/auto-schema/types/objects/page-info.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

test: fix performancePlugin test dependencies
  test/fastifyPlugins/backgroundWorkers.metrics.test.ts
  test/fastifyPlugins/performance.config.test.ts
  test/fastifyPlugins/performance.metrics.test.ts
  test/fastifyPlugins/performance.test.ts
  test/plugin/perfPlugin.test.ts
  test/services/metrics/metricsCache.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(test): extract shared test utilities and add new tests
  test/fastifyPlugins/backgroundWorkers.metrics.test.ts
  test/fastifyPlugins/performance.config.test.ts
  test/fastifyPlugins/performance.metrics.test.ts
  test/fastifyPlugins/performance.test.ts
  test/helpers/performanceTestUtils.ts
  test/plugin/perfPlugin.test.ts
  test/services/metrics/metricsCache.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Disable request_changes_workflow in coderabbit config
  .coderabbit.yaml
Due: none

Merge all file to one
  test/drizzle/tables/organizationMemberships.test.ts
  test/drizzle/tables/organizationMemberships/GlobalFunctions.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTable.test.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTableInsertSchema.test.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTableRelations.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Resolve coderabbit changes
  test/drizzle/tables/organizationMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
