Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

Add GritQL rule to detect mutations missing cache invalidation
  biome_plugins/require_cache_invalidation.grit
  test/unit/biome_plugins/require_cache_invalidation.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added-test-cases
  test/plugin/perfPlugin.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address CodeRabbit feedback for validators module
  scripts/setup/validators.ts
  test/setup/validators.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: expand seeder helper coverage for recurrence hardening
  test/unit_tests/helpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

added-test-cases
  docs/docs/auto-docs/services/metrics/metricsCacheProxy/functions/metricsCacheProxy.md
  src/services/metrics/metricsCacheProxy.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

added-test-cases
  src/services/metrics/metricsCacheProxy.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(macos-install): improve Node.js version parsing and fnm command handling
  scripts/install/macos/install-macos.sh
Due: none

added-test-cases
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed-test-cases
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: integrate performance tracker with GraphQL context (#4358)
  .coderabbit.yaml
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/metrics/performanceTracker/functions/isPerformanceTracker.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/metrics/performanceTracker.ts
  test/fastifyPlugins/performance.test.ts
  test/routes/graphql.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: replace remaining console statements with structured logging
  src/plugin/manager/core.ts
  src/plugin/manager/lifecycle.ts
  src/plugin/utils.ts
  test/graphql/schemaManager.test.ts
  test/plugin/manager/core.test.ts
  test/plugin/registry.test.ts
  test/plugin/utils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: simplify db mock
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: improve type safety for event callback implementations in schema manager tests
  test/graphql/schemaManager.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: address coderabbit feedback
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(plugin): valid double logging check and flaky test
  docs/docs/auto-docs/plugin/utils/functions/clearPluginModuleCache.md
  docs/docs/auto-docs/plugin/utils/functions/dropPluginTables.md
  docs/docs/auto-docs/plugin/utils/functions/removePluginDirectory.md
  src/plugin/utils.ts
  test/plugin/manager/core.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: Enhance Error Messages and Code Refactoring
  scripts/install/install.sh
Due: none

feat: Add version string validation to prevent command injection in installation script
  scripts/install/linux/install-linux.sh
Due: none

fix: address all coderabbit feedback
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix post Creator permissions
  docs/docs/auto-docs/graphql/types/Post/creator/functions/resolveCreator.md
  src/graphql/types/Post/creator.ts
  test/graphql/types/Post/creator.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

aded organization member access test
  test/graphql/types/Post/creator.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

implemented coderabbit suggestion
  test/graphql/types/Post/creator.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fix: Post creator is not accessible to users (#4374)
  docs/docs/auto-docs/graphql/types/Post/creator/functions/resolveCreator.md
  src/graphql/types/Post/creator.ts
  test/graphql/types/Post/creator.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Feat/metrics addition (#4361)
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/services/metrics/metricsCacheProxy/functions/metricsCacheProxy.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  src/fastifyPlugins/performance.ts
  src/graphql/context.ts
  src/routes/graphql.ts
  src/services/metrics/metricsCacheProxy.ts
  test/plugin/perfPlugin.test.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: implement email service setup and documentation (Issue #4353)
  compose.override.yaml
  docs/docs/docs/getting-started/configuration.md
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  scripts/setup/emailSetup.ts
  scripts/setup/setup.ts
  src/envConfigSchema.ts
  src/services/ses/EmailService.ts
  test/install/emailSetup.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: update EmailService test to match new error message
  test/services/ses/EmailService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: update auto-generated documentation
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/ses/EmailService/classes/EmailService.md
  docs/docs/auto-schema/types/objects/agenda-category.mdx
Due: none

fix: resolve biome formatting errors in email setup files
  schema.graphql
  scripts/setup/emailSetup.ts
  src/services/ses/EmailService.ts
  test/graphql/types/gql.tada.d.ts
  test/install/emailSetup.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: address maintainer feedback on env vars and docs
  .devcontainer/devcontainer.json
  compose.override.yaml
  docs/docs/docs/getting-started/configuration.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  scripts/setup/emailSetup.ts
  src/envConfigSchema.ts
  src/services/ses/EmailService.ts
  test/install/emailSetup.test.ts
  test/services/ses/EmailService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

chore: update auto-generated documentation
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
Due: none

fix(ci): disable OTEL in env files to prevent startup hang
  envFiles/.env.ci
  envFiles/.env.production
Due: none

test: add comprehensive tests for createChatMessage mutation (#4344)
  test/graphql/types/Mutation/createChatMessage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address code review feedback for email setup
  .devcontainer/devcontainer.json
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  src/config/emailConfig.ts
  src/services/ses/EmailService.ts
  test/install/emailSetup.test.ts
  test/services/ses/EmailService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: add trailing newline to devcontainer.json
  .devcontainer/devcontainer.json
Due: none

fix: address additional code review feedback
  .devcontainer/devcontainer.json
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  src/envConfigSchema.ts
Due: 10_check_disable_statements

fix: devcontainer postCreateCommand emits warning on chown failure
  .devcontainer/devcontainer.json
Due: none

fix: address CI linting issues
  envFiles/.env.ci
  envFiles/.env.devcontainer
  envFiles/.env.production
  src/envConfigSchema.ts
Due: 10_check_disable_statements

docs: update auto-generated documentation
  docs/docs/auto-docs/config/emailConfig/variables/emailConfig.md
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/services/ses/EmailService/classes/EmailService.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailConfig.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailJob.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailResult.md
Due: none

fix: improve type safety and consistency
  docs/docs/auto-docs/services/ses/EmailService/classes/EmailService.md
  docs/docs/auto-docs/services/ses/EmailService/interfaces/EmailConfig.md
  scripts/setup/setup.ts
  src/services/ses/EmailService.ts
  test/services/ses/EmailService.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors
