Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

docs: add Quick Start section with test and lint commands to testing-validation
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

Implement codecov flags for unit and integration tests (#4808)
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  CONTRIBUTING.md
  codecov.yml
  docs/docs/docs/developer-resources/testing/testing-validation.md
Due: none

test: add schema tests for recurringEventException
  test/unit/drizzle/tables/recurringEventExceptions.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(graphql): improve type safety and schema validation
  src/drizzle/tables/recurringEventExceptions.ts
  src/graphql/types/Advertisement/Advertisement.ts
  src/graphql/types/AgendaItem/AgendaItem.ts
  src/graphql/types/FundCampaign/FundCampaign.ts
  src/graphql/types/Organization/Organization.ts
  src/utilities/TalawaGraphQLError.ts
  src/utilities/graphqlConnection/schemas.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: update venue schema documentation files
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
Due: none

fix: Resolve missing recurring event instances in eventsByAttendee and address code quality issues
  docs/docs/auto-docs/graphql/types/Query/eventQueries/standaloneEventQueries/functions/getStandaloneEventsByIds.md
  docs/docs/auto-docs/graphql/utils/mapRecurringInstanceToEvent/functions/mapRecurringInstanceToEvent.md
  schema.graphql
  src/graphql/types/Event/Event.ts
  src/graphql/types/Query/eventQueries/standaloneEventQueries.ts
  src/graphql/types/Query/eventQueries/unifiedEventQueries.ts
  src/graphql/types/Query/eventsByAdmin.ts
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/eventsByCreator.ts
  src/graphql/types/Query/eventsByVolunteer.ts
  src/graphql/utils/mapRecurringInstanceToEvent.ts
  test/graphql/types/Query/eventsByAdmin.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: update docs
  docs/docs/auto-schema/types/objects/event.mdx
  src/graphql/types/Event/Event.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: make creatorId nullable in recurringEventExceptions schema
  docs/docs/auto-docs/drizzle/tables/recurringEventExceptions/variables/eventExceptionsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/recurringEventExceptions/variables/recurringEventExceptionsTableInsertSchema.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveMultipleInstances.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/OccurrenceCalculationConfig.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/RecurrenceContext.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/ResolveInstanceInput.md
  src/drizzle/tables/recurringEventExceptions.ts
  test/unit/drizzle/tables/recurringEventExceptions.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

update docs
  src/drizzle/tables/recurringEventExceptions.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: Improve relation and default value assertions for recurringEventExceptions table
  docs/docs/auto-docs/drizzle/tables/recurringEventExceptions/variables/eventExceptionsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/recurringEventExceptions/variables/recurringEventExceptionsTableInsertSchema.md
  test/unit/drizzle/tables/recurringEventExceptions.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(validation): update error messages and schema validations
  docs/docs/auto-docs/drizzle/tables/venues/variables/venuesTableInsertSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateVenueInput/variables/mutationCreateVenueInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateVenueInput/variables/mutationUpdateVenueInputSchema.md
  src/drizzle/tables/venues.ts
  src/graphql/types/User/orgsWhereUserIsBlocked.ts
  test/graphql/inputs/MutationCreateAdvertisementInputAttachments.test.ts
  test/graphql/types/Mutation/createChat.test.ts
  test/graphql/types/Mutation/registerForEvent.test.ts
  test/graphql/types/Mutation/unregisterForEventByUser.test.ts
  test/graphql/types/Mutation/updateEventVolunteer.test.ts
  test/graphql/types/Query/Events.test.ts
  test/graphql/types/Query/fund.test.ts
  test/graphql/types/Query/getEventInvitesByUserId.test.ts
  test/graphql/types/Query/getEventVolunteerGroups.test.ts
  test/graphql/types/Query/getVolunteerMembership.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: optimize event queries and address feedback
  docs/docs/auto-docs/graphql/types/Query/eventQueries/recurringEventInstanceQueries/functions/getRecurringEventInstancesByBaseIds.md
  src/graphql/types/Query/eventQueries/recurringEventInstanceQueries.ts
  src/graphql/types/Query/eventsByAdmin.ts
  src/graphql/types/Query/eventsByAttendee.ts
  src/graphql/types/Query/eventsByCreator.ts
  test/graphql/types/Query/eventQueries/unifiedEventQueries.test.ts
  test/graphql/types/Query/eventsByAttendee.test.ts
  test/graphql/types/Query/eventsByVolunteer.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: Add migration to drop NOT NULL constraint on creator_id in event_exceptions
  drizzle_migrations/20260117173540_stiff_roulette.sql
  drizzle_migrations/meta/20260117173540_snapshot.json
  drizzle_migrations/meta/_journal.json
  test/graphql/types/gql.tada-cache.d.ts
Due: 10_check_disable_statements

chore: migrate vitest v3 to v4
  package.json
  pnpm-lock.yaml
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Mutation/deleteChatMessage.test.ts
  test/plugin/manager/lifecycle.test.ts
  test/plugin/pluginWebhooks.test.ts
  test/routes/graphql.test.ts
  test/setup.ts
  test/utilities/pluginInstaller.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: add more test coverage/ fix TS7006
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
  test/install/logger.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: type-annotations/ add tests to ensure req(all_fields)
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
  test/install/logger.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: typo - repeated entities
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: endpoint parsing improve tests
  src/fastifyPlugins/minioClient.ts
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve failing tests in graphql, ses, and drizzle modules
  src/drizzle/tables/eventGenerationWindows.ts
  src/fastifyPlugins/drizzleClient.ts
  src/fastifyPlugins/minioClient.ts
  src/routes/graphql.ts
  test/drizzle/eventGenerationWindows.insertSchema.test.ts
  test/fastifyPlugins/drizzleClient.test.ts
  test/routes/graphql.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

added coderabbit suggestion
  test/graphql/types/Mutation/updateOrganizationMembership.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed code
  test/graphql/types/Mutation/updateOrganizationMembership.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: properly type mocks in metricsCacheProxy test for vitest v4 compatibility
  src/fastifyPlugins/drizzleClient.ts
  src/routes/graphql.ts
  test/routes/graphql.test.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: biome-format
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add Edge Test Cases (#4806)
  test/drizzle/tables/organizationMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Added test file for src/drizzle/tables/fundCampaignPledges.ts (#4810)
  test/drizzle/tables/fundCampaignPledges.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add schema tests for recurringEventExceptions (#4814)
  docs/docs/auto-docs/drizzle/tables/recurringEventExceptions/variables/eventExceptionsTableRelations.md
  docs/docs/auto-docs/drizzle/tables/recurringEventExceptions/variables/recurringEventExceptionsTableInsertSchema.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/createExceptionLookupMap.md
  docs/docs/auto-docs/services/eventGeneration/instanceResolver/functions/resolveMultipleInstances.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/OccurrenceCalculationConfig.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/RecurrenceContext.md
  docs/docs/auto-docs/services/eventGeneration/types/interfaces/ResolveInstanceInput.md
  drizzle_migrations/20260117173540_stiff_roulette.sql
  drizzle_migrations/meta/20260117173540_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/tables/recurringEventExceptions.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/unit/drizzle/tables/recurringEventExceptions.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test(drizzle): add comprehensive test coverage for chats table (#4807)
  test/drizzle/tables/chats.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: implement metrics caching and environment configuration (#4753)
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/services/metrics/metricsCache/classes/MetricsCacheService.md
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.devcontainer
  envFiles/.env.production
  scripts/setup/setup.ts
  scripts/setup/validators.ts
  src/envConfigSchema.ts
  src/fastifyPlugins/performance.ts
  src/services/metrics/index.ts
  src/services/metrics/metricsCache.ts
  test/envConfigSchema.metrics.test.ts
  test/fastifyPlugins/backgroundWorkers.metrics.test.ts
  test/fastifyPlugins/performance.config.test.ts
  test/fastifyPlugins/performance.metrics.test.ts
  test/fastifyPlugins/performance.test.ts
  test/helpers/performanceTestUtils.test.ts
  test/helpers/performanceTestUtils.ts
  test/plugin/perfPlugin.test.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/setup.test.ts
  test/services/metrics/index.test.ts
  test/services/metrics/metricsCache.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Update agenda item db table and add a table for urls
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItemUrls/variables/agendaItemUrlTableRelations.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/AGENDA_ITEM_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTable.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaItems/variables/agendaItemsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/MutationCreateAgendaItemInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaItemInput/variables/mutationCreateAgendaItemInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaItem/AgendaItem/variables/AgendaItem.md
  docs/docs/auto-docs/graphql/types/AgendaItem/updater/functions/resolveUpdater.md
  drizzle_migrations/20260115233050_third_leopardon.sql
  drizzle_migrations/meta/20260115233050_snapshot.json
  src/drizzle/schema.ts
  src/drizzle/tables/agendaItemUrls.ts
  src/drizzle/tables/agendaItems.ts
  src/graphql/inputs/MutationCreateAgendaItemInput.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/Query/agendaItem.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/graphql/types/AgendaItem/event/functions/resolveEvent.md
  docs/docs/auto-docs/graphql/types/AgendaItem/url/functions/resolveUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachment/AgendaItemAttachment/type-aliases/AgendaItemAttachment.md
  docs/docs/auto-docs/graphql/types/AgendaItemAttachment/AgendaItemAttachment/variables/AgendaItemAttachment.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/type-aliases/AgendaItemUrl.md
  docs/docs/auto-docs/graphql/types/AgendaItemUrl/AgendaItemUrl/variables/AgendaItemUrl.md
Due: none

fix format
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/url.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments
  src/drizzle/tables/agendaItemUrls.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix failing test
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/Query/agendaCategoriesByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR suggestions
  docs/docs/auto-docs/graphql/types/AgendaItem/agendaCategory/functions/resolveCategory.md
  docs/docs/auto-docs/graphql/types/AgendaItem/url/functions/resolveUrl.md
  docs/docs/auto-schema/types/objects/agenda-item-attachment.mdx
  docs/docs/auto-schema/types/objects/agenda-item.mdx
  schema.graphql
  src/graphql/types/AgendaItem/agendaCategory.ts
  src/graphql/types/AgendaItem/createdAt.ts
  src/graphql/types/AgendaItem/creator.ts
  src/graphql/types/AgendaItem/updatedAt.ts
  src/graphql/types/AgendaItem/updater.ts
  src/graphql/types/AgendaItem/url.ts
  src/graphql/types/AgendaItemAttachment/AgendaItemAttachment.ts
  test/graphql/inputs/MutationCreateAgendaItemInput.test.ts
  test/graphql/types/AgendaItem/agendaCategory.test.ts
  test/graphql/types/AgendaItem/event.test.ts
  test/graphql/types/AgendaItem/updatedAt.test.ts
  test/graphql/types/AgendaItem/updater.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
