Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fixes: Add Prerequisite Validation Before Operations
  install.sh
Due: none

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: none

test(plugin): add coverage tests for warning logs and docker lifecycle info logs
  test/plugin/manager/lifecycle.test.ts
  test/plugin/utils.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(install): Add comprehensive error handling for fnm operations in macOS installer (#4718)
  scripts/install/macos/install-macos.sh
Due: none

fixes: Add Prerequisite Validation Before Operations
  scripts/install/linux/install-linux.sh
Due: none

fix: address final code review feedback
  docs/docs/auto-docs/utilities/emailVerificationTokenUtils/functions/markEmailVerificationTokenAsUsed.md
  docs/docs/auto-docs/utilities/emailVerificationTokenUtils/functions/revokeAllUserEmailVerificationTokens.md
  src/graphql/types/Mutation/sendVerificationEmail.ts
  src/graphql/types/Mutation/signUp.ts
  src/graphql/types/Mutation/verifyEmail.ts
  src/utilities/emailVerificationTokenUtils.ts
  src/utilities/maskEmail.ts
  test/utilities/emailVerificationRateLimit.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

debug: add error logging to updateTag test for CI debugging
  src/services/email/providers/SMTPProvider.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(test): use unique organization names in updateTag test to prevent flake
  test/graphql/types/Mutation/updateTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: regenerate documentation
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
Due: none

test: add integration tests for email verification and fix updateTag test
  test/graphql/types/Mutation/sendVerificationEmail.test.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
  test/graphql/types/documentNodes.ts
  test/utilities/maskEmail.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(tracing): added OpenTelemetry spans for GraphQL operations and DataLoader batches
  src/routes/graphql.ts
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  src/utilities/dataloaders/wrapBatchWithTracing.ts
  test/routes/graphql.tracing.test.ts
  test/utilities/dataloaders/wrapBatchWithTracing.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(test): make performanceTracker tests deterministic with fake timers
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Write test case for all three operations
  test/drizzle/tables/organizationMemberships/GlobalFunctions.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTable.test.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTableInsertSchema.test.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTableRelations.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(plugin): add error path tests for 100% coverage in core.ts and lifecycle.ts
  test/plugin/manager/core.test.ts
  test/plugin/manager/lifecycle.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(plugin): add coverage tests for error paths and primitives
  test/plugin/utils.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(plugin): add comment to fragile test and remove duplicate primitives test
  test/plugin/utils.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: resolve lint and type errors in tests
  test/graphql/types/Mutation/sendVerificationEmail.test.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/utilities/maskEmail.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add Changes suggest by codeRabbit
  test/drizzle/tables/organizationMemberships/GlobalFunctions.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTable.test.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTableInsertSchema.test.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTableRelations.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

last codeRabbit issue fix
  test/drizzle/tables/organizationMemberships.test.ts
  test/drizzle/tables/organizationMemberships/organizationMembershipsTableInsertSchema.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(install): prevent script from being sourced
  scripts/install/install.sh
Due: none

fix: resolve flaky timeout in SMTPProvider test
  test/services/email/SMTPProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add test for case-sensitive
  test/drizzle/tables/organizationMemberships/organizationMembershipsTableInsertSchema.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: robust PerformanceTracker test thresholds
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: fix formatting in performanceTracker tests
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix flaky timing assertion in dataloader metrics test
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: improve metrics aggregation implementation and tests
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/fastifyPlugins/backgroundWorkers/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/startBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/runMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/AggregatedMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/CacheMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/OperationMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/TimeSeriesMetrics.md
  src/envConfigSchema.ts
  src/fastifyPlugins/backgroundWorkers.ts
  src/fastifyPlugins/performance.ts
  src/workers/backgroundWorkerService.ts
  src/workers/index.ts
  src/workers/metrics/metricsAggregationWorker.ts
  src/workers/metrics/types.ts
  test/envConfigSchema.metrics.test.ts
  test/fastifyPlugins/backgroundWorkers.metrics.test.ts
  test/fastifyPlugins/performance.metrics.test.ts
  test/workers/backgroundWorkerService.metrics.test.ts
  test/workers/metrics/metricsAggregationWorker.test.ts
  test/workers/metrics/types.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

refactor: improve metrics aggregation implementation and tests
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/fastifyPlugins/backgroundWorkers/variables/default.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/startBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/runMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/AggregatedMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/CacheMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/OperationMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/TimeSeriesMetrics.md
  src/fastifyPlugins/performance.ts
  src/workers/backgroundWorkerService.ts
  src/workers/metrics/metricsAggregationWorker.ts
  src/workers/metrics/types.ts
  test/envConfigSchema.metrics.test.ts
  test/fastifyPlugins/backgroundWorkers.metrics.test.ts
  test/fastifyPlugins/performance.metrics.test.ts
  test/workers/backgroundWorkerService.metrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

update agenda folder table, gql mutation and mutation input schema
  drizzle_migrations/20260113124039_living_patriot.sql
  drizzle_migrations/meta/20260113124039_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/tables/agendaFolders.ts
  src/graphql/inputs/MutationCreateAgendaFolderInput.ts
  src/graphql/inputs/MutationUpdateAgendaFolderInput.ts
  src/graphql/types/AgendaFolder/AgendaFolder.ts
  src/graphql/types/AgendaFolder/childFolders.ts
  src/graphql/types/AgendaFolder/createdAt.ts
  src/graphql/types/AgendaFolder/creator.ts
  src/graphql/types/AgendaFolder/event.ts
  src/graphql/types/AgendaFolder/index.ts
  src/graphql/types/AgendaFolder/items.ts
  src/graphql/types/AgendaFolder/organization.ts
  src/graphql/types/AgendaFolder/parentFolder.ts
  src/graphql/types/AgendaItem/createdAt.ts
  src/graphql/types/AgendaItem/creator.ts
  src/graphql/types/AgendaItem/updatedAt.ts
  src/graphql/types/AgendaItem/updater.ts
  src/graphql/types/Mutation/createAgendaFolder.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Mutation/deleteAgendaFolder.ts
  src/graphql/types/Mutation/deleteAgendaItem.ts
  src/graphql/types/Mutation/updateAgendaFolder.ts
  src/graphql/types/Mutation/updateAgendaItem.ts
  test/graphql/types/AgendaFolder/childFolders.test.ts
  test/graphql/types/AgendaItem/createdAt.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs, address CR comments and Add test
  docs/docs/auto-docs/drizzle/tables/agendaFolders/variables/agendaFoldersTable.md
  docs/docs/auto-docs/drizzle/tables/agendaFolders/variables/agendaFoldersTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/agendaFolders/variables/agendaFoldersTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaFolderInput/variables/MutationCreateAgendaFolderInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaFolderInput/variables/mutationCreateAgendaFolderInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaFolderInput/variables/MutationUpdateAgendaFolderInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaFolderInput/variables/mutationUpdateAgendaFolderInputSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/AgendaFolder/variables/AgendaFolder.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/createdAt/functions/resolveCreatedAt.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/creator/functions/resolveCreator.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/event/functions/resolveEvent.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/functions/resolveItems.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/organization/functions/resolveOrganization.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/updatedAt/functions/resolveUpdatedAt.md
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-folder-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-folder-input.mdx
  docs/docs/auto-schema/types/objects/agenda-folder.mdx
  docs/docs/auto-schema/types/objects/organization.mdx
  docs/docs/auto-schema/types/objects/page-info.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaFolderInput.ts
  src/graphql/types/AgendaFolder/createdAt.ts
  src/graphql/types/AgendaFolder/index.ts
  src/graphql/types/AgendaFolder/organization.ts
  src/graphql/types/Event/agendaFolders.ts
  src/graphql/types/Mutation/createAgendaFolder.ts
  src/graphql/types/Query/agendaItem.ts
  test/graphql/types/AgendaFolder/createdAt.test.ts
  test/graphql/types/AgendaFolder/creator.test.ts
  test/graphql/types/AgendaFolder/event.test.ts
  test/graphql/types/AgendaFolder/items.test.ts
  test/graphql/types/AgendaFolder/organization.test.ts
  test/graphql/types/AgendaFolder/updatedAt.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix type errors
  .devcontainer/devcontainer.json
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix doc related failing tests
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add query to fetch folders and address CR comments
  docs/docs/auto-schema/operations/queries/agenda-folders-by-event-id.mdx
  docs/docs/auto-schema/types/objects/agenda-folder.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  schema.graphql
  src/graphql/types/Query/agendaFoldersByEventId.ts
  src/graphql/types/Query/index.ts
  test/graphql/types/documentNodes.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR comments, fix failing tests
  .devcontainer/devcontainer.json
  src/createServer.ts
  src/graphql/types/AgendaFolder/createdAt.ts
  src/graphql/types/AgendaFolder/organization.ts
  src/graphql/types/Event/agendaFolders.ts
  src/graphql/types/Query/agendaFoldersByEventId.ts
  test/graphql/inputs/MutationCreateAgendaFolderInput.test.ts
  test/graphql/inputs/MutationDeleteAgendaFolderInput.test.ts
  test/graphql/inputs/MutationUpdateAgendaFolderInput.test.ts
  test/graphql/types/AgendaFolder/createdAt.test.ts
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
  test/graphql/types/Query/agendaItem.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix doc related failing test and type error
  docs/docs/auto-docs/graphql/types/AgendaFolder/createdAt/functions/resolveCreatedAt.md
  test/graphql/types/AgendaItem/createdAt.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

revert unrelated changes
  src/createServer.ts
Due: 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
