Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix: replace remaining Query_Fund_Organization references with Query_fundWithFullOrg
  test/graphql/types/Fund/organization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(validation): improve validation functions and error handling
  scripts/setup/setup.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(setup): convert fs operations to async
  scripts/setup/setup.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(setup): refactor code structure for improved readability and maintainability
  scripts/setup/setup.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(setup): enhance SetupAnswers type for dynamic indexing support
  scripts/setup/setup.ts
Due: 10_check_disable_statements

fix: make slow operations test deterministic
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: remove trailing whitespace in performanceTracker test
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Update issue-assigned.yml
  .github/workflows/issue-assigned.yml
Due: none

Update issue-unassigned.yml
  .github/workflows/issue-unassigned.yml
Due: none

Update issue.yml
  .github/workflows/issue.yml
Due: none

Update auto-assign.yml
  .github/workflows/auto-assign.yml
Due: none

Updated to use remote .github actions 1768013255
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
Due: none

Updated to use remote .github actions 1768013255 (#4336)
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
Due: none

Setup2Fix - Convert File Operations to Async (#4335)
  scripts/setup/setup.ts
  scripts/setup/updateEnvVariable.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: corrected glob pattern
  scripts/install/install.sh
Due: none

fix: better glob pattern
  scripts/install/install.sh
Due: none

fix: MSYS/Cygwin return function
  scripts/install/install.sh
Due: none

fix(macos-install): enhance Node.js and pnpm version parsing with validation
  scripts/install/macos/install-macos.sh
Due: none

fix errors and address coderabbit review comments
  drizzle_migrations/20260110064617_clean_ma_gnuci.sql
  drizzle_migrations/meta/20260110064617_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/tables/agendaCategories.ts
  src/drizzle/tables/agendaFolders.ts
  src/drizzle/tables/agendaItemUrls.ts
  src/drizzle/tables/agendaItems.ts
  src/graphql/inputs/MutationCreateAgendaCategory.ts
  src/graphql/types/AgendaCategories/AgendaCategories.ts
  src/graphql/types/AgendaItem/attachment.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/createAgendaFolder.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
  src/graphql/types/Query/agendaCategoryByEvent.ts
  src/graphql/types/Query/agendaFolderByEvent.ts
  src/graphql/types/Query/agendaFolderByOrg.ts
  src/graphql/types/Query/index.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address coderabbit review comments
  drizzle_migrations/20260110072136_lucky_arclight.sql
  drizzle_migrations/meta/20260110072136_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/tables/agendaCategories.ts
  src/drizzle/tables/agendaFolders.ts
  src/drizzle/tables/agendaItemUrls.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Query/agendaCategoryByEvent.ts
  src/graphql/types/Query/index.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix format
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Query/agendaCategoryByEvent.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address coderabbit review comments
  src/drizzle/tables/agendaItemUrls.ts
  src/graphql/types/Mutation/createAgendaItem.ts
  src/graphql/types/Query/agendaCategoryByEvent.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Upadted delay to exponential from linear
  scripts/install/linux/install-linux.sh
Due: none

added if statements when retrying the npm install -g pnmp
  scripts/install/linux/install-linux.sh
Due: none

fix: skip-prereqs flag
  scripts/install/install.sh
Due: none

added cleanup for fnm and docker also changed retry_command as per coderabbit
  scripts/install/linux/install-linux.sh
Due: none

fix(macos-install): improve Node.js and pnpm version parsing robustness
  scripts/install/macos/install-macos.sh
Due: none

feat: standardize logging foundation and infrastructure
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/fastifyPlugins/emailQueue/variables/default.md
  docs/docs/auto-docs/graphql/context/type-aliases/CurrentClient.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitAuthenticationTokenPayload.md
  docs/docs/auto-docs/graphql/context/type-aliases/ExplicitGraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/GraphQLContext.md
  docs/docs/auto-docs/graphql/context/type-aliases/ImplicitMercuriusContext.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateCurrentUserInput/variables/mutationUpdateCurrentUserInputSchema.md
  docs/docs/auto-docs/graphql/types/Mutation/updateCurrentUser/variables/mutationUpdateCurrentUserArgumentsSchema.md
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/leakyBucket/functions/default.md
  docs/docs/auto-docs/utilities/logging/logger/functions/withFields.md
  docs/docs/auto-docs/utilities/logging/logger/type-aliases/AppLogger.md
  docs/docs/auto-docs/utilities/logging/logger/variables/loggerOptions.md
  docs/docs/auto-schema/operations/mutations/delete-chat.mdx
  docs/docs/auto-schema/types/inputs/get-posts-by-org-input.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  docs/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  schema.graphql
  src/createServer.ts
  src/fastifyPlugins/emailQueue.ts
  src/graphql/context.ts
  src/routes/graphql.ts
  src/utilities/leakyBucket.ts
  src/utilities/logging/logger.ts
  test/graphql/types/Mutation/updateChat.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/routes/graphql.test.ts
  test/services/ses/EmailQueueProcessor.test.ts
  test/utilities/logging.test.ts
  test/utilities/mockLogger.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

made changes for docker_installer and fnm_installer as per coderabbit and remove extra fi
  scripts/install/linux/install-linux.sh
Due: none

feat: add AtomicEnvWriter for atomic .env file operations with backup and cleanup
  scripts/setup/AtomicEnvWriter.ts
  test/scripts/setup/AtomicEnvWriter.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: add coverage for logger and emailQueue
  test/fastifyPlugins/emailQueue.test.ts
  test/utilities/logger.coverage.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: extract prompt helpers to dedicated module
  scripts/setup/promptHelpers.ts
  scripts/setup/setup.ts
Due: 10_check_disable_statements

refactor: rename cleanupBackup to _cleanupBackup for consistency
  scripts/setup/AtomicEnvWriter.ts
Due: 10_check_disable_statements

style: improve type safety and fix biome formatting
  scripts/setup/promptHelpers.ts
  scripts/setup/setup.ts
Due: 10_check_disable_statements

test: refactor coverage tests to use integration style and fix types
  docs/docs/auto-docs/utilities/logging/logger/variables/rootLogger.md
  src/utilities/logging/logger.ts
  test/fastifyPlugins/emailQueue.test.ts
  test/graphql/types/gql.tada.d.ts
  test/utilities/logger.coverage.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add comprehensive tests for promptHelpers module
  scripts/setup/promptHelpers.ts
  test/scripts/setup/promptHelpers.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
