Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

Test/improve blockuser coverage (#4054)
  test/graphql/types/Mutation/blockUser.test.ts
Due: 9_check_mock_isolation

test: add full coverage for deleteOrganization mutation
  test/graphql/types/Mutation/deleteOrganization.test.ts
Due: 9_check_mock_isolation

fixed-test
  test/createServer.correlationId.test.ts
Due: none

fixed-test
  src/fastifyPlugins/errorHandler.ts
Due: check_gql_tada, fix_code_quality, check_type_errors

fixed-test
  docs/docs/auto-docs/fastifyPlugins/errorHandler/variables/default.md
Due: none

introduced centralised GHA
  .github/workflows/pull-request.yml
Due: none

feat: Add `CACHE_ENTITY_TTLS` environment variable to configure entity cache TTLs with updated schema and documentation.
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/docs/getting-started/environment-variables.md
  envFiles/.env.devcontainer
  src/envConfigSchema.ts
Due: none

feat: Add JSON format validation and enhanced documentation for `CACHE_ENTITY_TTLS`.
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  src/envConfigSchema.ts
Due: none

docs: simplify JSDoc `@see` reference format.
  src/envConfigSchema.ts
Due: none

feat: Update JSON format validator to specifically validate for non-null objects.
  src/envConfigSchema.ts
Due: none

test: add test file for deleteAgendaFolder.ts (#4167)
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
Due: 9_check_mock_isolation

test: add full coverage for deleteOrganization mutation (#4172)
  test/graphql/types/Mutation/deleteOrganization.test.ts
Due: 9_check_mock_isolation

modified docs cmd
  lefthook.yaml
  package.json
Due: none

feat: integrate Python validation scripts into lefthook pre-commit hooks
  docs/docs/docs/getting-started/installation.md
  lefthook.yaml
Due: none

Add test files for commentCount.ts
  test/graphql/types/Post/commentsCount.test.ts
Due: 9_check_mock_isolation

test: Added tests for Mutation/updateFund.ts
  docs/docs/auto-schema/types/objects/tag.mdx
  schema.graphql
  test/graphql/types/Mutation/updateFund.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation

applied codeRabbit suggestions
  test/graphql/types/Post/commentsCount.test.ts
Due: 9_check_mock_isolation

Fix code format
  test/graphql/types/Post/commentsCount.test.ts
Due: 9_check_mock_isolation

Applied codeRabbit suggestions
  test/graphql/types/Post/commentsCount.test.ts
Due: 9_check_mock_isolation

test: Added tests for Mutation/updateFund.ts
  test/graphql/types/Mutation/updateFund.test.ts
Due: 9_check_mock_isolation

test: add unit tests for Organization.tagFolders
  src/graphql/types/Organization/__tests__/tagFolders.test.ts
Due: check_gql_tada, fix_code_quality, check_type_errors

fix: updated tests
  test/graphql/types/Mutation/updateFund.test.ts
Due: 9_check_mock_isolation

fix: reslover issue
  src/graphql/types/Mutation/updateFund.ts
  test/graphql/types/Mutation/updateFund.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

test: add unit test for Organization.tagFolders resolver
  test/graphql/types/Organization/tagFolders.test.ts
Due: 9_check_mock_isolation

chore: remove misplaced Organization.tagFolders test
  src/graphql/types/Organization/__tests__/tagFolders.test.ts
Due: check_gql_tada, fix_code_quality, check_type_errors

test: improve coverage for Organization.tagFolders resolver
  test/graphql/types/Organization/tagFolders.test.ts
Due: 9_check_mock_isolation

Added commented `CACHE_ENTITY_TTLS for consistency
  envFiles/.env.ci
  envFiles/.env.deploy
  envFiles/.env.production
Due: none

improve better error messages
  lefthook.yaml
Due: none

refactor: modularize recurringEventHelpers utilities
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/applyRecurrenceOverrides.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/calculateCompletionDateFromCount.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/calculateInstancesPerMonth.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/estimateInstanceCount.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/normalizeRecurrenceRule.md
  docs/docs/auto-docs/utilities/recurringEvent/formatting/functions/buildRRuleString.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/getEventType.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/isCountBasedEvent.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/isEndDateBasedEvent.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/isNeverEndingEvent.md
  docs/docs/auto-docs/utilities/recurringEvent/validation/functions/validateRecurrenceInput.md
  docs/docs/auto-docs/utilities/recurringEvent/validation/functions/validateRecurrenceRule.md
  schema.graphql
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  src/services/eventGeneration/eventGeneration.ts
  src/utilities/recurringEvent/calculation.ts
  src/utilities/recurringEvent/formatting.ts
  src/utilities/recurringEvent/index.ts
  src/utilities/recurringEvent/types.ts
  src/utilities/recurringEvent/validation.ts
  src/utilities/recurringEventHelpers.ts
  src/workers/eventGeneration/jobDiscovery.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/utilities/recurringEventHelpers.test.ts
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

refactor: modularize recurringEventHelpers utilities
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/applyRecurrenceOverrides.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/calculateCompletionDateFromCount.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/calculateInstancesPerMonth.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/estimateInstanceCount.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/normalizeRecurrenceRule.md
  docs/docs/auto-docs/utilities/recurringEvent/formatting/functions/buildRRuleString.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/getEventType.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/isCountBasedEvent.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/isEndDateBasedEvent.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/isNeverEndingEvent.md
  docs/docs/auto-docs/utilities/recurringEvent/validation/functions/validateRecurrenceInput.md
  docs/docs/auto-docs/utilities/recurringEvent/validation/functions/validateRecurrenceRule.md
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  src/services/eventGeneration/eventGeneration.ts
  src/utilities/recurringEvent/calculation.ts
  src/utilities/recurringEvent/formatting.ts
  src/utilities/recurringEvent/index.ts
  src/utilities/recurringEvent/types.ts
  src/utilities/recurringEvent/validation.ts
  src/utilities/recurringEventHelpers.ts
  src/workers/eventGeneration/jobDiscovery.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/utilities/recurringEventHelpers.test.ts
  test/workers/eventGeneration/jobDiscovery.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

docs: clarify JSDoc, add interval validation, and fix byDay validation
  src/utilities/recurringEvent/formatting.ts
  src/utilities/recurringEvent/types.ts
  src/utilities/recurringEvent/validation.ts
Due: check_gql_tada, fix_code_quality, check_type_errors

docs: regenerate TypeDoc documentation for modular structure
  docs/docs/auto-docs/utilities/recurringEvent/formatting/functions/buildRRuleString.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/getEventType.md
  docs/docs/auto-docs/utilities/recurringEvent/types/functions/isEndDateBasedEvent.md
  docs/docs/auto-docs/utilities/recurringEvent/validation/functions/validateRecurrenceRule.md
Due: none

fix: add interval validation and count=0 test case
  src/utilities/recurringEvent/calculation.ts
  test/utilities/recurringEventHelpers.test.ts
Due: 9_check_mock_isolation, check_gql_tada, fix_code_quality, check_type_errors

fix(test): relax timing assertions in performanceTracker.test.ts to prevent flake
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation

fix: add interval validation and achieve near 100% test coverage
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/applyRecurrenceOverrides.md
  docs/docs/auto-docs/utilities/recurringEvent/calculation/functions/normalizeRecurrenceRule.md
  test/utilities/recurringEventHelpers.test.ts
Due: 9_check_mock_isolation

test: achieve 99% coverage with comprehensive edge case tests
  test/utilities/recurringEventHelpers.test.ts
Due: 9_check_mock_isolation

test: achieve perfect 100% statement coverage on all files
  test/utilities/recurringEventHelpers.test.ts
Due: 9_check_mock_isolation

fix: reduce timing threshold in flaky performanceTracker test
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation

Path conditions:
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
