Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

coderabbit suggestions
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/recurrence_rules.json
  src/graphql/types/Organization/events.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Recurring sample data with fixed instances (#5316)
  scripts/dbManagement/addSampleData.ts
  scripts/dbManagement/helpers.ts
  scripts/dbManagement/sample_data/recurrence_rules.json
  scripts/dbManagement/sample_data/recurring_event_templates.json
  src/graphql/types/Organization/events.ts
  test/scripts/dbManagement/helpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(events): support all-day events using startDate/endDate (#5315)
  docs/docs/auto-docs/drizzle/tables/events/functions/validateEventConsistency.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_LOCATION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/baseEventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTable.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateEventInput/variables/MutationCreateEventInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateEventInput/variables/mutationCreateEventInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAdvertisementInput/variables/MutationUpdateAdvertisementInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateEventInput.schema/variables/mutationUpdateEventInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateEventInput/variables/MutationUpdateEventInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateFundCampaignInput/variables/MutationUpdateFundCampaignInput.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/utilities/recurringEvent/formatting/functions/buildRRuleString.md
  src/drizzle/tables/events.ts
  src/graphql/inputs/MutationCreateAdvertisementInput.ts
  src/graphql/inputs/MutationCreateEventInput.ts
  src/graphql/inputs/MutationCreateFundCampaignInput.ts
  src/graphql/inputs/MutationUpdateAdvertisementInput.ts
  src/graphql/inputs/MutationUpdateEventInput.schema.ts
  src/graphql/inputs/MutationUpdateEventInput.ts
  src/graphql/inputs/MutationUpdateFundCampaignInput.ts
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  src/utilities/recurringEvent/formatting.ts
  test/graphql/inputs/MutationUpdateEventInput.test.ts
  test/graphql/inputs/MutationUpdateFundCampaignInput.test.ts
  test/graphql/types/Mutation/ReadNotification.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
  test/graphql/types/documentNodes.ts
  test/unit/drizzle/tables/events.test.ts
  test/utilities/recurringEventHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Revert "fix(events): support all-day events using startDate/endDate (#5315)"
  docs/docs/auto-docs/drizzle/tables/events/functions/validateEventConsistency.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_LOCATION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/baseEventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTable.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateEventInput/variables/MutationCreateEventInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateEventInput/variables/mutationCreateEventInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAdvertisementInput/variables/MutationUpdateAdvertisementInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateEventInput/variables/MutationUpdateEventInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateEventInput/variables/mutationUpdateEventInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateFundCampaignInput/variables/MutationUpdateFundCampaignInput.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/utilities/recurringEvent/formatting/functions/buildRRuleString.md
  src/drizzle/tables/events.ts
  src/graphql/inputs/MutationCreateAdvertisementInput.ts
  src/graphql/inputs/MutationCreateEventInput.ts
  src/graphql/inputs/MutationCreateFundCampaignInput.ts
  src/graphql/inputs/MutationUpdateAdvertisementInput.ts
  src/graphql/inputs/MutationUpdateEventInput.schema.ts
  src/graphql/inputs/MutationUpdateEventInput.ts
  src/graphql/inputs/MutationUpdateFundCampaignInput.ts
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  src/utilities/recurringEvent/formatting.ts
  test/graphql/inputs/MutationUpdateEventInput.test.ts
  test/graphql/inputs/MutationUpdateFundCampaignInput.test.ts
  test/graphql/types/Mutation/ReadNotification.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
  test/graphql/types/documentNodes.ts
  test/unit/drizzle/tables/events.test.ts
  test/utilities/recurringEventHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Revert "fix(events): support all-day events using startDate/endDate (#5315)" (#5318)
  docs/docs/auto-docs/drizzle/tables/events/functions/validateEventConsistency.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_DESCRIPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_LOCATION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/EVENT_NAME_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/events/variables/baseEventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTable.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/events/variables/eventsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateEventInput/variables/MutationCreateEventInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateEventInput/variables/mutationCreateEventInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAdvertisementInput/variables/MutationUpdateAdvertisementInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateEventInput/variables/MutationUpdateEventInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateEventInput/variables/mutationUpdateEventInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateFundCampaignInput/variables/MutationUpdateFundCampaignInput.md
  docs/docs/auto-docs/graphql/types/Mutation/createEvent/variables/mutationCreateEventArgumentsSchema.md
  docs/docs/auto-docs/utilities/recurringEvent/formatting/functions/buildRRuleString.md
  src/drizzle/tables/events.ts
  src/graphql/inputs/MutationCreateAdvertisementInput.ts
  src/graphql/inputs/MutationCreateEventInput.ts
  src/graphql/inputs/MutationCreateFundCampaignInput.ts
  src/graphql/inputs/MutationUpdateAdvertisementInput.ts
  src/graphql/inputs/MutationUpdateEventInput.schema.ts
  src/graphql/inputs/MutationUpdateEventInput.ts
  src/graphql/inputs/MutationUpdateFundCampaignInput.ts
  src/graphql/types/Mutation/createEvent.ts
  src/graphql/types/Mutation/updateStandaloneEvent.ts
  src/graphql/types/Mutation/updateThisAndFollowingEvents.ts
  src/utilities/recurringEvent/formatting.ts
  test/graphql/inputs/MutationUpdateEventInput.test.ts
  test/graphql/inputs/MutationUpdateFundCampaignInput.test.ts
  test/graphql/types/Mutation/ReadNotification.test.ts
  test/graphql/types/Mutation/createEvent.test.ts
  test/graphql/types/Mutation/updateStandaloneEvent.test.ts
  test/graphql/types/documentNodes.ts
  test/unit/drizzle/tables/events.test.ts
  test/utilities/recurringEventHelpers.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fixed toast message
  docs/docs/auto-docs/services/auth/authService/type-aliases/SignInResult.md
  docs/docs/auto-docs/utilities/errors/errorCodes/enumerations/ErrorCode.md
  docs/docs/auto-docs/utilities/errors/errorCodes/type-aliases/StandardErrorPayload.md
  docs/docs/auto-docs/utilities/errors/errorCodes/variables/ERROR_CODE_TO_HTTP_STATUS.md
  src/graphql/types/Query/signIn.ts
  src/services/auth/authService.ts
  src/utilities/errors/errorCodes.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test-fixes
  test/utilities/errors/errorCodes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test-fixes
  test/services/auth/authService.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test-fixes
  .devcontainer/validate-setup.sh
Due: none

cr suggestions
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/InvalidCredentialsExtensions.md
  src/routes/auth.ts
  src/utilities/TalawaGraphQLError.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test-files-updated
  test/graphql/types/Query/signIn.test.ts
  test/utilities/TalawaGraphQLError.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test-files-updated
  test/graphql/types/Query/signIn.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test-files-updated
  test/unit/routes/auth/auth.routes.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed toast message (#5319)
  docs/docs/auto-docs/services/auth/authService/type-aliases/SignInResult.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/InvalidCredentialsExtensions.md
  docs/docs/auto-docs/utilities/errors/errorCodes/enumerations/ErrorCode.md
  docs/docs/auto-docs/utilities/errors/errorCodes/type-aliases/StandardErrorPayload.md
  docs/docs/auto-docs/utilities/errors/errorCodes/variables/ERROR_CODE_TO_HTTP_STATUS.md
  src/graphql/types/Query/signIn.ts
  src/routes/auth.ts
  src/services/auth/authService.ts
  src/utilities/TalawaGraphQLError.ts
  src/utilities/errors/errorCodes.ts
  test/graphql/types/Query/signIn.test.ts
  test/services/auth/authService.test.ts
  test/unit/routes/auth/auth.routes.test.ts
  test/utilities/TalawaGraphQLError.test.ts
  test/utilities/errors/errorCodes.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

.
  schema.graphql
  src/graphql/types/Organization/events.ts
  test/graphql/types/Organization/events.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

.
  docs/docs/auto-schema/types/objects/event.mdx
  docs/docs/auto-schema/types/objects/organization-event-preview-day.mdx
  docs/docs/auto-schema/types/objects/organization.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

code rabbit suggestions
  src/graphql/types/Organization/events.ts
  test/graphql/types/Organization/events.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

code rabbit suggestions
  test/graphql/types/Organization/events.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Add Organization Events Preview Resolver and onlyStartOnDay Filtering for Events Connection (#5322)
  docs/docs/auto-schema/types/objects/event.mdx
  docs/docs/auto-schema/types/objects/organization-event-preview-day.mdx
  docs/docs/auto-schema/types/objects/organization.mdx
  docs/docs/auto-schema/types/scalars/boolean.mdx
  docs/docs/auto-schema/types/scalars/int.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/types/Organization/events.ts
  test/graphql/types/Organization/events.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: generate docs
  docs/docs/auto-docs/drizzle/tables/families/variables/familiesTable.md
  docs/docs/auto-docs/drizzle/tables/families/variables/familiesTableRelations.md
  docs/docs/auto-docs/drizzle/tables/familyMemberships/variables/familyMembershipsTable.md
  docs/docs/auto-docs/drizzle/tables/familyMemberships/variables/familyMembershipsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/familyMemberships/variables/familyMembershipsTableRelations.md
  docs/docs/auto-docs/graphql/enums/FamilyMembershipRole/variables/FamilyMembershipRole.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateFamilyInput/variables/MutationCreateFamilyInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateFamilyInput/variables/mutationCreateFamilyInputSchema.md
  docs/docs/auto-schema/types/enums/family-membership-role.mdx
  docs/docs/auto-schema/types/inputs/mutation-create-family-input.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
Due: none

fix id type from string to uuid and fix test
  src/graphql/inputs/MutationCreateFamilyInput.ts
  test/drizzle/tables/familyMemberships.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix type error and update input schema
  docs/docs/auto-docs/graphql/inputs/MutationCreateFamilyInput/variables/MutationCreateFamilyInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateFamilyInput/variables/mutationCreateFamilyInputSchema.md
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  docs/docs/auto-schema/types/enums/family-membership-role.mdx
  docs/docs/auto-schema/types/inputs/family-member-input.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  schema.graphql
  src/drizzle/tables/familyMemberships.ts
  src/graphql/enums/FamilyMembershipRole.ts
  src/graphql/inputs/MutationCreateFamilyInput.ts
  src/graphql/inputs/index.ts
  test/drizzle/tables/familyMemberships.test.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix type errors
  docs/docs/auto-docs/graphql/types/Notification/EventBus/eventBus/classes/NotificationEventBus.md
  docs/docs/auto-docs/services/auth/tokens/functions/verifyToken.md
  src/graphql/inputs/index.ts
  test/unit/drizzle/tables/families.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: Update family tables and add input schema for family creation
  drizzle_migrations/20260322124859_lumpy_phil_sheldon.sql
  drizzle_migrations/meta/20260322124859_snapshot.json
  drizzle_migrations/meta/_journal.json
  schema.graphql
  src/drizzle/tables/families.ts
  src/drizzle/tables/familyMemberships.ts
  src/graphql/enums/FamilyMembershipRole.ts
  src/graphql/enums/index.ts
  src/graphql/inputs/MutationCreateFamilyInput.ts
  src/graphql/inputs/index.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: gen docs
  docs/docs/auto-docs/graphql/inputs/MutationCreateFamilyInput/variables/mutationCreateFamilyInputSchema.md
Due: none

address CR suggestions
  src/drizzle/tables/organizations.ts
  test/drizzle/tables/familyMemberships.test.ts
  test/drizzle/tables/organization.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: gen docs
  docs/docs/auto-docs/drizzle/tables/organizations/variables/organizationsTable.md
  docs/docs/auto-docs/drizzle/tables/organizations/variables/organizationsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/organizations/variables/organizationsTableRelations.md
Due: none

address CR suggestions
  test/drizzle/tables/familyMemberships.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: added email support for on spot attendee
  src/graphql/inputs/MutationSignUpInput.ts
  src/graphql/types/Mutation/signUp.ts
  src/utilities/emailTemplates.ts
  test/graphql/types/Mutation/signUpOnSpotAttendee.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fixed: code rabbit recommendation
  src/graphql/inputs/MutationSignUpInput.ts
  src/graphql/types/Mutation/adminCreateOnSpotAttendee.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/signUp.ts
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
  test/graphql/types/Mutation/signUpOnSpotAttendee.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fixed: all the required changes in test file
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat(test): enhance adminCreateOnSpotAttendee tests with cleanup logic and user tracking
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixed: graphql docs
  docs/docs/auto-schema/types/scalars/upload.mdx
Due: none

fix: worked on code coverage
  schema.graphql
  src/graphql/inputs/MutationSignUpInput.ts
  test/graphql/types/Mutation/adminCreateOnSpotAttendee.test.ts
  test/graphql/types/gql.tada.d.ts
  test/utilities/emailTemplates.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors
