Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix format
  test/graphql/types/AgendaItem/createdAt.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments and delete items tests for now
  src/graphql/types/Query/agendaFoldersByEventId.ts
  test/graphql/inputs/MutationCreateAgendaFolderInput.test.ts
  test/graphql/inputs/MutationDeleteAgendaFolderInput.test.ts
  test/graphql/types/AgendaFolder/createdAt.test.ts
  test/graphql/types/AgendaFolder/creator.test.ts
  test/graphql/types/AgendaFolder/items.test.ts
  test/graphql/types/AgendaFolder/updatedAt.test.ts
  test/graphql/types/AgendaItem/createdAt.test.ts
  test/graphql/types/AgendaItem/creator.test.ts
  test/graphql/types/AgendaItem/htmlEscaping.test.ts
  test/graphql/types/AgendaItem/updater.test.ts
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/deleteAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
  test/graphql/types/Query/agendaItem.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: improve test coverage and SMTP validation
  src/services/email/providers/SMTPProvider.ts
  test/graphql/types/Mutation/sendVerificationEmail.test.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
  test/services/email/SMTPProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

style: fix formatting in SMTP and tests
  src/services/email/providers/SMTPProvider.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

generate migration and snapshot to resolve conflict
  drizzle_migrations/20260114165901_dusty_moonstone.sql
  drizzle_migrations/meta/20260114165901_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

fix format
  src/graphql/types/Query/agendaFoldersByEventId.ts
  test/graphql/types/AgendaFolder/creator.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen gql schema doc
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

fix(email): verification tests edge cases and validation logic
  docs/docs/auto-docs/services/email/providers/SMTPProvider/classes/SMTPProvider.md
  test/graphql/types/Mutation/sendVerificationEmail.test.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): mock email service globally to prevent unintended emails
  test/graphql/types/Mutation/sendVerificationEmail.test.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: fixed linting issues and suggestions from coderabbit
  test/routes/graphql.tracing.test.ts
  test/utilities/dataloaders/wrapBatchWithTracing.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(test): make performanceTracker tests deterministic with fake timers (#4744)
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: genrated auto-docs
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  docs/docs/auto-docs/utilities/dataloaders/wrapBatchWithTracing/functions/wrapBatchWithTracing.md
Due: none

test: add 100% coverage for src/drizzle/tables/families.ts
  test/unit/drizzle/tables/families.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

gen snapshot, migrations and fix failing test
  drizzle_migrations/20260114174010_fine_iron_man.sql
  drizzle_migrations/meta/20260113133929_snapshot.json
  drizzle_migrations/meta/20260114174010_snapshot.json
  drizzle_migrations/meta/_journal.json
Due: none

fix: typos's/ biome format
  src/fastifyPlugins/drizzleClient.ts
  src/routes/graphql.ts
  test/routes/graphql.test.ts
  test/utilities/metrics/metricsCacheProxy.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: added test for missing line
  test/routes/graphql.tracing.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: add logging best practices guide
  docs/docs/docs/developer-resources/best-practices/logging.md
Due: none

test/fised failing test
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test
  test/graphql/types/AgendaFolder/items.test.ts
  test/graphql/types/AgendaFolder/organization.test.ts
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test
  test/graphql/types/Mutation/createAgendaItem.test.ts
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix failing test
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  test/graphql/types/Mutation/updateAgendaItem.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: update docs
  docs/docs/auto-docs/drizzle/tables/eventGenerationWindows/variables/eventGenerationWindowsTableInsertSchema.md
Due: none

address CR comments
  test/graphql/types/AgendaFolder/organization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address TypeScript errors and CodeRabbit feedback
  test/unit/drizzle/tables/families.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

remove item.ts
  src/graphql/types/AgendaFolder/items.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/functions/resolveItems.md
  docs/docs/auto-docs/graphql/types/AgendaFolder/items/variables/itemsArgumentsSchema.md
Due: none

refactor: improve code quality and test maintainability
  src/fastifyPlugins/backgroundWorkers.ts
  src/fastifyPlugins/performance.ts
  src/workers/backgroundWorkerService.ts
  test/envConfigSchema.metrics.test.ts
  test/fastifyPlugins/performance.metrics.test.ts
  test/workers/backgroundWorkerService.metrics.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix failing test
  src/graphql/types/AgendaFolder/index.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: regenerate auto-generated documentation
  docs/docs/auto-docs/fastifyPlugins/backgroundWorkers/variables/default.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
Due: none

fix: resolve linting/formatting issues and strict type checks
  test/graphql/types/Mutation/sendVerificationEmail.test.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: add name property to performance plugin for dependency resolution
  src/fastifyPlugins/performance.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: correct verifyEmail comment and increase test coverage for mutations
  test/graphql/types/Mutation/sendVerificationEmail.test.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: resolve biome formatting error in verifyEmail.test.ts
  test/graphql/types/Mutation/verifyEmail.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: code review fixes for performance and metrics
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/fastifyPlugins/backgroundWorkers/variables/default.md
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  src/envConfigSchema.ts
  src/fastifyPlugins/backgroundWorkers.ts
  src/fastifyPlugins/performance.ts
  src/workers/backgroundWorkerService.ts
  test/envConfigSchema.metrics.test.ts
  test/fastifyPlugins/backgroundWorkers.metrics.test.ts
  test/fastifyPlugins/performance.metrics.test.ts
  test/workers/metrics/metricsAggregationWorker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: resolve token validation in tests and prevent header leaks
  test/graphql/types/Mutation/verifyEmail.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: fix code formatting for biome
  src/fastifyPlugins/performance.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(install): prevent script from being sourced (#4745)
  scripts/install/install.sh
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: update test to expect logger.info for metrics worker success
  test/workers/backgroundWorkerService.metrics.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fixes: Add Prerequisite Validation Before Operations (#4742)
  scripts/install/linux/install-linux.sh
Due: none

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
