Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix: add > and < operators to version validation regex
  scripts/install/linux/install-linux.sh
Due: none

refactor(tests): clarify fragile test patterns and remove redundant mock test
  test/graphql/schemaManager.test.ts
  test/plugin/manager/core.test.ts
  test/plugin/utils.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: address CodeRabbit feedback - add validation to macOS script, fix underscore docs, add test cases
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

fix: remove duplicate hyphen from version operators list
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

test: clarify contract test and fix initialization in plugin tests
  test/graphql/schemaManager.test.ts
  test/plugin/manager/core.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: Add temp file cleanup and improve JSDoc documentation
  scripts/setup/setup.ts
Due: 10_check_disable_statements

test: remove redundant rootLogger import in schemaManager test
  test/graphql/schemaManager.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: update slow operation threshold in performance tracker tests
  test/utilities/metrics/performanceTracker.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: fix spy leak and clarify contract test in schemaManager
  test/graphql/schemaManager.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: fix indentation in validators test file
  test/setup/validators.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Fix : SIGINT handler race conditions and improve error recovery (#4376)
  scripts/setup/envFileBackup/envFileBackup.ts
  scripts/setup/setup.ts
  test/scripts/setup/apiSetup.test.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: reorder setup prompts to prioritize API
  scripts/setup/setup.ts
  test/scripts/setup/setup.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

feat: integrate performance tracking into DataLoaders
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/functions/createDataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/type-aliases/Dataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  src/routes/graphql.ts
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/index.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add coverage for perf parameter in createDataloaders
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: clarify metrics measurement in DataLoader comments
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: enhance DataLoader perf tests with comprehensive coverage
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(seeder): harden recurrence rule logic for RFC 5545 compliance
  scripts/dbManagement/helpers.ts
Due: 10_check_disable_statements

test: refactor and expand DataLoader perf tests
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: simplify mock cache creation by removing redundant argument
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Create OAuth Provider Abstraction Layer
  docs/docs/auto-docs/utilities/auth/oauth/OAuthProviderRegistry/classes/OAuthProviderRegistry.md
  docs/docs/auto-docs/utilities/auth/oauth/errors/classes/InvalidAuthorizationCodeError.md
  docs/docs/auto-docs/utilities/auth/oauth/errors/classes/OAuthError.md
  docs/docs/auto-docs/utilities/auth/oauth/errors/classes/ProfileFetchError.md
  docs/docs/auto-docs/utilities/auth/oauth/errors/classes/TokenExchangeError.md
  docs/docs/auto-docs/utilities/auth/oauth/interfaces/IOAuthProvider/interfaces/IOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthConfig.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthProviderTokenResponse.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthUserProfile.md
  package.json
  pnpm-lock.yaml
  src/utilities/auth/oauth/OAuthProviderRegistry.ts
  src/utilities/auth/oauth/errors.ts
  src/utilities/auth/oauth/index.ts
  src/utilities/auth/oauth/interfaces/IOAuthProvider.ts
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  src/utilities/auth/oauth/types.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/OAuthProviderRegistry.test.ts
  test/utilities/auth/oauth/index.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

test: add fallback to createSequentialMockDb and mixed cache hit/miss test
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: ensure database schema compliance and register handlers
  scripts/dbManagement/helpers.ts
Due: 10_check_disable_statements

fix: improve macos install script version validation
  scripts/install/macos/install-macos.sh
Due: none

implemented coderabbit suggestions
  docs/docs/auto-docs/utilities/auth/oauth/OAuthProviderRegistry/classes/OAuthProviderRegistry.md
  docs/docs/auto-docs/utilities/auth/oauth/providers/BaseOAuthProvider/classes/BaseOAuthProvider.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthConfig.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthProviderTokenResponse.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthUserProfile.md
  src/utilities/auth/oauth/OAuthProviderRegistry.ts
  src/utilities/auth/oauth/index.ts
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  src/utilities/auth/oauth/types.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
  test/utilities/auth/oauth/OAuthProviderRegistry.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(install): refine version validation and error handling
  scripts/install/macos/install-macos.sh
Due: none

add query and mutations for agenda category
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaCategoryInput.ts
  src/graphql/inputs/MutationDeleteAgendaCategoryInput.ts
  src/graphql/inputs/MutationUpdateAgendaCategoryInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/deleteAgendaCategory.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
  src/graphql/types/Query/agendaCategoryByEvent.ts
  src/graphql/types/Query/index.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

add integ. tests and address CR comments
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/deleteAgendaCategory.ts
  src/graphql/types/Query/agendaCategoryByEventId.ts
  src/graphql/types/Query/index.ts
  test/graphql/inputs/MutationCreateAgendaCategoryInput.test.ts
  test/graphql/inputs/MutationDeleteAgendaCategoryInput.test.ts
  test/graphql/inputs/MutationUpdateAgendaCategoryInput.test.ts
  test/graphql/types/Mutation/createAgendaCategory.test.ts
  test/graphql/types/Mutation/deleteAgendaCategory.test.ts
  test/graphql/types/Mutation/updateAgendaCategory.test.ts
  test/graphql/types/Query/agendaCategoryByEventId.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/MutationCreateAgendaCategoriesInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/MutationCreateAgendaCategoryInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/mutationCreateAgendaCategoriesInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/mutationCreateAgendaCategoryInputSchema.md
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-category-input.mdx
  schema.graphql
Due: none

fix format
  src/graphql/types/Mutation/deleteAgendaCategory.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR comments
  test/graphql/types/Mutation/createAgendaCategory.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

address CR comments
  src/graphql/inputs/MutationCreateAgendaCategoryInput.ts
  src/graphql/inputs/MutationDeleteAgendaCategoryInput.ts
  src/graphql/types/Mutation/deleteAgendaCategory.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
  src/graphql/types/Query/agendaCategoryByEventId.ts
  test/graphql/types/Mutation/createAgendaCategory.test.ts
  test/graphql/types/Mutation/deleteAgendaCategory.test.ts
  test/graphql/types/Query/agendaCategoryByEventId.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address coderabbit comments
  docs/docs/auto-schema/operations/queries/agenda-categories-by-event-id.mdx
  docs/docs/auto-schema/types/objects/agenda-category.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  schema.graphql
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/deleteAgendaCategory.ts
  src/graphql/types/Query/agendaCategoryByEvent.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
Due: none

address CR comments
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Query/agendaCategoryByEventId.ts
  test/graphql/types/Mutation/createAgendaCategory.test.ts
  test/graphql/types/Mutation/deleteAgendaCategory.test.ts
  test/graphql/types/Mutation/updateAgendaCategory.test.ts
  test/graphql/types/Query/agendaCategoryByEventId.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

gen docs
  docs/docs/auto-docs/graphql/inputs/MutationBlockUserInput/variables/mutationBlockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/MutationCreateAgendaCategoriesInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/mutationCreateAgendaCategoriesInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateChatMessageInput/variables/mutationCreateChatMessageInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteAgendaCategoryInput/variables/MutationDeleteAgendaCategoryInput.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteAgendaCategoryInput/variables/mutationDeleteAgendaCategoryInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUnblockUserInput/variables/mutationUnblockUserInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaCategoryInput/variables/MutationUpdateAgendaCategoryInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaCategoryInput/variables/mutationUpdateAgendaCategoryInputSchema.md
  docs/docs/auto-schema/operations/mutations/create-agenda-category.mdx
  docs/docs/auto-schema/operations/mutations/delete-agenda-category.mdx
  docs/docs/auto-schema/operations/mutations/update-agenda-category.mdx
  docs/docs/auto-schema/operations/queries/agenda-category-by-event-id.mdx
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-category-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-delete-agenda-category-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-category-input.mdx
  docs/docs/auto-schema/types/objects/agenda-category.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
Due: none

address coderabbit review comments
  src/graphql/inputs/MutationCreateAgendaCategoryInput.ts
  src/graphql/inputs/MutationUpdateAgendaCategoryInput.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/deleteAgendaCategory.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix format
  src/graphql/inputs/MutationCreateAgendaCategoryInput.ts
  src/graphql/inputs/MutationDeleteAgendaCategoryInput.ts
  src/graphql/inputs/MutationUpdateAgendaCategoryInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/deleteAgendaCategory.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
  src/graphql/types/Query/agendaCategoryByEvent.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
