Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\n\n# Configuration\nSCRIPT_URL=\"https://raw.githubusercontent.com/PalisadoesFoundation/.github/main/.github/workflows/scripts/disable_statements_check.py\"\nSCRIPT_DIR=\".github-central-scripts\"\nSCRIPT_PATH=\"$SCRIPT_DIR/disable_statements_check.py\"\nCACHE_MAX_AGE_HOURS=24\n\n# Crea
  ...

10.6_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

chore: binome check
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

chore: unused import have been removed
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Create OAuth Account Schema and Model
  docs/docs/auto-docs/drizzle/tables/oauthAccount/variables/oauthAccountsTable.md
  docs/docs/auto-docs/drizzle/tables/oauthAccount/variables/oauthAccountsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/oauthAccount/variables/oauthAccountsTableRelations.md
  docs/docs/auto-docs/types/oauthAccount/enumerations/OAuthProvider.md
  docs/docs/auto-docs/types/oauthAccount/interfaces/CreateOAuthAccountInput.md
  docs/docs/auto-docs/types/oauthAccount/interfaces/OAuthAccountProfile.md
  docs/docs/auto-docs/types/oauthAccount/interfaces/UpdateOAuthAccountInput.md
  drizzle_migrations/20260112173626_lethal_the_executioner.sql
  drizzle_migrations/meta/20260112173626_snapshot.json
  drizzle_migrations/meta/_journal.json
  knip.json
  src/drizzle/schema.ts
  src/drizzle/tables/oauthAccount.ts
  src/types/oauthAccount.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(email): resolve typescript import and type errors
  docs/docs/auto-docs/services/email/providers/SESProvider/classes/SESProvider.md
  docs/docs/auto-docs/services/email/providers/SESProvider/interfaces/SESProviderConfig.md
  docs/docs/auto-docs/services/email/providers/SESProvider/type-aliases/NonEmptyString.md
  scripts/setup/emailSetup.ts
  src/services/email/providers/SESProvider.ts
  test/services/email/EmailQueueProcessor.test.ts
  test/services/email/SESProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

implemented coderabbit suggestion
  docs/docs/auto-docs/types/oauthAccount/enumerations/OAuthProvider.md
  docs/docs/auto-docs/types/oauthAccount/interfaces/CreateOAuthAccountInput.md
  docs/docs/auto-docs/types/oauthAccount/interfaces/OAuthAccountProfile.md
  docs/docs/auto-docs/types/oauthAccount/interfaces/UpdateOAuthAccountInput.md
  docs/docs/auto-docs/types/oauthAccount/type-aliases/OAuthAccount.md
  src/types/oauthAccount.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

implemented coderabbit suggestion
  docs/docs/auto-docs/types/oauthAccount/interfaces/CreateOAuthAccountInput.md
  docs/docs/auto-docs/types/oauthAccount/type-aliases/NewOAuthAccount.md
  drizzle_migrations/20260112195407_perfect_titania.sql
  drizzle_migrations/meta/20260112195407_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/types/oauthAccount.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

feat: integrate PerformanceTracker into DataLoaders (#4393)
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/functions/createActionItemLoader.md
  docs/docs/auto-docs/utilities/dataloaders/actionItemLoader/type-aliases/ActionItemRow.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/functions/createEventLoader.md
  docs/docs/auto-docs/utilities/dataloaders/eventLoader/type-aliases/EventRow.md
  docs/docs/auto-docs/utilities/dataloaders/functions/createDataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/functions/createOrganizationLoader.md
  docs/docs/auto-docs/utilities/dataloaders/organizationLoader/type-aliases/OrganizationRow.md
  docs/docs/auto-docs/utilities/dataloaders/type-aliases/Dataloaders.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/functions/createUserLoader.md
  docs/docs/auto-docs/utilities/dataloaders/userLoader/type-aliases/UserRow.md
  src/routes/graphql.ts
  src/utilities/dataloaders/actionItemLoader.ts
  src/utilities/dataloaders/eventLoader.ts
  src/utilities/dataloaders/index.ts
  src/utilities/dataloaders/organizationLoader.ts
  src/utilities/dataloaders/userLoader.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Feat: Add gql Mutation and Query for Agenda category. (#4363)
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/MutationCreateAgendaCategoryInput.md
  docs/docs/auto-docs/graphql/inputs/MutationCreateAgendaCategoryInput/variables/mutationCreateAgendaCategoryInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteAgendaCategoryInput/variables/MutationDeleteAgendaCategoryInput.md
  docs/docs/auto-docs/graphql/inputs/MutationDeleteAgendaCategoryInput/variables/mutationDeleteAgendaCategoryInputSchema.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaCategoryInput/variables/MutationUpdateAgendaCategoryInput.md
  docs/docs/auto-docs/graphql/inputs/MutationUpdateAgendaCategoryInput/variables/mutationUpdateAgendaCategoryInputSchema.md
  docs/docs/auto-schema/operations/mutations/create-agenda-category.mdx
  docs/docs/auto-schema/operations/mutations/delete-agenda-category.mdx
  docs/docs/auto-schema/operations/mutations/update-agenda-category.mdx
  docs/docs/auto-schema/operations/queries/agenda-categories-by-event-id.mdx
  docs/docs/auto-schema/operations/queries/agenda-category-by-event-id.mdx
  docs/docs/auto-schema/types/inputs/mutation-create-agenda-category-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-delete-agenda-category-input.mdx
  docs/docs/auto-schema/types/inputs/mutation-update-agenda-category-input.mdx
  docs/docs/auto-schema/types/objects/agenda-category.mdx
  docs/docs/auto-schema/types/scalars/id.mdx
  docs/docs/auto-schema/types/scalars/string.mdx
  schema.graphql
  src/graphql/inputs/MutationCreateAgendaCategoryInput.ts
  src/graphql/inputs/MutationDeleteAgendaCategoryInput.ts
  src/graphql/inputs/MutationUpdateAgendaCategoryInput.ts
  src/graphql/inputs/index.ts
  src/graphql/types/Mutation/createAgendaCategory.ts
  src/graphql/types/Mutation/deleteAgendaCategory.ts
  src/graphql/types/Mutation/index.ts
  src/graphql/types/Mutation/updateAgendaCategory.ts
  src/graphql/types/Query/agendaCategoriesByEventId.ts
  src/graphql/types/Query/index.ts
  test/graphql/inputs/MutationCreateAgendaCategoryInput.test.ts
  test/graphql/inputs/MutationDeleteAgendaCategoryInput.test.ts
  test/graphql/inputs/MutationUpdateAgendaCategoryInput.test.ts
  test/graphql/types/Mutation/createAgendaCategory.test.ts
  test/graphql/types/Mutation/deleteAgendaCategory.test.ts
  test/graphql/types/Mutation/updateAgendaCategory.test.ts
  test/graphql/types/Query/agendaCategoriesByEventId.test.ts
  test/graphql/types/documentNodes.ts
  test/graphql/types/gql.tada.d.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

implemented coderabbit suggestion
  docs/docs/auto-docs/drizzle/tables/oauthAccount/variables/oauthAccountsTable.md
  docs/docs/auto-docs/drizzle/tables/oauthAccount/variables/oauthAccountsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/oauthAccount/variables/oauthAccountsTableRelations.md
  src/drizzle/tables/oauthAccount.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

InstallFix (MacOS) - Add Validation for Version String Parsing (#4337)
  scripts/install/macos/install-macos.sh
Due: none

made email nullable
  drizzle_migrations/20260112205048_clammy_hannibal_king.sql
  drizzle_migrations/meta/20260112205048_snapshot.json
  drizzle_migrations/meta/_journal.json
  src/drizzle/tables/oauthAccount.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: ai
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: address code review feedback
  src/services/email/EmailProviderFactory.ts
  src/services/email/providers/SESProvider.ts
  src/services/email/types.ts
  test/graphql/types/gql.tada-cache.d.ts
  test/services/email/SESProvider.test.ts
  test/utilities/dataloaders/dataloader.infrastructure.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: code check
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: correct NonEmptyString import in EmailQueueProcessor test and regenerate docs
  docs/docs/auto-docs/services/email/providers/SESProvider/interfaces/SESProviderConfig.md
  docs/docs/auto-docs/services/email/types/interfaces/EmailJob.md
  docs/docs/auto-docs/services/email/types/interfaces/EmailResult.md
  docs/docs/auto-docs/services/email/types/interfaces/IEmailProvider.md
  docs/docs/auto-docs/services/email/types/type-aliases/NonEmptyString.md
  test/services/email/EmailQueueProcessor.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: fix biome formatting in EmailQueueProcessor test
  test/services/email/EmailQueueProcessor.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

used LTS version of axios
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthConfig.md
  package.json
  pnpm-lock.yaml
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  src/utilities/auth/oauth/types.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

implemented coderabbit suggestion
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthConfig.md
  docs/docs/auto-docs/utilities/auth/oauth/types/interfaces/OAuthUserProfile.md
  package.json
  pnpm-lock.yaml
  src/utilities/auth/oauth/providers/BaseOAuthProvider.ts
  src/utilities/auth/oauth/types.ts
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

docs: add authentication and authorization best practices guide
  docs/docs/docs/developer-resources/best-practices/authentication-authorization.md
Due: none

added docs
  docs/docs/docs/developer-resources/best-practices/OAuth.md
  package.json
  pnpm-lock.yaml
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

implemented coderabbit suggestion
  test/utilities/auth/oauth/BaseOAuthProvider.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

Oauth: Create OAuth Account Schema and Model (#4400)
  docs/docs/auto-docs/drizzle/tables/oauthAccount/variables/oauthAccountsTable.md
  docs/docs/auto-docs/drizzle/tables/oauthAccount/variables/oauthAccountsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/oauthAccount/variables/oauthAccountsTableRelations.md
  docs/docs/auto-docs/types/oauthAccount/enumerations/OAuthProvider.md
  docs/docs/auto-docs/types/oauthAccount/interfaces/CreateOAuthAccountInput.md
  docs/docs/auto-docs/types/oauthAccount/interfaces/OAuthAccountProfile.md
  docs/docs/auto-docs/types/oauthAccount/interfaces/UpdateOAuthAccountInput.md
  docs/docs/auto-docs/types/oauthAccount/type-aliases/NewOAuthAccount.md
  docs/docs/auto-docs/types/oauthAccount/type-aliases/OAuthAccount.md
  drizzle_migrations/20260112205048_clammy_hannibal_king.sql
  drizzle_migrations/meta/20260112205048_snapshot.json
  drizzle_migrations/meta/_journal.json
  knip.json
  src/drizzle/schema.ts
  src/drizzle/tables/oauthAccount.ts
  src/types/oauthAccount.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improve logging patterns and test coverage
  docs/docs/auto-docs/plugin/manager/lifecycle/classes/PluginLifecycle.md
  src/graphql/schemaManager.ts
  src/plugin/manager/lifecycle.ts
  test/graphql/schemaManager.test.ts
  test/plugin/manager/core.test.ts
  test/plugin/manager/lifecycle.test.ts
  test/plugin/utils.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: edge case
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: Add error handling for fnm operations in macOS install script
  scripts/install/macos/install-macos.sh
Due: none

fix: trivial
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(macos-install): Improve error message formatting for Node.js installation
  scripts/install/macos/install-macos.sh
Due: none

fix(macos-install): Enhance Node.js installation error messages with troubleshooting guidance
  scripts/install/macos/install-macos.sh
Due: none

feat: implement PR 4 - background workers for metrics aggregation
  docs/docs/auto-docs/createServer/functions/createServer.md
  docs/docs/auto-docs/envConfigSchema/type-aliases/EnvConfig.md
  docs/docs/auto-docs/envConfigSchema/variables/envConfigSchema.md
  docs/docs/auto-docs/envConfigSchema/variables/envSchemaAjv.md
  docs/docs/auto-docs/fastifyPlugins/performance/variables/default.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/startBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/aggregateMetrics.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/runMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/AggregatedMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/CacheMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/MetricsAggregationOptions.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/MetricsAggregationResult.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/OperationMetrics.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/TimeSeriesMetrics.md
  src/envConfigSchema.ts
  src/fastifyPlugins/backgroundWorkers.ts
  src/fastifyPlugins/performance.ts
  src/workers/backgroundWorkerService.ts
  src/workers/index.ts
  src/workers/metrics/metricsAggregationWorker.ts
  src/workers/metrics/types.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(macos-install): Improve Node.js error message formatting and clarity
  scripts/install/macos/install-macos.sh
Due: none

fix: changes applied
  test/graphql/types/Fund/campaigns.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: refactor version validation to common library for reuse across installation scripts
  scripts/install/common/validation.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

fix: enhance security validations for Node.js and pnpm versions in macOS installation script
  scripts/install/macos/install-macos.sh
Due: none

refactor: improve metrics aggregation code quality and fix test issues
  docs/docs/auto-docs/plugins/variables/plugins.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/getBackgroundWorkerStatus.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/healthCheck.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runCleanupWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMaterializationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/runMetricsAggregationWorkerSafely.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/stopBackgroundWorkers.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerCleanupWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMaterializationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/triggerMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/backgroundWorkerService/functions/updateMaterializationConfig.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/aggregateMetrics.md
  docs/docs/auto-docs/workers/metrics/metricsAggregationWorker/functions/runMetricsAggregationWorker.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/MetricsAggregationOptions.md
  docs/docs/auto-docs/workers/metrics/types/interfaces/MetricsAggregationResult.md
  src/fastifyPlugins/performance.ts
  src/plugins/backgroundWorkers.ts
  src/plugins/index.ts
  src/workers/backgroundWorkerService.ts
  src/workers/metrics/metricsAggregationWorker.ts
  src/workers/metrics/types.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: enhance pnpm version validation and error handling in macOS installation script
  scripts/install/macos/install-macos.sh
Due: none

fix: improve logging patterns and test coverage
  src/plugin/manager/core.ts
  test/plugin/manager/core.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
