Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, 12_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

7.5_check_tsdoc:
  run: pnpm lint:tsdoc {staged_files}

7.6_validate_error_handling:
  run: pnpm run validate:error-handling || echo "Error handling validation warnings"

9_check_mock_isolation:
  run: pnpm run check_mock_isolation {staged_files}

10_check_disable_statements:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/disable_statements_check.py --repo=api --files {staged_files}\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/biome_disable_check.py --files {staged_files}
  ...

11.2_check_code_coverage_disable:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/code_coverage_disable_check.py --files {staged_files}\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/code_coverage_disable_check.py --files {staged_files}
  ...

11.3_check_ts_ignore:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/detect_ts_ignore.py --files {staged_files}\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/detect_ts_ignore.py --files {staged_files}\nelse\n  echo \"Error
  ...

11.4_check_sanitization_disable:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_sanitization_disable.py --files {staged_files}\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_sanitization_disable.py --files {staged_files}\n
  ...

11.5_check_itskip:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/itskip_disable_check.py --files {staged_files}\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/itskip_disable_check.py --files {staged_files}\n  .venv/Scri
  ...

12_check_python_docstrings:
  run: "set -e\nif [ -f .venv/bin/python3 ]; then\n  .venv/bin/python3 .github/workflows/scripts/check_docstrings.py --directories .github\nelif [ -f .venv/Scripts/python.exe ]; then\n  .venv/Scripts/python.exe .github/workflows/scripts/check_docstrings.py --directories .github\nelse\n  echo \"Error: 
  ...

check_gql_tada:
  run: pnpm run check_gql_tada

fix_code_quality:
  run: pnpm run fix_code_quality
  stage_fixed: true

check_type_errors:
  run: pnpm run check_type_errors

fix: biome-format-err
  test/fastifyPlugins/errorHandler.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: Update Tag and TagFolder creator/updater tests to mock user data via DataLoader instead of direct Drizzle client queries.
  test/graphql/types/Tag/creator.test.ts
  test/graphql/types/Tag/updater.test.ts
  test/graphql/types/TagFolder/creator.test.ts
  test/graphql/types/TagFolder/updater.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test(Mutation/deleteVenueBooking): achieve 100% code coverage #3833
  test/graphql/types/Mutation/deleteVenueBooking.test.ts
  test/graphql/types/gql.tada-cache.d.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

refactor: migrate organization resolvers to use DataLoaders for improved data fetching.
  docs/docs/auto-docs/graphql/types/EventAttendee/event/functions/eventAttendeeEventResolver.md
  docs/docs/auto-docs/graphql/types/EventVolunteer/event/functions/EventVolunteerEventResolver.md
  test/graphql/types/ActionItem/organization.test.ts
  test/graphql/types/Chat/organization.test.ts
  test/graphql/types/EventAttendee/event.test.ts
  test/graphql/types/EventVolunteer/event.test.ts
  test/graphql/types/Fund/organization.test.ts
  test/graphql/types/Post/organization.test.ts
  test/graphql/types/TagFolder/organization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

feat: add and update organization resolvers, tests, and documentation for Event, Venue, and other GraphQL types.
  docs/docs/auto-docs/graphql/types/Event/organization/functions/resolveEventOrganization.md
  docs/docs/auto-docs/graphql/types/Venue/organization/functions/resolveOrganization.md
  src/graphql/types/ActionItem/organization.ts
  src/graphql/types/Chat/organization.ts
  src/graphql/types/Event/organization.ts
  src/graphql/types/Post/organization.ts
  src/graphql/types/TagFolder/organization.ts
  src/graphql/types/Venue/organization.ts
  test/graphql/types/ActionItem/organization.test.ts
  test/graphql/types/Chat/organization.test.ts
  test/graphql/types/Event/organization.test.ts
  test/graphql/types/EventVolunteer/event.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Post/organization.test.ts
  test/graphql/types/TagFolder/organization.test.ts
  test/graphql/types/Venue/organization.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

added tests for delete tag mutation
  test/graphql/types/Mutation/deleteTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

revert: include install scripts in documentation
  typedoc.json
Due: none

fix: address CodeRabbit review feedback and add retry logic for rate limits
  scripts/install/install.ps1
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
  src/install/utils/packageCheck.ts
  test/graphql/types/createRegularUserUsingAdmin.ts
  test/install/logger.test.ts
  test/install/packageCheck.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fix: address CodeRabbit security and reliability feedback
  scripts/install/install.ps1
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
  src/install/index.ts
  src/install/utils/packageCheck.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, check_gql_tada, fix_code_quality, check_type_errors

fix: add installation docs and update Node.js engine to allow updates
  docs/docs/docs/installation.md
  package.json
Due: none

fix: address CodeRabbit review for installation scripts
  scripts/install/install.ps1
  scripts/install/install.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

feat: add one-click installation scripts for Linux, macOS, and Windows (#3634)
  .gitattributes
  docs/docs/docs/getting-started/installation.md
  scripts/install/install.ps1
  scripts/install/install.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
  src/install/index.ts
  src/install/types.ts
  src/install/utils/logger.ts
  src/install/utils/osDetection.ts
  src/install/utils/packageCheck.ts
  test/install/index.test.ts
  test/install/logger.test.ts
  test/install/osDetection.test.ts
  test/install/packageCheck.test.ts
  typedoc.json
  vitest.install.config.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

Refactor organization tests to improve error logging and add integration tests
  src/graphql/types/Event/organization.ts
  src/graphql/types/TagFolder/organization.ts
  src/graphql/types/Venue/organization.ts
  test/graphql/types/ActionItem/organization.test.ts
  test/graphql/types/Event/organization.test.ts
  test/graphql/types/Fund/organization.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

revert: remove package.json engine changes to pass CI checks
  package.json
Due: none

docs: add auto-generated documentation for install scripts
  docs/docs/auto-docs/install/functions/install.md
  docs/docs/auto-docs/install/types/interfaces/InstallConfig.md
  docs/docs/auto-docs/install/types/interfaces/InstallResult.md
  docs/docs/auto-docs/install/types/interfaces/PackageVersion.md
  docs/docs/auto-docs/install/types/interfaces/PrereqCheck.md
  docs/docs/auto-docs/install/types/type-aliases/InstallMode.md
  docs/docs/auto-docs/install/types/type-aliases/LinuxDistro.md
  docs/docs/auto-docs/install/types/type-aliases/OperatingSystem.md
  docs/docs/auto-docs/install/types/type-aliases/PackageManager.md
  docs/docs/auto-docs/install/utils/logger/functions/banner.md
  docs/docs/auto-docs/install/utils/logger/functions/blank.md
  docs/docs/auto-docs/install/utils/logger/functions/command.md
  docs/docs/auto-docs/install/utils/logger/functions/debug.md
  docs/docs/auto-docs/install/utils/logger/functions/error.md
  docs/docs/auto-docs/install/utils/logger/functions/header.md
  docs/docs/auto-docs/install/utils/logger/functions/info.md
  docs/docs/auto-docs/install/utils/logger/functions/keyValue.md
  docs/docs/auto-docs/install/utils/logger/functions/setVerbose.md
  docs/docs/auto-docs/install/utils/logger/functions/step.md
  docs/docs/auto-docs/install/utils/logger/functions/subHeader.md
  docs/docs/auto-docs/install/utils/logger/functions/success.md
  docs/docs/auto-docs/install/utils/logger/functions/warn.md
  docs/docs/auto-docs/install/utils/osDetection/functions/detectLinuxDistro.md
  docs/docs/auto-docs/install/utils/osDetection/functions/detectOS.md
  docs/docs/auto-docs/install/utils/osDetection/functions/getHomeDir.md
  docs/docs/auto-docs/install/utils/osDetection/functions/getPackageManager.md
  docs/docs/auto-docs/install/utils/osDetection/functions/isRoot.md
  docs/docs/auto-docs/install/utils/osDetection/functions/isWSL.md
  docs/docs/auto-docs/install/utils/packageCheck/functions/checkNodeVersion.md
  docs/docs/auto-docs/install/utils/packageCheck/functions/checkPackage.md
  docs/docs/auto-docs/install/utils/packageCheck/functions/checkPnpmVersion.md
  docs/docs/auto-docs/install/utils/packageCheck/functions/checkPrerequisites.md
  docs/docs/auto-docs/install/utils/packageCheck/functions/compareVersions.md
  docs/docs/auto-docs/install/utils/packageCheck/functions/getNodeVersionFromPackageJson.md
  docs/docs/auto-docs/install/utils/packageCheck/functions/getPnpmVersionFromPackageJson.md
  docs/docs/auto-docs/install/utils/packageCheck/functions/getVersion.md
  docs/docs/auto-docs/install/utils/packageCheck/functions/isInstalled.md
  docs/docs/auto-docs/install/utils/packageCheck/functions/meetsVersionRequirement.md
Due: none

moved mutation definition to documentNodes.ts
  test/graphql/types/Mutation/deleteTag.test.ts
  test/graphql/types/documentNodes.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: remove broken relative links in installation docs
  docs/docs/docs/installation.md
Due: none

added success test to authorized suite
  test/graphql/types/Mutation/deleteTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

refactor: improve error logging and handling in organization resolvers and tests
  src/graphql/types/TagFolder/organization.ts
  src/graphql/types/Venue/organization.ts
  test/graphql/types/ActionItem/organization.test.ts
  test/graphql/types/Fund/organization.test.ts
  test/graphql/types/TagFolder/organization.test.ts
  test/graphql/types/Venue/organization.test.ts
  test/helpers.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

removed duplicate test for organization administrator deletion
  test/graphql/types/Mutation/deleteTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

chore: remove unused vitest.install.config.ts
  vitest.install.config.ts
Due: none

refactor(test): update authorization handling in ActionItem.organization integration tests
  test/graphql/types/ActionItem/organization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

refactor: update error message for DataLoader null response in organization resolver and tests
  src/graphql/types/ActionItem/organization.ts
  test/graphql/types/ActionItem/organization.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

refactor: security fixes, jsdoc and test coverage.
  docs/docs/auto-docs/graphql/types/ActionItem/creator/functions/resolveCreator.md
  docs/docs/auto-docs/graphql/types/ActionItem/updater/functions/resolveUpdater.md
  docs/docs/auto-docs/graphql/types/Post/creator/functions/resolveCreator.md
  docs/docs/auto-docs/graphql/types/Post/updater/functions/resolveUpdater.md
  docs/docs/auto-docs/graphql/types/Tag/updater/functions/resolveUpdater.md
  docs/docs/auto-docs/graphql/types/TagFolder/creator/functions/tagFolderCreatorResolver.md
  docs/docs/auto-docs/graphql/types/TagFolder/updater/functions/resolveUpdater.md
  src/graphql/types/ActionItem/creator.ts
  src/graphql/types/ActionItem/updater.ts
  src/graphql/types/Post/creator.ts
  src/graphql/types/Post/updater.ts
  src/graphql/types/Tag/creator.ts
  src/graphql/types/Tag/updater.ts
  src/graphql/types/TagFolder/creator.ts
  src/graphql/types/TagFolder/updater.ts
  test/graphql/types/Post/creator.test.ts
  test/graphql/types/TagFolder/creator.test.ts
  test/graphql/types/TagFolder/updater.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

refactor: Use `await expect().rejects` for error assertion in creator resolver test.
  test/graphql/types/Post/creator.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

Remove test for unauthorized action when user has no organization memberships and update user mock resolution.
  test/graphql/types/Post/creator.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

refactor: explicitly define `Post` type's `creatorId` as nullable and update its documentation and related tests.
  docs/docs/auto-docs/graphql/types/Post/Post/type-aliases/Post.md
  src/graphql/types/Post/Post.ts
  test/graphql/types/Post/creator.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

docs: Add JSDoc comments to GraphQL resolver functions and update auto-generated documentation.
  docs/docs/auto-docs/graphql/types/ActionItem/organization/functions/resolveOrganization.md
  docs/docs/auto-docs/graphql/types/Event/organization/functions/resolveEventOrganization.md
  docs/docs/auto-docs/graphql/types/EventAttendee/event/functions/eventAttendeeEventResolver.md
  docs/docs/auto-docs/graphql/types/EventVolunteer/event/functions/EventVolunteerEventResolver.md
  docs/docs/auto-docs/graphql/types/Fund/organization/functions/resolveOrganization.md
  docs/docs/auto-docs/graphql/types/Post/organization/functions/resolveOrganization.md
  docs/docs/auto-docs/graphql/types/Tag/organization/functions/resolveOrganization.md
  src/graphql/types/ActionItem/organization.ts
  src/graphql/types/Chat/organization.ts
  src/graphql/types/Event/organization.ts
  src/graphql/types/EventAttendee/event.ts
  src/graphql/types/EventVolunteer/event.ts
  src/graphql/types/Fund/organization.ts
  src/graphql/types/Post/organization.ts
  src/graphql/types/Tag/organization.ts
  src/graphql/types/TagFolder/organization.ts
  src/graphql/types/Venue/organization.ts
  test/graphql/types/Chat/organization.test.ts
  test/graphql/types/Event/organization.test.ts
  test/graphql/types/EventAttendee/event.test.ts
  test/graphql/types/EventVolunteer/event.test.ts
  test/graphql/types/Fund/organization.test.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Tag/organization.test.ts
  test/graphql/types/TagFolder/organization.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fix: add post and organization IDs to organization error logs and improve `updateCurrentUser` test data generation and assertions
  src/graphql/types/Post/organization.ts
  test/graphql/types/Mutation/updateCurrentUser.test.ts
  test/graphql/types/Post/organization.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

test: achieve 100% coverage for graphqlConnection utilities (#4224)
  test/utilities/defaultGraphQlConnection.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix : Discrepancy between CONTRIBUTING.md guidelines and package.json scripts #4225
  package.json
Due: none

chore: add test:coverage alias
  package.json
Due: none

test: add required updateChat mutation tests (#3834)
  test/graphql/types/Mutation/updateChat.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

Remove duplicate Check-ItSkip-Disable job
  .github/workflows/pull-request.yml
Due: none

test: remove redundant DataLoader call test for organizationId
  test/graphql/types/Post/organization.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

test: achieve 100% coverage for AssignUserTag type (#3910)
  test/graphql/types/AssignUserTag/AssignUserTag.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: make post `creatorId` nullable and update associated schemas and tests
  docs/docs/auto-docs/drizzle/tables/posts/variables/POST_BODY_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/posts/variables/POST_CAPTION_MAX_LENGTH.md
  docs/docs/auto-docs/drizzle/tables/posts/variables/postsTableInsertSchema.md
  docs/docs/auto-docs/drizzle/tables/posts/variables/postsTableRelations.md
  docs/docs/auto-docs/graphql/inputs/MutationCreatePostInput/variables/mutationCreatePostInputSchema.md
  src/drizzle/tables/posts.ts
  test/graphql/types/Post/creator.test.ts
Due: 7.5_check_tsdoc, 7.6_validate_error_handling, 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip, check_gql_tada, fix_code_quality, check_type_errors

fix: add security tests for command injection prevention and improve comments
  scripts/install/macos/install-macos.sh
  test/install/packageCheck.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements, 11.2_check_code_coverage_disable, 11.3_check_ts_ignore, 11.4_check_sanitization_disable, 11.5_check_itskip

fix: add Intel Mac Homebrew PATH and fix misleading success message
  scripts/install/macos/install-macos.sh
Due: none

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  7.6_validate_error_handling: any of: src/**/*.{ts,js}
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  11.2_check_code_coverage_disable: any of: **/*.{ts,tsx}
  11.3_check_ts_ignore: any of: **/*.{ts,tsx}
  11.4_check_sanitization_disable: any of: **/*.ts
  11.5_check_itskip: any of: test/**/*.{test,spec}.{ts,tsx}
  12_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts
