Repository PalisadoesFoundation/talawa-api: changes, and which lefthook commands are due for each by the changed paths.
All: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, 10.6_check_python_docstrings, check_gql_tada, fix_code_quality, check_type_errors

Path conditions:
  7.5_check_tsdoc: any of: src/**/*.ts
  9_check_mock_isolation: any of: test/**/*.{test,spec}.{ts,tsx}
  10_check_disable_statements: any of: **/*.{ts,tsx}
  10.6_check_python_docstrings: any of: .github/**/*.py
  check_gql_tada: any of: src/**/*.ts
  fix_code_quality: any of: src/**/*.ts
  check_type_errors: any of: src/**/*.ts

feat(logging): migrate to rootLogger and improve test coverage
  biome.jsonc
  docs/docs/auto-docs/plugin/manager/extensions/classes/ExtensionLoader.md
  docs/docs/auto-docs/utilities/pluginInstaller/installation/functions/installPluginFromZip.md
  src/graphql/types/Mutation/plugin/deletePlugin.ts
  src/graphql/types/Mutation/plugin/installPlugin.ts
  src/graphql/types/Mutation/plugin/updatePlugin.ts
  src/graphql/types/Mutation/uploadPluginZip.ts
  src/graphql/types/User/city.ts
  src/graphql/types/User/updater.ts
  src/plugin/manager/extensions.ts
  src/utilities/pluginInstaller/installation.ts
  test/graphql/types/Mutation/plugin/deletePlugin.test.ts
  test/graphql/types/Mutation/plugin/installPlugin.test.ts
  test/graphql/types/Mutation/plugin/updatePlugin.test.ts
  test/graphql/types/Mutation/uploadPluginZip.test.ts
  test/graphql/types/User/city.test.ts
  test/graphql/types/documentNodes.ts
  test/plugin/manager/extensions.test.ts
  test/utilities/pluginInstaller.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

add test to inc coverage
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test: achieve 100% coverage for families.ts with function execution tests
  test/unit/drizzle/tables/families.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

test(coverage): 100% updater coverage & logging fixes
  src/plugin/manager/extensions.ts
  test/graphql/types/User/updater.test.ts
  test/graphql/types/documentNodes.ts
  test/plugin/manager/extensions.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

add test and address CR comments
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add test and address CR comments
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: improve logging consistency and test coverage
  biome.jsonc
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/validateRecaptchaIfRequired.md
  docs/docs/auto-docs/utilities/recaptchaUtils/functions/verifyRecaptchaToken.md
  src/graphql/types/Mutation/plugin/installPlugin.ts
  src/utilities/recaptchaUtils.ts
  test/graphql/types/Mutation/plugin/installPlugin.test.ts
  test/graphql/types/Mutation/uploadPluginZip.test.ts
  test/graphql/types/User/updater.test.ts
  test/plugin/manager/extensions.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: added essential tools validation
  scripts/install/install.sh
Due: none

refactor: improve logging consistency and test robustness
  test/graphql/types/User/updater.test.ts
  test/plugin/manager/extensions.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

docs: update performance monitoring documentation with sample outputs
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
Due: none

docs: add API_EMAIL_VERIFICATION_TOKEN_HMAC_SECRET to docs and context
  docs/docs/docs/getting-started/environment-variables.md
  src/graphql/context.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: correct comment numbering in updater test
  test/graphql/types/User/updater.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

style: fix biome formatting in context and performance tests
  src/graphql/context.ts
  test/utilities/metrics/performanceTracker.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR comments
  docs/docs/auto-docs/graphql/types/AgendaFolder/event/functions/resolveEvent.md
  docs/docs/auto-schema/types/objects/agenda-folder.mdx
  schema.graphql
  src/graphql/types/AgendaFolder/AgendaFolder.ts
  src/graphql/types/AgendaFolder/event.ts
  src/graphql/types/Query/agendaFoldersByEventId.ts
  test/graphql/inputs/MutationCreateAgendaFolderInput.test.ts
  test/graphql/inputs/MutationUpdateAgendaFolderInput.test.ts
  test/graphql/types/AgendaFolder/createdAt.test.ts
  test/graphql/types/AgendaFolder/event.test.ts
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/deleteAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix format
  test/graphql/types/Mutation/createAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix format
  src/graphql/types/Query/agendaFoldersByEventId.ts
  test/graphql/inputs/MutationCreateAgendaFolderInput.test.ts
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(install): improve validation error handling in install scripts
  scripts/install/common/validation.test.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

style(install): fix indentation and remove extra whitespace
  scripts/install/common/validation.test.sh
  scripts/install/linux/install-linux.sh
  scripts/install/macos/install-macos.sh
Due: none

fix failing test
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor(validation.test.sh): encapsulate required field test in function
  scripts/install/common/validation.test.sh
Due: none

refactor(scripts): declare variables before assignment in test script
  scripts/install/common/validation.test.sh
Due: none

fix failing test
  test/graphql/inputs/MutationCreateAgendaFolderInput.test.ts
  test/graphql/inputs/MutationUpdateAgendaFolderInput.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

enhance error details and expand test coverage
  docs/docs/auto-docs/utilities/TalawaGraphQLError/classes/TalawaGraphQLError.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/type-aliases/TalawaGraphQLFormattedError.md
  docs/docs/auto-docs/utilities/TalawaGraphQLError/variables/defaultTalawaGraphQLErrorMessages.md
  src/fastifyPlugins/errorHandler.ts
  src/graphql/types/Mutation/MarkChatAsRead.ts
  src/graphql/types/Mutation/joinPublicOrganization.ts
  src/utilities/TalawaGraphQLError.ts
  src/utilities/errors/errorTransformer.ts
  test/fastifyPlugins/errorHandler.test.ts
  test/graphql/types/Mutation/MarkChatAsRead.test.ts
  test/graphql/types/Mutation/joinPublicOrganization.test.ts
  test/routes/graphql.test.ts
  test/routes/objects.test.ts
  test/utilities/TalawaGraphQLError.test.ts
  test/utilities/errors/TalawaRestError.test.ts
  test/utilities/errors/errorCodes.test.ts
  test/utilities/errors/errorTransformer.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: update line numbers in documentation for CreateContext, FILE_UPLOAD_CONFIG, createContext, and graphql
  docs/docs/auto-docs/routes/graphql/type-aliases/CreateContext.md
  docs/docs/auto-docs/routes/graphql/variables/FILE_UPLOAD_CONFIG.md
  docs/docs/auto-docs/routes/graphql/variables/createContext.md
  docs/docs/auto-docs/routes/graphql/variables/graphql.md
Due: none

update test to inc coverage
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

update test to inc coverage, fix failing test n address CR comments
  test/graphql/inputs/MutationCreateAgendaFolderInput.test.ts
  test/graphql/inputs/MutationUpdateAgendaFolderInput.test.ts
  test/graphql/types/Mutation/createAgendaFolder.test.ts
  test/graphql/types/Mutation/updateAgendaFolder.test.ts
  test/graphql/types/Query/agendaFoldersByEventId.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(tests): use app.envConfig instead of process.env in performance tests
  test/fastifyPlugins/performance.config.test.ts
  test/fastifyPlugins/performance.metrics.test.ts
  test/fastifyPlugins/performance.test.ts
  test/plugin/perfPlugin.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

add ignore next line comment
  src/graphql/types/Mutation/updateAgendaFolder.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

address CR comments
  test/graphql/inputs/MutationCreateAgendaFolderInput.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(tests): add API_METRICS_API_KEY to prevent warning interference in slow request tests
  test/fastifyPlugins/performance.config.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

remove unnecessay input check
  src/graphql/types/Mutation/updateAgendaFolder.ts
Due: 7.5_check_tsdoc, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix(tests): improve reliability and cleanup in performance config tests
  test/fastifyPlugins/performance.config.test.ts
  test/helpers/performanceTestUtils.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix(tests): mock child logger to capture req.log.warn calls in performance config tests
  test/fastifyPlugins/performance.config.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

refactor: improve performance plugin reliability and test efficiency
  src/fastifyPlugins/performance.ts
  src/services/metrics/metricsCache.ts
  test/fastifyPlugins/performance.config.test.ts
  test/services/metrics/index.test.ts
Due: 7.5_check_tsdoc, 9_check_mock_isolation, 10_check_disable_statements, check_gql_tada, fix_code_quality, check_type_errors

fix: improved validation and tested behavior
  scripts/install/install.sh
Due: none

fix: case-insensitive matching
  scripts/install/install.sh
Due: none

docs/added comprehensive documenation for the tracing spans
  docs/docs/docs/developer-resources/best-practices/performance-monitoring.md
  test/utilities/db/traceableQuery.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements

fix: fixed formatting errors
  test/utilities/db/traceableQuery.test.ts
Due: 9_check_mock_isolation, 10_check_disable_statements
